src/data/flows/ac_solar_record.json
[
    {
        "id": "99c1372046e45da7",
        "type": "tab",
        "label": "ac_solar_record",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80dc13087104d323",
        "type": "server-state-changed",
        "z": "99c1372046e45da7",
        "name": "solaredge kwh today",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.solaredge_modbus_ac_energy_kwh_today",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "10",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 60,
        "wires": [
            [
                "74cc10441231f8f2"
            ]
        ]
    },
    {
        "id": "aab1bbee72f90c90",
        "type": "api-current-state",
        "z": "99c1372046e45da7",
        "name": "highest_ac_solar_day  < solaredge kwh yoday ",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "payload",
        "halt_if_type": "msg",
        "halt_if_compare": "lt",
        "entity_id": "sensor.mqtt_ac_solar_record",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 680,
        "y": 60,
        "wires": [
            [
                "27b51aa55e598e0f"
            ],
            []
        ]
    },
    {
        "id": "a0300d7bafb66f44",
        "type": "comment",
        "z": "99c1372046e45da7",
        "name": "A sensor that stores the value and date when there is a new produced solar power daily record",
        "info": "",
        "x": 340,
        "y": 20,
        "wires": []
    },
    {
        "id": "74cc10441231f8f2",
        "type": "function",
        "z": "99c1372046e45da7",
        "name": "change string into float number",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "aab1bbee72f90c90"
            ]
        ]
    },
    {
        "id": "27b51aa55e598e0f",
        "type": "function",
        "z": "99c1372046e45da7",
        "name": "create string kwh payload and date",
        "func": "// Set payload to a 3 decimal number as string\nmsg.payload = parseFloat(msg.payload).toFixed(3);\n\n// Create YYYY-MM-DD value from datetime string\nvar datetime = msg.data.last_updated;\nmsg.date = datetime.split('T')[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 60,
        "wires": [
            [
                "3cceba91547a7d4e"
            ]
        ]
    },
    {
        "id": "6a870ac713200910",
        "type": "inject",
        "z": "99c1372046e45da7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "date",
                "v": "2023-05-26",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "34.080",
        "payloadType": "str",
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "3cceba91547a7d4e"
            ]
        ]
    },
    {
        "id": "122d704723bc1cb0",
        "type": "mqtt out",
        "z": "99c1372046e45da7",
        "name": "",
        "topic": "/homeassistant/solar/ac_solar_record",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "36dee637778341ba",
        "x": 1490,
        "y": 60,
        "wires": []
    },
    {
        "id": "3cceba91547a7d4e",
        "type": "template",
        "z": "99c1372046e45da7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"value\": \"{{payload}}\",\n    \"date\": \"{{date}}\"\n}",
        "output": "json",
        "x": 1240,
        "y": 60,
        "wires": [
            [
                "122d704723bc1cb0",
                "5a87b491154f020a"
            ]
        ]
    },
    {
        "id": "5a87b491154f020a",
        "type": "api-call-service",
        "z": "99c1372046e45da7",
        "name": "slack message",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "theautomation",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Zonne-energie\",\"target\":\"#home-assistant\",\"title\":\"Zonne-energie\",\"data\":{\"blocks\":[{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"Zonne-energie :sunny:\"}},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"Er is een nieuw zonne-energie dagrecord gemeten vandaag.\"}]},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Oud record:*\\n{{data.state}} {{data.attributes.unit_of_measurement}} op {{data.attributes.date}}\"}]},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Nieuw record:*\\n{{payload.value}} {{data.attributes.unit_of_measurement}} op {{date}}\"}]}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "36dee637778341ba",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]