src/data/flows/ac_solar_record.json
[
    {
        "id": "99c1372046e45da7",
        "type": "tab",
        "label": "ac_solar_record",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80dc13087104d323",
        "type": "server-state-changed",
        "z": "99c1372046e45da7",
        "name": "solaredge kwh today",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.solaredge_modbus_ac_energy_kwh_today",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "15",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "74cc10441231f8f2"
            ]
        ]
    },
    {
        "id": "aab1bbee72f90c90",
        "type": "api-current-state",
        "z": "99c1372046e45da7",
        "name": "highest_ac_solar_day  < solaredge kwh yoday ",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "payload",
        "halt_if_type": "msg",
        "halt_if_compare": "lt",
        "entity_id": "sensor.highest_ac_solar_day",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 680,
        "y": 100,
        "wires": [
            [
                "4caed127a6212e55",
                "2f412a7ff334f882"
            ],
            []
        ]
    },
    {
        "id": "a0300d7bafb66f44",
        "type": "comment",
        "z": "99c1372046e45da7",
        "name": "A sensor that stores the value and date when there is a new produced solar power daily record",
        "info": "",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "7cd4e46a5732025c",
        "type": "split",
        "z": "99c1372046e45da7",
        "name": "split on T character",
        "splt": "T",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 1510,
        "y": 140,
        "wires": [
            [
                "87d1d0fed6316877"
            ]
        ]
    },
    {
        "id": "1f1bf1690903b6a9",
        "type": "ha-sensor",
        "z": "99c1372046e45da7",
        "name": "highest_ac_solar_day sensor",
        "entityConfig": "897c190112264208",
        "version": 0,
        "state": "payload.kwh",
        "stateType": "msg",
        "attributes": [
            {
                "property": "date",
                "value": "payload.date",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1900,
        "y": 100,
        "wires": [
            [
                "49ffb0ad7fb55ab2"
            ]
        ]
    },
    {
        "id": "a5116da9a911fdeb",
        "type": "change",
        "z": "99c1372046e45da7",
        "name": "change msg data.last_updated to payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data.last_updated",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 140,
        "wires": [
            [
                "7cd4e46a5732025c"
            ]
        ]
    },
    {
        "id": "87d1d0fed6316877",
        "type": "join",
        "z": "99c1372046e45da7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1690,
        "y": 100,
        "wires": [
            [
                "1f1bf1690903b6a9"
            ]
        ]
    },
    {
        "id": "4caed127a6212e55",
        "type": "change",
        "z": "99c1372046e45da7",
        "name": "set topic kwh",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "kwh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 100,
        "wires": [
            [
                "27b51aa55e598e0f"
            ]
        ]
    },
    {
        "id": "2f412a7ff334f882",
        "type": "change",
        "z": "99c1372046e45da7",
        "name": "set topic date",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "date",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 140,
        "wires": [
            [
                "a5116da9a911fdeb"
            ]
        ]
    },
    {
        "id": "74cc10441231f8f2",
        "type": "function",
        "z": "99c1372046e45da7",
        "name": "change string into float number",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "aab1bbee72f90c90"
            ]
        ]
    },
    {
        "id": "27b51aa55e598e0f",
        "type": "function",
        "z": "99c1372046e45da7",
        "name": "change float number to string with 3 decimals",
        "func": "msg.payload = parseFloat(msg.payload).toFixed(3);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 100,
        "wires": [
            [
                "87d1d0fed6316877"
            ]
        ]
    },
    {
        "id": "6bcd589c5a93d510",
        "type": "inject",
        "z": "99c1372046e45da7",
        "name": "",
        "props": [
            {
                "p": "payload.kwh",
                "v": "30.120",
                "vt": "str"
            },
            {
                "p": "payload.date",
                "v": "2023-05-13",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1690,
        "y": 200,
        "wires": [
            [
                "1f1bf1690903b6a9"
            ]
        ]
    },
    {
        "id": "49ffb0ad7fb55ab2",
        "type": "debug",
        "z": "99c1372046e45da7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 260,
        "wires": []
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "897c190112264208",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "highest_ac_solar_day",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "highest_ac_solar_day"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "energy"
            },
            {
                "property": "unit_of_measurement",
                "value": "kWh"
            },
            {
                "property": "state_class",
                "value": "total"
            }
        ],
        "resend": true,
        "debugEnabled": false
    }
]