src/data/flows/automation_climate_graph_input_select_all.json
[
    {
        "id": "1adcdebcdc8e5c39",
        "type": "tab",
        "label": "automation_climate_graph_input_select_all",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37ce07449a33a2f1",
        "type": "group",
        "z": "1adcdebcdc8e5c39",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1216fc8eb38d5547",
            "344cbd55957359b6",
            "3bb7516008d0f0ca"
        ],
        "x": 14,
        "y": 39,
        "w": 382,
        "h": 82
    },
    {
        "id": "6c70289470244d20",
        "type": "ha-get-entities",
        "z": "1adcdebcdc8e5c39",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "input_select.climate_graph_*",
                "valueType": "re"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "caa9c954adc5c425"
            ]
        ]
    },
    {
        "id": "caa9c954adc5c425",
        "type": "api-call-service",
        "z": "1adcdebcdc8e5c39",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "input_select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "labelId": [],
        "data": "{\"option\":\"{{data.new_state.attributes.friendly_name}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "input_select",
        "service": "select_option",
        "x": 630,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4e3d7d7dc062d5f4",
        "type": "comment",
        "z": "1adcdebcdc8e5c39",
        "name": "Set all climate graph input selects to certain input",
        "info": "",
        "x": 200,
        "y": 20,
        "wires": []
    },
    {
        "id": "a06f052e713de33d",
        "type": "server-state-changed",
        "z": "1adcdebcdc8e5c39",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [],
            "substring": [],
            "regex": [
                "input_button.climate_graph"
            ]
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 180,
        "wires": [
            [
                "6c70289470244d20"
            ]
        ]
    },
    {
        "id": "1216fc8eb38d5547",
        "type": "catch",
        "z": "1adcdebcdc8e5c39",
        "g": "37ce07449a33a2f1",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "344cbd55957359b6"
            ]
        ]
    },
    {
        "id": "344cbd55957359b6",
        "type": "template",
        "z": "1adcdebcdc8e5c39",
        "g": "37ce07449a33a2f1",
        "name": "messsage",
        "field": "message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "message: {{{error.message}}}\nSource:\n    id: {{error.source.id}}\n    type: {{error.source.type}}\n    name: {{error.source.name}}\n    count: {{error.source.count}}",
        "output": "str",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "3bb7516008d0f0ca"
            ]
        ]
    },
    {
        "id": "3bb7516008d0f0ca",
        "type": "link out",
        "z": "1adcdebcdc8e5c39",
        "g": "37ce07449a33a2f1",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "82031c40df5c41e6"
        ],
        "x": 355,
        "y": 80,
        "wires": []
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]