src/data/flows/automation_vacuum_room_cleaning.json
[
    {
        "id": "29a2e1dd05ecbf80",
        "type": "tab",
        "label": "automation_vacuum_room_cleaning",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3633aab59b75d5e",
        "type": "ha-get-entities",
        "z": "29a2e1dd05ecbf80",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "input_boolean.vacuum",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "02cc03fa2fa9b1c1"
            ]
        ]
    },
    {
        "id": "af7eaeb691b4b689",
        "type": "change",
        "z": "29a2e1dd05ecbf80",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "input_boolean.vacuum_hall",
                "fromt": "str",
                "to": "16",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "input_boolean.vacuum_living_room",
                "fromt": "str",
                "to": "17",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "input_boolean.vacuum_dining_room",
                "fromt": "str",
                "to": "18",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "input_boolean.vacuum_kitchen",
                "fromt": "str",
                "to": "19",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 60,
        "wires": [
            [
                "6fc6228af058839b"
            ]
        ]
    },
    {
        "id": "6fc6228af058839b",
        "type": "join",
        "z": "29a2e1dd05ecbf80",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 830,
        "y": 60,
        "wires": [
            [
                "458382747fd06019"
            ]
        ]
    },
    {
        "id": "02cc03fa2fa9b1c1",
        "type": "change",
        "z": "29a2e1dd05ecbf80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 60,
        "wires": [
            [
                "af7eaeb691b4b689",
                "92f37dfc24d886b9"
            ]
        ]
    },
    {
        "id": "458382747fd06019",
        "type": "function",
        "z": "29a2e1dd05ecbf80",
        "name": "create service call",
        "func": "msg.payload = {\n    \"domain\": \"vacuum\",\n    \"service\": \"send_command\",\n    \"target\": {\n        \"entity_id\": \"vacuum.roborock_s6_pure\"\n    },\n    \"data\": {\n        \"command\": \"app_segment_clean\",\n        \"params\": [\n            {\n                \"segments\": msg.payload\n            }\n        ]\n    }\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 60,
        "wires": [
            [
                "3a3544e58c336443"
            ]
        ]
    },
    {
        "id": "72f53719cdbc9455",
        "type": "server-state-changed",
        "z": "29a2e1dd05ecbf80",
        "name": "room cleaning button",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.vacuum_start_room_cleaning",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 60,
        "wires": [
            [
                "a3633aab59b75d5e"
            ]
        ]
    },
    {
        "id": "32ee19ec383e0543",
        "type": "comment",
        "z": "29a2e1dd05ecbf80",
        "name": "clean selected rooms",
        "info": "",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "3a3544e58c336443",
        "type": "api-call-service",
        "z": "29a2e1dd05ecbf80",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1190,
        "y": 60,
        "wires": [
            [
                "336d51b627dd3548"
            ]
        ]
    },
    {
        "id": "0abec8ca261199bd",
        "type": "function",
        "z": "29a2e1dd05ecbf80",
        "name": "create service call",
        "func": "msg.payload = {\n    \"domain\": \"vacuum\",\n    \"service\": \"send_command\",\n    \"target\": {\n        \"entity_id\": \"vacuum.robot_vacuum\"\n    },\n    \"data\": {\n        \"command\": \"app_segment_clean\",\n        \"params\": [\n            {\n                \"segments\": msg.payload\n            }\n        ]\n    }\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 100,
        "wires": [
            [
                "3a3544e58c336443"
            ]
        ]
    },
    {
        "id": "1b709ceb0d69c831",
        "type": "join",
        "z": "29a2e1dd05ecbf80",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 830,
        "y": 100,
        "wires": [
            [
                "0abec8ca261199bd"
            ]
        ]
    },
    {
        "id": "92f37dfc24d886b9",
        "type": "change",
        "z": "29a2e1dd05ecbf80",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "input_boolean.vacuum_laundry_room",
                "fromt": "str",
                "to": "16",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "input_boolean.vacuum_souterrain",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 100,
        "wires": [
            [
                "1b709ceb0d69c831"
            ]
        ]
    },
    {
        "id": "336d51b627dd3548",
        "type": "ha-wait-until",
        "z": "29a2e1dd05ecbf80",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 2,
        "outputs": 1,
        "entityId": "^vacuum.",
        "entityIdFilterType": "regex",
        "property": "state",
        "comparator": "is",
        "value": "cleaning",
        "valueType": "str",
        "timeout": "0",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 1340,
        "y": 60,
        "wires": [
            [
                "11adb81ae9e6f5e7"
            ]
        ]
    },
    {
        "id": "11adb81ae9e6f5e7",
        "type": "ha-get-entities",
        "z": "29a2e1dd05ecbf80",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "input_boolean.vacuum",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 1490,
        "y": 60,
        "wires": [
            [
                "28a3562272f5e8bd"
            ]
        ]
    },
    {
        "id": "28a3562272f5e8bd",
        "type": "api-call-service",
        "z": "29a2e1dd05ecbf80",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1680,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]