src/data/flows/automation_mechanical_ventilation_bathroom.json
[
    {
        "id": "b4963274903ed2a9",
        "type": "tab",
        "label": "automation_mechanical_ventilation_bathroom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "70b9d3433e540010",
        "type": "group",
        "z": "b4963274903ed2a9",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "40cce72d78ddf2ba",
            "ddcda02e8d44e679",
            "017eba9ce6de6486",
            "c6f3f4b2b46ffb4e",
            "976de9be5916cb4b",
            "b36f1d0dfd83653c",
            "01112a435413374c"
        ],
        "x": 1534,
        "y": 139,
        "w": 422,
        "h": 202
    },
    {
        "id": "c6f3f4b2b46ffb4e",
        "type": "junction",
        "z": "b4963274903ed2a9",
        "g": "70b9d3433e540010",
        "x": 1560,
        "y": 180,
        "wires": [
            [
                "ddcda02e8d44e679",
                "40cce72d78ddf2ba",
                "976de9be5916cb4b",
                "01112a435413374c"
            ]
        ]
    },
    {
        "id": "40cce72d78ddf2ba",
        "type": "template",
        "z": "b4963274903ed2a9",
        "g": "70b9d3433e540010",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1670,
        "y": 220,
        "wires": [
            [
                "017eba9ce6de6486"
            ]
        ]
    },
    {
        "id": "ddcda02e8d44e679",
        "type": "template",
        "z": "b4963274903ed2a9",
        "g": "70b9d3433e540010",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Ventilatie",
        "output": "str",
        "x": 1670,
        "y": 180,
        "wires": [
            [
                "017eba9ce6de6486"
            ]
        ]
    },
    {
        "id": "017eba9ce6de6486",
        "type": "join",
        "z": "b4963274903ed2a9",
        "g": "70b9d3433e540010",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1830,
        "y": 200,
        "wires": [
            [
                "b36f1d0dfd83653c"
            ]
        ]
    },
    {
        "id": "976de9be5916cb4b",
        "type": "template",
        "z": "b4963274903ed2a9",
        "g": "70b9d3433e540010",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "bathroom_fan",
        "output": "str",
        "x": 1690,
        "y": 260,
        "wires": [
            [
                "017eba9ce6de6486"
            ]
        ]
    },
    {
        "id": "b36f1d0dfd83653c",
        "type": "link out",
        "z": "b4963274903ed2a9",
        "g": "70b9d3433e540010",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b"
        ],
        "x": 1915,
        "y": 200,
        "wires": []
    },
    {
        "id": "01112a435413374c",
        "type": "template",
        "z": "b4963274903ed2a9",
        "g": "70b9d3433e540010",
        "name": "notification channel",
        "field": "notify.channel",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "bathroom_fan",
        "output": "str",
        "x": 1710,
        "y": 300,
        "wires": [
            [
                "017eba9ce6de6486"
            ]
        ]
    },
    {
        "id": "8f7a2ea2f8c67537",
        "type": "comment",
        "z": "b4963274903ed2a9",
        "name": "automation for the bathroom fan",
        "info": "",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "90566c9d3cd6bdaa",
        "type": "server-state-changed",
        "z": "b4963274903ed2a9",
        "name": "bathroom humidity",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.bathroom_sensors_humidity",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "num",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 60,
        "wires": [
            [
                "860a72a08f111ab7",
                "e9c932d56036f13b"
            ]
        ]
    },
    {
        "id": "860a72a08f111ab7",
        "type": "function",
        "z": "b4963274903ed2a9",
        "name": "new value minus old value",
        "func": "msg.payload = msg.data.new_state.state - msg.data.old_state.state\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "ed8cadbe2f5f5074"
            ]
        ]
    },
    {
        "id": "ed8cadbe2f5f5074",
        "type": "switch",
        "z": "b4963274903ed2a9",
        "name": "diferrence more than x",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 60,
        "wires": [
            [
                "bbfc944671edd2e3",
                "0f8226660ccd1f4a"
            ]
        ]
    },
    {
        "id": "0f8226660ccd1f4a",
        "type": "stoptimer",
        "z": "b4963274903ed2a9",
        "duration": "120",
        "units": "Millisecond",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "bad6f63794fa3bfd"
            ],
            []
        ]
    },
    {
        "id": "76a8a1ea0af30f4a",
        "type": "api-call-service",
        "z": "b4963274903ed2a9",
        "name": "turn on bathroom fan",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.shelly1pm_bathroom_fan_switch_0"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1280,
        "y": 60,
        "wires": [
            [
                "ccf8f8dbf3a2a1a3"
            ]
        ]
    },
    {
        "id": "bbfc944671edd2e3",
        "type": "api-current-state",
        "z": "b4963274903ed2a9",
        "name": "bathroom fan is not on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "switch.shelly1pm_bathroom_fan_switch_0",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1040,
        "y": 60,
        "wires": [
            [
                "76a8a1ea0af30f4a",
                "d8a0b2f19f9a0e65"
            ],
            []
        ]
    },
    {
        "id": "d8a0b2f19f9a0e65",
        "type": "change",
        "z": "b4963274903ed2a9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "old_state_humidity",
                "pt": "flow",
                "to": "data.old_state.state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "48e88711b7ff8b55",
        "type": "api-current-state",
        "z": "b4963274903ed2a9",
        "name": "bathroom fan is not off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "switch.shelly1pm_bathroom_fan_switch_0",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1040,
        "y": 240,
        "wires": [
            [
                "715c5c011eeebe21"
            ],
            []
        ]
    },
    {
        "id": "63a8c616e04072af",
        "type": "comment",
        "z": "b4963274903ed2a9",
        "name": "turn off the bathroom fan when the old humidity value is reached",
        "info": "",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "715c5c011eeebe21",
        "type": "api-call-service",
        "z": "b4963274903ed2a9",
        "name": "turn off bathroom fan",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.shelly1pm_bathroom_fan_switch_0"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1280,
        "y": 240,
        "wires": [
            [
                "c6f3f4b2b46ffb4e"
            ]
        ]
    },
    {
        "id": "af15e90fccd8959d",
        "type": "comment",
        "z": "b4963274903ed2a9",
        "name": "turn off the bathroom fan after x minutes",
        "info": "",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "e9c932d56036f13b",
        "type": "switch",
        "z": "b4963274903ed2a9",
        "name": "old value >= new value",
        "property": "old_state_humidity",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "data.new_state.state",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "1da06a5e8bc95932"
            ]
        ]
    },
    {
        "id": "1da06a5e8bc95932",
        "type": "switch",
        "z": "b4963274903ed2a9",
        "name": "humidity is below 70%",
        "property": "data.new_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "3c42e6f768e9f4a8"
            ]
        ]
    },
    {
        "id": "48367c24995b7a71",
        "type": "template",
        "z": "b4963274903ed2a9",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De badkamerventilator is uitgeschakeld, na 120 minuten is de oude luchtvochtigheid van voor het douchen niet bereikt. De luchtvochtigheid is {{data.new_state.state}}%.",
        "output": "str",
        "x": 820,
        "y": 180,
        "wires": [
            [
                "48e88711b7ff8b55"
            ]
        ]
    },
    {
        "id": "3c42e6f768e9f4a8",
        "type": "template",
        "z": "b4963274903ed2a9",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De badkamerventilator is uitgeschakeld, de luchtvochtigheid heeft de oude waarde ({{data.new_state.state}}%) van voor het douchen bereikt.",
        "output": "str",
        "x": 820,
        "y": 320,
        "wires": [
            [
                "48e88711b7ff8b55"
            ]
        ]
    },
    {
        "id": "ccf8f8dbf3a2a1a3",
        "type": "template",
        "z": "b4963274903ed2a9",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De badkamer ventilatie is ingeschakeld, de luchtvochtigheid is {{data.new_state.state}}%.",
        "output": "str",
        "x": 1460,
        "y": 60,
        "wires": [
            [
                "c6f3f4b2b46ffb4e"
            ]
        ]
    },
    {
        "id": "bad6f63794fa3bfd",
        "type": "ha-wait-until",
        "z": "b4963274903ed2a9",
        "name": "wait until humidity is below 65%",
        "server": "4ba92433.2478cc",
        "version": 2,
        "outputs": 1,
        "entityId": "sensor.bathroom_sensors_humidity",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "lt",
        "value": "65",
        "valueType": "num",
        "timeout": "0",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 610,
        "y": 180,
        "wires": [
            [
                "48367c24995b7a71"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]