src/data/flows/automation_infrared_panel.json
[
    {
        "id": "d7c35c04cc0c5b68",
        "type": "tab",
        "label": "automation_infrared_panel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "36dc1da28ea112aa",
        "type": "group",
        "z": "d7c35c04cc0c5b68",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "8f7ef08c7aea9511",
            "51bb0a67f9282d5f",
            "dfe89d053727bf74",
            "98c964aa61c96938",
            "5959cdf78bae2b4a",
            "87b3630fa6681255",
            "b334886da3d39e67"
        ],
        "x": 1194,
        "y": 19,
        "w": 452,
        "h": 202
    },
    {
        "id": "5959cdf78bae2b4a",
        "type": "junction",
        "z": "d7c35c04cc0c5b68",
        "g": "36dc1da28ea112aa",
        "x": 1220,
        "y": 60,
        "wires": [
            [
                "51bb0a67f9282d5f",
                "8f7ef08c7aea9511",
                "87b3630fa6681255",
                "b334886da3d39e67"
            ]
        ]
    },
    {
        "id": "8f7ef08c7aea9511",
        "type": "template",
        "z": "d7c35c04cc0c5b68",
        "g": "36dc1da28ea112aa",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1310,
        "y": 100,
        "wires": [
            [
                "98c964aa61c96938"
            ]
        ]
    },
    {
        "id": "51bb0a67f9282d5f",
        "type": "template",
        "z": "d7c35c04cc0c5b68",
        "g": "36dc1da28ea112aa",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Infrarood paneel",
        "output": "str",
        "x": 1310,
        "y": 60,
        "wires": [
            [
                "98c964aa61c96938"
            ]
        ]
    },
    {
        "id": "dfe89d053727bf74",
        "type": "link out",
        "z": "d7c35c04cc0c5b68",
        "g": "36dc1da28ea112aa",
        "name": "link_out_notify_infrared_panel",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b"
        ],
        "x": 1605,
        "y": 120,
        "wires": []
    },
    {
        "id": "98c964aa61c96938",
        "type": "join",
        "z": "d7c35c04cc0c5b68",
        "g": "36dc1da28ea112aa",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1510,
        "y": 120,
        "wires": [
            [
                "dfe89d053727bf74"
            ]
        ]
    },
    {
        "id": "87b3630fa6681255",
        "type": "template",
        "z": "d7c35c04cc0c5b68",
        "g": "36dc1da28ea112aa",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "infrared_panel",
        "output": "str",
        "x": 1330,
        "y": 140,
        "wires": [
            [
                "98c964aa61c96938"
            ]
        ]
    },
    {
        "id": "b334886da3d39e67",
        "type": "template",
        "z": "d7c35c04cc0c5b68",
        "g": "36dc1da28ea112aa",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Het Infrarood paneel in de souterrain stond nog aan en is nu automatisch uitgeschakeld",
        "output": "str",
        "x": 1320,
        "y": 180,
        "wires": [
            [
                "98c964aa61c96938"
            ]
        ]
    },
    {
        "id": "2fdc370fce5756c2",
        "type": "comment",
        "z": "d7c35c04cc0c5b68",
        "name": "Flow that turns off the infrared heating panel when it is still on at 19:00",
        "info": "",
        "x": 270,
        "y": 20,
        "wires": []
    },
    {
        "id": "27cd8b7d93b39f6b",
        "type": "api-call-service",
        "z": "d7c35c04cc0c5b68",
        "name": "shellyplug infrared panel turn off ",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.shellyplugplus_infraredpanel_switch_0"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 630,
        "y": 60,
        "wires": [
            [
                "a53dfc3e8dba22d8"
            ]
        ]
    },
    {
        "id": "a53dfc3e8dba22d8",
        "type": "delay",
        "z": "d7c35c04cc0c5b68",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 60,
        "wires": [
            [
                "d395c081040b56b4"
            ]
        ]
    },
    {
        "id": "d395c081040b56b4",
        "type": "api-call-service",
        "z": "d7c35c04cc0c5b68",
        "name": "shellyplug infrared panel turn on",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.shellyplugplus_infraredpanel_switch_0"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1050,
        "y": 60,
        "wires": [
            [
                "5959cdf78bae2b4a"
            ]
        ]
    },
    {
        "id": "cc46cdcd6e426cc8",
        "type": "time-range-switch",
        "z": "d7c35c04cc0c5b68",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "17:30",
        "endTime": "08:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "27cd8b7d93b39f6b"
            ],
            []
        ]
    },
    {
        "id": "6b08dd8ac6cfbb88",
        "type": "server-state-changed",
        "z": "d7c35c04cc0c5b68",
        "name": "shellyplug infrared panel energy is > 0",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.shellyplugplus_infraredpanel_switch_0_power",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "0",
        "ifStateType": "num",
        "ifStateOperator": "gt",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 60,
        "wires": [
            [
                "cc46cdcd6e426cc8"
            ],
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]