src/data/flows/basement_light_dynamics.json
[
    {
        "id": "7d6b81e430d394e4",
        "type": "tab",
        "label": "backyard_light_dynamics",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e64aa211bd3e11d0",
        "type": "comment",
        "z": "7d6b81e430d394e4",
        "name": "change light based on actions",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "60ae26bd4450db01",
        "type": "server-state-changed",
        "z": "7d6b81e430d394e4",
        "name": "backdoor state",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.backdoor",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 60,
        "wires": [
            [
                "b5664fac5cd21703"
            ],
            []
        ]
    },
    {
        "id": "b5664fac5cd21703",
        "type": "api-current-state",
        "z": "7d6b81e430d394e4",
        "name": "is dark outside",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "dark",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.outdoor_light_dark",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "882e0da55f267980",
                "c2bd9d198f1277b7"
            ],
            []
        ]
    },
    {
        "id": "c2bd9d198f1277b7",
        "type": "ha-get-entities",
        "z": "7d6b81e430d394e4",
        "name": "get lights",
        "server": "4ba92433.2478cc",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "light.shellydimmer_backyard_string_l",
                "valueType": "str"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "454b9848aa8f3696"
            ]
        ]
    },
    {
        "id": "882e0da55f267980",
        "type": "ha-get-entities",
        "z": "7d6b81e430d394e4",
        "name": "get lights",
        "server": "4ba92433.2478cc",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "light.shellydimmer_barn_hanging_lam",
                "valueType": "str"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "454b9848aa8f3696"
            ]
        ]
    },
    {
        "id": "454b9848aa8f3696",
        "type": "function",
        "z": "7d6b81e430d394e4",
        "name": "store light brightness",
        "func": "var object = \"history.\" + msg.payload.entity_id + \".attributes\"\nvar brightness = object + \".brightness\"\nvar state = object + \".state\"\nflow.set(brightness, msg.payload.attributes.brightness)\nflow.set(state, msg.payload.state)\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 60,
        "wires": [
            [
                "1aba261dc1ccb954"
            ]
        ]
    },
    {
        "id": "58e32e542c88ba36",
        "type": "stoptimer",
        "z": "7d6b81e430d394e4",
        "duration": "1",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 1060,
        "y": 60,
        "wires": [
            [
                "e9ce4a60b586b4cf"
            ],
            []
        ]
    },
    {
        "id": "1aba261dc1ccb954",
        "type": "api-call-service",
        "z": "7d6b81e430d394e4",
        "name": "turn up brightness",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "{\"brightness_pct\":\"65\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "all",
        "x": 870,
        "y": 60,
        "wires": [
            [
                "58e32e542c88ba36"
            ]
        ]
    },
    {
        "id": "7e46c865043e73a3",
        "type": "split",
        "z": "7d6b81e430d394e4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1390,
        "y": 60,
        "wires": [
            [
                "242507462ab59e0a"
            ]
        ]
    },
    {
        "id": "e9ce4a60b586b4cf",
        "type": "change",
        "z": "7d6b81e430d394e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "history.light",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 60,
        "wires": [
            [
                "7e46c865043e73a3"
            ]
        ]
    },
    {
        "id": "e218cc8b97a80918",
        "type": "api-call-service",
        "z": "7d6b81e430d394e4",
        "name": "restore light on state",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.{{parts.key}}"
        ],
        "data": "{\"brightness\":\"{{payload.attributes.brightness}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1700,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "cb67858d32a16295",
        "type": "api-call-service",
        "z": "7d6b81e430d394e4",
        "name": "restore light off state",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.{{parts.key}}"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1700,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "242507462ab59e0a",
        "type": "switch",
        "z": "7d6b81e430d394e4",
        "name": "",
        "property": "payload.attributes.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1510,
        "y": 60,
        "wires": [
            [
                "e218cc8b97a80918"
            ],
            [
                "cb67858d32a16295"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]