src/data/flows/entertainment_tvscreen_auto_turn_on-off.json
[
    {
        "id": "39f5e6336137f4b2",
        "type": "tab",
        "label": "entertainment_tvscreen_auto_turn_on-off",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03c1d7472447f924",
        "type": "group",
        "z": "39f5e6336137f4b2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "32e0cbcd73142f33",
            "5c1d97fa3277b1c6",
            "1514f8777e4c8211",
            "5fc11e4e29f3d02f"
        ],
        "x": 14,
        "y": 39,
        "w": 502,
        "h": 82
    },
    {
        "id": "4539dbe872caf169",
        "type": "junction",
        "z": "39f5e6336137f4b2",
        "x": 960,
        "y": 160,
        "wires": [
            [
                "e7db7dd82d8ece7e"
            ]
        ]
    },
    {
        "id": "f8003d1746659317",
        "type": "junction",
        "z": "39f5e6336137f4b2",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "a773a1b90b438e7b"
            ]
        ]
    },
    {
        "id": "a50b36c508ee1125",
        "type": "server-state-changed",
        "z": "39f5e6336137f4b2",
        "name": "mediaplayer shield is not playing",
        "server": "4ba92433.2478cc",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "media_player.universal_tv"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 160,
        "wires": [
            [
                "b17acb7df0bb2bd2"
            ]
        ]
    },
    {
        "id": "2a804e94931f7201",
        "type": "comment",
        "z": "39f5e6336137f4b2",
        "name": "turn off tvscreen when nothing is playing and turn back on when mediaplayer start playing",
        "info": "",
        "x": 330,
        "y": 20,
        "wires": []
    },
    {
        "id": "b17acb7df0bb2bd2",
        "type": "switch",
        "z": "39f5e6336137f4b2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "paused",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "d9540c933a60aec7",
                "42cb99108eba09c0"
            ],
            [
                "f8003d1746659317"
            ]
        ]
    },
    {
        "id": "d9540c933a60aec7",
        "type": "change",
        "z": "39f5e6336137f4b2",
        "name": "set payload stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "a773a1b90b438e7b",
                "4539dbe872caf169"
            ]
        ]
    },
    {
        "id": "42cb99108eba09c0",
        "type": "api-call-service",
        "z": "39f5e6336137f4b2",
        "name": "tvscreen turn on",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "webostv.command",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":\"media_player.lg_webos_smart_tv\",\"command\":\"com.webos.service.tvpower/power/turnOnScreen\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "webostv",
        "service": "command",
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a9227561e7f66936",
        "type": "api-call-service",
        "z": "39f5e6336137f4b2",
        "name": "notify tv",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "notify.lg_webos_smart_tv",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"TV scherm gaat over 10 seconde automatisch op zwart. \",\"title\":\"TV scherm\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "turn_off",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "domain": "notify",
        "service": "lg_webos_smart_tv",
        "x": 900,
        "y": 240,
        "wires": [
            [
                "e7db7dd82d8ece7e"
            ]
        ]
    },
    {
        "id": "a773a1b90b438e7b",
        "type": "stoptimer",
        "z": "39f5e6336137f4b2",
        "duration": "10",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 730,
        "y": 240,
        "wires": [
            [
                "a9227561e7f66936"
            ],
            []
        ]
    },
    {
        "id": "e7db7dd82d8ece7e",
        "type": "stoptimer",
        "z": "39f5e6336137f4b2",
        "duration": "10",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "19e1804740908598"
            ],
            []
        ]
    },
    {
        "id": "19e1804740908598",
        "type": "api-call-service",
        "z": "39f5e6336137f4b2",
        "name": "tvscreen turn off",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "webostv.command",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":\"media_player.lg_webos_smart_tv\",\"command\":\"com.webos.service.tvpower/power/turnOffScreen\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "webostv",
        "service": "command",
        "x": 1280,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "32e0cbcd73142f33",
        "type": "catch",
        "z": "39f5e6336137f4b2",
        "g": "03c1d7472447f924",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "5c1d97fa3277b1c6"
            ]
        ]
    },
    {
        "id": "5c1d97fa3277b1c6",
        "type": "template",
        "z": "39f5e6336137f4b2",
        "g": "03c1d7472447f924",
        "name": "messsage",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "message: {{{error.message}}} \\nSource: id: {{error.source.id}} \\ntype: {{error.source.type}} \\nname: {{error.source.name}} \\ncount: {{error.source.count}}",
        "output": "str",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "5fc11e4e29f3d02f"
            ]
        ]
    },
    {
        "id": "1514f8777e4c8211",
        "type": "link out",
        "z": "39f5e6336137f4b2",
        "g": "03c1d7472447f924",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "a97f87cfab413716"
        ],
        "x": 475,
        "y": 80,
        "wires": []
    },
    {
        "id": "5fc11e4e29f3d02f",
        "type": "template",
        "z": "39f5e6336137f4b2",
        "g": "03c1d7472447f924",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Node-RED",
        "output": "str",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "1514f8777e4c8211"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]