src/data/flows/exec_command_certbot_renewal.json
[
  {
    "id": "884be31f.370fe",
    "type": "tab",
    "label": "exec_command_certbot_renewal",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e5f3a68e.517128",
    "type": "exec",
    "z": "884be31f.370fe",
    "command": "ssh coen@192.168.1.3 'bash /home/coen/docker-home-services/reverse-proxy/letsencrypt.sh'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "exec letsencrypt.sh",
    "x": 310,
    "y": 100,
    "wires": [
      [],
      [],
      [
        "700c2a20.53f784"
      ]
    ]
  },
  {
    "id": "700c2a20.53f784",
    "type": "switch",
    "z": "884be31f.370fe",
    "name": "",
    "property": "payload.code",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 470,
    "y": 100,
    "wires": [
      [
        "e4f91251.4e05f"
      ],
      [
        "861e89da.fb5868"
      ]
    ]
  },
  {
    "id": "8e780f4f.06522",
    "type": "cronplus",
    "z": "884be31f.370fe",
    "name": "At 19:00 on Sunday",
    "outputField": "payload",
    "timeZone": "",
    "persistDynamic": false,
    "commandResponseMsgOutput": "output1",
    "outputs": 1,
    "options": [
      {
        "name": "At 19:00 on Sunday",
        "topic": "every week",
        "payloadType": "default",
        "payload": "",
        "expressionType": "cron",
        "expression": "0 19 * * 0",
        "location": "",
        "offset": "0",
        "solarType": "all",
        "solarEvents": "sunrise,sunset"
      }
    ],
    "x": 110,
    "y": 100,
    "wires": [
      [
        "e5f3a68e.517128"
      ]
    ]
  },
  {
    "id": "e4f91251.4e05f",
    "type": "template",
    "z": "884be31f.370fe",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Execution of Certbot renewal script failed!",
    "output": "str",
    "x": 600,
    "y": 100,
    "wires": [
      [
        "651b6e34.8b57d",
        "1deaac71.64ecb4"
      ]
    ]
  },
  {
    "id": "651b6e34.8b57d",
    "type": "link out",
    "z": "884be31f.370fe",
    "name": "",
    "links": [
      "ebf4860d.603538"
    ],
    "x": 735,
    "y": 100,
    "wires": []
  },
  {
    "id": "1c1eb956.0acf57",
    "type": "comment",
    "z": "884be31f.370fe",
    "name": "execute cerbot renewal bash shell script",
    "info": "",
    "x": 170,
    "y": 40,
    "wires": []
  },
  {
    "id": "861e89da.fb5868",
    "type": "template",
    "z": "884be31f.370fe",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Execution of Certbot renewal script succeeded.",
    "output": "str",
    "x": 600,
    "y": 140,
    "wires": [
      [
        "651b6e34.8b57d",
        "1deaac71.64ecb4"
      ]
    ]
  },
  {
    "id": "e9bf979c.c56098",
    "type": "api-call-service",
    "z": "884be31f.370fe",
    "name": "app notification",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "create",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"{{topic}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 960,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "1deaac71.64ecb4",
    "type": "change",
    "z": "884be31f.370fe",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Certbot Renewal",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 140,
    "wires": [
      [
        "e9bf979c.c56098"
      ]
    ]
  }
]