src/data/flows/home_leaving.json
[
    {
        "id": "b93cc1561f32248d",
        "type": "subflow",
        "name": "temp_frontyard_powersocket_off",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "441696546b08b299"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "441696546b08b299",
        "type": "api-call-service",
        "z": "b93cc1561f32248d",
        "name": "turn off frontyard powersocket",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.shelly1_frontyard_powersocket"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 210,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ce4fb69f6baf8bae",
        "type": "comment",
        "z": "b93cc1561f32248d",
        "name": "temporary subflow to turn off powersocket christmas lights",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "79544bf2.1ff3a4",
        "type": "subflow",
        "name": "off_mode",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 52,
                "y": 84,
                "wires": [
                    {
                        "id": "e0b2428a.a371b"
                    },
                    {
                        "id": "83808dcd.70439"
                    },
                    {
                        "id": "5644cdae.e32cc4"
                    },
                    {
                        "id": "f9028094.57a62"
                    },
                    {
                        "id": "db8cc8f4bb9386ab"
                    },
                    {
                        "id": "70042c68d7934e2a"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3b9a1fc1.aafd9",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "input select entertainment_activity uitschakelen",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.entertainment_activity"
        ],
        "data": "{\"option\":\"Uitschakelen\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "397bbd3d.0bb3f2",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "turn on climate auto mode",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_hvac_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "{\"hvac_mode\":\"auto\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "477c8f0e.c4289"
            ]
        ]
    },
    {
        "id": "477c8f0e.c4289",
        "type": "join",
        "z": "79544bf2.1ff3a4",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload.attributes.friendly_name",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ", ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "b85d118c.fbdc4"
            ]
        ]
    },
    {
        "id": "b85d118c.fbdc4",
        "type": "template",
        "z": "79544bf2.1ff3a4",
        "name": "message",
        "field": "message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De verwarming in {{{payload.attributes.friendly_name}}} is van handmatig naar automatische stand geschakeld.",
        "output": "str",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "ad7f00b7b2b0e671"
            ]
        ]
    },
    {
        "id": "e0b2428a.a371b",
        "type": "ha-get-entities",
        "z": "79544bf2.1ff3a4",
        "name": "lookup lights on",
        "server": "4ba92433.2478cc",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "light.",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "9eb23897.6d9b38"
            ]
        ]
    },
    {
        "id": "9eb23897.6d9b38",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "turn off lights",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "fda4eae176ed738e"
            ]
        ]
    },
    {
        "id": "83808dcd.70439",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "turn off water heater",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "water_heater",
        "service": "set_operation_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "water_heater.warm_water"
        ],
        "data": "{\"operation_mode\":\"off\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 220,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c57acb4f.9d1808",
        "type": "comment",
        "z": "79544bf2.1ff3a4",
        "name": "off mode actions",
        "info": "",
        "x": 100,
        "y": 20,
        "wires": []
    },
    {
        "id": "5644cdae.e32cc4",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "turn off childlock kitchen",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.childlock_kitchen_switch"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 230,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ad7f00b7b2b0e671",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "In APP Notify",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "persistent_notification",
        "service": "create",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{message}}\",\"title\":\"Verwarming\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1010,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fda4eae176ed738e",
        "type": "template",
        "z": "79544bf2.1ff3a4",
        "name": "format friendly name",
        "field": "friendly_name",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{payload.attributes.friendly_name}}}",
        "output": "str",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "58d0a2479b16b408"
            ]
        ]
    },
    {
        "id": "58d0a2479b16b408",
        "type": "join",
        "z": "79544bf2.1ff3a4",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "friendly_name",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ", ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 180,
        "wires": [
            [
                "89625810ae98a2fc"
            ]
        ]
    },
    {
        "id": "89625810ae98a2fc",
        "type": "template",
        "z": "79544bf2.1ff3a4",
        "name": "message",
        "field": "message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{friendly_name}}} verlichting stond nog aan en is nu automatisch uitgeschakeld.",
        "output": "str",
        "x": 860,
        "y": 180,
        "wires": [
            [
                "a8dadd67cf109c6d"
            ]
        ]
    },
    {
        "id": "a8dadd67cf109c6d",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "In APP Notify",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "persistent_notification",
        "service": "create",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{message}}\",\"title\":\"Verlichting\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1010,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "db8cc8f4bb9386ab",
        "type": "api-current-state",
        "z": "79544bf2.1ff3a4",
        "name": "state input select is all off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "Uitschakelen",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.entertainment_activity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 230,
        "y": 140,
        "wires": [
            [],
            [
                "3b9a1fc1.aafd9"
            ]
        ]
    },
    {
        "id": "f9028094.57a62",
        "type": "ha-get-entities",
        "z": "79544bf2.1ff3a4",
        "name": "lookup climate is not auto",
        "server": "4ba92433.2478cc",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "climate.",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is_not",
                "value": "auto",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "397bbd3d.0bb3f2"
            ]
        ]
    },
    {
        "id": "70042c68d7934e2a",
        "type": "subflow:b93cc1561f32248d",
        "z": "79544bf2.1ff3a4",
        "name": "",
        "x": 260,
        "y": 260,
        "wires": []
    },
    {
        "id": "8aa6edec.5a013",
        "type": "tab",
        "label": "home_leaving",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a8b7af48.25638",
        "type": "server-state-changed",
        "z": "8aa6edec.5a013",
        "name": "state group persons not_home",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "group.persons",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "not_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 60,
        "wires": [
            [
                "af4eaf595d5072d5"
            ],
            []
        ]
    },
    {
        "id": "81ed119.13c84f",
        "type": "server-state-changed",
        "z": "8aa6edec.5a013",
        "name": "state guest off",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.guest",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 140,
        "wires": [
            [
                "86e3be2e.bc7b4"
            ],
            [
                "49509f9ed6939729"
            ]
        ]
    },
    {
        "id": "99dc8873.517068",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "state guest off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.guest",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 700,
        "y": 60,
        "wires": [
            [
                "49ea77ab.4cfa28",
                "8d40faa88a9cd112",
                "b932464b99aa9267",
                "f3398caf62b1ef7a"
            ],
            []
        ]
    },
    {
        "id": "86e3be2e.bc7b4",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "state group persons home",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "group.persons",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 670,
        "y": 140,
        "wires": [
            [],
            [
                "49ea77ab.4cfa28",
                "f3398caf62b1ef7a",
                "b932464b99aa9267"
            ]
        ]
    },
    {
        "id": "49ea77ab.4cfa28",
        "type": "delay",
        "z": "8aa6edec.5a013",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 960,
        "y": 60,
        "wires": [
            [
                "ab07aadadf97ba44"
            ]
        ]
    },
    {
        "id": "f3398caf62b1ef7a",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "state home security off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.home_security",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "30a120b8f94715ba"
            ],
            []
        ]
    },
    {
        "id": "30a120b8f94715ba",
        "type": "api-call-service",
        "z": "8aa6edec.5a013",
        "name": "turn on home security",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.home_security"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1240,
        "y": 120,
        "wires": [
            [
                "d1bc843790834774"
            ]
        ]
    },
    {
        "id": "ab07aadadf97ba44",
        "type": "subflow:79544bf2.1ff3a4",
        "z": "8aa6edec.5a013",
        "name": "",
        "x": 1100,
        "y": 60,
        "wires": []
    },
    {
        "id": "e98d4730eef641b7",
        "type": "api-call-service",
        "z": "8aa6edec.5a013",
        "name": "turn on switch chime active",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.doorbell_chime_active"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1260,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8d40faa88a9cd112",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "state doorbell chime off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.doorbell_chime_active",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "e98d4730eef641b7"
            ],
            []
        ]
    },
    {
        "id": "2e713f167c7e9287",
        "type": "comment",
        "z": "8aa6edec.5a013",
        "name": "A desired state when nobody is home and guest switch is off",
        "info": "",
        "x": 240,
        "y": 20,
        "wires": []
    },
    {
        "id": "b932464b99aa9267",
        "type": "ha-get-entities",
        "z": "8aa6edec.5a013",
        "name": "lookup climate preset mode is not away",
        "server": "4ba92433.2478cc",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "climate.",
                "valueType": "str"
            },
            {
                "property": "attributes.preset_mode",
                "logic": "is_not",
                "value": "away",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "d23cc387ab9241d2"
            ]
        ]
    },
    {
        "id": "d23cc387ab9241d2",
        "type": "api-call-service",
        "z": "8aa6edec.5a013",
        "name": "set preset mode climate away",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "{\"preset_mode\":\"away\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1370,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "af4eaf595d5072d5",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "uptime",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "sensor.uptime",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "12eb7e9d79ce0291"
            ]
        ]
    },
    {
        "id": "12eb7e9d79ce0291",
        "type": "switch",
        "z": "8aa6edec.5a013",
        "name": "uptime is above 1 min",
        "property": "data.timeSinceChangedMs",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60000",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 60,
        "wires": [
            [
                "99dc8873.517068"
            ]
        ]
    },
    {
        "id": "46c9c1d3469e3e0d",
        "type": "server-state-changed",
        "z": "8aa6edec.5a013",
        "name": "state vacation mode off",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.vacation_mode",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 240,
        "wires": [
            [
                "418ec65b2ffc66b5"
            ],
            []
        ]
    },
    {
        "id": "418ec65b2ffc66b5",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "state guest off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.guest",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "86e3be2e.bc7b4"
            ],
            []
        ]
    },
    {
        "id": "49509f9ed6939729",
        "type": "api-call-service",
        "z": "8aa6edec.5a013",
        "name": "slack message",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "theautomation",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Gastmodus\",\"target\":\"#home-assistant\",\"title\":\"Gastmodus\",\"data\":{\"blocks\":[{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"Gastmodus :person_in_tuxedo:\"}},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"Gastmodus is ingeschakeld :white_check_mark:\"}]}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 280,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d1bc843790834774",
        "type": "api-call-service",
        "z": "8aa6edec.5a013",
        "name": "slack message",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "theautomation",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Huisbeveiliging\",\"target\":\"#home-assistant\",\"title\":\"Huisbeveiliging\",\"data\":{\"blocks\":[{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"Huisbeveiliging :closed_lock_with_key:\"}},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"Huisbeveiliging is ingeschakeld :white_check_mark:\"}]}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]