src/data/flows/light_dynamics_barn_light.json
[
    {
        "id": "71f3d7905a503d5c",
        "type": "tab",
        "label": "automation_barn_light_motion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0413e0750f3cc40b",
        "type": "junction",
        "z": "71f3d7905a503d5c",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "18db3501520cb2a6"
            ]
        ]
    },
    {
        "id": "07957fe9be86e971",
        "type": "server-state-changed",
        "z": "71f3d7905a503d5c",
        "name": "motion sensor is on",
        "server": "4ba92433.2478cc",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "ceac6b86e98289ce",
        "entities": {
            "entity": [
                "binary_sensor.backyard_motion_sensor_01_motion"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 120,
        "wires": [
            [
                "0854f23ba4b218d4"
            ],
            [
                "0413e0750f3cc40b"
            ]
        ]
    },
    {
        "id": "f7c6fa154b77f448",
        "type": "comment",
        "z": "71f3d7905a503d5c",
        "name": "Flow to turn on the barn light when backyard motion sensor is on and it is dark",
        "info": "",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "0854f23ba4b218d4",
        "type": "api-current-state",
        "z": "71f3d7905a503d5c",
        "name": "dark outside",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "dark",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.outdoor_light_dark",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "a35db07a95fdaa34"
            ],
            []
        ]
    },
    {
        "id": "284a34163954cfad",
        "type": "api-call-service",
        "z": "71f3d7905a503d5c",
        "name": "turn on barn light",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shelly1_barn_door"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "light",
        "service": "turn_on",
        "x": 630,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "09b9bb6c817c6ae4",
        "type": "api-call-service",
        "z": "71f3d7905a503d5c",
        "name": "turn on barn light",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "light.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shelly1_barn_door"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "light",
        "service": "turn_off",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a35db07a95fdaa34",
        "type": "api-current-state",
        "z": "71f3d7905a503d5c",
        "name": "light is off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.shelly1_barn_door",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "284a34163954cfad"
            ],
            []
        ]
    },
    {
        "id": "18db3501520cb2a6",
        "type": "api-current-state",
        "z": "71f3d7905a503d5c",
        "name": "light is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.shelly1_barn_door",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "09b9bb6c817c6ae4"
            ],
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "ceac6b86e98289ce",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "automation_barn_light_motion_detection",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    }
]