src/data/flows/light_outside.json
[
    {
        "id": "938b1157b9810ff7",
        "type": "tab",
        "label": "light_outside",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f61ed489b501dfe",
        "type": "server-state-changed",
        "z": "938b1157b9810ff7",
        "name": "state outdoor is light ",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.outdoor_light_dark",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "light",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 80,
        "wires": [
            [
                "2909c3c88df88d57",
                "c6c5f6bf39c3e997",
                "8476a77bed9a85f3",
                "2856f97e51bee4c2"
            ],
            []
        ]
    },
    {
        "id": "304f65cae5e7727a",
        "type": "comment",
        "z": "938b1157b9810ff7",
        "name": "When it is light outside trigger",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "7d44885ad0bf1e19",
        "type": "api-call-service",
        "z": "938b1157b9810ff7",
        "name": "turn off light front door ",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shelly1_front_door"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 560,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0953647276706152",
        "type": "api-call-service",
        "z": "938b1157b9810ff7",
        "name": "turn off light backyard",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shellydimmer_backyard_string_l"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 560,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2856f97e51bee4c2",
        "type": "api-current-state",
        "z": "938b1157b9810ff7",
        "name": "state frontdoor light on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.shelly1_front_door",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "7d44885ad0bf1e19"
            ],
            []
        ]
    },
    {
        "id": "8476a77bed9a85f3",
        "type": "api-current-state",
        "z": "938b1157b9810ff7",
        "name": "state backyard light on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.shellydimmer_backyard_string_l",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "0953647276706152"
            ],
            []
        ]
    },
    {
        "id": "2909c3c88df88d57",
        "type": "api-current-state",
        "z": "938b1157b9810ff7",
        "name": "state persons home",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "group.persons",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "49b785f825322b5f",
                "1742b57c9c2e48df"
            ],
            []
        ]
    },
    {
        "id": "49b785f825322b5f",
        "type": "api-current-state",
        "z": "938b1157b9810ff7",
        "name": "state sleep_mode on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.sleep_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 560,
        "y": 80,
        "wires": [
            [
                "1637290210ce9c38"
            ],
            []
        ]
    },
    {
        "id": "c6c5f6bf39c3e997",
        "type": "api-current-state",
        "z": "938b1157b9810ff7",
        "name": "state guest on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.guest",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "49b785f825322b5f",
                "1742b57c9c2e48df"
            ],
            []
        ]
    },
    {
        "id": "1637290210ce9c38",
        "type": "api-call-service",
        "z": "938b1157b9810ff7",
        "name": "turn off sleep mode",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.sleep_mode"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 790,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1742b57c9c2e48df",
        "type": "api-current-state",
        "z": "938b1157b9810ff7",
        "name": "state home_security on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.home_security",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 570,
        "y": 140,
        "wires": [
            [
                "02e9c2c14bf31810"
            ],
            []
        ]
    },
    {
        "id": "02e9c2c14bf31810",
        "type": "api-call-service",
        "z": "938b1157b9810ff7",
        "name": "turn off home security",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.home_security"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 800,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]