src/data/flows/machine_state_dishwasher.json
[
    {
        "id": "2437e768.8e34d8",
        "type": "tab",
        "label": "machine_state_dishwasher",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3bf0bc8959f8a48e",
        "type": "group",
        "z": "2437e768.8e34d8",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "71f13b6b1744cf6b",
            "64614e79bcb09872",
            "2a35d2abfb0850da",
            "2c0a57bd6ee87009",
            "08bca5ce6d389d48",
            "ec34cd6ea57b0b7f",
            "80b3c96f004d6f8b"
        ],
        "x": 1234,
        "y": 59,
        "w": 472,
        "h": 202
    },
    {
        "id": "ec34cd6ea57b0b7f",
        "type": "junction",
        "z": "2437e768.8e34d8",
        "g": "3bf0bc8959f8a48e",
        "x": 1260,
        "y": 120,
        "wires": [
            [
                "64614e79bcb09872",
                "2a35d2abfb0850da",
                "71f13b6b1744cf6b",
                "80b3c96f004d6f8b"
            ]
        ]
    },
    {
        "id": "fee8363c5cb8d124",
        "type": "junction",
        "z": "2437e768.8e34d8",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "ce869786.78dec8"
            ]
        ]
    },
    {
        "id": "08bca5ce6d389d48",
        "type": "join",
        "z": "2437e768.8e34d8",
        "g": "3bf0bc8959f8a48e",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1570,
        "y": 140,
        "wires": [
            [
                "2c0a57bd6ee87009"
            ]
        ]
    },
    {
        "id": "2c0a57bd6ee87009",
        "type": "link out",
        "z": "2437e768.8e34d8",
        "g": "3bf0bc8959f8a48e",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b",
            "a97f87cfab413716"
        ],
        "x": 1665,
        "y": 140,
        "wires": []
    },
    {
        "id": "2a35d2abfb0850da",
        "type": "template",
        "z": "2437e768.8e34d8",
        "g": "3bf0bc8959f8a48e",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De Vaatwasser is klaar",
        "output": "str",
        "x": 1380,
        "y": 140,
        "wires": [
            [
                "08bca5ce6d389d48"
            ]
        ]
    },
    {
        "id": "64614e79bcb09872",
        "type": "template",
        "z": "2437e768.8e34d8",
        "g": "3bf0bc8959f8a48e",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Vaatwasser",
        "output": "str",
        "x": 1370,
        "y": 100,
        "wires": [
            [
                "08bca5ce6d389d48"
            ]
        ]
    },
    {
        "id": "71f13b6b1744cf6b",
        "type": "template",
        "z": "2437e768.8e34d8",
        "g": "3bf0bc8959f8a48e",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1370,
        "y": 180,
        "wires": [
            [
                "08bca5ce6d389d48"
            ]
        ]
    },
    {
        "id": "80b3c96f004d6f8b",
        "type": "template",
        "z": "2437e768.8e34d8",
        "g": "3bf0bc8959f8a48e",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "dishwasher",
        "output": "str",
        "x": 1390,
        "y": 220,
        "wires": [
            [
                "08bca5ce6d389d48"
            ]
        ]
    },
    {
        "id": "36f24fd5.59924",
        "type": "change",
        "z": "2437e768.8e34d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 80,
        "wires": [
            [
                "bea742545d56e3a3"
            ]
        ]
    },
    {
        "id": "54b1f381.39c02c",
        "type": "change",
        "z": "2437e768.8e34d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 140,
        "wires": [
            [
                "bea742545d56e3a3"
            ]
        ]
    },
    {
        "id": "5914d077.55a55",
        "type": "api-current-state",
        "z": "2437e768.8e34d8",
        "name": "state is not on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "binary_sensor.dishwasher",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 660,
        "y": 80,
        "wires": [
            [
                "36f24fd5.59924"
            ],
            []
        ]
    },
    {
        "id": "ce869786.78dec8",
        "type": "api-current-state",
        "z": "2437e768.8e34d8",
        "name": "state is not off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "binary_sensor.dishwasher",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 660,
        "y": 140,
        "wires": [
            [
                "54b1f381.39c02c"
            ],
            []
        ]
    },
    {
        "id": "ef6b748.eeaf388",
        "type": "switch",
        "z": "2437e768.8e34d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 80,
        "wires": [
            [
                "ec34cd6ea57b0b7f"
            ]
        ]
    },
    {
        "id": "bea742545d56e3a3",
        "type": "ha-binary-sensor",
        "z": "2437e768.8e34d8",
        "name": "dishwasher",
        "entityConfig": "4f12e052f2829473",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1010,
        "y": 80,
        "wires": [
            [
                "ef6b748.eeaf388"
            ]
        ]
    },
    {
        "id": "d0e8efa07152912d",
        "type": "comment",
        "z": "2437e768.8e34d8",
        "name": "Set dishwasher binary sensor on or off based on power measurements",
        "info": "",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "95f21a2884f73b9b",
        "type": "server-state-changed",
        "z": "2437e768.8e34d8",
        "name": "state dishwasher watt",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.shellyplugplus_dishwasher_power",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "num",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 80,
        "wires": [
            [
                "47f4fb301e391cb8"
            ]
        ]
    },
    {
        "id": "036d5a464421fc1b",
        "type": "stoptimer",
        "z": "2437e768.8e34d8",
        "duration": "10",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "5914d077.55a55"
            ],
            []
        ]
    },
    {
        "id": "47f4fb301e391cb8",
        "type": "switch",
        "z": "2437e768.8e34d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "3.5",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "036d5a464421fc1b"
            ],
            [
                "fee8363c5cb8d124"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "4f12e052f2829473",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "dishwasher",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "dishwasher"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    }
]