src/data/flows/notification_garbage_collection.json
[
    {
        "id": "72f3a564e626ff9a",
        "type": "tab",
        "label": "notification_garbage_collection",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc015c3acdd57ee4",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "name": "secondary information",
        "field": "secondary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Morgen {{{data.attributes.date}}} wordt de {{garbage_type}} container opgehaald",
        "output": "str",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "da7f4a15f876a544"
            ]
        ]
    },
    {
        "id": "0cd33e0ae4f8e1ac",
        "type": "server-state-changed",
        "z": "72f3a564e626ff9a",
        "name": "garbage today",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.afval_vandaag",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "Geen",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 120,
        "wires": [
            [
                "4d45fc9537848008"
            ],
            []
        ]
    },
    {
        "id": "4d45fc9537848008",
        "type": "time-range-switch",
        "z": "72f3a564e626ff9a",
        "name": "",
        "lat": "52.0434",
        "lon": "5.6773",
        "startTime": "00:00",
        "endTime": "03:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "fc015c3acdd57ee4"
            ],
            [
                "6d32a564bcd340a4"
            ]
        ]
    },
    {
        "id": "6d32a564bcd340a4",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "name": "secondary information",
        "field": "secondary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Vandaag wordt de {{payload}} container opgehaald",
        "output": "str",
        "x": 580,
        "y": 100,
        "wires": [
            [
                "da7f4a15f876a544"
            ]
        ]
    },
    {
        "id": "040d71ac086fd35b",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "name": "topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "garbage",
        "output": "str",
        "x": 990,
        "y": 60,
        "wires": [
            [
                "b756e7bb43d6f27c"
            ]
        ]
    },
    {
        "id": "da7f4a15f876a544",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "name": "primary information",
        "field": "primary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Let op, de container moet aan de weg",
        "output": "str",
        "x": 810,
        "y": 60,
        "wires": [
            [
                "040d71ac086fd35b"
            ]
        ]
    },
    {
        "id": "183a5991d27d2b04",
        "type": "comment",
        "z": "72f3a564e626ff9a",
        "name": "Create a notification for garbage collection",
        "info": "",
        "x": 180,
        "y": 20,
        "wires": []
    },
    {
        "id": "25fa43d35440a3f7",
        "type": "api-current-state",
        "z": "72f3a564e626ff9a",
        "name": "garbage tomorrow",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "Geen",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.afval_morgen",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "garbage_type",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "fc015c3acdd57ee4"
            ],
            []
        ]
    },
    {
        "id": "4f602b0ecd3e333e",
        "type": "inject",
        "z": "72f3a564e626ff9a",
        "name": "15:00",
        "props": [],
        "repeat": "",
        "crontab": "00 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "25fa43d35440a3f7"
            ]
        ]
    },
    {
        "id": "9fd7a6afaf90435a",
        "type": "link out",
        "z": "72f3a564e626ff9a",
        "name": "notification",
        "mode": "link",
        "links": [
            "4db25e8d0289c57b"
        ],
        "x": 1285,
        "y": 60,
        "wires": []
    },
    {
        "id": "b756e7bb43d6f27c",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "name": "notification_level",
        "field": "notification_level",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "info",
        "output": "str",
        "x": 1150,
        "y": 60,
        "wires": [
            [
                "9fd7a6afaf90435a"
            ]
        ]
    },
    {
        "id": "9a7655d23db78d0f",
        "type": "inject",
        "z": "72f3a564e626ff9a",
        "name": "09:00",
        "props": [],
        "repeat": "",
        "crontab": "00 09 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "127897e2532f9639"
            ]
        ]
    },
    {
        "id": "f47656cd06bea150",
        "type": "comment",
        "z": "72f3a564e626ff9a",
        "name": "Turn info notification sensor off if it still shows garbage collection after 09:00 when the collection is today",
        "info": "",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "127897e2532f9639",
        "type": "api-current-state",
        "z": "72f3a564e626ff9a",
        "name": "current state info sensor",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.notification_level_info",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "3af43016251f4d2a"
            ],
            []
        ]
    },
    {
        "id": "aa55d6e2d41927bf",
        "type": "switch",
        "z": "72f3a564e626ff9a",
        "name": "contains Vandaag",
        "property": "data.attributes.secondary_information",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Vandaag",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "6a481279c5298533"
            ]
        ]
    },
    {
        "id": "3af43016251f4d2a",
        "type": "switch",
        "z": "72f3a564e626ff9a",
        "name": "topic is garbage",
        "property": "data.attributes.topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "garbage",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "aa55d6e2d41927bf"
            ]
        ]
    },
    {
        "id": "6a481279c5298533",
        "type": "api-call-service",
        "z": "72f3a564e626ff9a",
        "name": "button press notification info turn off",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "button",
        "service": "press",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.notification_level_info_turn_off"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 940,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]