src/data/flows/notify.json
[
    {
        "id": "343515a5528e14f0",
        "type": "tab",
        "label": "notify",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b92773ff0b01fade",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify coen",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_phone_coen_pixel7",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 310,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8ed3b0974336e55b",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_coen",
        "links": [
            "11137c6e85e51697",
            "8c93b438701888a6",
            "ac04035c1896218b",
            "73e546f49b2e02e1",
            "2c0a57bd6ee87009",
            "a2cfbe3c173fce64",
            "2e42c93c307e8cec",
            "68e61dcfb6db1de4",
            "5e72b91e3ad4066d",
            "37c73ac2e71d9a61",
            "2d9c5a51a0d3d65a",
            "b9f5925e88c3b14b",
            "17c484a9c9a917ac",
            "ef18c5c2564a7e77",
            "c6bc1abd0ea4d3e7",
            "0b0c89810da47741"
        ],
        "x": 195,
        "y": 140,
        "wires": [
            [
                "b92773ff0b01fade"
            ]
        ]
    },
    {
        "id": "aeee8468f3d1b7ad",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_anne",
        "links": [
            "68e61dcfb6db1de4",
            "ef18c5c2564a7e77",
            "c6bc1abd0ea4d3e7"
        ],
        "x": 195,
        "y": 200,
        "wires": [
            [
                "05c72cc515d6ee8d"
            ]
        ]
    },
    {
        "id": "76e9e8e982a2fef6",
        "type": "comment",
        "z": "343515a5528e14f0",
        "name": "notifications",
        "info": "",
        "x": 90,
        "y": 20,
        "wires": []
    },
    {
        "id": "05c72cc515d6ee8d",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify anne",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_phone_anne",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 310,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0d4dd5184c1b0c50",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify in app",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "persistent_notification",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\",\"notification_id\":\"{{notify.notification_id}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 310,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a97f87cfab413716",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_in_app",
        "links": [
            "11137c6e85e51697",
            "8c93b438701888a6",
            "ac04035c1896218b",
            "73e546f49b2e02e1",
            "2c0a57bd6ee87009",
            "2e42c93c307e8cec",
            "68e61dcfb6db1de4",
            "17c484a9c9a917ac",
            "0b0c89810da47741"
        ],
        "x": 195,
        "y": 260,
        "wires": [
            [
                "0d4dd5184c1b0c50"
            ]
        ]
    },
    {
        "id": "cfaf92063b478bdc",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "text to speech",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "tts",
        "service": "google_say",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.home_speaker"
        ],
        "data": "{\"message\":\"{{notify.message}}\",\"language\":\"nl\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 640,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cf256ece81c0faee",
        "type": "ha-wait-until",
        "z": "343515a5528e14f0",
        "name": "wait until media player is not playing",
        "server": "4ba92433.2478cc",
        "version": 2,
        "outputs": 1,
        "entityId": "media_player.home_speaker",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is_not",
        "value": "playing",
        "valueType": "str",
        "timeout": "",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "cfaf92063b478bdc"
            ]
        ]
    },
    {
        "id": "170690c80fc5131f",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_in_tts_google_home_speaker",
        "links": [],
        "x": 195,
        "y": 320,
        "wires": [
            [
                "cf256ece81c0faee"
            ]
        ]
    },
    {
        "id": "d94b50aeaba952d1",
        "type": "ha-wait-until",
        "z": "343515a5528e14f0",
        "name": "wait until media player is not playing",
        "server": "4ba92433.2478cc",
        "version": 2,
        "outputs": 1,
        "entityId": "media_player.home_speaker",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is_not",
        "value": "playing",
        "valueType": "str",
        "timeout": "",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "f11dc3e3682ce836"
            ]
        ]
    },
    {
        "id": "f11dc3e3682ce836",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "text to speech",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "tts",
        "service": "google_say",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.c3f1b2b7_9fabb740"
        ],
        "data": "{\"message\":\"{{notify.message}}\",\"language\":\"nl\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 640,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c4660dc11fb0e5b8",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_in_tts_wall_tablet",
        "links": [
            "849b0848c1cfdceb"
        ],
        "x": 195,
        "y": 380,
        "wires": [
            [
                "d94b50aeaba952d1"
            ]
        ]
    },
    {
        "id": "04792e2be9d492bd",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify tv",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "lg_webos_smart_tv",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 300,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c13b2b4d87067c17",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_tv",
        "links": [
            "68e61dcfb6db1de4"
        ],
        "x": 195,
        "y": 80,
        "wires": [
            [
                "04792e2be9d492bd"
            ]
        ]
    },
    {
        "id": "3675d2d1160c6b61",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify two actions coen",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_phone_coen_pixel7",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\",\"data\":{\"actions\":[{\"action\":\"{{notify.action_1}}\",\"title\":\"{{notify.action_1_title}}\",\"icon\":\"{{notify.icon}}\"},{\"action\":\"{{notify.action_2}}\",\"title\":\"{{notify.action_2_title}}\",\"icon\":\"{{notify.icon}}\"}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 340,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d1753081ba6b4004",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_two_actions_coen",
        "links": [
            "ba0bdc1db6e4e011",
            "0af5a06e405527e9"
        ],
        "x": 195,
        "y": 440,
        "wires": [
            [
                "3675d2d1160c6b61"
            ]
        ]
    },
    {
        "id": "7e56e31c0145c7b4",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify two actions anne",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_phone_anne",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\",\"data\":{\"actions\":[{\"action\":\"{{notify.action_1}}\",\"title\":\"{{notify.action_1_title}}\",\"icon\":\"{{notify.icon}}\"},{\"action\":\"{{notify.action_2}}\",\"title\":\"{{notify.action_2_title}}\",\"icon\":\"{{notify.icon}}\"}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 340,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c76d311bb4b6991b",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_two_actions_anne",
        "links": [
            "ba0bdc1db6e4e011",
            "0af5a06e405527e9"
        ],
        "x": 195,
        "y": 500,
        "wires": [
            [
                "7e56e31c0145c7b4"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]