src/data/flows/notification.json
[
    {
        "id": "535c98d1d92579b6",
        "type": "tab",
        "label": "notifications",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d929298a3e7dc1e5",
        "type": "junction",
        "z": "535c98d1d92579b6",
        "x": 920,
        "y": 160,
        "wires": [
            [
                "60dd6681f0c203d8"
            ]
        ]
    },
    {
        "id": "12ab222ef785d504",
        "type": "junction",
        "z": "535c98d1d92579b6",
        "x": 920,
        "y": 220,
        "wires": [
            [
                "528f1050a96e3ee8"
            ]
        ]
    },
    {
        "id": "f90e9adef545cbb0",
        "type": "junction",
        "z": "535c98d1d92579b6",
        "x": 920,
        "y": 280,
        "wires": [
            [
                "888146b5bc3de9b0"
            ]
        ]
    },
    {
        "id": "0e310c70840e8224",
        "type": "comment",
        "z": "535c98d1d92579b6",
        "name": "Notification sensors",
        "info": "",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "4db25e8d0289c57b",
        "type": "link in",
        "z": "535c98d1d92579b6",
        "name": "notification_sensors_turn_on",
        "links": [
            "9fd7a6afaf90435a"
        ],
        "x": 35,
        "y": 60,
        "wires": [
            [
                "e13adef0f1bd6aea"
            ]
        ]
    },
    {
        "id": "c911871c234d6a8e",
        "type": "switch",
        "z": "535c98d1d92579b6",
        "name": "",
        "property": "notification_level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "info",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "warning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 60,
        "wires": [
            [
                "4f661232083706f4"
            ],
            [
                "49c8cba31a1ed6eb"
            ],
            [
                "e9db94326e0edf23"
            ]
        ]
    },
    {
        "id": "60dd6681f0c203d8",
        "type": "ha-binary-sensor",
        "z": "535c98d1d92579b6",
        "name": "notification_level_info",
        "entityConfig": "cab73c1a38f001be",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "primary_information",
                "value": "primary_information",
                "valueType": "msg"
            },
            {
                "property": "secondary_information",
                "value": "secondary_information",
                "valueType": "msg"
            },
            {
                "property": "topic",
                "value": "topic",
                "valueType": "msg"
            },
            {
                "property": "icon",
                "value": "mdi:information-outline",
                "valueType": "str"
            },
            {
                "property": "icon_color",
                "value": "yellow",
                "valueType": "str"
            },
            {
                "property": "notification_level",
                "value": "notification_level",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1080,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "528f1050a96e3ee8",
        "type": "ha-binary-sensor",
        "z": "535c98d1d92579b6",
        "name": "notification_level_warning",
        "entityConfig": "fed106bf198ad2ea",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "primary_information",
                "value": "primary_information",
                "valueType": "msg"
            },
            {
                "property": "secondary_information",
                "value": "secondary_information",
                "valueType": "msg"
            },
            {
                "property": "topic",
                "value": "topic",
                "valueType": "msg"
            },
            {
                "property": "icon",
                "value": "icon",
                "valueType": "msg"
            },
            {
                "property": "icon_color",
                "value": "icon_color",
                "valueType": "msg"
            },
            {
                "property": "notification_level",
                "value": "notification_level",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1090,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "888146b5bc3de9b0",
        "type": "ha-binary-sensor",
        "z": "535c98d1d92579b6",
        "name": "notification_level_error",
        "entityConfig": "d2b97f89ed6763e5",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "primary_information",
                "value": "primary_information",
                "valueType": "msg"
            },
            {
                "property": "secondary_information",
                "value": "secondary_information",
                "valueType": "msg"
            },
            {
                "property": "topic",
                "value": "topic",
                "valueType": "msg"
            },
            {
                "property": "icon",
                "value": "icon",
                "valueType": "msg"
            },
            {
                "property": "icon_color",
                "value": "icon_color",
                "valueType": "msg"
            },
            {
                "property": "notification_level",
                "value": "notification_level",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1080,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4f661232083706f4",
        "type": "simple-queue",
        "z": "535c98d1d92579b6",
        "name": "",
        "firstMessageBypass": true,
        "bypassInterval": "0",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "60dd6681f0c203d8"
            ]
        ]
    },
    {
        "id": "49c8cba31a1ed6eb",
        "type": "simple-queue",
        "z": "535c98d1d92579b6",
        "name": "",
        "firstMessageBypass": true,
        "bypassInterval": "0",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "528f1050a96e3ee8"
            ]
        ]
    },
    {
        "id": "e9db94326e0edf23",
        "type": "simple-queue",
        "z": "535c98d1d92579b6",
        "name": "",
        "firstMessageBypass": true,
        "bypassInterval": "0",
        "x": 850,
        "y": 240,
        "wires": [
            [
                "888146b5bc3de9b0"
            ]
        ]
    },
    {
        "id": "90472c432f08b2dc",
        "type": "ha-button",
        "z": "535c98d1d92579b6",
        "name": "notification_level_info_turn_off",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "61b96249023198be",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "off",
                "valueType": "str"
            }
        ],
        "x": 140,
        "y": 160,
        "wires": [
            [
                "4b960c26c82aa47a",
                "d929298a3e7dc1e5"
            ]
        ]
    },
    {
        "id": "e13adef0f1bd6aea",
        "type": "change",
        "z": "535c98d1d92579b6",
        "name": "turn on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "c911871c234d6a8e"
            ]
        ]
    },
    {
        "id": "6cb0684a8f3589cf",
        "type": "ha-button",
        "z": "535c98d1d92579b6",
        "name": "notification_level_warning_turn_off",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "ce2ff010477149a7",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "off",
                "valueType": "str"
            }
        ],
        "x": 160,
        "y": 220,
        "wires": [
            [
                "47e4b19ee4b83c2a",
                "12ab222ef785d504"
            ]
        ]
    },
    {
        "id": "f9e253cfd747a61a",
        "type": "ha-button",
        "z": "535c98d1d92579b6",
        "name": "notification_level_error_turn_off",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "287aaae77d488c09",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "off",
                "valueType": "str"
            }
        ],
        "x": 150,
        "y": 280,
        "wires": [
            [
                "807c3819e8e2d285",
                "f90e9adef545cbb0"
            ]
        ]
    },
    {
        "id": "09d0e940dc5f6082",
        "type": "change",
        "z": "535c98d1d92579b6",
        "name": "trigger next notification",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 120,
        "wires": [
            [
                "4f661232083706f4"
            ]
        ]
    },
    {
        "id": "1dc9185b96eacbcc",
        "type": "change",
        "z": "535c98d1d92579b6",
        "name": "trigger next notification",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "49c8cba31a1ed6eb"
            ]
        ]
    },
    {
        "id": "dea1b7454c3d51a5",
        "type": "change",
        "z": "535c98d1d92579b6",
        "name": "trigger next notification",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "e9db94326e0edf23"
            ]
        ]
    },
    {
        "id": "41d6528ca5acdcf6",
        "type": "server-state-changed",
        "z": "535c98d1d92579b6",
        "name": "notification sensor change trigger",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.notification_level_",
        "entityidfiltertype": "regex",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [],
        "x": 150,
        "y": 400,
        "wires": [
            [
                "aa61681fa4979690"
            ]
        ]
    },
    {
        "id": "aa61681fa4979690",
        "type": "ha-get-entities",
        "z": "535c98d1d92579b6",
        "name": "count notification sensors with state on",
        "server": "4ba92433.2478cc",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "binary_sensor.notification_level_",
                "valueType": "re"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "count",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "abef639bc64e5cab"
            ]
        ]
    },
    {
        "id": "4b960c26c82aa47a",
        "type": "ha-wait-until",
        "z": "535c98d1d92579b6",
        "name": "wait to be off",
        "server": "4ba92433.2478cc",
        "version": 2,
        "outputs": 1,
        "entityId": "binary_sensor.notification_level_info",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "off",
        "valueType": "str",
        "timeout": "0",
        "timeoutType": "num",
        "timeoutUnits": "milliseconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "09d0e940dc5f6082"
            ]
        ]
    },
    {
        "id": "47e4b19ee4b83c2a",
        "type": "ha-wait-until",
        "z": "535c98d1d92579b6",
        "name": "wait to be off",
        "server": "4ba92433.2478cc",
        "version": 2,
        "outputs": 1,
        "entityId": "binary_sensor.notification_level_warning",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "off",
        "valueType": "str",
        "timeout": "0",
        "timeoutType": "num",
        "timeoutUnits": "milliseconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1dc9185b96eacbcc"
            ]
        ]
    },
    {
        "id": "807c3819e8e2d285",
        "type": "ha-wait-until",
        "z": "535c98d1d92579b6",
        "name": "wait to be off",
        "server": "4ba92433.2478cc",
        "version": 2,
        "outputs": 1,
        "entityId": "binary_sensor.notification_level_error",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "off",
        "valueType": "str",
        "timeout": "0",
        "timeoutType": "num",
        "timeoutUnits": "milliseconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "dea1b7454c3d51a5"
            ]
        ]
    },
    {
        "id": "abef639bc64e5cab",
        "type": "ha-sensor",
        "z": "535c98d1d92579b6",
        "name": "notification_on_counter",
        "entityConfig": "660b992deaea585b",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 730,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "cb9b4825d2a3762e",
        "type": "comment",
        "z": "535c98d1d92579b6",
        "name": "Notification sensor on counter",
        "info": "",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "cab73c1a38f001be",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "b18cdca463823daa",
        "name": "notification_level_info",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "notification_level_info"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "fed106bf198ad2ea",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "b18cdca463823daa",
        "name": "notification_level_warning",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "notification_level_warning"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "d2b97f89ed6763e5",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "b18cdca463823daa",
        "name": "notification_level_error",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "notification_level_error"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "61b96249023198be",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "b18cdca463823daa",
        "name": "notification_level_info_turn_off",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": "notification_level_info_turn_off"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "ce2ff010477149a7",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "b18cdca463823daa",
        "name": "notification_level_warning_turn_off",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": "notification_level_warning_turn_off"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "287aaae77d488c09",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "b18cdca463823daa",
        "name": "notification_level_error_turn_off",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": "notification_level_error_turn_off"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "660b992deaea585b",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "b18cdca463823daa",
        "name": "notification_on_counter",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "notification_on_counter"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "b18cdca463823daa",
        "type": "ha-device-config",
        "name": "notifications",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    }
]