src/data/flows/notification_camera_person_detection.json
[
    {
        "id": "e846a5a705a12fe6",
        "type": "tab",
        "label": "notification_camera_person_detection",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b81c86e034b8b9b",
        "type": "comment",
        "z": "e846a5a705a12fe6",
        "name": "Flow that send a notification with a snapshot when a person is detected",
        "info": "",
        "x": 270,
        "y": 20,
        "wires": []
    },
    {
        "id": "5f14e4bebca3d9f2",
        "type": "mqtt in",
        "z": "e846a5a705a12fe6",
        "name": "",
        "topic": "frigate/events",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "36dee637778341ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 60,
        "wires": [
            [
                "941f22c8bd2b41ff"
            ]
        ]
    },
    {
        "id": "d0b2f197637a56db",
        "type": "function",
        "z": "e846a5a705a12fe6",
        "name": "create service call",
        "func": "msg.payload = {\n    \"action\": \"notify.mobile_app_phone_coen\",\n    \"data\": {\n        \"message\": \"Er is een persoon in de achtertuin gedetecteerd\",\n        \"data\": {\n            \"image\": \"https://home-assistant.theautomation.nl/api/frigate/notifications/\" + msg.payload.after.id + \"/thumbnail.jpg?format=android\",\n            \"tag\": msg.payload.after.id,\n            \"when\": msg.payload.after.start_time\n        }\n    }\n};\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 60,
        "wires": [
            [
                "ff834f637583c3ce"
            ]
        ]
    },
    {
        "id": "4a585d8a38a8ee00",
        "type": "api-call-service",
        "z": "e846a5a705a12fe6",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "",
        "service": "",
        "x": 890,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "941f22c8bd2b41ff",
        "type": "switch",
        "z": "e846a5a705a12fe6",
        "name": "backyard",
        "property": "payload.after.camera",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "backyard",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "6abf9d5f9b0bf10d"
            ]
        ]
    },
    {
        "id": "ff834f637583c3ce",
        "type": "api-current-state",
        "z": "e846a5a705a12fe6",
        "name": "guest mode is off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.guest",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 730,
        "y": 60,
        "wires": [
            [
                "4a585d8a38a8ee00"
            ],
            []
        ]
    },
    {
        "id": "6abf9d5f9b0bf10d",
        "type": "switch",
        "z": "e846a5a705a12fe6",
        "name": "person",
        "property": "payload.after.label",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "person",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "d0b2f197637a56db"
            ]
        ]
    },
    {
        "id": "36dee637778341ba",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]