src/data/flows/notification_picnic.json
[
    {
        "id": "75537afd17de5117",
        "type": "tab",
        "label": "notification_picnic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef69ec82c772cad9",
        "type": "group",
        "z": "75537afd17de5117",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "644d8e4f0164cfb2",
            "4b6f2391d1d4dfb7",
            "c32738f7b2c8ece5",
            "64fb1dffb9145f24",
            "5cb88a741e06d0c9",
            "8683cd8b3d71eca3"
        ],
        "x": 994,
        "y": 279,
        "w": 452,
        "h": 162
    },
    {
        "id": "5cb88a741e06d0c9",
        "type": "junction",
        "z": "75537afd17de5117",
        "g": "ef69ec82c772cad9",
        "x": 1020,
        "y": 360,
        "wires": [
            [
                "4b6f2391d1d4dfb7",
                "644d8e4f0164cfb2",
                "8683cd8b3d71eca3"
            ]
        ]
    },
    {
        "id": "77d3e073983d7d6a",
        "type": "template",
        "z": "75537afd17de5117",
        "name": "topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "picnic",
        "output": "str",
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "85ec3596d3fd73bd"
            ]
        ]
    },
    {
        "id": "14470f4c11802ac6",
        "type": "template",
        "z": "75537afd17de5117",
        "name": "secondary information",
        "field": "secondary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Tussen {{payload.start.mytime}} en {{payload.end.mytime}} staat Picnic voor de deur",
        "output": "str",
        "x": 1100,
        "y": 80,
        "wires": [
            [
                "41d0860dc5097d38"
            ]
        ]
    },
    {
        "id": "41d0860dc5097d38",
        "type": "template",
        "z": "75537afd17de5117",
        "name": "primary information",
        "field": "primary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Picnic",
        "output": "str",
        "x": 1090,
        "y": 120,
        "wires": [
            [
                "77d3e073983d7d6a"
            ]
        ]
    },
    {
        "id": "85ec3596d3fd73bd",
        "type": "template",
        "z": "75537afd17de5117",
        "name": "notification_level",
        "field": "notification_level",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "info",
        "output": "str",
        "x": 1090,
        "y": 200,
        "wires": [
            [
                "2dbb9134617a5402"
            ]
        ]
    },
    {
        "id": "2dbb9134617a5402",
        "type": "change",
        "z": "75537afd17de5117",
        "name": "set icon",
        "rules": [
            {
                "t": "set",
                "p": "icon",
                "pt": "msg",
                "to": "mdi:cart-variant",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "44a15e4a3bd02612"
            ]
        ]
    },
    {
        "id": "967b0029e044c941",
        "type": "api-current-state",
        "z": "75537afd17de5117",
        "name": "picnic expected end delivery",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.picnic_last_order_max_order_time",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "picnic_next_delivery_eta_end",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "20a55376db0798a4"
            ]
        ]
    },
    {
        "id": "a80e12ba7e06011c",
        "type": "simpletime",
        "z": "75537afd17de5117",
        "name": "",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mymonthf": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "mydayf": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "2c31a96255251568"
            ]
        ]
    },
    {
        "id": "b6a5a8fb06e323fe",
        "type": "change",
        "z": "75537afd17de5117",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "date",
                "pt": "msg",
                "to": "picnic_next_delivery_eta_start",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "a80e12ba7e06011c"
            ]
        ]
    },
    {
        "id": "20a55376db0798a4",
        "type": "change",
        "z": "75537afd17de5117",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "date",
                "pt": "msg",
                "to": "picnic_next_delivery_eta_end",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "fbfa1f7bfdf77af6"
            ]
        ]
    },
    {
        "id": "0c7a8318641234b3",
        "type": "join",
        "z": "75537afd17de5117",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 80,
        "wires": [
            [
                "14470f4c11802ac6",
                "5cb88a741e06d0c9"
            ]
        ]
    },
    {
        "id": "2c31a96255251568",
        "type": "function",
        "z": "75537afd17de5117",
        "name": "Add time objects to payload",
        "func": "msg.payload = {}\nmsg.payload.start = {}\n\nmsg.payload.start.mytime = msg.mytime\nmsg.payload.start.myymd = msg.myymd\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 80,
        "wires": [
            [
                "0c7a8318641234b3"
            ]
        ]
    },
    {
        "id": "fbfa1f7bfdf77af6",
        "type": "simpletime",
        "z": "75537afd17de5117",
        "name": "",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mymonthf": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "mydayf": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "e184490a36dc09a0"
            ]
        ]
    },
    {
        "id": "e184490a36dc09a0",
        "type": "function",
        "z": "75537afd17de5117",
        "name": "Add time objects to payload",
        "func": "msg.payload = {}\nmsg.payload.end = {}\n\nmsg.payload.end.mytime = msg.mytime\nmsg.payload.end.myymd = msg.myymd\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "0c7a8318641234b3"
            ]
        ]
    },
    {
        "id": "c894705717c745bf",
        "type": "server-state-changed",
        "z": "75537afd17de5117",
        "name": "start datetime next delivery",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.picnic_next_delivery_eta_start",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "picnic_next_delivery_eta_start",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 130,
        "y": 80,
        "wires": [
            [
                "b6a5a8fb06e323fe",
                "967b0029e044c941"
            ]
        ]
    },
    {
        "id": "c13d90e2be19e58b",
        "type": "comment",
        "z": "75537afd17de5117",
        "name": "picnic delivery notification",
        "info": "",
        "x": 130,
        "y": 20,
        "wires": []
    },
    {
        "id": "44a15e4a3bd02612",
        "type": "link out",
        "z": "75537afd17de5117",
        "name": "notification",
        "mode": "link",
        "links": [
            "60e14e33a793f50d"
        ],
        "x": 1305,
        "y": 240,
        "wires": []
    },
    {
        "id": "644d8e4f0164cfb2",
        "type": "template",
        "z": "75537afd17de5117",
        "g": "ef69ec82c772cad9",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "mdi:cart-variant",
        "output": "str",
        "x": 1150,
        "y": 400,
        "wires": [
            [
                "64fb1dffb9145f24"
            ]
        ]
    },
    {
        "id": "4b6f2391d1d4dfb7",
        "type": "template",
        "z": "75537afd17de5117",
        "g": "ef69ec82c772cad9",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Picnic",
        "output": "str",
        "x": 1150,
        "y": 320,
        "wires": [
            [
                "64fb1dffb9145f24"
            ]
        ]
    },
    {
        "id": "c32738f7b2c8ece5",
        "type": "link out",
        "z": "75537afd17de5117",
        "g": "ef69ec82c772cad9",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b",
            "a97f87cfab413716",
            "aeee8468f3d1b7ad"
        ],
        "x": 1405,
        "y": 360,
        "wires": []
    },
    {
        "id": "64fb1dffb9145f24",
        "type": "join",
        "z": "75537afd17de5117",
        "g": "ef69ec82c772cad9",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1310,
        "y": 360,
        "wires": [
            [
                "c32738f7b2c8ece5"
            ]
        ]
    },
    {
        "id": "8683cd8b3d71eca3",
        "type": "template",
        "z": "75537afd17de5117",
        "g": "ef69ec82c772cad9",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Tussen {{payload.start.mytime}} en {{payload.end.mytime}} staat Picnic voor de deur",
        "output": "str",
        "x": 1160,
        "y": 360,
        "wires": [
            [
                "64fb1dffb9145f24"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]