src/data/flows/notification_main.json
[
    {
        "id": "343515a5528e14f0",
        "type": "tab",
        "label": "notification_main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a438a5fafa2b7f02",
        "type": "group",
        "z": "343515a5528e14f0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "42073f55aa389f5d",
            "f095a3312890d656",
            "ce9dcc40d72369f4",
            "8cc9f9d0eb2ee196"
        ],
        "x": 14,
        "y": 39,
        "w": 502,
        "h": 82
    },
    {
        "id": "8cc9f9d0eb2ee196",
        "type": "template",
        "z": "343515a5528e14f0",
        "g": "a438a5fafa2b7f02",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Node-RED",
        "output": "str",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "ce9dcc40d72369f4"
            ]
        ]
    },
    {
        "id": "ce9dcc40d72369f4",
        "type": "link out",
        "z": "343515a5528e14f0",
        "g": "a438a5fafa2b7f02",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "a97f87cfab413716"
        ],
        "x": 475,
        "y": 80,
        "wires": []
    },
    {
        "id": "f095a3312890d656",
        "type": "template",
        "z": "343515a5528e14f0",
        "g": "a438a5fafa2b7f02",
        "name": "messsage",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "message: {{{error.message}}} \\nSource: id: {{error.source.id}} \\ntype: {{error.source.type}} \\nname: {{error.source.name}} \\ncount: {{error.source.count}}",
        "output": "str",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "8cc9f9d0eb2ee196"
            ]
        ]
    },
    {
        "id": "42073f55aa389f5d",
        "type": "catch",
        "z": "343515a5528e14f0",
        "g": "a438a5fafa2b7f02",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "f095a3312890d656"
            ]
        ]
    },
    {
        "id": "b92773ff0b01fade",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify coen",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "notify.mobile_app_phone_coen",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\",\"data\":{\"vibrationPattern\":\"{{notify.vibrationPattern}}\",\"channel\":\"{{notify.channel}}\",\"tag\":\"{{notify.tag}}\",\"clickAction\":\"{{notify.clickAction}}\"}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "notify",
        "service": "mobile_app_phone_coen",
        "x": 310,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8ed3b0974336e55b",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_coen",
        "links": [
            "11137c6e85e51697",
            "8c93b438701888a6",
            "ac04035c1896218b",
            "73e546f49b2e02e1",
            "2c0a57bd6ee87009",
            "a2cfbe3c173fce64",
            "2e42c93c307e8cec",
            "68e61dcfb6db1de4",
            "5e72b91e3ad4066d",
            "37c73ac2e71d9a61",
            "2d9c5a51a0d3d65a",
            "b9f5925e88c3b14b",
            "17c484a9c9a917ac",
            "ef18c5c2564a7e77",
            "c6bc1abd0ea4d3e7",
            "0b0c89810da47741",
            "dfe89d053727bf74",
            "59c627d5f35a1bc2",
            "d43e56b2e0de8b6e",
            "b41a40c1e135e55c",
            "ac254d4235d71700",
            "4c20628e1deef4b2",
            "e188c5d43cc22d55",
            "f118397ef51d377e"
        ],
        "x": 195,
        "y": 340,
        "wires": [
            [
                "b92773ff0b01fade"
            ]
        ]
    },
    {
        "id": "aeee8468f3d1b7ad",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_anne",
        "links": [
            "68e61dcfb6db1de4",
            "ef18c5c2564a7e77",
            "c6bc1abd0ea4d3e7",
            "d43e56b2e0de8b6e",
            "ac254d4235d71700",
            "4c20628e1deef4b2",
            "e188c5d43cc22d55"
        ],
        "x": 195,
        "y": 400,
        "wires": [
            [
                "05c72cc515d6ee8d"
            ]
        ]
    },
    {
        "id": "76e9e8e982a2fef6",
        "type": "comment",
        "z": "343515a5528e14f0",
        "name": "notifications",
        "info": "",
        "x": 90,
        "y": 20,
        "wires": []
    },
    {
        "id": "05c72cc515d6ee8d",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify anne",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "notify.mobile_app_phone_anne",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\",\"data\":{\"vibrationPattern\":\"{{notify.vibrationPattern}}\",\"channel\":\"{{notify.channel}}\",\"tag\":\"{{notify.tag}}\",\"clickAction\":\"{{notify.clickAction}}\"}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "notify",
        "service": "mobile_app_phone_anne",
        "x": 310,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0d4dd5184c1b0c50",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify in app",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "persistent_notification.create",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\",\"notification_id\":\"{{notify.notification_id}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "persistent_notification",
        "service": "create",
        "x": 310,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a97f87cfab413716",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_in_app",
        "links": [
            "11137c6e85e51697",
            "8c93b438701888a6",
            "ac04035c1896218b",
            "73e546f49b2e02e1",
            "2c0a57bd6ee87009",
            "2e42c93c307e8cec",
            "68e61dcfb6db1de4",
            "17c484a9c9a917ac",
            "0b0c89810da47741",
            "3bdaf73ce37b7397",
            "467b119592a914a3",
            "e188c5d43cc22d55",
            "3bb7516008d0f0ca",
            "b678056d1b96f637",
            "6c4b4ca33c32a0f7",
            "6f92ae57f8e67eb2",
            "008e4e3d5eb1c73a",
            "6031ed8d02da2add",
            "ce9dcc40d72369f4",
            "31afe4007c8c4380",
            "aa6339118c6cf238",
            "5173344f2bf9202f",
            "a88aa9f85b115b03"
        ],
        "x": 195,
        "y": 460,
        "wires": [
            [
                "0d4dd5184c1b0c50"
            ]
        ]
    },
    {
        "id": "cfaf92063b478bdc",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "text to speech",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "tts.google_say",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.home_speaker"
        ],
        "labelId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"language\":\"nl\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "tts",
        "service": "google_say",
        "x": 800,
        "y": 520,
        "wires": [
            [
                "5eb39518752706d4"
            ]
        ]
    },
    {
        "id": "cf256ece81c0faee",
        "type": "ha-wait-until",
        "z": "343515a5528e14f0",
        "name": "wait until media player is not playing",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 1,
        "entities": {
            "entity": [
                "media_player.home_speaker"
            ],
            "substring": [],
            "regex": []
        },
        "property": "state",
        "comparator": "is_not",
        "value": "playing",
        "valueType": "str",
        "timeout": "",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 550,
        "y": 520,
        "wires": [
            [
                "cfaf92063b478bdc"
            ]
        ]
    },
    {
        "id": "170690c80fc5131f",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_in_tts_google_home_speaker",
        "links": [],
        "x": 195,
        "y": 520,
        "wires": [
            [
                "577ae9a09334bd75"
            ]
        ]
    },
    {
        "id": "d94b50aeaba952d1",
        "type": "ha-wait-until",
        "z": "343515a5528e14f0",
        "name": "wait until media player is not playing",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "entities": {
            "entity": [
                "media_player.galaxy_tab_a8"
            ],
            "substring": [],
            "regex": []
        },
        "property": "state",
        "comparator": "is_not",
        "value": "playing",
        "valueType": "str",
        "timeout": "30",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 550,
        "y": 580,
        "wires": [
            [
                "f11dc3e3682ce836"
            ],
            []
        ]
    },
    {
        "id": "f11dc3e3682ce836",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "text to speech",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "tts.google_say",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.galaxy_tab_a8"
        ],
        "labelId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"language\":\"nl\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "tts",
        "service": "google_say",
        "x": 800,
        "y": 580,
        "wires": [
            [
                "566faf848ae88258"
            ]
        ]
    },
    {
        "id": "c4660dc11fb0e5b8",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_in_tts_wall_tablet",
        "links": [
            "0993d50e3c03d798",
            "1e0f934a3493b12f",
            "372e878f27b4b2b2",
            "57488cc36dcd2d00",
            "849b0848c1cfdceb",
            "ac254d4235d71700",
            "c5f04c8242157305",
            "f5a1c4dd087e0795",
            "fdba7cd037a9da5a",
            "d43e56b2e0de8b6e",
            "4c20628e1deef4b2",
            "7528bd2fef1d9090"
        ],
        "x": 195,
        "y": 580,
        "wires": [
            [
                "e1fdac1fe178e720"
            ]
        ]
    },
    {
        "id": "04792e2be9d492bd",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify tv",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "notify.lg_webos_smart_tv",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "notify",
        "service": "lg_webos_smart_tv",
        "x": 300,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c13b2b4d87067c17",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_tv",
        "links": [
            "68e61dcfb6db1de4",
            "e188c5d43cc22d55"
        ],
        "x": 195,
        "y": 280,
        "wires": [
            [
                "04792e2be9d492bd"
            ]
        ]
    },
    {
        "id": "3675d2d1160c6b61",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify two actions coen",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "notify.mobile_app_phone_coen",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\",\"data\":{\"actions\":[{\"action\":\"{{notify.action_1}}\",\"title\":\"{{notify.action_1_title}}\",\"icon\":\"{{notify.icon}}\"},{\"action\":\"{{notify.action_2}}\",\"title\":\"{{notify.action_2_title}}\",\"icon\":\"{{notify.icon}}\"}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "notify",
        "service": "mobile_app_phone_coen",
        "x": 340,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d1753081ba6b4004",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_two_actions_coen",
        "links": [
            "ba0bdc1db6e4e011",
            "0af5a06e405527e9"
        ],
        "x": 195,
        "y": 640,
        "wires": [
            [
                "3675d2d1160c6b61"
            ]
        ]
    },
    {
        "id": "7e56e31c0145c7b4",
        "type": "api-call-service",
        "z": "343515a5528e14f0",
        "name": "notify two actions anne",
        "server": "4ba92433.2478cc",
        "version": 6,
        "debugenabled": false,
        "action": "notify.mobile_app_phone_anne",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"{{notify.message}}\",\"title\":\"{{notify.title}}\",\"data\":{\"actions\":[{\"action\":\"{{notify.action_1}}\",\"title\":\"{{notify.action_1_title}}\",\"icon\":\"{{notify.icon}}\"},{\"action\":\"{{notify.action_2}}\",\"title\":\"{{notify.action_2_title}}\",\"icon\":\"{{notify.icon}}\"}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "notify",
        "service": "mobile_app_phone_anne",
        "x": 340,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c76d311bb4b6991b",
        "type": "link in",
        "z": "343515a5528e14f0",
        "name": "notify_two_actions_anne",
        "links": [
            "ba0bdc1db6e4e011",
            "0af5a06e405527e9"
        ],
        "x": 195,
        "y": 700,
        "wires": [
            [
                "7e56e31c0145c7b4"
            ]
        ]
    },
    {
        "id": "e1fdac1fe178e720",
        "type": "simple-queue",
        "z": "343515a5528e14f0",
        "name": "",
        "firstMessageBypass": true,
        "bypassInterval": "0",
        "x": 310,
        "y": 580,
        "wires": [
            [
                "d94b50aeaba952d1"
            ]
        ]
    },
    {
        "id": "566faf848ae88258",
        "type": "change",
        "z": "343515a5528e14f0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 580,
        "wires": [
            [
                "e1fdac1fe178e720"
            ]
        ]
    },
    {
        "id": "577ae9a09334bd75",
        "type": "simple-queue",
        "z": "343515a5528e14f0",
        "name": "",
        "firstMessageBypass": true,
        "bypassInterval": "0",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "cf256ece81c0faee"
            ]
        ]
    },
    {
        "id": "5eb39518752706d4",
        "type": "change",
        "z": "343515a5528e14f0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 520,
        "wires": [
            [
                "577ae9a09334bd75"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]