src/data/flows/notification_inverter.json
[
    {
        "id": "42b354a7f0284779",
        "type": "tab",
        "label": "notification_inverter",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08c71b7711856e9c",
        "type": "comment",
        "z": "42b354a7f0284779",
        "name": "Create notification about solar inverter",
        "info": "",
        "x": 170,
        "y": 20,
        "wires": []
    },
    {
        "id": "30c6a811cbe1ee11",
        "type": "server-state-changed",
        "z": "42b354a7f0284779",
        "name": "inverter status code",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.solaredge_modbus_status",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "num",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "x": 110,
        "y": 60,
        "wires": [
            [
                "ef4c50873027b4b3"
            ]
        ]
    },
    {
        "id": "2bcc033320eee7c1",
        "type": "template",
        "z": "42b354a7f0284779",
        "name": "secondary information",
        "field": "secondary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De omvormer gaf op {{{myymd}}} om {{{mytime}}} status {{payload}}, {{{data.new_state.attributes.status_description}}}",
        "output": "str",
        "x": 480,
        "y": 60,
        "wires": [
            [
                "117aca7da78c92fe"
            ]
        ]
    },
    {
        "id": "117aca7da78c92fe",
        "type": "template",
        "z": "42b354a7f0284779",
        "name": "primary information",
        "field": "primary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Er is een probleem met de omvormer",
        "output": "str",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "1443017dca2ff4a8"
            ]
        ]
    },
    {
        "id": "ef4c50873027b4b3",
        "type": "simpletime",
        "z": "42b354a7f0284779",
        "name": "",
        "mydate": false,
        "myymd": true,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "myhourpm": false,
        "myhour": false,
        "mytime": true,
        "mytimes": false,
        "myminute": false,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "2bcc033320eee7c1"
            ]
        ]
    },
    {
        "id": "3c79af48f7d7ed9a",
        "type": "switch",
        "z": "42b354a7f0284779",
        "name": "status",
        "property": "data.new_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 60,
        "wires": [
            [
                "ffc8288b4ad5eee4"
            ],
            [
                "ffc8288b4ad5eee4"
            ]
        ]
    },
    {
        "id": "178e42db86a628e8",
        "type": "link out",
        "z": "42b354a7f0284779",
        "name": "notification",
        "mode": "link",
        "links": [
            "60e14e33a793f50d"
        ],
        "x": 1285,
        "y": 60,
        "wires": []
    },
    {
        "id": "ffc8288b4ad5eee4",
        "type": "template",
        "z": "42b354a7f0284779",
        "name": "notification_level",
        "field": "notification_level",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "error",
        "output": "str",
        "x": 1150,
        "y": 60,
        "wires": [
            [
                "178e42db86a628e8"
            ]
        ]
    },
    {
        "id": "1443017dca2ff4a8",
        "type": "template",
        "z": "42b354a7f0284779",
        "name": "topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "garbage",
        "output": "str",
        "x": 850,
        "y": 60,
        "wires": [
            [
                "3c79af48f7d7ed9a"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]