src/data/flows/notification_vacuum_s55_low_battery.json
[
    {
        "id": "ce5dca27239daba8",
        "type": "tab",
        "label": "notification_vacuum_s55_low_battery",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4f3f9f25b585f85",
        "type": "group",
        "z": "ce5dca27239daba8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2e9dbc5a5fc615fc",
            "b437f9f1e8b5ebf7",
            "f9b220def47837e4",
            "2a1761aff5d63d7a"
        ],
        "x": 14,
        "y": 39,
        "w": 502,
        "h": 82
    },
    {
        "id": "ea460771e1472df3",
        "type": "trigger-state",
        "z": "ce5dca27239daba8",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 5,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "vacuum.robot_vacuum"
            ],
            "substring": [],
            "regex": []
        },
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "propertyValue": "new_state.attributes.battery_level",
                "comparatorType": "<",
                "comparatorValueDatatype": "num",
                "comparatorValue": "10"
            }
        ],
        "customOutputs": [],
        "outputInitially": true,
        "stateType": "str",
        "enableInput": false,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "58e0becbd6d919d0",
                "c07bdaa6ded33de2"
            ],
            []
        ]
    },
    {
        "id": "8963892cb65d8713",
        "type": "change",
        "z": "ce5dca27239daba8",
        "name": "set flow active to true",
        "rules": [
            {
                "t": "set",
                "p": "active",
                "pt": "flow",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 160,
        "wires": [
            [
                "d2a6c270b5a78137"
            ]
        ]
    },
    {
        "id": "04cada4367386b36",
        "type": "switch",
        "z": "ce5dca27239daba8",
        "name": "flow not active",
        "property": "active",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "8963892cb65d8713"
            ]
        ]
    },
    {
        "id": "57ab0afd4c173998",
        "type": "change",
        "z": "ce5dca27239daba8",
        "name": "set flow active to false",
        "rules": [
            {
                "t": "set",
                "p": "active",
                "pt": "flow",
                "to": "false",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "40a58eddf78206e8"
            ]
        ]
    },
    {
        "id": "58e0becbd6d919d0",
        "type": "switch",
        "z": "ce5dca27239daba8",
        "name": "if charging",
        "property": "data.event.old_state.attributes.battery_level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "data.event.new_state.attributes.battery_level",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "57ab0afd4c173998"
            ]
        ]
    },
    {
        "id": "f9b8dec4504da56d",
        "type": "comment",
        "z": "ce5dca27239daba8",
        "name": "Send notification when battery is below 10%",
        "info": "",
        "x": 190,
        "y": 20,
        "wires": []
    },
    {
        "id": "a9aa3ff08dd7532c",
        "type": "link out",
        "z": "ce5dca27239daba8",
        "name": "notification",
        "mode": "link",
        "links": [
            "60e14e33a793f50d"
        ],
        "x": 1955,
        "y": 160,
        "wires": []
    },
    {
        "id": "03d5ea897e7d84ee",
        "type": "change",
        "z": "ce5dca27239daba8",
        "name": "set icon",
        "rules": [
            {
                "t": "set",
                "p": "icon",
                "pt": "msg",
                "to": "mdi:battery-alert-variant-outline",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1860,
        "y": 160,
        "wires": [
            [
                "a9aa3ff08dd7532c"
            ]
        ]
    },
    {
        "id": "2792f3a94c8f1651",
        "type": "template",
        "z": "ce5dca27239daba8",
        "name": "notification_level",
        "field": "notification_level",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "warning",
        "output": "str",
        "x": 1690,
        "y": 160,
        "wires": [
            [
                "03d5ea897e7d84ee"
            ]
        ]
    },
    {
        "id": "9174dfc0fa90a687",
        "type": "template",
        "z": "ce5dca27239daba8",
        "name": "topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "battery",
        "output": "str",
        "x": 1530,
        "y": 160,
        "wires": [
            [
                "2792f3a94c8f1651"
            ]
        ]
    },
    {
        "id": "8e69bb39390a2edf",
        "type": "template",
        "z": "ce5dca27239daba8",
        "name": "primary information",
        "field": "primary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Batterij",
        "output": "str",
        "x": 1370,
        "y": 160,
        "wires": [
            [
                "9174dfc0fa90a687"
            ]
        ]
    },
    {
        "id": "d2a6c270b5a78137",
        "type": "template",
        "z": "ce5dca27239daba8",
        "name": "secondary information",
        "field": "secondary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Let op, Stofzuiger {{data.event.new_state.attributes.friendly_name}} heeft een batterij niveau van {{data.event.new_state.attributes.battery_level}}% controleer de docking station.",
        "output": "str",
        "x": 1160,
        "y": 160,
        "wires": [
            [
                "8e69bb39390a2edf"
            ]
        ]
    },
    {
        "id": "c07bdaa6ded33de2",
        "type": "change",
        "z": "ce5dca27239daba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "low_battery",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "6c50fe3336fa87c8"
            ]
        ]
    },
    {
        "id": "6c50fe3336fa87c8",
        "type": "rbe",
        "z": "ce5dca27239daba8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "04cada4367386b36"
            ]
        ]
    },
    {
        "id": "40a58eddf78206e8",
        "type": "change",
        "z": "ce5dca27239daba8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "charging",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 220,
        "wires": [
            [
                "c07bdaa6ded33de2"
            ]
        ]
    },
    {
        "id": "2e9dbc5a5fc615fc",
        "type": "catch",
        "z": "ce5dca27239daba8",
        "g": "b4f3f9f25b585f85",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "b437f9f1e8b5ebf7"
            ]
        ]
    },
    {
        "id": "b437f9f1e8b5ebf7",
        "type": "template",
        "z": "ce5dca27239daba8",
        "g": "b4f3f9f25b585f85",
        "name": "messsage",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "message: {{{error.message}}} \\nSource: id: {{error.source.id}} \\ntype: {{error.source.type}} \\nname: {{error.source.name}} \\ncount: {{error.source.count}}",
        "output": "str",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "2a1761aff5d63d7a"
            ]
        ]
    },
    {
        "id": "f9b220def47837e4",
        "type": "link out",
        "z": "ce5dca27239daba8",
        "g": "b4f3f9f25b585f85",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "a97f87cfab413716"
        ],
        "x": 475,
        "y": 80,
        "wires": []
    },
    {
        "id": "2a1761aff5d63d7a",
        "type": "template",
        "z": "ce5dca27239daba8",
        "g": "b4f3f9f25b585f85",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Node-RED",
        "output": "str",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "f9b220def47837e4"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]