src/data/flows/notification_pfsense.json
[
  {
    "id": "6135b991.c53398",
    "type": "tab",
    "label": "notification_pfsense",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8e6b13dc.d113a",
    "type": "comment",
    "z": "6135b991.c53398",
    "name": "notify when a message appears in pfsense",
    "info": "notify when a message appears in pfsense",
    "x": 180,
    "y": 40,
    "wires": []
  },
  {
    "id": "4284f3ab.aadf5c",
    "type": "server-state-changed",
    "z": "6135b991.c53398",
    "name": "updates available",
    "server": "4ba92433.2478cc",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.pfsense_lan_firmware_updates_available",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 100,
    "y": 100,
    "wires": [
      [
        "13d845d9.64571a"
      ],
      []
    ]
  },
  {
    "id": "7eedf77d.92d228",
    "type": "server-state-changed",
    "z": "6135b991.c53398",
    "name": "pending notices present",
    "server": "4ba92433.2478cc",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.pfsense_lan_pending_notices_present",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": false,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 120,
    "y": 160,
    "wires": [
      [
        "f30c6f29.a7983"
      ],
      []
    ]
  },
  {
    "id": "f30c6f29.a7983",
    "type": "template",
    "z": "6135b991.c53398",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Er is probleem gemeld in [pfSense](https://pfsense.lan:444)",
    "output": "str",
    "x": 300,
    "y": 160,
    "wires": [
      [
        "1e3cf70c.21e239",
        "e39bfe51.c1032"
      ]
    ]
  },
  {
    "id": "1e3cf70c.21e239",
    "type": "link out",
    "z": "6135b991.c53398",
    "name": "",
    "links": [
      "ebf4860d.603538"
    ],
    "x": 415,
    "y": 160,
    "wires": []
  },
  {
    "id": "e39bfe51.c1032",
    "type": "api-call-service",
    "z": "6135b991.c53398",
    "name": "notify phone coen",
    "server": "4ba92433.2478cc",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "mobile_app_phone_coen",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"{{message}}\",\"title\":\"pfSense\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 490,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "13d845d9.64571a",
    "type": "template",
    "z": "6135b991.c53398",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Er is een update beschikbaar voor [pfSense](https://pfsense.lan:444)",
    "output": "str",
    "x": 300,
    "y": 100,
    "wires": [
      [
        "e39bfe51.c1032",
        "1e3cf70c.21e239"
      ]
    ]
  }
]