src/data/flows/notification_outdoor_temperature.json
[
  {
    "id": "d5421f8d.f7208",
    "type": "tab",
    "label": "notification_outdoor_temperature",
    "disabled": false,
    "info": ""
  },
  {
    "id": "317fcdab.4c33d2",
    "type": "ha-get-entities",
    "z": "d5421f8d.f7208",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "starts_with",
        "value": "climate.",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 370,
    "y": 100,
    "wires": [
      [
        "c2cbbc4e.296d3"
      ]
    ]
  },
  {
    "id": "c2cbbc4e.296d3",
    "type": "split",
    "z": "d5421f8d.f7208",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 510,
    "y": 100,
    "wires": [
      [
        "415db966.920518"
      ]
    ]
  },
  {
    "id": "415db966.920518",
    "type": "switch",
    "z": "d5421f8d.f7208",
    "name": "",
    "property": "payload.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "basement",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 630,
    "y": 100,
    "wires": [
      [],
      [
        "8d34e21d.b818f"
      ]
    ]
  },
  {
    "id": "8d34e21d.b818f",
    "type": "change",
    "z": "d5421f8d.f7208",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.attributes.current_temperature",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 100,
    "wires": [
      [
        "71d62d7c.0c49f4"
      ]
    ]
  },
  {
    "id": "71d62d7c.0c49f4",
    "type": "join",
    "z": "d5421f8d.f7208",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "4",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 930,
    "y": 100,
    "wires": [
      [
        "f553666a.3acb38"
      ]
    ]
  },
  {
    "id": "b108409c.24dae",
    "type": "api-current-state",
    "z": "d5421f8d.f7208",
    "name": "outdoor temperature",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 2,
    "halt_if": "payload",
    "halt_if_type": "msg",
    "halt_if_compare": "lt",
    "entity_id": "sensor.buienradar_temperature",
    "state_type": "num",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "buiten_temp",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1360,
    "y": 100,
    "wires": [
      [
        "a179f96f.510228"
      ],
      []
    ]
  },
  {
    "id": "a7088cd0.05fa4",
    "type": "inject",
    "z": "d5421f8d.f7208",
    "name": "",
    "props": [],
    "repeat": "7200",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 70,
    "y": 100,
    "wires": [
      [
        "87defeb3.2f624"
      ]
    ]
  },
  {
    "id": "a179f96f.510228",
    "type": "template",
    "z": "d5421f8d.f7208",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Open ramen en deuren om het in huis af te laten koelen, binnen is de gemiddelde temperatuur {{payload}} Buiten is de temperatuur {{buiten_temp}}.",
    "output": "str",
    "x": 1540,
    "y": 100,
    "wires": [
      [
        "40bcda8e.5a9b94",
        "823092bd.a7ed7"
      ]
    ]
  },
  {
    "id": "40bcda8e.5a9b94",
    "type": "api-call-service",
    "z": "d5421f8d.f7208",
    "name": "app notification",
    "server": "4ba92433.2478cc",
    "version": 5,
    "debugenabled": false,
    "domain": "persistent_notification",
    "service": "create",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"{{message}}\",\"title\":\"Ventilatie\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1700,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "eb9d5e14.c47ca",
    "type": "switch",
    "z": "d5421f8d.f7208",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "23",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1190,
    "y": 100,
    "wires": [
      [
        "b108409c.24dae"
      ]
    ]
  },
  {
    "id": "2bd65702.c33608",
    "type": "comment",
    "z": "d5421f8d.f7208",
    "name": "outdoor temperature is lower then indoor temperature",
    "info": "",
    "x": 220,
    "y": 40,
    "wires": []
  },
  {
    "id": "f553666a.3acb38",
    "type": "calculator",
    "z": "d5421f8d.f7208",
    "name": "",
    "inputMsgField": "payload",
    "outputMsgField": "payload",
    "operation": "avg",
    "constant": "",
    "round": true,
    "decimals": "1",
    "x": 1060,
    "y": 100,
    "wires": [
      [
        "eb9d5e14.c47ca"
      ]
    ]
  },
  {
    "id": "87defeb3.2f624",
    "type": "time-range-switch",
    "z": "d5421f8d.f7208",
    "name": "",
    "lat": "52.0245",
    "lon": "5.66701",
    "startTime": "06:00",
    "endTime": "00:00",
    "startOffset": 0,
    "endOffset": "0",
    "x": 210,
    "y": 100,
    "wires": [
      [
        "317fcdab.4c33d2"
      ],
      []
    ]
  },
  {
    "id": "823092bd.a7ed7",
    "type": "link out",
    "z": "d5421f8d.f7208",
    "name": "",
    "links": [
      "ebf4860d.603538"
    ],
    "x": 1635,
    "y": 140,
    "wires": []
  }
]