src/data/flows/notification_inverter.json
[
    {
        "id": "42b354a7f0284779",
        "type": "tab",
        "label": "notification_inverter",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08c71b7711856e9c",
        "type": "comment",
        "z": "42b354a7f0284779",
        "name": "Solar inverter",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "30c6a811cbe1ee11",
        "type": "server-state-changed",
        "z": "42b354a7f0284779",
        "name": "inverter status code",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.solaredge_modbus_status",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "num",
        "haltifstate": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "x": 130,
        "y": 100,
        "wires": [
            [
                "ef4c50873027b4b3"
            ]
        ]
    },
    {
        "id": "2bcc033320eee7c1",
        "type": "template",
        "z": "42b354a7f0284779",
        "name": "secondary information",
        "field": "secondary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De omvormer gaf op {{{myymd}}} om {{{mytime}}} status {{payload}}, {{{data.new_state.attributes.status_description}}}",
        "output": "str",
        "x": 500,
        "y": 100,
        "wires": [
            [
                "117aca7da78c92fe"
            ]
        ]
    },
    {
        "id": "117aca7da78c92fe",
        "type": "template",
        "z": "42b354a7f0284779",
        "name": "primary information",
        "field": "primary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Er is een probleem met de omvormer",
        "output": "str",
        "x": 710,
        "y": 100,
        "wires": [
            [
                "3c79af48f7d7ed9a"
            ]
        ]
    },
    {
        "id": "b8bd5a9c0d68065a",
        "type": "change",
        "z": "42b354a7f0284779",
        "name": "turn on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 100,
        "wires": [
            [
                "4f220fe7030b1cc4"
            ]
        ]
    },
    {
        "id": "ef4c50873027b4b3",
        "type": "simpletime",
        "z": "42b354a7f0284779",
        "name": "",
        "mydate": false,
        "myymd": true,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "myhourpm": false,
        "myhour": false,
        "mytime": true,
        "mytimes": false,
        "myminute": false,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "2bcc033320eee7c1"
            ]
        ]
    },
    {
        "id": "3c79af48f7d7ed9a",
        "type": "switch",
        "z": "42b354a7f0284779",
        "name": "status",
        "property": "data.new_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 120,
        "wires": [
            [
                "a35b8234748dfac6"
            ],
            [
                "0ad21fed4f1d0208"
            ]
        ]
    },
    {
        "id": "a35b8234748dfac6",
        "type": "template",
        "z": "42b354a7f0284779",
        "name": "icon_color",
        "field": "icon_color",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "red",
        "output": "str",
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "b8bd5a9c0d68065a"
            ]
        ]
    },
    {
        "id": "0ad21fed4f1d0208",
        "type": "template",
        "z": "42b354a7f0284779",
        "name": "icon_color",
        "field": "icon_color",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "orange",
        "output": "str",
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "b8bd5a9c0d68065a"
            ]
        ]
    },
    {
        "id": "dade8335614f217f",
        "type": "server-state-changed",
        "z": "42b354a7f0284779",
        "name": "wall display notifications state changes",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.wall_display_notifications_*",
        "entityidfiltertype": "regex",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 460,
        "wires": [
            [
                "d1c4302e38ab4d1f"
            ]
        ]
    },
    {
        "id": "cfd8d9b829740160",
        "type": "debug",
        "z": "42b354a7f0284779",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 460,
        "wires": []
    },
    {
        "id": "d1c4302e38ab4d1f",
        "type": "join",
        "z": "42b354a7f0284779",
        "name": "create array with state",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 460,
        "y": 460,
        "wires": [
            [
                "f65b2938bfcce1da"
            ]
        ]
    },
    {
        "id": "f65b2938bfcce1da",
        "type": "switch",
        "z": "42b354a7f0284779",
        "name": "is any notification sensor on",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 460,
        "wires": [
            [
                "cfd8d9b829740160"
            ],
            []
        ]
    },
    {
        "id": "4f220fe7030b1cc4",
        "type": "simple-queue",
        "z": "42b354a7f0284779",
        "name": "",
        "firstMessageBypass": true,
        "bypassInterval": "0",
        "x": 1410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b60cfb20c1cfaccb",
        "type": "ha-wait-until",
        "z": "42b354a7f0284779",
        "name": "wait until wall_display_notifications_inverter is off",
        "server": "4ba92433.2478cc",
        "version": 2,
        "outputs": 1,
        "entityId": "binary_sensor.wall_display_notifications_inverter",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "off",
        "valueType": "str",
        "timeout": "0",
        "timeoutType": "num",
        "timeoutUnits": "milliseconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 900,
        "y": 180,
        "wires": [
            [
                "038b9e592fdbf935"
            ]
        ]
    },
    {
        "id": "038b9e592fdbf935",
        "type": "change",
        "z": "42b354a7f0284779",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "msg",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "4f220fe7030b1cc4"
            ]
        ]
    },
    {
        "id": "0a6e014f07c7ea2b",
        "type": "comment",
        "z": "42b354a7f0284779",
        "name": "Error notifications",
        "info": "",
        "x": 100,
        "y": 20,
        "wires": []
    },
    {
        "id": "7532cf3b862598fc",
        "type": "comment",
        "z": "42b354a7f0284779",
        "name": "Notifications on the wall tablet display",
        "info": "",
        "x": 170,
        "y": 20,
        "wires": []
    },
    {
        "id": "f9e74387eb71a421",
        "type": "comment",
        "z": "42b354a7f0284779",
        "name": "Info notifications",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]