src/data/flows/notification_garbage_collection.json
[
    {
        "id": "72f3a564e626ff9a",
        "type": "tab",
        "label": "notification_garbage_collection",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b89d483d3628b14",
        "type": "group",
        "z": "72f3a564e626ff9a",
        "name": "notify two actions",
        "style": {
            "label": true
        },
        "nodes": [
            "3a3b8fdb9d6f4ab0",
            "dcc306682fd0ffa8",
            "0af5a06e405527e9",
            "d0d3f913b8c035f3",
            "b1b1be8e46f91cca",
            "dd3030c9ae0f7a07",
            "46d50645e39da463",
            "ebcb50cdabc72f91"
        ],
        "x": 1154,
        "y": 119,
        "w": 442,
        "h": 242
    },
    {
        "id": "b1b1be8e46f91cca",
        "type": "junction",
        "z": "72f3a564e626ff9a",
        "g": "3b89d483d3628b14",
        "x": 1180,
        "y": 200,
        "wires": [
            [
                "dcc306682fd0ffa8",
                "3a3b8fdb9d6f4ab0",
                "dd3030c9ae0f7a07",
                "46d50645e39da463",
                "ebcb50cdabc72f91"
            ]
        ]
    },
    {
        "id": "223d859dcac9107a",
        "type": "junction",
        "z": "72f3a564e626ff9a",
        "x": 780,
        "y": 320,
        "wires": [
            [
                "6a481279c5298533"
            ]
        ]
    },
    {
        "id": "4b77d397e442cac9",
        "type": "junction",
        "z": "72f3a564e626ff9a",
        "x": 940,
        "y": 140,
        "wires": [
            [
                "b1b1be8e46f91cca"
            ]
        ]
    },
    {
        "id": "fc015c3acdd57ee4",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "name": "secondary information",
        "field": "secondary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Morgen {{{data.attributes.date}}} wordt de {{garbage_type}} container opgehaald",
        "output": "str",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "da7f4a15f876a544"
            ]
        ]
    },
    {
        "id": "6d32a564bcd340a4",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "name": "secondary information",
        "field": "secondary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Vandaag wordt de {{garbage_type}} container opgehaald",
        "output": "str",
        "x": 580,
        "y": 100,
        "wires": [
            [
                "da7f4a15f876a544"
            ]
        ]
    },
    {
        "id": "040d71ac086fd35b",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "name": "topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "garbage",
        "output": "str",
        "x": 990,
        "y": 60,
        "wires": [
            [
                "b756e7bb43d6f27c"
            ]
        ]
    },
    {
        "id": "da7f4a15f876a544",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "name": "primary information",
        "field": "primary_information",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Let op, de container moet aan de weg",
        "output": "str",
        "x": 810,
        "y": 60,
        "wires": [
            [
                "040d71ac086fd35b",
                "4b77d397e442cac9"
            ]
        ]
    },
    {
        "id": "183a5991d27d2b04",
        "type": "comment",
        "z": "72f3a564e626ff9a",
        "name": "Create a notification for garbage collection",
        "info": "",
        "x": 180,
        "y": 20,
        "wires": []
    },
    {
        "id": "25fa43d35440a3f7",
        "type": "api-current-state",
        "z": "72f3a564e626ff9a",
        "name": "garbage tomorrow",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "Geen",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.afval_morgen",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "garbage_type",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "fc015c3acdd57ee4"
            ],
            []
        ]
    },
    {
        "id": "4f602b0ecd3e333e",
        "type": "inject",
        "z": "72f3a564e626ff9a",
        "name": "10:00",
        "props": [],
        "repeat": "",
        "crontab": "00 10 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "25fa43d35440a3f7"
            ]
        ]
    },
    {
        "id": "9fd7a6afaf90435a",
        "type": "link out",
        "z": "72f3a564e626ff9a",
        "name": "notification",
        "mode": "link",
        "links": [
            "4db25e8d0289c57b",
            "60e14e33a793f50d"
        ],
        "x": 1555,
        "y": 60,
        "wires": []
    },
    {
        "id": "b756e7bb43d6f27c",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "name": "notification_level",
        "field": "notification_level",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "info",
        "output": "str",
        "x": 1150,
        "y": 60,
        "wires": [
            [
                "9fd7a6afaf90435a"
            ]
        ]
    },
    {
        "id": "9a7655d23db78d0f",
        "type": "inject",
        "z": "72f3a564e626ff9a",
        "name": "09:00",
        "props": [],
        "repeat": "",
        "crontab": "00 09 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "127897e2532f9639"
            ]
        ]
    },
    {
        "id": "f47656cd06bea150",
        "type": "comment",
        "z": "72f3a564e626ff9a",
        "name": "Turn info notification sensor off if it still shows garbage collection after 09:00 when the collection is today",
        "info": "",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "127897e2532f9639",
        "type": "api-current-state",
        "z": "72f3a564e626ff9a",
        "name": "current state info sensor",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.notification_level_info",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "3af43016251f4d2a"
            ],
            []
        ]
    },
    {
        "id": "aa55d6e2d41927bf",
        "type": "switch",
        "z": "72f3a564e626ff9a",
        "name": "contains Vandaag",
        "property": "data.attributes.secondary_information",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Vandaag",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "6a481279c5298533"
            ]
        ]
    },
    {
        "id": "3af43016251f4d2a",
        "type": "switch",
        "z": "72f3a564e626ff9a",
        "name": "topic is garbage",
        "property": "data.attributes.topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "garbage",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "aa55d6e2d41927bf"
            ]
        ]
    },
    {
        "id": "6a481279c5298533",
        "type": "api-call-service",
        "z": "72f3a564e626ff9a",
        "name": "button press notification info turn off",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "button",
        "service": "press",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.notification_level_info_turn_off"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 960,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "63dd27acb5293428",
        "type": "inject",
        "z": "72f3a564e626ff9a",
        "name": "03:00",
        "props": [],
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "faf897ee811f8cf2"
            ]
        ]
    },
    {
        "id": "faf897ee811f8cf2",
        "type": "api-current-state",
        "z": "72f3a564e626ff9a",
        "name": "garbage today",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "Geen",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "sensor.afval_vandaag",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "garbage_type",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "6d32a564bcd340a4"
            ],
            []
        ]
    },
    {
        "id": "3a3b8fdb9d6f4ab0",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "g": "3b89d483d3628b14",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1270,
        "y": 240,
        "wires": [
            [
                "d0d3f913b8c035f3"
            ]
        ]
    },
    {
        "id": "dcc306682fd0ffa8",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "g": "3b89d483d3628b14",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Afval",
        "output": "str",
        "x": 1270,
        "y": 160,
        "wires": [
            [
                "d0d3f913b8c035f3"
            ]
        ]
    },
    {
        "id": "0af5a06e405527e9",
        "type": "link out",
        "z": "72f3a564e626ff9a",
        "g": "3b89d483d3628b14",
        "name": "link_out_notify_guest_mode",
        "mode": "link",
        "links": [
            "c76d311bb4b6991b",
            "d1753081ba6b4004"
        ],
        "x": 1555,
        "y": 200,
        "wires": []
    },
    {
        "id": "d0d3f913b8c035f3",
        "type": "join",
        "z": "72f3a564e626ff9a",
        "g": "3b89d483d3628b14",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1470,
        "y": 200,
        "wires": [
            [
                "0af5a06e405527e9"
            ]
        ]
    },
    {
        "id": "dd3030c9ae0f7a07",
        "type": "change",
        "z": "72f3a564e626ff9a",
        "g": "3b89d483d3628b14",
        "name": "action titles",
        "rules": [
            {
                "t": "set",
                "p": "notify.action_1_title",
                "pt": "msg",
                "to": "JA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify.action_2_title",
                "pt": "msg",
                "to": "NEE",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify.action_1",
                "pt": "msg",
                "to": "GARBAGE_ON",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify.action_2",
                "pt": "msg",
                "to": "IGNORE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 200,
        "wires": [
            [
                "d0d3f913b8c035f3"
            ]
        ]
    },
    {
        "id": "3bbeb5287f1c9e72",
        "type": "comment",
        "z": "72f3a564e626ff9a",
        "name": "listen to garbage yes action notification answer event ",
        "info": "",
        "x": 230,
        "y": 280,
        "wires": []
    },
    {
        "id": "5fc3b5118b42d3ec",
        "type": "server-events",
        "z": "72f3a564e626ff9a",
        "name": "mobile event listner",
        "server": "4ba92433.2478cc",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "mobile_app_notification_action",
        "eventData": "{\"action\":\"GARBAGE_ON\"}",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "event_type": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "223d859dcac9107a"
            ]
        ]
    },
    {
        "id": "46d50645e39da463",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "g": "3b89d483d3628b14",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{secondary_information}}.\\nStaat de container al aan de weg?",
        "output": "str",
        "x": 1280,
        "y": 280,
        "wires": [
            [
                "d0d3f913b8c035f3"
            ]
        ]
    },
    {
        "id": "ebcb50cdabc72f91",
        "type": "template",
        "z": "72f3a564e626ff9a",
        "g": "3b89d483d3628b14",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "garbage",
        "output": "str",
        "x": 1290,
        "y": 320,
        "wires": [
            [
                "d0d3f913b8c035f3"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]