src/data/flows/notification_update_home_assistant.json
[
  {
    "id": "60541649.7e2a38",
    "type": "tab",
    "label": "notification_update_home_assistant",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3bde0d42.2da3c2",
    "type": "server-state-changed",
    "z": "60541649.7e2a38",
    "name": "state updater on",
    "server": "4ba92433.2478cc",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.updater",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 100,
    "y": 100,
    "wires": [
      [
        "b95490ba.69e6e"
      ],
      [
        "66e977c9.606d38"
      ]
    ]
  },
  {
    "id": "b95490ba.69e6e",
    "type": "template",
    "z": "60541649.7e2a38",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Versie {{data.new_state.attributes.newest_version}} van Home Assistant is beschikbaar \\n\\n[Release Notes]({{{data.new_state.attributes.release_notes}}})",
    "output": "str",
    "x": 280,
    "y": 100,
    "wires": [
      [
        "dc54cc2f.496df",
        "318a335e.4fd36c"
      ]
    ]
  },
  {
    "id": "66e977c9.606d38",
    "type": "api-call-service",
    "z": "60541649.7e2a38",
    "name": "app notification dismiss",
    "server": "4ba92433.2478cc",
    "version": 5,
    "debugenabled": false,
    "domain": "persistent_notification",
    "service": "dismiss",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"notification_id\":\"updateHA\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 330,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "3a76fdcc.5c73f2",
    "type": "api-call-service",
    "z": "60541649.7e2a38",
    "name": "app notification",
    "server": "4ba92433.2478cc",
    "version": 5,
    "debugenabled": false,
    "domain": "persistent_notification",
    "service": "create",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"message\":\"{{message}}\",\"title\":\"{{topic}}\",\"notification_id\":\"{{notification_id}}\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 800,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "f1b0b55a.6c7178",
    "type": "comment",
    "z": "60541649.7e2a38",
    "name": "home assistant notification when there is a update available",
    "info": "",
    "x": 230,
    "y": 40,
    "wires": []
  },
  {
    "id": "dc54cc2f.496df",
    "type": "change",
    "z": "60541649.7e2a38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Update",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "notification_id",
        "pt": "msg",
        "to": "updateHA",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 100,
    "wires": [
      [
        "3a76fdcc.5c73f2"
      ]
    ]
  },
  {
    "id": "318a335e.4fd36c",
    "type": "link out",
    "z": "60541649.7e2a38",
    "name": "",
    "links": [
      "ebf4860d.603538"
    ],
    "x": 555,
    "y": 140,
    "wires": []
  }
]