src/data/flows/receiver_device_sensor.json
[
    {
        "id": "1a6ef62886bebc0d",
        "type": "tab",
        "label": "receiver_device_sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "493778724cd8bfb0",
        "type": "server-state-changed",
        "z": "1a6ef62886bebc0d",
        "name": "receiver power",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.shellyplug_reciever_power",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 60,
        "wires": [
            [
                "721f486a52bf9c36"
            ]
        ]
    },
    {
        "id": "721f486a52bf9c36",
        "type": "switch",
        "z": "1a6ef62886bebc0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "c10afca66085add3"
            ],
            [
                "0d018fdce10bd378"
            ]
        ]
    },
    {
        "id": "c10afca66085add3",
        "type": "change",
        "z": "1a6ef62886bebc0d",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "2dc718ac1a979697"
            ]
        ]
    },
    {
        "id": "0d018fdce10bd378",
        "type": "change",
        "z": "1a6ef62886bebc0d",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "2dc718ac1a979697"
            ]
        ]
    },
    {
        "id": "2dc718ac1a979697",
        "type": "ha-binary-sensor",
        "z": "1a6ef62886bebc0d",
        "name": "receiver_device",
        "entityConfig": "4d3abdb050917898",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 520,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d38f657bb66a5f37",
        "type": "comment",
        "z": "1a6ef62886bebc0d",
        "name": "turn on or off binary sensor device based on power usage",
        "info": "",
        "x": 230,
        "y": 20,
        "wires": []
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "4d3abdb050917898",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "receiver_device",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "receiver_device"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    }
]