src/data/flows/reciever_switch.json
[
    {
        "id": "1a6ef62886bebc0d",
        "type": "tab",
        "label": "receiver_switch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e32ad7df336029d3",
        "type": "ha-button",
        "z": "1a6ef62886bebc0d",
        "name": "",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "65aaa7d0996bc4bd",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 70,
        "y": 120,
        "wires": [
            [
                "79a27ca1787241f8"
            ]
        ]
    },
    {
        "id": "79a27ca1787241f8",
        "type": "api-current-state",
        "z": "1a6ef62886bebc0d",
        "name": "reciever power",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.shellyplug_reciever_power",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "0a71aa5b68f863b8"
            ]
        ]
    },
    {
        "id": "0a71aa5b68f863b8",
        "type": "switch",
        "z": "1a6ef62886bebc0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "f36bbb44f3cf015f"
            ],
            [
                "234f89762fc306d4"
            ]
        ]
    },
    {
        "id": "234f89762fc306d4",
        "type": "api-call-service",
        "z": "1a6ef62886bebc0d",
        "name": "turn on receiver",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [
            "34a73fe47cda5c964dcb946e48f8a307"
        ],
        "entityId": [
            "remote.harmony_hub_01"
        ],
        "data": "{\"device\":\"53126254\",\"command\":\"PowerOn\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f36bbb44f3cf015f",
        "type": "api-call-service",
        "z": "1a6ef62886bebc0d",
        "name": "turn off receiver",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [
            "34a73fe47cda5c964dcb946e48f8a307"
        ],
        "entityId": [
            "remote.harmony_hub_01"
        ],
        "data": "{\"device\":\"53126254\",\"command\":\"PowerOff\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "493778724cd8bfb0",
        "type": "server-state-changed",
        "z": "1a6ef62886bebc0d",
        "name": "receiver power",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.shellyplug_reciever_power",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 240,
        "wires": [
            [
                "721f486a52bf9c36"
            ]
        ]
    },
    {
        "id": "721f486a52bf9c36",
        "type": "switch",
        "z": "1a6ef62886bebc0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "c10afca66085add3"
            ],
            [
                "0d018fdce10bd378"
            ]
        ]
    },
    {
        "id": "c10afca66085add3",
        "type": "change",
        "z": "1a6ef62886bebc0d",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "2dc718ac1a979697"
            ]
        ]
    },
    {
        "id": "0d018fdce10bd378",
        "type": "change",
        "z": "1a6ef62886bebc0d",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "2dc718ac1a979697"
            ]
        ]
    },
    {
        "id": "2dc718ac1a979697",
        "type": "ha-binary-sensor",
        "z": "1a6ef62886bebc0d",
        "name": "receiver_device",
        "entityConfig": "4d3abdb050917898",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 620,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d38f657bb66a5f37",
        "type": "comment",
        "z": "1a6ef62886bebc0d",
        "name": "turn on or off binary sensor device",
        "info": "",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "6eb645c4b318dd39",
        "type": "comment",
        "z": "1a6ef62886bebc0d",
        "name": "button to toggle device on/off",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "4e9da7cb8fb21c11",
        "type": "comment",
        "z": "1a6ef62886bebc0d",
        "name": "flow that can toggle device on or off and creates a binary sensor with state of the device",
        "info": "",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "65aaa7d0996bc4bd",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "button_receiver",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": "Receiver"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "4d3abdb050917898",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "receiver_device",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "receiver_device"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    }
]