src/data/flows/reciever_device_buttonpress.json
[
    {
        "id": "b4df682331dc1be3",
        "type": "tab",
        "label": "receiver_device_buttonpress",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e32ad7df336029d3",
        "type": "ha-button",
        "z": "b4df682331dc1be3",
        "name": "",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "65aaa7d0996bc4bd",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 70,
        "y": 60,
        "wires": [
            [
                "79a27ca1787241f8"
            ]
        ]
    },
    {
        "id": "79a27ca1787241f8",
        "type": "api-current-state",
        "z": "b4df682331dc1be3",
        "name": "reciever power",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.shellyplug_reciever_power",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "0a71aa5b68f863b8"
            ]
        ]
    },
    {
        "id": "0a71aa5b68f863b8",
        "type": "switch",
        "z": "b4df682331dc1be3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "f36bbb44f3cf015f"
            ],
            [
                "234f89762fc306d4"
            ]
        ]
    },
    {
        "id": "234f89762fc306d4",
        "type": "api-call-service",
        "z": "b4df682331dc1be3",
        "name": "turn on receiver",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [
            "34a73fe47cda5c964dcb946e48f8a307"
        ],
        "entityId": [
            "remote.harmony_hub_01"
        ],
        "data": "{\"device\":\"53126254\",\"command\":\"PowerOn\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f36bbb44f3cf015f",
        "type": "api-call-service",
        "z": "b4df682331dc1be3",
        "name": "turn off receiver",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [],
        "deviceId": [
            "34a73fe47cda5c964dcb946e48f8a307"
        ],
        "entityId": [
            "remote.harmony_hub_01"
        ],
        "data": "{\"device\":\"53126254\",\"command\":\"PowerOff\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "6eb645c4b318dd39",
        "type": "comment",
        "z": "b4df682331dc1be3",
        "name": "button to toggle device on/off",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "65aaa7d0996bc4bd",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "receiver_button",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": "receiver_button"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]