src/data/flows/reciever_switch.json
[
    {
        "id": "1a6ef62886bebc0d",
        "type": "tab",
        "label": "receiver_switch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "50986f3b758e1e4d",
        "type": "server-state-changed",
        "z": "1a6ef62886bebc0d",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.shellyplug_reciever_power",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 220,
        "y": 1000,
        "wires": [
            [
                "8e4b931b92fa3aab"
            ]
        ]
    },
    {
        "id": "8e4b931b92fa3aab",
        "type": "switch",
        "z": "1a6ef62886bebc0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "6654bb4b8a16504a"
            ],
            [
                "2d8a90aff75281ab"
            ]
        ]
    },
    {
        "id": "3a9c2a6648d04e72",
        "type": "ha-binary-sensor",
        "z": "1a6ef62886bebc0d",
        "name": "receiver_state",
        "entityConfig": "7ebeacd9.171704",
        "version": 0,
        "state": "receiver-state",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1040,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "0f172a84ec1d82a8",
        "type": "change",
        "z": "1a6ef62886bebc0d",
        "name": "on state",
        "rules": [
            {
                "t": "set",
                "p": "receiver-state",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 980,
        "wires": [
            [
                "3a9c2a6648d04e72"
            ]
        ]
    },
    {
        "id": "8f92e851c2128846",
        "type": "change",
        "z": "1a6ef62886bebc0d",
        "name": "off state",
        "rules": [
            {
                "t": "set",
                "p": "receiver-state",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1040,
        "wires": [
            [
                "3a9c2a6648d04e72"
            ]
        ]
    },
    {
        "id": "2d8a90aff75281ab",
        "type": "api-current-state",
        "z": "1a6ef62886bebc0d",
        "name": "receiver switch is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.receiver",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 660,
        "y": 1040,
        "wires": [
            [
                "8f92e851c2128846"
            ],
            []
        ]
    },
    {
        "id": "6654bb4b8a16504a",
        "type": "api-current-state",
        "z": "1a6ef62886bebc0d",
        "name": "receiver switch is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.receiver",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 660,
        "y": 980,
        "wires": [
            [
                "0f172a84ec1d82a8"
            ],
            []
        ]
    },
    {
        "id": "55b11d036aefd91a",
        "type": "api-current-state",
        "z": "1a6ef62886bebc0d",
        "name": "switch receiver",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.receiver",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 120,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "21e98a79034a398a",
        "type": "api-call-service",
        "z": "1a6ef62886bebc0d",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 320,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "7ebeacd9.171704",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "binary sensor config for sensor dishwasher",
        "version": 6,
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "dishwasher"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:dishwasher"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    }
]