src/data/flows/scene_home_leaving.json
[
    {
        "id": "8aa6edec.5a013",
        "type": "tab",
        "label": "scene_home_leaving",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14187342a7b09482",
        "type": "group",
        "z": "8aa6edec.5a013",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "19cfd22b49a2e356",
            "8aa74b4cb48558f8",
            "3bdaf73ce37b7397",
            "d512fe1ba0adbf42",
            "83e460c17170065f",
            "1b8772493fd3aa94",
            "c8db6380b138fd4e"
        ],
        "x": 1594,
        "y": 239,
        "w": 412,
        "h": 202
    },
    {
        "id": "9c946ef945c199e5",
        "type": "group",
        "z": "8aa6edec.5a013",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "60a9200995b666e2",
            "254201c717321a67",
            "37c73ac2e71d9a61",
            "f7c20be07a75c04e",
            "662879feb30cc5fa"
        ],
        "x": 1594,
        "y": 39,
        "w": 412,
        "h": 162
    },
    {
        "id": "cc3f4f06d9ee1050",
        "type": "group",
        "z": "8aa6edec.5a013",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "8bd431aac8edba25",
            "1d9212ada487b166",
            "2d9c5a51a0d3d65a",
            "934778f06d5ff810",
            "11441b9d4ec597d9"
        ],
        "x": 1594,
        "y": 459,
        "w": 412,
        "h": 162
    },
    {
        "id": "83e460c17170065f",
        "type": "junction",
        "z": "8aa6edec.5a013",
        "g": "14187342a7b09482",
        "x": 1620,
        "y": 320,
        "wires": [
            [
                "8aa74b4cb48558f8",
                "19cfd22b49a2e356",
                "1b8772493fd3aa94",
                "c8db6380b138fd4e"
            ]
        ]
    },
    {
        "id": "662879feb30cc5fa",
        "type": "junction",
        "z": "8aa6edec.5a013",
        "g": "9c946ef945c199e5",
        "x": 1620,
        "y": 120,
        "wires": [
            [
                "254201c717321a67",
                "60a9200995b666e2"
            ]
        ]
    },
    {
        "id": "11441b9d4ec597d9",
        "type": "junction",
        "z": "8aa6edec.5a013",
        "g": "cc3f4f06d9ee1050",
        "x": 1620,
        "y": 540,
        "wires": [
            [
                "1d9212ada487b166",
                "8bd431aac8edba25"
            ]
        ]
    },
    {
        "id": "c8db6380b138fd4e",
        "type": "template",
        "z": "8aa6edec.5a013",
        "g": "14187342a7b09482",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{friendly_name}}} verlichting stond nog aan en is nu automatisch uitgeschakeld.",
        "output": "str",
        "x": 1720,
        "y": 320,
        "wires": [
            [
                "d512fe1ba0adbf42"
            ]
        ]
    },
    {
        "id": "1b8772493fd3aa94",
        "type": "template",
        "z": "8aa6edec.5a013",
        "g": "14187342a7b09482",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "lights",
        "output": "str",
        "x": 1730,
        "y": 360,
        "wires": [
            [
                "d512fe1ba0adbf42"
            ]
        ]
    },
    {
        "id": "d512fe1ba0adbf42",
        "type": "join",
        "z": "8aa6edec.5a013",
        "g": "14187342a7b09482",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1870,
        "y": 320,
        "wires": [
            [
                "3bdaf73ce37b7397"
            ]
        ]
    },
    {
        "id": "3bdaf73ce37b7397",
        "type": "link out",
        "z": "8aa6edec.5a013",
        "g": "14187342a7b09482",
        "name": "link_out_notify_2",
        "mode": "link",
        "links": [
            "a97f87cfab413716"
        ],
        "x": 1965,
        "y": 320,
        "wires": []
    },
    {
        "id": "8aa74b4cb48558f8",
        "type": "template",
        "z": "8aa6edec.5a013",
        "g": "14187342a7b09482",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Verlichting",
        "output": "str",
        "x": 1710,
        "y": 280,
        "wires": [
            [
                "d512fe1ba0adbf42"
            ]
        ]
    },
    {
        "id": "19cfd22b49a2e356",
        "type": "template",
        "z": "8aa6edec.5a013",
        "g": "14187342a7b09482",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1710,
        "y": 400,
        "wires": [
            [
                "d512fe1ba0adbf42"
            ]
        ]
    },
    {
        "id": "60a9200995b666e2",
        "type": "template",
        "z": "8aa6edec.5a013",
        "g": "9c946ef945c199e5",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1710,
        "y": 160,
        "wires": [
            [
                "f7c20be07a75c04e"
            ]
        ]
    },
    {
        "id": "254201c717321a67",
        "type": "template",
        "z": "8aa6edec.5a013",
        "g": "9c946ef945c199e5",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Beveiliging",
        "output": "str",
        "x": 1710,
        "y": 80,
        "wires": [
            [
                "f7c20be07a75c04e"
            ]
        ]
    },
    {
        "id": "37c73ac2e71d9a61",
        "type": "link out",
        "z": "8aa6edec.5a013",
        "g": "9c946ef945c199e5",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b"
        ],
        "x": 1965,
        "y": 120,
        "wires": []
    },
    {
        "id": "f7c20be07a75c04e",
        "type": "join",
        "z": "8aa6edec.5a013",
        "g": "9c946ef945c199e5",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1870,
        "y": 120,
        "wires": [
            [
                "37c73ac2e71d9a61"
            ]
        ]
    },
    {
        "id": "8bd431aac8edba25",
        "type": "template",
        "z": "8aa6edec.5a013",
        "g": "cc3f4f06d9ee1050",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1710,
        "y": 580,
        "wires": [
            [
                "934778f06d5ff810"
            ]
        ]
    },
    {
        "id": "1d9212ada487b166",
        "type": "template",
        "z": "8aa6edec.5a013",
        "g": "cc3f4f06d9ee1050",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Gastmodus",
        "output": "str",
        "x": 1710,
        "y": 500,
        "wires": [
            [
                "934778f06d5ff810"
            ]
        ]
    },
    {
        "id": "2d9c5a51a0d3d65a",
        "type": "link out",
        "z": "8aa6edec.5a013",
        "g": "cc3f4f06d9ee1050",
        "name": "link_out_notify_3",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b"
        ],
        "x": 1965,
        "y": 540,
        "wires": []
    },
    {
        "id": "934778f06d5ff810",
        "type": "join",
        "z": "8aa6edec.5a013",
        "g": "cc3f4f06d9ee1050",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1870,
        "y": 540,
        "wires": [
            [
                "2d9c5a51a0d3d65a"
            ]
        ]
    },
    {
        "id": "a8b7af48.25638",
        "type": "server-state-changed",
        "z": "8aa6edec.5a013",
        "name": "state group persons not_home",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "group.persons",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "not_home",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 60,
        "wires": [
            [
                "af4eaf595d5072d5"
            ],
            []
        ]
    },
    {
        "id": "81ed119.13c84f",
        "type": "server-state-changed",
        "z": "8aa6edec.5a013",
        "name": "state guest off",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "input_boolean.guest",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 180,
        "wires": [
            [
                "86e3be2e.bc7b4"
            ],
            [
                "20ea56701637694a"
            ]
        ]
    },
    {
        "id": "99dc8873.517068",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "state guest off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.guest",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 700,
        "y": 60,
        "wires": [
            [
                "49ea77ab.4cfa28",
                "8d40faa88a9cd112",
                "b932464b99aa9267",
                "f3398caf62b1ef7a",
                "cdc07b973642084c"
            ],
            []
        ]
    },
    {
        "id": "86e3be2e.bc7b4",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "state group persons home",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "group.persons",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 670,
        "y": 180,
        "wires": [
            [],
            [
                "49ea77ab.4cfa28",
                "f3398caf62b1ef7a",
                "b932464b99aa9267",
                "cdc07b973642084c"
            ]
        ]
    },
    {
        "id": "49ea77ab.4cfa28",
        "type": "delay",
        "z": "8aa6edec.5a013",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 960,
        "y": 60,
        "wires": [
            [
                "1c92170cf2ff6d63"
            ]
        ]
    },
    {
        "id": "f3398caf62b1ef7a",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "state home security off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.home_security",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "30a120b8f94715ba"
            ],
            []
        ]
    },
    {
        "id": "30a120b8f94715ba",
        "type": "api-call-service",
        "z": "8aa6edec.5a013",
        "name": "turn on home security",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.home_security"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1240,
        "y": 120,
        "wires": [
            [
                "10249eab85b11e9f"
            ]
        ]
    },
    {
        "id": "e98d4730eef641b7",
        "type": "api-call-service",
        "z": "8aa6edec.5a013",
        "name": "turn on switch chime active",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.smart_doorbell_active"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1260,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8d40faa88a9cd112",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "state doorbell chime off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.smart_doorbell_active",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "e98d4730eef641b7"
            ],
            []
        ]
    },
    {
        "id": "2e713f167c7e9287",
        "type": "comment",
        "z": "8aa6edec.5a013",
        "name": "A desired state when nobody is home and guest switch is off",
        "info": "",
        "x": 240,
        "y": 20,
        "wires": []
    },
    {
        "id": "b932464b99aa9267",
        "type": "ha-get-entities",
        "z": "8aa6edec.5a013",
        "name": "lookup climate preset mode is not away",
        "server": "4ba92433.2478cc",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "climate.",
                "valueType": "str"
            },
            {
                "property": "attributes.preset_mode",
                "logic": "is_not",
                "value": "away",
                "valueType": "str"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "d23cc387ab9241d2"
            ]
        ]
    },
    {
        "id": "d23cc387ab9241d2",
        "type": "api-call-service",
        "z": "8aa6edec.5a013",
        "name": "set preset mode climate away",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "{\"preset_mode\":\"away\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1370,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "af4eaf595d5072d5",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "uptime",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "sensor.uptime",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "12eb7e9d79ce0291"
            ]
        ]
    },
    {
        "id": "12eb7e9d79ce0291",
        "type": "switch",
        "z": "8aa6edec.5a013",
        "name": "uptime is above 1 min",
        "property": "data.timeSinceChangedMs",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60000",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 60,
        "wires": [
            [
                "99dc8873.517068"
            ]
        ]
    },
    {
        "id": "46c9c1d3469e3e0d",
        "type": "server-state-changed",
        "z": "8aa6edec.5a013",
        "name": "state vacation mode off",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "input_boolean.vacation_mode",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 120,
        "wires": [
            [
                "418ec65b2ffc66b5"
            ],
            []
        ]
    },
    {
        "id": "418ec65b2ffc66b5",
        "type": "api-current-state",
        "z": "8aa6edec.5a013",
        "name": "state guest off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.guest",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "86e3be2e.bc7b4"
            ],
            []
        ]
    },
    {
        "id": "1c92170cf2ff6d63",
        "type": "link out",
        "z": "8aa6edec.5a013",
        "name": "link out to off_mode",
        "mode": "link",
        "links": [
            "51f8fd5354fac718"
        ],
        "x": 1065,
        "y": 60,
        "wires": []
    },
    {
        "id": "10249eab85b11e9f",
        "type": "template",
        "z": "8aa6edec.5a013",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Beveiliging is ingeschakeld ",
        "output": "str",
        "x": 1500,
        "y": 120,
        "wires": [
            [
                "662879feb30cc5fa"
            ]
        ]
    },
    {
        "id": "20ea56701637694a",
        "type": "template",
        "z": "8aa6edec.5a013",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Beveiliging is ingeschakeld ",
        "output": "str",
        "x": 1500,
        "y": 540,
        "wires": [
            [
                "11441b9d4ec597d9"
            ]
        ]
    },
    {
        "id": "39773eee4279f3fe",
        "type": "api-call-service",
        "z": "8aa6edec.5a013",
        "name": "turn off lights",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "{\"transition\":5000}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "a91a402abef99c42"
            ]
        ]
    },
    {
        "id": "a91a402abef99c42",
        "type": "template",
        "z": "8aa6edec.5a013",
        "name": "format friendly name",
        "field": "friendly_name",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{payload.attributes.friendly_name}}}",
        "output": "str",
        "x": 1340,
        "y": 300,
        "wires": [
            [
                "ac6ad3992a800655"
            ]
        ]
    },
    {
        "id": "ac6ad3992a800655",
        "type": "join",
        "z": "8aa6edec.5a013",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "friendly_name",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ", ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1510,
        "y": 300,
        "wires": [
            [
                "83e460c17170065f"
            ]
        ]
    },
    {
        "id": "cdc07b973642084c",
        "type": "ha-get-entities",
        "z": "8aa6edec.5a013",
        "name": "lookup lights on",
        "server": "4ba92433.2478cc",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "light.",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 980,
        "y": 300,
        "wires": [
            [
                "39773eee4279f3fe"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]