src/data/flows/scene_home_entering.json
[
    {
        "id": "c0da8379.b0dd3",
        "type": "tab",
        "label": "scene_home_entering",
        "disabled": false,
        "info": ""
    },
    {
        "id": "47af9932f18884cc",
        "type": "group",
        "z": "c0da8379.b0dd3",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "4d43c0c59596c396",
            "7063678cde99b775",
            "5e72b91e3ad4066d",
            "52f21d3060c57706",
            "71156279d6ca8920"
        ],
        "x": 1954,
        "y": 219,
        "w": 412,
        "h": 162
    },
    {
        "id": "71156279d6ca8920",
        "type": "junction",
        "z": "c0da8379.b0dd3",
        "g": "47af9932f18884cc",
        "x": 1980,
        "y": 300,
        "wires": [
            [
                "7063678cde99b775",
                "4d43c0c59596c396"
            ]
        ]
    },
    {
        "id": "52f21d3060c57706",
        "type": "join",
        "z": "c0da8379.b0dd3",
        "g": "47af9932f18884cc",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2230,
        "y": 300,
        "wires": [
            [
                "5e72b91e3ad4066d"
            ]
        ]
    },
    {
        "id": "5e72b91e3ad4066d",
        "type": "link out",
        "z": "c0da8379.b0dd3",
        "g": "47af9932f18884cc",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b"
        ],
        "x": 2325,
        "y": 300,
        "wires": []
    },
    {
        "id": "7063678cde99b775",
        "type": "template",
        "z": "c0da8379.b0dd3",
        "g": "47af9932f18884cc",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Verlichting",
        "output": "str",
        "x": 2070,
        "y": 260,
        "wires": [
            [
                "52f21d3060c57706"
            ]
        ]
    },
    {
        "id": "4d43c0c59596c396",
        "type": "template",
        "z": "c0da8379.b0dd3",
        "g": "47af9932f18884cc",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 2070,
        "y": 340,
        "wires": [
            [
                "52f21d3060c57706"
            ]
        ]
    },
    {
        "id": "9e995be6.7976b8",
        "type": "api-call-service",
        "z": "c0da8379.b0dd3",
        "name": "turn on light backyard",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shellydimmer_backyard_string_l"
        ],
        "data": "{\"brightness_pct\":25,\"transition\":5000}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 380,
        "wires": [
            [
                "13ca8b62.27a4a5"
            ]
        ]
    },
    {
        "id": "e137297f.088698",
        "type": "api-call-service",
        "z": "c0da8379.b0dd3",
        "name": "turn on light front door",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shelly1_front_door"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 440,
        "wires": [
            [
                "13ca8b62.27a4a5"
            ]
        ]
    },
    {
        "id": "f916039a.ab914",
        "type": "switch",
        "z": "c0da8379.b0dd3",
        "name": "state is home",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "ed71f712.b69338",
                "60ffd46b.e9534c",
                "227abad75eeb983d",
                "9f66d88d.57dad8"
            ]
        ]
    },
    {
        "id": "c52b3e07.1a75e",
        "type": "server-state-changed",
        "z": "c0da8379.b0dd3",
        "name": "state persons",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "group.persons",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 80,
        "wires": [
            [
                "f916039a.ab914"
            ]
        ]
    },
    {
        "id": "d08ebe33.48973",
        "type": "api-current-state",
        "z": "c0da8379.b0dd3",
        "name": "state backyard light off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.shellydimmer_backyard_string_l",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1100,
        "y": 380,
        "wires": [
            [
                "9e995be6.7976b8"
            ],
            []
        ]
    },
    {
        "id": "cc18abb3.ae2a18",
        "type": "api-current-state",
        "z": "c0da8379.b0dd3",
        "name": "state frontdoor light off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.shelly1_front_door",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "e137297f.088698"
            ],
            []
        ]
    },
    {
        "id": "e84b117e.dd59d",
        "type": "server-state-changed",
        "z": "c0da8379.b0dd3",
        "name": "state guest",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_boolean.guest",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 80,
        "y": 140,
        "wires": [
            [
                "9b83ef6.7af1c1"
            ]
        ]
    },
    {
        "id": "9b83ef6.7af1c1",
        "type": "switch",
        "z": "c0da8379.b0dd3",
        "name": "state guest on off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "ed71f712.b69338",
                "227abad75eeb983d",
                "9f66d88d.57dad8"
            ],
            []
        ]
    },
    {
        "id": "b86ec736.0cd658",
        "type": "server-state-changed",
        "z": "c0da8379.b0dd3",
        "name": "state person coen home",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "person.coen",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "home",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 200,
        "wires": [
            [
                "c0a73100.b726e"
            ],
            []
        ]
    },
    {
        "id": "f8f2314a.940eb",
        "type": "server-state-changed",
        "z": "c0da8379.b0dd3",
        "name": "state person anne home",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "person.anne",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "home",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 260,
        "wires": [
            [
                "b53f891b.1feb08"
            ],
            []
        ]
    },
    {
        "id": "c0a73100.b726e",
        "type": "api-current-state",
        "z": "c0da8379.b0dd3",
        "name": "state person anne home",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.anne",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "5f497d57.150f44",
                "aab516c6.d5acf8",
                "ed71f712.b69338"
            ],
            []
        ]
    },
    {
        "id": "b53f891b.1feb08",
        "type": "api-current-state",
        "z": "c0da8379.b0dd3",
        "name": "state person coen home",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.coen",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "aab516c6.d5acf8",
                "ed71f712.b69338",
                "5f497d57.150f44"
            ],
            []
        ]
    },
    {
        "id": "cea43bad.d11358",
        "type": "template",
        "z": "c0da8379.b0dd3",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Het is donker en er is iemand aanwezig. {{{data.attributes.friendly_name}}} verlichting is ingeschakeld.",
        "output": "str",
        "x": 1880,
        "y": 340,
        "wires": [
            [
                "71156279d6ca8920"
            ]
        ]
    },
    {
        "id": "60ffd46b.e9534c",
        "type": "ha-get-entities",
        "z": "c0da8379.b0dd3",
        "name": "lookup person home",
        "server": "4ba92433.2478cc",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "person.",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "home",
                "valueType": "str"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 720,
        "y": 80,
        "wires": [
            [
                "6ca20d6c.62d004"
            ]
        ]
    },
    {
        "id": "b9ba0c85.bcd94",
        "type": "join",
        "z": "c0da8379.b0dd3",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "friendly_name_person",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ", ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1110,
        "y": 80,
        "wires": [
            [
                "a5f68bf8.968328"
            ]
        ]
    },
    {
        "id": "6ca20d6c.62d004",
        "type": "template",
        "z": "c0da8379.b0dd3",
        "name": "Format Friendly Name",
        "field": "friendly_name_person",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.attributes.friendly_name}}",
        "output": "str",
        "x": 940,
        "y": 80,
        "wires": [
            [
                "b9ba0c85.bcd94"
            ]
        ]
    },
    {
        "id": "da57c41e.c506f8",
        "type": "ha-get-entities",
        "z": "c0da8379.b0dd3",
        "name": "lookup light on",
        "server": "4ba92433.2478cc",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "light.shelly",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 1400,
        "y": 80,
        "wires": [
            [
                "fd3c7297.9684e"
            ]
        ]
    },
    {
        "id": "fd3c7297.9684e",
        "type": "template",
        "z": "c0da8379.b0dd3",
        "name": "Format Friendly Name",
        "field": "friendly_name_lampen",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.attributes.friendly_name}}",
        "output": "str",
        "x": 1600,
        "y": 80,
        "wires": [
            [
                "1928247d.6ddacc"
            ]
        ]
    },
    {
        "id": "1928247d.6ddacc",
        "type": "join",
        "z": "c0da8379.b0dd3",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "friendly_name_lampen",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ", ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1750,
        "y": 280,
        "wires": [
            [
                "d129b86a.aa0f58"
            ]
        ]
    },
    {
        "id": "d129b86a.aa0f58",
        "type": "template",
        "z": "c0da8379.b0dd3",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{friendly_name_person}} is thuis gekomen en het is donker. {{friendly_name_lampen}} verlichting staat aan.",
        "output": "str",
        "x": 1880,
        "y": 280,
        "wires": [
            [
                "71156279d6ca8920"
            ]
        ]
    },
    {
        "id": "aab516c6.d5acf8",
        "type": "api-current-state",
        "z": "c0da8379.b0dd3",
        "name": "state sleep_mode on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.sleep_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 720,
        "y": 320,
        "wires": [
            [
                "f86b599d.352918"
            ],
            []
        ]
    },
    {
        "id": "f86b599d.352918",
        "type": "api-call-service",
        "z": "c0da8379.b0dd3",
        "name": "turn off sleep mode",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.sleep_mode"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 950,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ed71f712.b69338",
        "type": "api-current-state",
        "z": "c0da8379.b0dd3",
        "name": "state home_security on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.home_security",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "1902dc19.17ed64"
            ],
            []
        ]
    },
    {
        "id": "1902dc19.17ed64",
        "type": "api-call-service",
        "z": "c0da8379.b0dd3",
        "name": "turn off home security",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.home_security"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5f497d57.150f44",
        "type": "api-current-state",
        "z": "c0da8379.b0dd3",
        "name": "state outdoor dark",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "dark",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.outdoor_light_dark",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "d08ebe33.48973",
                "cc18abb3.ae2a18",
                "a8a31543.6e54b8"
            ],
            []
        ]
    },
    {
        "id": "a5f68bf8.968328",
        "type": "delay",
        "z": "c0da8379.b0dd3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1240,
        "y": 80,
        "wires": [
            [
                "da57c41e.c506f8"
            ]
        ]
    },
    {
        "id": "13ca8b62.27a4a5",
        "type": "join",
        "z": "c0da8379.b0dd3",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "data.attributes.friendly_name",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ", ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1750,
        "y": 340,
        "wires": [
            [
                "cea43bad.d11358"
            ]
        ]
    },
    {
        "id": "a8a31543.6e54b8",
        "type": "api-current-state",
        "z": "c0da8379.b0dd3",
        "name": "state livingroom light off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.shellydimmer_living_room",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "fd5eca9e.417048"
            ],
            []
        ]
    },
    {
        "id": "fd5eca9e.417048",
        "type": "api-call-service",
        "z": "c0da8379.b0dd3",
        "name": "turn on light livingroom",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shellydimmer_living_room"
        ],
        "data": "{\"brightness\":80,\"transition\":5000}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 500,
        "wires": [
            [
                "13ca8b62.27a4a5"
            ]
        ]
    },
    {
        "id": "9f66d88d.57dad8",
        "type": "api-call-service",
        "z": "c0da8379.b0dd3",
        "name": "turn on water heater",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "water_heater",
        "service": "set_temperature",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "water_heater.warm_water"
        ],
        "data": "{\"temperature\":\"61\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 720,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cdf62b8c35fee85c",
        "type": "api-call-service",
        "z": "c0da8379.b0dd3",
        "name": "set preset mode climate home",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "{\"preset_mode\":\"home\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1090,
        "y": 140,
        "wires": [
            [
                "a4128ce45e4e787a"
            ]
        ]
    },
    {
        "id": "227abad75eeb983d",
        "type": "ha-get-entities",
        "z": "c0da8379.b0dd3",
        "name": "lookup climate preset mode is not home",
        "server": "4ba92433.2478cc",
        "version": 1,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "climate.",
                "valueType": "str"
            },
            {
                "property": "attributes.preset_mode",
                "logic": "is_not",
                "value": "home",
                "valueType": "str"
            }
        ],
        "outputType": "split",
        "outputEmptyResults": false,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 780,
        "y": 140,
        "wires": [
            [
                "cdf62b8c35fee85c"
            ]
        ]
    },
    {
        "id": "a4128ce45e4e787a",
        "type": "api-call-service",
        "z": "c0da8379.b0dd3",
        "name": "turn on climate auto mode",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_hvac_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "{\"hvac_mode\":\"auto\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1350,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "68768e1136ebca84",
        "type": "comment",
        "z": "c0da8379.b0dd3",
        "name": "Flow that will be triggerd when someone comes home or guest mode is turned on",
        "info": "",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]