src/data/flows/security_smoke_co.json
[
    {
        "id": "cde79c08.e4f488",
        "type": "tab",
        "label": "security_smoke_co",
        "disabled": false,
        "info": ""
    },
    {
        "id": "60a8ffbec987c377",
        "type": "group",
        "z": "cde79c08.e4f488",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "af6a4d51c1e99b4e",
            "8bda876328e49e67",
            "fdba7cd037a9da5a",
            "9a02e08c1760e584",
            "ef17b4eb0dc0871b",
            "c7b88c5f533c105b"
        ],
        "x": 814,
        "y": 139,
        "w": 432,
        "h": 162
    },
    {
        "id": "ef17b4eb0dc0871b",
        "type": "junction",
        "z": "cde79c08.e4f488",
        "g": "60a8ffbec987c377",
        "x": 840,
        "y": 200,
        "wires": [
            [
                "8bda876328e49e67",
                "af6a4d51c1e99b4e",
                "c7b88c5f533c105b"
            ]
        ]
    },
    {
        "id": "af6a4d51c1e99b4e",
        "type": "template",
        "z": "cde79c08.e4f488",
        "g": "60a8ffbec987c377",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "9a02e08c1760e584"
            ]
        ]
    },
    {
        "id": "8bda876328e49e67",
        "type": "template",
        "z": "cde79c08.e4f488",
        "g": "60a8ffbec987c377",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alarm",
        "output": "str",
        "x": 950,
        "y": 180,
        "wires": [
            [
                "9a02e08c1760e584"
            ]
        ]
    },
    {
        "id": "fdba7cd037a9da5a",
        "type": "link out",
        "z": "cde79c08.e4f488",
        "g": "60a8ffbec987c377",
        "name": "link_out_notify_basement_ventilation",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b",
            "aeee8468f3d1b7ad",
            "c4660dc11fb0e5b8"
        ],
        "x": 1205,
        "y": 200,
        "wires": []
    },
    {
        "id": "9a02e08c1760e584",
        "type": "join",
        "z": "cde79c08.e4f488",
        "g": "60a8ffbec987c377",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "fdba7cd037a9da5a"
            ]
        ]
    },
    {
        "id": "c7b88c5f533c105b",
        "type": "template",
        "z": "cde79c08.e4f488",
        "g": "60a8ffbec987c377",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "firealarm",
        "output": "str",
        "x": 970,
        "y": 260,
        "wires": [
            [
                "9a02e08c1760e584"
            ]
        ]
    },
    {
        "id": "dc93ddfe.5bd4a",
        "type": "comment",
        "z": "cde79c08.e4f488",
        "name": "notify when a smoke or co alarm goes on",
        "info": "notify when a message appears in pfsense",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "743eb0e6.61b368",
        "type": "server-state-changed",
        "z": "cde79c08.e4f488",
        "name": "smoke co alarm test livingroom",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.firtsalert_living_room_smoke_alarm_test",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "alarm_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 100,
        "wires": [
            [
                "2174c321b4d32ca8"
            ]
        ]
    },
    {
        "id": "bc9788a0.2fc028",
        "type": "server-state-changed",
        "z": "cde79c08.e4f488",
        "name": "smoke detected livingroom",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.firtsalert_living_room_smoke_detected",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "alarm_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 280,
        "wires": [
            [
                "7cdcd90a.9cd33"
            ]
        ]
    },
    {
        "id": "3fdbb752.798ec8",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{test_message}}Er is rook gedecteerd in de {{location}}!",
        "output": "str",
        "x": 660,
        "y": 320,
        "wires": [
            [
                "8f9a86a6.9ca938"
            ]
        ]
    },
    {
        "id": "acaf455.81dc638",
        "type": "change",
        "z": "cde79c08.e4f488",
        "name": "set msg.alarm on",
        "rules": [
            {
                "t": "set",
                "p": "alarm",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 420,
        "wires": [
            [
                "e426c9cc0865f723"
            ]
        ]
    },
    {
        "id": "7cdcd90a.9cd33",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "location livingroom",
        "field": "location",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "woonkamer",
        "output": "str",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "3fdbb752.798ec8"
            ]
        ]
    },
    {
        "id": "fd7b8a4d.52e6c8",
        "type": "server-state-changed",
        "z": "cde79c08.e4f488",
        "name": "smoke detected upstairs",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.firstalert_hallway_upstairs_smoke_detected",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "alarm_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 320,
        "wires": [
            [
                "3f622d19.96609a"
            ]
        ]
    },
    {
        "id": "d75a3b89.b17828",
        "type": "server-state-changed",
        "z": "cde79c08.e4f488",
        "name": "smoke detected basement",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.smartalert_basement_smoke_detected",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "alarm_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 360,
        "wires": [
            [
                "c5e700b.742ef"
            ]
        ]
    },
    {
        "id": "3f622d19.96609a",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "location upstairs",
        "field": "location",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "hal boven",
        "output": "str",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "3fdbb752.798ec8"
            ]
        ]
    },
    {
        "id": "c5e700b.742ef",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "location basement",
        "field": "location",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "kelder",
        "output": "str",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "3fdbb752.798ec8"
            ]
        ]
    },
    {
        "id": "8f9a86a6.9ca938",
        "type": "switch",
        "z": "cde79c08.e4f488",
        "name": "on / off",
        "property": "alarm_state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 420,
        "wires": [
            [
                "acaf455.81dc638",
                "ef17b4eb0dc0871b"
            ],
            [
                "56c87bdc.b016ac"
            ]
        ]
    },
    {
        "id": "56c87bdc.b016ac",
        "type": "change",
        "z": "cde79c08.e4f488",
        "name": "set msg.alarm off",
        "rules": [
            {
                "t": "set",
                "p": "alarm",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 460,
        "wires": [
            [
                "e426c9cc0865f723"
            ]
        ]
    },
    {
        "id": "04d283125bc58145",
        "type": "server-state-changed",
        "z": "cde79c08.e4f488",
        "name": "smoke co alarm test hallway upstairs",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.firstalert_hallway_upstairs_smoke_alarm_test",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "alarm_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 140,
        "wires": [
            [
                "091db6919a07bcbc"
            ]
        ]
    },
    {
        "id": "0e7fa473b99890f7",
        "type": "server-state-changed",
        "z": "cde79c08.e4f488",
        "name": "smoke co alarm test ",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.smartalert_basement_smoke_alarm_test",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "alarm_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 180,
        "wires": [
            [
                "05b4a765aa5d138e"
            ]
        ]
    },
    {
        "id": "2174c321b4d32ca8",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "location livingroom",
        "field": "location",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "woonkamer",
        "output": "str",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "3c51dd96d91e1bc6"
            ]
        ]
    },
    {
        "id": "091db6919a07bcbc",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "location upstairs",
        "field": "location",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "hal boven",
        "output": "str",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "3c51dd96d91e1bc6"
            ]
        ]
    },
    {
        "id": "05b4a765aa5d138e",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "location basement",
        "field": "location",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "kelder",
        "output": "str",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "3c51dd96d91e1bc6"
            ]
        ]
    },
    {
        "id": "3c51dd96d91e1bc6",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "test message",
        "field": "test_message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Dit is een test.",
        "output": "str",
        "x": 670,
        "y": 160,
        "wires": [
            [
                "3fdbb752.798ec8"
            ]
        ]
    },
    {
        "id": "462204bb44d52283",
        "type": "server-state-changed",
        "z": "cde79c08.e4f488",
        "name": "co detected livingroom",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.firtsalert_living_room_carbon_monoxide_detected",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "alarm_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 460,
        "wires": [
            [
                "7796933fbf4a81d9"
            ]
        ]
    },
    {
        "id": "f7bea18edd3df74d",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{test_message}}Er is koolmonoxide gedecteerd in de {{location}}, open ramen en deuren!",
        "output": "str",
        "x": 660,
        "y": 500,
        "wires": [
            [
                "8f9a86a6.9ca938"
            ]
        ]
    },
    {
        "id": "7796933fbf4a81d9",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "location livingroom",
        "field": "location",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "woonkamer",
        "output": "str",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "f7bea18edd3df74d"
            ]
        ]
    },
    {
        "id": "fb4d6bcec28c0e8c",
        "type": "server-state-changed",
        "z": "cde79c08.e4f488",
        "name": "co detected upstairs",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.firstalert_hallway_upstairs_carbon_monoxide_detected",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "alarm_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 500,
        "wires": [
            [
                "e158e20d0b4d314e"
            ]
        ]
    },
    {
        "id": "22ebafc77a56459e",
        "type": "server-state-changed",
        "z": "cde79c08.e4f488",
        "name": "co detected basement",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.smartalert_basement_carbon_monoxide_detected",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "alarm_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 540,
        "wires": [
            [
                "44c54d3a1158ddbd"
            ]
        ]
    },
    {
        "id": "e158e20d0b4d314e",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "location upstairs",
        "field": "location",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "hal boven",
        "output": "str",
        "x": 420,
        "y": 500,
        "wires": [
            [
                "f7bea18edd3df74d"
            ]
        ]
    },
    {
        "id": "44c54d3a1158ddbd",
        "type": "template",
        "z": "cde79c08.e4f488",
        "name": "location basement",
        "field": "location",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "kelder",
        "output": "str",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "f7bea18edd3df74d"
            ]
        ]
    },
    {
        "id": "e426c9cc0865f723",
        "type": "link out",
        "z": "cde79c08.e4f488",
        "name": "smoke_co_alarm",
        "mode": "link",
        "links": [],
        "x": 1125,
        "y": 440,
        "wires": []
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]