src/data/flows/security_backyard.json
[
    {
        "id": "645478ab1138fd33",
        "type": "tab",
        "label": "security_backyard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2952a0e7861984f",
        "type": "group",
        "z": "645478ab1138fd33",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "2e62b582b5ace0b2",
            "6011ff5a330d5f46",
            "b151676bc37a1e90",
            "be68c8baf380f74e",
            "dfebcb371c6d37c4",
            "b41a40c1e135e55c",
            "ed20a5d29a5eb136"
        ],
        "x": 714,
        "y": 39,
        "w": 422,
        "h": 202
    },
    {
        "id": "abca9d489cb39d05",
        "type": "junction",
        "z": "645478ab1138fd33",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "56c442aec754c164"
            ]
        ]
    },
    {
        "id": "be68c8baf380f74e",
        "type": "junction",
        "z": "645478ab1138fd33",
        "g": "f2952a0e7861984f",
        "x": 740,
        "y": 80,
        "wires": [
            [
                "6011ff5a330d5f46",
                "2e62b582b5ace0b2",
                "dfebcb371c6d37c4",
                "ed20a5d29a5eb136"
            ]
        ]
    },
    {
        "id": "c468b53056a67579",
        "type": "comment",
        "z": "645478ab1138fd33",
        "name": "Backyard motion detection flow",
        "info": "",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "4f5603c50cf3e3f1",
        "type": "server-state-changed",
        "z": "645478ab1138fd33",
        "name": "backyard motion sensor 01",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.backyard_motion_sensor_01_motion",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 60,
        "wires": [
            [
                "1454a2634cd314fa"
            ],
            [
                "abca9d489cb39d05"
            ]
        ]
    },
    {
        "id": "1454a2634cd314fa",
        "type": "api-current-state",
        "z": "645478ab1138fd33",
        "name": "home security is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.home_security",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 60,
        "wires": [
            [
                "1117f663f7ece955"
            ],
            []
        ]
    },
    {
        "id": "1117f663f7ece955",
        "type": "change",
        "z": "645478ab1138fd33",
        "name": "set msg.alarm on",
        "rules": [
            {
                "t": "set",
                "p": "alarm",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 60,
        "wires": [
            [
                "133af224fc73de70",
                "be68c8baf380f74e"
            ]
        ]
    },
    {
        "id": "56c442aec754c164",
        "type": "change",
        "z": "645478ab1138fd33",
        "name": "set msg.alarm off",
        "rules": [
            {
                "t": "set",
                "p": "alarm",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "133af224fc73de70"
            ]
        ]
    },
    {
        "id": "133af224fc73de70",
        "type": "link out",
        "z": "645478ab1138fd33",
        "name": "backyard_motion_to_lights_restore",
        "mode": "link",
        "links": [
            "164322a018845856"
        ],
        "x": 735,
        "y": 300,
        "wires": []
    },
    {
        "id": "2e62b582b5ace0b2",
        "type": "template",
        "z": "645478ab1138fd33",
        "g": "f2952a0e7861984f",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "b151676bc37a1e90"
            ]
        ]
    },
    {
        "id": "6011ff5a330d5f46",
        "type": "template",
        "z": "645478ab1138fd33",
        "g": "f2952a0e7861984f",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alarm",
        "output": "str",
        "x": 850,
        "y": 80,
        "wires": [
            [
                "b151676bc37a1e90"
            ]
        ]
    },
    {
        "id": "b151676bc37a1e90",
        "type": "join",
        "z": "645478ab1138fd33",
        "g": "f2952a0e7861984f",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "b41a40c1e135e55c"
            ]
        ]
    },
    {
        "id": "dfebcb371c6d37c4",
        "type": "template",
        "z": "645478ab1138fd33",
        "g": "f2952a0e7861984f",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "backyard_alarm",
        "output": "str",
        "x": 870,
        "y": 160,
        "wires": [
            [
                "b151676bc37a1e90"
            ]
        ]
    },
    {
        "id": "b41a40c1e135e55c",
        "type": "link out",
        "z": "645478ab1138fd33",
        "g": "f2952a0e7861984f",
        "name": "backyard_motion_to_notify",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b"
        ],
        "x": 1095,
        "y": 100,
        "wires": []
    },
    {
        "id": "ed20a5d29a5eb136",
        "type": "template",
        "z": "645478ab1138fd33",
        "g": "f2952a0e7861984f",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Beweging in de achtertuin gedetecteerd!",
        "output": "str",
        "x": 860,
        "y": 200,
        "wires": [
            [
                "b151676bc37a1e90"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]