src/data/flows/security_house.json
[
    {
        "id": "b13ca13c.9328e",
        "type": "tab",
        "label": "security_house",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b05fecd5ed3289b",
        "type": "group",
        "z": "b13ca13c.9328e",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "dab28de38f3a6629",
            "ab8c69e6298f0ad4",
            "ac254d4235d71700",
            "47c9e5d66b827b3c",
            "3a0c4f886a8c4e54",
            "52d10ab03d478bae"
        ],
        "x": 1774,
        "y": 399,
        "w": 432,
        "h": 162
    },
    {
        "id": "37c7c59a61d38b32",
        "type": "group",
        "z": "b13ca13c.9328e",
        "name": "notify two actions",
        "style": {
            "label": true
        },
        "nodes": [
            "16bf3029dc11f50b",
            "8bd6ce7359e6fe2f",
            "48cae6c1e3fb0c75",
            "1c8dfa7ab499ce29",
            "3ad564319a62aa0f",
            "3f7e2f446cdb3e90",
            "66e66f9f5828f878"
        ],
        "x": 1774,
        "y": 159,
        "w": 442,
        "h": 202
    },
    {
        "id": "3a0c4f886a8c4e54",
        "type": "junction",
        "z": "b13ca13c.9328e",
        "g": "1b05fecd5ed3289b",
        "x": 1800,
        "y": 460,
        "wires": [
            [
                "ab8c69e6298f0ad4",
                "dab28de38f3a6629",
                "52d10ab03d478bae"
            ]
        ]
    },
    {
        "id": "3ad564319a62aa0f",
        "type": "junction",
        "z": "b13ca13c.9328e",
        "g": "37c7c59a61d38b32",
        "x": 1800,
        "y": 240,
        "wires": [
            [
                "8bd6ce7359e6fe2f",
                "16bf3029dc11f50b",
                "3f7e2f446cdb3e90",
                "66e66f9f5828f878"
            ]
        ]
    },
    {
        "id": "b2806f2a332a95dd",
        "type": "junction",
        "z": "b13ca13c.9328e",
        "x": 960,
        "y": 180,
        "wires": [
            [
                "266c6e1c01c791a8"
            ]
        ]
    },
    {
        "id": "266c6e1c01c791a8",
        "type": "junction",
        "z": "b13ca13c.9328e",
        "x": 1100,
        "y": 180,
        "wires": [
            [
                "743671d6.44575"
            ]
        ]
    },
    {
        "id": "1d1ec90f6d5f3048",
        "type": "junction",
        "z": "b13ca13c.9328e",
        "x": 960,
        "y": 160,
        "wires": [
            [
                "15e791691fffba6e"
            ]
        ]
    },
    {
        "id": "15e791691fffba6e",
        "type": "junction",
        "z": "b13ca13c.9328e",
        "x": 1480,
        "y": 160,
        "wires": [
            [
                "40140a3.8383df4",
                "668b5737b0f584a7"
            ]
        ]
    },
    {
        "id": "52d10ab03d478bae",
        "type": "template",
        "z": "b13ca13c.9328e",
        "g": "1b05fecd5ed3289b",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1930,
        "y": 520,
        "wires": [
            [
                "47c9e5d66b827b3c"
            ]
        ]
    },
    {
        "id": "47c9e5d66b827b3c",
        "type": "join",
        "z": "b13ca13c.9328e",
        "g": "1b05fecd5ed3289b",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2070,
        "y": 460,
        "wires": [
            [
                "ac254d4235d71700"
            ]
        ]
    },
    {
        "id": "ac254d4235d71700",
        "type": "link out",
        "z": "b13ca13c.9328e",
        "g": "1b05fecd5ed3289b",
        "name": "link_out_notify_basement_ventilation",
        "mode": "link",
        "links": [
            "c13b2b4d87067c17",
            "c4660dc11fb0e5b8"
        ],
        "x": 2165,
        "y": 460,
        "wires": []
    },
    {
        "id": "ab8c69e6298f0ad4",
        "type": "template",
        "z": "b13ca13c.9328e",
        "g": "1b05fecd5ed3289b",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Beveiliging",
        "output": "str",
        "x": 1910,
        "y": 440,
        "wires": [
            [
                "47c9e5d66b827b3c"
            ]
        ]
    },
    {
        "id": "dab28de38f3a6629",
        "type": "template",
        "z": "b13ca13c.9328e",
        "g": "1b05fecd5ed3289b",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1910,
        "y": 480,
        "wires": [
            [
                "47c9e5d66b827b3c"
            ]
        ]
    },
    {
        "id": "66e66f9f5828f878",
        "type": "template",
        "z": "b13ca13c.9328e",
        "g": "37c7c59a61d38b32",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "home_security",
        "output": "str",
        "x": 1910,
        "y": 320,
        "wires": [
            [
                "1c8dfa7ab499ce29"
            ]
        ]
    },
    {
        "id": "3f7e2f446cdb3e90",
        "type": "change",
        "z": "b13ca13c.9328e",
        "g": "37c7c59a61d38b32",
        "name": "action titles",
        "rules": [
            {
                "t": "set",
                "p": "notify.action_1_title",
                "pt": "msg",
                "to": "JA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify.action_2_title",
                "pt": "msg",
                "to": "NEE",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify.action_1",
                "pt": "msg",
                "to": "HOME_SECURITY_OFF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify.action_2",
                "pt": "msg",
                "to": "IGNORE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 240,
        "wires": [
            [
                "1c8dfa7ab499ce29"
            ]
        ]
    },
    {
        "id": "1c8dfa7ab499ce29",
        "type": "join",
        "z": "b13ca13c.9328e",
        "g": "37c7c59a61d38b32",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2090,
        "y": 240,
        "wires": [
            [
                "48cae6c1e3fb0c75"
            ]
        ]
    },
    {
        "id": "48cae6c1e3fb0c75",
        "type": "link out",
        "z": "b13ca13c.9328e",
        "g": "37c7c59a61d38b32",
        "name": "link_out_notify_guest_mode",
        "mode": "link",
        "links": [
            "c76d311bb4b6991b",
            "d1753081ba6b4004"
        ],
        "x": 2175,
        "y": 240,
        "wires": []
    },
    {
        "id": "8bd6ce7359e6fe2f",
        "type": "template",
        "z": "b13ca13c.9328e",
        "g": "37c7c59a61d38b32",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Beveiliging",
        "output": "str",
        "x": 1890,
        "y": 200,
        "wires": [
            [
                "1c8dfa7ab499ce29"
            ]
        ]
    },
    {
        "id": "16bf3029dc11f50b",
        "type": "template",
        "z": "b13ca13c.9328e",
        "g": "37c7c59a61d38b32",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1890,
        "y": 280,
        "wires": [
            [
                "1c8dfa7ab499ce29"
            ]
        ]
    },
    {
        "id": "24ab3051.7c08e",
        "type": "server-state-changed",
        "z": "b13ca13c.9328e",
        "name": "state backdoor",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.backdoor",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 160,
        "wires": [
            [
                "2231c04d.678c4"
            ]
        ]
    },
    {
        "id": "b2a6a7bd.0318b8",
        "type": "server-state-changed",
        "z": "b13ca13c.9328e",
        "name": "state front door",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.frontdoor",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 60,
        "wires": [
            [
                "4dbc6d3c.6b1e94"
            ]
        ]
    },
    {
        "id": "9b797c1b.4dc83",
        "type": "switch",
        "z": "b13ca13c.9328e",
        "name": "on/off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "e3f16390.e04ac"
            ],
            []
        ]
    },
    {
        "id": "5930459.94035bc",
        "type": "api-current-state",
        "z": "b13ca13c.9328e",
        "name": "home security is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.home_security",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "input_boolean.home_security",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 770,
        "y": 60,
        "wires": [
            [
                "29fb388f.6b0768",
                "4a56a5d0.e5ef1c",
                "b2806f2a332a95dd",
                "1d1ec90f6d5f3048"
            ],
            []
        ]
    },
    {
        "id": "743671d6.44575",
        "type": "delay",
        "z": "b13ca13c.9328e",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1200,
        "y": 220,
        "wires": [
            [
                "76dade0f.884bb"
            ]
        ]
    },
    {
        "id": "76dade0f.884bb",
        "type": "api-current-state",
        "z": "b13ca13c.9328e",
        "name": "home security is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.home_security",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "input_boolean.home_security",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1370,
        "y": 220,
        "wires": [
            [
                "1e0c9024.40fd9",
                "5bee85e2.5958fc",
                "85c14e5d7384e6c6"
            ],
            []
        ]
    },
    {
        "id": "1e0c9024.40fd9",
        "type": "api-call-service",
        "z": "b13ca13c.9328e",
        "name": "turn on alarm",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.alarm"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1670,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "50a28070.5f3b8",
        "type": "api-current-state",
        "z": "b13ca13c.9328e",
        "name": "state cancel home security timer active",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "active",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "timer.home_security",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "timer.security",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "3e130ee2.3c60c2"
            ],
            []
        ]
    },
    {
        "id": "3e130ee2.3c60c2",
        "type": "api-call-service",
        "z": "b13ca13c.9328e",
        "name": "cancel home security timer",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "timer",
        "service": "cancel",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "timer.home_security"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 800,
        "y": 220,
        "wires": [
            [
                "74c8186f.59ee08"
            ]
        ]
    },
    {
        "id": "29fb388f.6b0768",
        "type": "api-current-state",
        "z": "b13ca13c.9328e",
        "name": "outdoor is dark",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "dark",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.outdoor_light_dark",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1040,
        "y": 60,
        "wires": [
            [
                "3af8865a.e67f0a"
            ],
            []
        ]
    },
    {
        "id": "3af8865a.e67f0a",
        "type": "api-call-service",
        "z": "b13ca13c.9328e",
        "name": "turn on light backyard front door",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shellydimmer_backyard_string_l",
            "light.shelly1_front_door"
        ],
        "data": "{\"brightness\":60}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1270,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d60f34c7.e15c08",
        "type": "comment",
        "z": "b13ca13c.9328e",
        "name": "home security",
        "info": "",
        "x": 90,
        "y": 20,
        "wires": []
    },
    {
        "id": "5bee85e2.5958fc",
        "type": "template",
        "z": "b13ca13c.9328e",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Het alarm gaat af! Beveiliging uitschakelen?",
        "output": "str",
        "x": 1660,
        "y": 220,
        "wires": [
            [
                "3ad564319a62aa0f"
            ]
        ]
    },
    {
        "id": "218b9cc3.1e7df4",
        "type": "server-state-changed",
        "z": "b13ca13c.9328e",
        "name": "state home securty",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_boolean.home_security",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 220,
        "wires": [
            [
                "f717f95f.430aa8"
            ]
        ]
    },
    {
        "id": "f717f95f.430aa8",
        "type": "switch",
        "z": "b13ca13c.9328e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "50a28070.5f3b8"
            ],
            [
                "50a28070.5f3b8",
                "2f8f5ff2.f712d"
            ]
        ]
    },
    {
        "id": "2f8f5ff2.f712d",
        "type": "api-call-service",
        "z": "b13ca13c.9328e",
        "name": "turn off alarm",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.alarm"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "7a028f41.56997"
            ]
        ]
    },
    {
        "id": "74c8186f.59ee08",
        "type": "change",
        "z": "b13ca13c.9328e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "743671d6.44575"
            ]
        ]
    },
    {
        "id": "4a56a5d0.e5ef1c",
        "type": "api-call-service",
        "z": "b13ca13c.9328e",
        "name": "start alarm_countdown timer",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "timer",
        "service": "start",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "timer.alarm_countdown"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1080,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7a028f41.56997",
        "type": "api-call-service",
        "z": "b13ca13c.9328e",
        "name": "cancel alarm countdown timer",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "timer",
        "service": "cancel",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "timer.alarm_countdown"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 650,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "40140a3.8383df4",
        "type": "template",
        "z": "b13ca13c.9328e",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De {{door}} is geopend met beveiliging aan. Beveiliging uitschakelen?",
        "output": "str",
        "x": 1660,
        "y": 160,
        "wires": [
            [
                "3ad564319a62aa0f"
            ]
        ]
    },
    {
        "id": "4dbc6d3c.6b1e94",
        "type": "change",
        "z": "b13ca13c.9328e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "door",
                "pt": "msg",
                "to": "voordeur",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "9b797c1b.4dc83"
            ]
        ]
    },
    {
        "id": "2231c04d.678c4",
        "type": "change",
        "z": "b13ca13c.9328e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "door",
                "pt": "msg",
                "to": "achterdeur",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "9b797c1b.4dc83"
            ]
        ]
    },
    {
        "id": "e3f16390.e04ac",
        "type": "change",
        "z": "b13ca13c.9328e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Huis beveiliging",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 60,
        "wires": [
            [
                "5930459.94035bc"
            ]
        ]
    },
    {
        "id": "a9b6866b3f96e444",
        "type": "comment",
        "z": "b13ca13c.9328e",
        "name": "listen to action notification answer event ",
        "info": "",
        "x": 190,
        "y": 480,
        "wires": []
    },
    {
        "id": "e3606fa703de9ce3",
        "type": "server-events",
        "z": "b13ca13c.9328e",
        "name": "mobile event listner",
        "server": "4ba92433.2478cc",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "mobile_app_notification_action",
        "eventData": "{\"action\":\"HOME_SECURITY_OFF\"}",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "event_type": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "b02d4bae2805d336"
            ]
        ]
    },
    {
        "id": "b02d4bae2805d336",
        "type": "api-call-service",
        "z": "b13ca13c.9328e",
        "name": "turn off home security",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.home_security"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 320,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "85c14e5d7384e6c6",
        "type": "template",
        "z": "b13ca13c.9328e",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Het alarm gaat af! Schakel beveiliging uit in Home Assistant.",
        "output": "str",
        "x": 1660,
        "y": 380,
        "wires": [
            [
                "3a0c4f886a8c4e54"
            ]
        ]
    },
    {
        "id": "668b5737b0f584a7",
        "type": "template",
        "z": "b13ca13c.9328e",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De {{door}} is geopend met beveiliging aan, schakel beveiliging uit in Home Assistant.",
        "output": "str",
        "x": 1660,
        "y": 300,
        "wires": [
            [
                "3a0c4f886a8c4e54"
            ]
        ]
    },
    {
        "id": "e19d09cced81d589",
        "type": "server-state-changed",
        "z": "b13ca13c.9328e",
        "name": "alarm is on",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "input_boolean.alarm",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "alarm",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 80,
        "y": 400,
        "wires": [
            [
                "5874beb71c3c9523"
            ],
            [
                "5874beb71c3c9523"
            ]
        ]
    },
    {
        "id": "90650fd4618583b4",
        "type": "comment",
        "z": "b13ca13c.9328e",
        "name": "turn on lights when alarm is on",
        "info": "",
        "x": 160,
        "y": 360,
        "wires": []
    },
    {
        "id": "5874beb71c3c9523",
        "type": "link out",
        "z": "b13ca13c.9328e",
        "name": "security_home",
        "mode": "link",
        "links": [
            "43cbfb522e72cbe5"
        ],
        "x": 185,
        "y": 400,
        "wires": []
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]