src/data/flows/sensor_washing_machine.json
[
    {
        "id": "c23003c7.1c978",
        "type": "tab",
        "label": "sensor_washing_machine",
        "disabled": false,
        "info": ""
    },
    {
        "id": "283f88d61789c306",
        "type": "group",
        "z": "c23003c7.1c978",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "96e077260be2f7fb",
            "d93bd58ac5ac0363",
            "1e0f934a3493b12f",
            "beedc605a0a3cbac",
            "2191e2bfc331009c",
            "61f9d42e4c070321",
            "96679db36a4a3636"
        ],
        "x": 1314,
        "y": 99,
        "w": 472,
        "h": 202
    },
    {
        "id": "f2123713074fa557",
        "type": "group",
        "z": "c23003c7.1c978",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3eba4ba84e7b67ae",
            "06bc5fe464e9132d",
            "aa6339118c6cf238",
            "0174447baafb1dab"
        ],
        "x": 14,
        "y": 39,
        "w": 502,
        "h": 82
    },
    {
        "id": "2191e2bfc331009c",
        "type": "junction",
        "z": "c23003c7.1c978",
        "g": "283f88d61789c306",
        "x": 1340,
        "y": 160,
        "wires": [
            [
                "d93bd58ac5ac0363",
                "96e077260be2f7fb",
                "61f9d42e4c070321",
                "96679db36a4a3636"
            ]
        ]
    },
    {
        "id": "96679db36a4a3636",
        "type": "template",
        "z": "c23003c7.1c978",
        "g": "283f88d61789c306",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De wasmachine is klaar.",
        "output": "str",
        "x": 1460,
        "y": 260,
        "wires": [
            [
                "beedc605a0a3cbac"
            ]
        ]
    },
    {
        "id": "61f9d42e4c070321",
        "type": "template",
        "z": "c23003c7.1c978",
        "g": "283f88d61789c306",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "washing_machine",
        "output": "str",
        "x": 1470,
        "y": 220,
        "wires": [
            [
                "beedc605a0a3cbac"
            ]
        ]
    },
    {
        "id": "beedc605a0a3cbac",
        "type": "join",
        "z": "c23003c7.1c978",
        "g": "283f88d61789c306",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1650,
        "y": 200,
        "wires": [
            [
                "1e0f934a3493b12f"
            ]
        ]
    },
    {
        "id": "1e0f934a3493b12f",
        "type": "link out",
        "z": "c23003c7.1c978",
        "g": "283f88d61789c306",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b",
            "aeee8468f3d1b7ad",
            "c4660dc11fb0e5b8"
        ],
        "x": 1745,
        "y": 200,
        "wires": []
    },
    {
        "id": "d93bd58ac5ac0363",
        "type": "template",
        "z": "c23003c7.1c978",
        "g": "283f88d61789c306",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Wasmachine",
        "output": "str",
        "x": 1450,
        "y": 140,
        "wires": [
            [
                "beedc605a0a3cbac"
            ]
        ]
    },
    {
        "id": "96e077260be2f7fb",
        "type": "template",
        "z": "c23003c7.1c978",
        "g": "283f88d61789c306",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1450,
        "y": 180,
        "wires": [
            [
                "beedc605a0a3cbac"
            ]
        ]
    },
    {
        "id": "3e4cd67e.efae1a",
        "type": "switch",
        "z": "c23003c7.1c978",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "3.9",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "487d5ed4.e5e61"
            ],
            [
                "bf29d7a3.4b42e8"
            ]
        ]
    },
    {
        "id": "9def52c1.f5b5a",
        "type": "trigger-state",
        "z": "c23003c7.1c978",
        "name": "state washing machine watt",
        "server": "4ba92433.2478cc",
        "version": 5,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.shellyplug_washing_machine_power"
            ],
            "substring": [],
            "regex": []
        },
        "debugEnabled": false,
        "constraints": [],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "num",
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 140,
        "y": 160,
        "wires": [
            [
                "1de77a16.189c66"
            ],
            []
        ]
    },
    {
        "id": "8de0025c.f9ce2",
        "type": "comment",
        "z": "c23003c7.1c978",
        "name": "Set washing machine binary sensor on or off based on power measurements",
        "info": "",
        "x": 290,
        "y": 20,
        "wires": []
    },
    {
        "id": "4bbf608.80d0ca",
        "type": "change",
        "z": "c23003c7.1c978",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 160,
        "wires": [
            [
                "84dfbc214d4e3a8d"
            ]
        ]
    },
    {
        "id": "26d18854.3c6808",
        "type": "change",
        "z": "c23003c7.1c978",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 220,
        "wires": [
            [
                "84dfbc214d4e3a8d"
            ]
        ]
    },
    {
        "id": "487d5ed4.e5e61",
        "type": "api-current-state",
        "z": "c23003c7.1c978",
        "name": "state is not on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "binary_sensor.washing_machine",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "4bbf608.80d0ca"
            ],
            []
        ]
    },
    {
        "id": "bf29d7a3.4b42e8",
        "type": "api-current-state",
        "z": "c23003c7.1c978",
        "name": "state is not off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "binary_sensor.washing_machine",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 680,
        "y": 220,
        "wires": [
            [
                "26d18854.3c6808"
            ],
            []
        ]
    },
    {
        "id": "48fe7380.0c049c",
        "type": "switch",
        "z": "c23003c7.1c978",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1250,
        "y": 160,
        "wires": [
            [
                "2191e2bfc331009c"
            ]
        ]
    },
    {
        "id": "1de77a16.189c66",
        "type": "stoptimer",
        "z": "c23003c7.1c978",
        "duration": "10",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "3e4cd67e.efae1a"
            ],
            []
        ]
    },
    {
        "id": "84dfbc214d4e3a8d",
        "type": "ha-binary-sensor",
        "z": "c23003c7.1c978",
        "name": "sensor washing machine",
        "entityConfig": "bdbe52c.932a5b",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1070,
        "y": 160,
        "wires": [
            [
                "48fe7380.0c049c"
            ]
        ]
    },
    {
        "id": "3eba4ba84e7b67ae",
        "type": "catch",
        "z": "c23003c7.1c978",
        "g": "f2123713074fa557",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "06bc5fe464e9132d"
            ]
        ]
    },
    {
        "id": "06bc5fe464e9132d",
        "type": "template",
        "z": "c23003c7.1c978",
        "g": "f2123713074fa557",
        "name": "messsage",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "message: {{{error.message}}} \\nSource: id: {{error.source.id}} \\ntype: {{error.source.type}} \\nname: {{error.source.name}} \\ncount: {{error.source.count}}",
        "output": "str",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "0174447baafb1dab"
            ]
        ]
    },
    {
        "id": "aa6339118c6cf238",
        "type": "link out",
        "z": "c23003c7.1c978",
        "g": "f2123713074fa557",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "a97f87cfab413716"
        ],
        "x": 475,
        "y": 80,
        "wires": []
    },
    {
        "id": "0174447baafb1dab",
        "type": "template",
        "z": "c23003c7.1c978",
        "g": "f2123713074fa557",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Node-RED",
        "output": "str",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "aa6339118c6cf238"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "bdbe52c.932a5b",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "washing_machine",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "washing_machine"
            },
            {
                "property": "icon",
                "value": "mdi:washing-machine"
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    }
]