src/data/flows/sensor_thumble_dryer.json
[
    {
        "id": "72ef82b8.9d086c",
        "type": "tab",
        "label": "sensor_thumble_dryer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "677a462e190a4c92",
        "type": "group",
        "z": "72ef82b8.9d086c",
        "name": "notify",
        "style": {
            "label": true
        },
        "nodes": [
            "f359939883ebec80",
            "70a25e05987238de",
            "0993d50e3c03d798",
            "a91faa17c024af1e",
            "df3bd9cee59e687a",
            "7913c8cedd9b8d45",
            "95286ff3.9f33d"
        ],
        "x": 1244,
        "y": 139,
        "w": 472,
        "h": 202
    },
    {
        "id": "48945dbb970d3465",
        "type": "group",
        "z": "72ef82b8.9d086c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "95a0ca31cb9f81d2",
            "d6fdd4c4271165e1",
            "a88aa9f85b115b03",
            "2eb8824d45a66c4f"
        ],
        "x": 14,
        "y": 39,
        "w": 502,
        "h": 82
    },
    {
        "id": "df3bd9cee59e687a",
        "type": "junction",
        "z": "72ef82b8.9d086c",
        "g": "677a462e190a4c92",
        "x": 1270,
        "y": 200,
        "wires": [
            [
                "70a25e05987238de",
                "f359939883ebec80",
                "7913c8cedd9b8d45",
                "95286ff3.9f33d"
            ]
        ]
    },
    {
        "id": "7913c8cedd9b8d45",
        "type": "template",
        "z": "72ef82b8.9d086c",
        "g": "677a462e190a4c92",
        "name": "notification id",
        "field": "notify.notification_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "tumble_dryer",
        "output": "str",
        "x": 1400,
        "y": 260,
        "wires": [
            [
                "a91faa17c024af1e"
            ]
        ]
    },
    {
        "id": "a91faa17c024af1e",
        "type": "join",
        "z": "72ef82b8.9d086c",
        "g": "677a462e190a4c92",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "notify",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1580,
        "y": 240,
        "wires": [
            [
                "0993d50e3c03d798"
            ]
        ]
    },
    {
        "id": "0993d50e3c03d798",
        "type": "link out",
        "z": "72ef82b8.9d086c",
        "g": "677a462e190a4c92",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "8ed3b0974336e55b",
            "aeee8468f3d1b7ad",
            "c4660dc11fb0e5b8"
        ],
        "x": 1675,
        "y": 240,
        "wires": []
    },
    {
        "id": "70a25e05987238de",
        "type": "template",
        "z": "72ef82b8.9d086c",
        "g": "677a462e190a4c92",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Droger",
        "output": "str",
        "x": 1380,
        "y": 180,
        "wires": [
            [
                "a91faa17c024af1e"
            ]
        ]
    },
    {
        "id": "f359939883ebec80",
        "type": "template",
        "z": "72ef82b8.9d086c",
        "g": "677a462e190a4c92",
        "name": "icon",
        "field": "notify.icon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1380,
        "y": 220,
        "wires": [
            [
                "a91faa17c024af1e"
            ]
        ]
    },
    {
        "id": "95286ff3.9f33d",
        "type": "template",
        "z": "72ef82b8.9d086c",
        "g": "677a462e190a4c92",
        "name": "message",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De droger is klaar.",
        "output": "str",
        "x": 1390,
        "y": 300,
        "wires": [
            [
                "a91faa17c024af1e"
            ]
        ]
    },
    {
        "id": "6bda6302.ca5bcc",
        "type": "switch",
        "z": "72ef82b8.9d086c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "310",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "78d208e5.9e2828"
            ],
            [
                "61c558b2.b38c78"
            ]
        ]
    },
    {
        "id": "4a449402.69359c",
        "type": "change",
        "z": "72ef82b8.9d086c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 160,
        "wires": [
            [
                "f2f5e3d5cd8dec8d"
            ]
        ]
    },
    {
        "id": "401de4c3.c5e84c",
        "type": "change",
        "z": "72ef82b8.9d086c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 220,
        "wires": [
            [
                "f2f5e3d5cd8dec8d"
            ]
        ]
    },
    {
        "id": "78d208e5.9e2828",
        "type": "api-current-state",
        "z": "72ef82b8.9d086c",
        "name": "state is not on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "binary_sensor.tumble_dryer",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 640,
        "y": 160,
        "wires": [
            [
                "4a449402.69359c"
            ],
            []
        ]
    },
    {
        "id": "61c558b2.b38c78",
        "type": "api-current-state",
        "z": "72ef82b8.9d086c",
        "name": "state is not off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "binary_sensor.tumble_dryer",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "401de4c3.c5e84c"
            ],
            []
        ]
    },
    {
        "id": "90a01313.ddff9",
        "type": "trigger-state",
        "z": "72ef82b8.9d086c",
        "name": "state tumble dryer watt",
        "server": "4ba92433.2478cc",
        "version": 5,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.shellyplug_tumble_dryer_power"
            ],
            "substring": [],
            "regex": []
        },
        "debugEnabled": false,
        "constraints": [],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "num",
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 120,
        "y": 160,
        "wires": [
            [
                "bcdcd79d.345708"
            ],
            []
        ]
    },
    {
        "id": "e78c18ee.1eb558",
        "type": "switch",
        "z": "72ef82b8.9d086c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "df3bd9cee59e687a"
            ]
        ]
    },
    {
        "id": "bcdcd79d.345708",
        "type": "stoptimer",
        "z": "72ef82b8.9d086c",
        "duration": "15",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "6bda6302.ca5bcc"
            ],
            []
        ]
    },
    {
        "id": "e0083fb4.5a45",
        "type": "comment",
        "z": "72ef82b8.9d086c",
        "name": "Set thumble dryer binary sensor on or off based on power measurements",
        "info": "Set thumble dryer binary sensor on or off based on power measurements`",
        "x": 280,
        "y": 20,
        "wires": []
    },
    {
        "id": "f2f5e3d5cd8dec8d",
        "type": "ha-binary-sensor",
        "z": "72ef82b8.9d086c",
        "name": "tumble_dryer",
        "entityConfig": "2c5f48cef312ec68",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "e78c18ee.1eb558"
            ]
        ]
    },
    {
        "id": "95a0ca31cb9f81d2",
        "type": "catch",
        "z": "72ef82b8.9d086c",
        "g": "48945dbb970d3465",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "d6fdd4c4271165e1"
            ]
        ]
    },
    {
        "id": "d6fdd4c4271165e1",
        "type": "template",
        "z": "72ef82b8.9d086c",
        "g": "48945dbb970d3465",
        "name": "messsage",
        "field": "notify.message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "message: {{{error.message}}} \\nSource: id: {{error.source.id}} \\ntype: {{error.source.type}} \\nname: {{error.source.name}} \\ncount: {{error.source.count}}",
        "output": "str",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "2eb8824d45a66c4f"
            ]
        ]
    },
    {
        "id": "a88aa9f85b115b03",
        "type": "link out",
        "z": "72ef82b8.9d086c",
        "g": "48945dbb970d3465",
        "name": "link_out_notify_1",
        "mode": "link",
        "links": [
            "a97f87cfab413716"
        ],
        "x": 475,
        "y": 80,
        "wires": []
    },
    {
        "id": "2eb8824d45a66c4f",
        "type": "template",
        "z": "72ef82b8.9d086c",
        "g": "48945dbb970d3465",
        "name": "title",
        "field": "notify.title",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Node-RED",
        "output": "str",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "a88aa9f85b115b03"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "2c5f48cef312ec68",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "tumble_dryer",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "tumble_dryer"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    }
]