src/data/flows/shelly_i3.json
[
    {
        "id": "0f710598d50e0596",
        "type": "subflow",
        "name": "tv_mode_off",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "19c16b81a65ce03d"
                    },
                    {
                        "id": "7d78624dbc489f07"
                    },
                    {
                        "id": "f0aeb0277f95eebd"
                    },
                    {
                        "id": "f69679ab2ccbee4f"
                    },
                    {
                        "id": "1f164f2207e30219"
                    },
                    {
                        "id": "46e45a22c53e320a"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "19c16b81a65ce03d",
        "type": "api-call-service",
        "z": "0f710598d50e0596",
        "name": "turn off media players",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.home_speaker",
            "media_player.lg_webos_smart_tv",
            "media_player.lise_s_kamer",
            "media_player.shield"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 220,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7d78624dbc489f07",
        "type": "api-current-state",
        "z": "0f710598d50e0596",
        "name": "state input boolean tv is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.tv",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "ed81a86bf1f06d72"
            ],
            []
        ]
    },
    {
        "id": "ed81a86bf1f06d72",
        "type": "api-call-service",
        "z": "0f710598d50e0596",
        "name": "turn off input boolean tv",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.tv"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f0aeb0277f95eebd",
        "type": "api-current-state",
        "z": "0f710598d50e0596",
        "name": "state input boolean music is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.music",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "7df266f8e004a08d"
            ],
            []
        ]
    },
    {
        "id": "7df266f8e004a08d",
        "type": "api-call-service",
        "z": "0f710598d50e0596",
        "name": "turn off input boolean music",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.music"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f69679ab2ccbee4f",
        "type": "api-call-service",
        "z": "0f710598d50e0596",
        "name": "select radio uit",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.radio_station"
        ],
        "data": "{\"option\":\"Radio Uit\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 200,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1f164f2207e30219",
        "type": "api-call-service",
        "z": "0f710598d50e0596",
        "name": "select spotify uit",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.spotify_playlist"
        ],
        "data": "{\"option\":\"Spotify Uit\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 200,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6a12c49028cb62b2",
        "type": "api-call-service",
        "z": "0f710598d50e0596",
        "name": "turn off tv",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "webostv",
        "service": "command",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.lg_webos_smart_tv"
        ],
        "data": "{\"command\":\"system/turnOff\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 180,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "46e45a22c53e320a",
        "type": "api-call-service",
        "z": "0f710598d50e0596",
        "name": "turn off reciever",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "remote",
        "service": "send_command",
        "areaId": [
            "living_room"
        ],
        "deviceId": [
            "34a73fe47cda5c964dcb946e48f8a307"
        ],
        "entityId": [
            "remote.harmony_hub_01"
        ],
        "data": "{\"device\":\"53126254\",\"command\":\"PowerOff\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 200,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b93cc1561f32248d",
        "type": "subflow",
        "name": "temp_frontyard_powersocket_off",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "441696546b08b299"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "441696546b08b299",
        "type": "api-call-service",
        "z": "b93cc1561f32248d",
        "name": "turn off frontyard powersocket",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.shelly1_frontyard_powersocket"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 210,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ce4fb69f6baf8bae",
        "type": "comment",
        "z": "b93cc1561f32248d",
        "name": "temporary subflow to turn off powersocket christmas lights",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "79544bf2.1ff3a4",
        "type": "subflow",
        "name": "off_mode",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 52,
                "y": 104,
                "wires": [
                    {
                        "id": "e0b2428a.a371b"
                    },
                    {
                        "id": "83808dcd.70439"
                    },
                    {
                        "id": "5644cdae.e32cc4"
                    },
                    {
                        "id": "8f9f8583.d61818"
                    },
                    {
                        "id": "70042c68d7934e2a"
                    },
                    {
                        "id": "db8cc8f4bb9386ab"
                    },
                    {
                        "id": "f9028094.57a62"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3b9a1fc1.aafd9",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "input select harmonyhub alles uit",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.harmonyhub"
        ],
        "data": "{\"option\":\"Alles Uit\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "397bbd3d.0bb3f2",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "turn on climate auto mode",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_hvac_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "{\"hvac_mode\":\"auto\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 470,
        "y": 480,
        "wires": [
            [
                "477c8f0e.c4289"
            ]
        ]
    },
    {
        "id": "477c8f0e.c4289",
        "type": "join",
        "z": "79544bf2.1ff3a4",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload.attributes.friendly_name",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ", ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 480,
        "wires": [
            [
                "b85d118c.fbdc4"
            ]
        ]
    },
    {
        "id": "b85d118c.fbdc4",
        "type": "template",
        "z": "79544bf2.1ff3a4",
        "name": "message",
        "field": "message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De verwarming in {{{payload.attributes.friendly_name}}} is van handmatig naar automatische stand geschakeld.",
        "output": "str",
        "x": 860,
        "y": 480,
        "wires": [
            [
                "ad7f00b7b2b0e671"
            ]
        ]
    },
    {
        "id": "e0b2428a.a371b",
        "type": "ha-get-entities",
        "z": "79544bf2.1ff3a4",
        "name": "lookup lights on",
        "server": "4ba92433.2478cc",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "light.",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 200,
        "y": 420,
        "wires": [
            [
                "9eb23897.6d9b38"
            ]
        ]
    },
    {
        "id": "9eb23897.6d9b38",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "turn off lights",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "fda4eae176ed738e"
            ]
        ]
    },
    {
        "id": "83808dcd.70439",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "turn off water heater",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "water_heater",
        "service": "set_operation_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "water_heater.warm_water"
        ],
        "data": "{\"operation_mode\":\"off\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 220,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c57acb4f.9d1808",
        "type": "comment",
        "z": "79544bf2.1ff3a4",
        "name": "off mode actions",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "5644cdae.e32cc4",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "turn off childlock kitchen",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.childlock_kitchen_switch"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 230,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8f9f8583.d61818",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "input select spotify playlist spotify uit",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.spotify_playlist"
        ],
        "data": "{\"option\":\"Spotify Uit\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 270,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a680c17548559ce2",
        "type": "link out",
        "z": "79544bf2.1ff3a4",
        "name": "",
        "links": [],
        "x": 1965,
        "y": 420,
        "wires": []
    },
    {
        "id": "ad7f00b7b2b0e671",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "In APP Notify",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "persistent_notification",
        "service": "create",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{message}}\",\"title\":\"Verwarming\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "a680c17548559ce2"
            ]
        ]
    },
    {
        "id": "fda4eae176ed738e",
        "type": "template",
        "z": "79544bf2.1ff3a4",
        "name": "format friendly name",
        "field": "friendly_name",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{payload.attributes.friendly_name}}}",
        "output": "str",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "58d0a2479b16b408"
            ]
        ]
    },
    {
        "id": "58d0a2479b16b408",
        "type": "join",
        "z": "79544bf2.1ff3a4",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "friendly_name",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ", ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "89625810ae98a2fc"
            ]
        ]
    },
    {
        "id": "89625810ae98a2fc",
        "type": "template",
        "z": "79544bf2.1ff3a4",
        "name": "message",
        "field": "message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{friendly_name}}} verlichting stond nog aan en is nu automatisch uitgeschakeld.",
        "output": "str",
        "x": 860,
        "y": 420,
        "wires": [
            [
                "a8dadd67cf109c6d"
            ]
        ]
    },
    {
        "id": "a8dadd67cf109c6d",
        "type": "api-call-service",
        "z": "79544bf2.1ff3a4",
        "name": "In APP Notify",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "persistent_notification",
        "service": "create",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{message}}\",\"title\":\"Verlichting\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "a680c17548559ce2"
            ]
        ]
    },
    {
        "id": "70042c68d7934e2a",
        "type": "subflow:b93cc1561f32248d",
        "z": "79544bf2.1ff3a4",
        "name": "",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "db8cc8f4bb9386ab",
        "type": "api-current-state",
        "z": "79544bf2.1ff3a4",
        "name": "state input select is all off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "Alles Uit",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.harmonyhub",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "8b596edabf419a04"
            ],
            [
                "3b9a1fc1.aafd9"
            ]
        ]
    },
    {
        "id": "8b596edabf419a04",
        "type": "subflow:0f710598d50e0596",
        "z": "79544bf2.1ff3a4",
        "name": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "f9028094.57a62",
        "type": "ha-get-entities",
        "z": "79544bf2.1ff3a4",
        "name": "lookup climate is not auto",
        "server": "4ba92433.2478cc",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "climate.",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is_not",
                "value": "auto",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "397bbd3d.0bb3f2"
            ]
        ]
    },
    {
        "id": "f180ab88.925788",
        "type": "tab",
        "label": "shelly_i3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0260edcb14ed697c",
        "type": "server-events",
        "z": "f180ab88.925788",
        "name": "Shellyi3 click events",
        "server": "4ba92433.2478cc",
        "version": 2,
        "eventType": "shelly.click",
        "exposeToHomeAssistant": false,
        "eventData": "",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "event_type": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "6c206218b08a0e02"
            ]
        ]
    },
    {
        "id": "6c206218b08a0e02",
        "type": "switch",
        "z": "f180ab88.925788",
        "name": "shellyi3 livingroom",
        "property": "payload.event.device",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "shellyix3-68C63AFAA400",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "5de4c93f0f01b4d6"
            ]
        ]
    },
    {
        "id": "38359ee3075d7265",
        "type": "switch",
        "z": "f180ab88.925788",
        "name": "click type channel 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "triple",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long_single",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "50431910a8796898"
            ],
            [
                "5f8efcaec75665b3"
            ],
            [
                "4bf2349a.895f9c"
            ],
            [],
            [
                "fd23c1487f8b7a61"
            ],
            [
                "a682fb38.5bddb8"
            ]
        ]
    },
    {
        "id": "114df27610bf61b8",
        "type": "switch",
        "z": "f180ab88.925788",
        "name": "click type channel 2",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "triple",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long_single",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 670,
        "y": 460,
        "wires": [
            [
                "bfb3705a.97302"
            ],
            [
                "23adc282.4b50fe"
            ],
            [
                "c4aeda1d.85afa8"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "5f8efcaec75665b3",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "toggle light christmas tree",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.christmas_tree"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 950,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "50431910a8796898",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "toggle light backyard",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shellydimmer_backyard_string_l"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 940,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "61e7530204f85e25",
        "type": "comment",
        "z": "f180ab88.925788",
        "name": "shelly i3 actions channel 1 is the right button channel 2 is the left button",
        "info": "[shellyi3.lan](http://shellyi3.lan)",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "bfb3705a.97302",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "toggle light barn hanging lamp",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shellydimmer_barn_hanging_lamp"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 970,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "23adc282.4b50fe",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "toggle childlock kitchen switch",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.childlock_kitchen_switch"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 970,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5de4c93f0f01b4d6",
        "type": "switch",
        "z": "f180ab88.925788",
        "name": "channel 1 or 2",
        "property": "payload.event.channel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "38359ee3075d7265"
            ],
            [
                "114df27610bf61b8"
            ]
        ]
    },
    {
        "id": "fd23c1487f8b7a61",
        "type": "api-current-state",
        "z": "f180ab88.925788",
        "name": "state spotify playlist",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "Spotify Uit",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.spotify_playlist",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 930,
        "y": 220,
        "wires": [
            [
                "1ce0c78537fc9a18"
            ],
            [
                "368eace4cfa218fd"
            ]
        ]
    },
    {
        "id": "1ce0c78537fc9a18",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "select spotify playlist",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.spotify_playlist"
        ],
        "data": "{\"option\":\"Mijn Muziek\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1140,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "368eace4cfa218fd",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "select spotify playlist",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.radio_station"
        ],
        "data": "{\"option\":\"Spotify Uit\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1140,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4bf2349a.895f9c",
        "type": "subflow:79544bf2.1ff3a4",
        "z": "f180ab88.925788",
        "name": "",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "c4aeda1d.85afa8",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "toggle switch sleepmode",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.sleep_mode"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 950,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "a682fb38.5bddb8",
        "type": "api-current-state",
        "z": "f180ab88.925788",
        "name": "state radio station ",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "Radio Uit",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.radio_station",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 930,
        "y": 300,
        "wires": [
            [
                "c3116dd.2ddc69"
            ],
            [
                "8cf0345.f0a8ec8"
            ]
        ]
    },
    {
        "id": "c3116dd.2ddc69",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "select radio station",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.radio_station"
        ],
        "data": "{\"option\":\"NPO Radio 2\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8cf0345.f0a8ec8",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "select radio station",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.radio_station"
        ],
        "data": "{\"option\":\"Radio Uit\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]