src/data/flows/shelly_i3.json
[
    {
        "id": "f180ab88.925788",
        "type": "tab",
        "label": "shelly_i3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0260edcb14ed697c",
        "type": "server-events",
        "z": "f180ab88.925788",
        "name": "Shellyi3 livingroom click events",
        "server": "4ba92433.2478cc",
        "version": 2,
        "eventType": "shelly.click",
        "exposeToHomeAssistant": false,
        "eventData": "{\"device\":\"shellyix3-68C63AFAA400\"}",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "event_type": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "5de4c93f0f01b4d6"
            ]
        ]
    },
    {
        "id": "38359ee3075d7265",
        "type": "switch",
        "z": "f180ab88.925788",
        "name": "click type channel 2",
        "property": "payload.event.click_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "triple",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long_single",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "bfb3705a.97302"
            ],
            [
                "23adc282.4b50fe"
            ],
            [
                "78bedeb65fca6d0f"
            ],
            [],
            [
                "fd23c1487f8b7a61"
            ],
            [
                "a682fb38.5bddb8"
            ]
        ]
    },
    {
        "id": "114df27610bf61b8",
        "type": "switch",
        "z": "f180ab88.925788",
        "name": "click type channel 1",
        "property": "payload.event.click_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "triple",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_long",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long_single",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 630,
        "y": 100,
        "wires": [
            [
                "50431910a8796898"
            ],
            [
                "5f8efcaec75665b3"
            ],
            [
                "c4aeda1d.85afa8"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "61e7530204f85e25",
        "type": "comment",
        "z": "f180ab88.925788",
        "name": "shelly i3 actions channel 1 is the right button channel 2 is the left button",
        "info": "[shellyi3.lan](http://shellyi3.lan)",
        "x": 270,
        "y": 20,
        "wires": []
    },
    {
        "id": "5de4c93f0f01b4d6",
        "type": "switch",
        "z": "f180ab88.925788",
        "name": "channel 1 or 2",
        "property": "payload.event.channel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 60,
        "wires": [
            [
                "114df27610bf61b8"
            ],
            [
                "38359ee3075d7265"
            ]
        ]
    },
    {
        "id": "fd23c1487f8b7a61",
        "type": "api-current-state",
        "z": "f180ab88.925788",
        "name": "state spotify playlist",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "Spotify Uit",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.spotify_playlist",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 870,
        "y": 460,
        "wires": [
            [
                "1ce0c78537fc9a18"
            ],
            [
                "368eace4cfa218fd"
            ]
        ]
    },
    {
        "id": "1ce0c78537fc9a18",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "select spotify playlist",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.spotify_playlist"
        ],
        "data": "{\"option\":\"Mijn Muziek\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1140,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "368eace4cfa218fd",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "select spotify playlist",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.radio_station"
        ],
        "data": "{\"option\":\"Spotify Uit\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1140,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c4aeda1d.85afa8",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "toggle switch sleepmode",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.sleep_mode"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 890,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a682fb38.5bddb8",
        "type": "api-current-state",
        "z": "f180ab88.925788",
        "name": "state radio station ",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "Radio Uit",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.radio_station",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 870,
        "y": 520,
        "wires": [
            [
                "c3116dd.2ddc69"
            ],
            [
                "8cf0345.f0a8ec8"
            ]
        ]
    },
    {
        "id": "c3116dd.2ddc69",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "select radio station",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.radio_station"
        ],
        "data": "{\"option\":\"NPO Radio 2\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8cf0345.f0a8ec8",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "select radio station",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.radio_station"
        ],
        "data": "{\"option\":\"Radio Uit\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "50431910a8796898",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "toggle light backyard",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shellydimmer_backyard_string_l"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 880,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bfb3705a.97302",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "toggle light barn hanging lamp",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.shellydimmer_barn_hanging_lamp"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 910,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5f8efcaec75665b3",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "toggle light christmas tree",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.christmas_tree"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 890,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "23adc282.4b50fe",
        "type": "api-call-service",
        "z": "f180ab88.925788",
        "name": "toggle childlock kitchen switch",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.childlock_kitchen_switch"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 910,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "78bedeb65fca6d0f",
        "type": "link out",
        "z": "f180ab88.925788",
        "name": "link out to off_mode",
        "mode": "link",
        "links": [
            "51f8fd5354fac718"
        ],
        "x": 795,
        "y": 400,
        "wires": []
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]