src/data/flows/spotify_api.json
[
    {
        "id": "0a4e0762f5261024",
        "type": "subflow",
        "name": "spotify_access_token",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "c2135e1864cfd9e7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 80,
                "wires": [
                    {
                        "id": "743d58e81b2bc746",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "2ba64b7b96f9fcb4",
        "type": "http request",
        "z": "0a4e0762f5261024",
        "name": "get token",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://accounts.spotify.com/api/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            }
        ],
        "x": 580,
        "y": 80,
        "wires": [
            [
                "743d58e81b2bc746"
            ]
        ]
    },
    {
        "id": "c2135e1864cfd9e7",
        "type": "change",
        "z": "0a4e0762f5261024",
        "name": "client id and client secret",
        "rules": [
            {
                "t": "set",
                "p": "client_id",
                "pt": "msg",
                "to": "SPOTIFY_API_CLIENT_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "client_secret",
                "pt": "msg",
                "to": "SPOTIFY_API_CLIENT_SECRET",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "924b2a4b7bccd021"
            ]
        ]
    },
    {
        "id": "924b2a4b7bccd021",
        "type": "template",
        "z": "0a4e0762f5261024",
        "name": "body for get token",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "grant_type=client_credentials&client_id={{{client_id}}}&client_secret={{{client_secret}}}",
        "output": "str",
        "x": 410,
        "y": 80,
        "wires": [
            [
                "2ba64b7b96f9fcb4"
            ]
        ]
    },
    {
        "id": "743d58e81b2bc746",
        "type": "change",
        "z": "0a4e0762f5261024",
        "name": "save access token to flow variable",
        "rules": [
            {
                "t": "set",
                "p": "spotify_access_token",
                "pt": "global",
                "to": "payload.access_token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "53a5f07742283c4c",
        "type": "tab",
        "label": "spotify_api",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "706151681f0ece6f",
        "type": "junction",
        "z": "53a5f07742283c4c",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "3d31c6d443ad7576",
                "60b97d6c27fca342"
            ]
        ]
    },
    {
        "id": "c450a51ea918b745",
        "type": "comment",
        "z": "53a5f07742283c4c",
        "name": "API calls to spotify",
        "info": "",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "6de7c606c864483c",
        "type": "inject",
        "z": "53a5f07742283c4c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "playlist_ids",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "ddc2e044d88310c8"
            ]
        ]
    },
    {
        "id": "7a298aa2cf27f18c",
        "type": "comment",
        "z": "53a5f07742283c4c",
        "name": "Get playlist",
        "info": "",
        "x": 100,
        "y": 280,
        "wires": []
    },
    {
        "id": "3d31c6d443ad7576",
        "type": "template",
        "z": "53a5f07742283c4c",
        "name": "playlist_id_Lise",
        "field": "playlist_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "3ORKq4U4Pv5gMrYdsaT6hw",
        "output": "str",
        "x": 840,
        "y": 360,
        "wires": [
            [
                "b20ef33659df0d8c"
            ]
        ]
    },
    {
        "id": "b20ef33659df0d8c",
        "type": "change",
        "z": "53a5f07742283c4c",
        "name": "userid",
        "rules": [
            {
                "t": "set",
                "p": "userid",
                "pt": "flow",
                "to": "coen.s-nl",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 340,
        "wires": [
            [
                "2784c97a7471c5c6"
            ]
        ]
    },
    {
        "id": "60b97d6c27fca342",
        "type": "template",
        "z": "53a5f07742283c4c",
        "name": "playlist_id_My Shazam Tracks",
        "field": "playlist_id",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "7gHGifRLJgiahSNrugxIoa",
        "output": "str",
        "x": 890,
        "y": 400,
        "wires": [
            [
                "b20ef33659df0d8c"
            ]
        ]
    },
    {
        "id": "2784c97a7471c5c6",
        "type": "template",
        "z": "53a5f07742283c4c",
        "name": "url",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.spotify.com/v1/playlists/{{{playlist_id}}}",
        "output": "str",
        "x": 1230,
        "y": 340,
        "wires": [
            [
                "12d835100c9d80f4"
            ]
        ]
    },
    {
        "id": "12d835100c9d80f4",
        "type": "template",
        "z": "53a5f07742283c4c",
        "name": "authorization value",
        "field": "authorization",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Bearer {{{global.spotify_access_token}}}",
        "output": "str",
        "x": 1390,
        "y": 340,
        "wires": [
            [
                "9e1f9216a2efc6ec"
            ]
        ]
    },
    {
        "id": "9e1f9216a2efc6ec",
        "type": "http request",
        "z": "53a5f07742283c4c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "authorization"
            }
        ],
        "x": 1570,
        "y": 340,
        "wires": [
            [
                "5c51b3e9d158410f"
            ]
        ]
    },
    {
        "id": "1d4f8e3d81b60ffc",
        "type": "switch",
        "z": "53a5f07742283c4c",
        "name": "",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3ORKq4U4Pv5gMrYdsaT6hw",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7gHGifRLJgiahSNrugxIoa",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 520,
        "wires": [
            [
                "a0e90487537504f6"
            ],
            []
        ]
    },
    {
        "id": "a0e90487537504f6",
        "type": "ha-sensor",
        "z": "53a5f07742283c4c",
        "name": "playlist_01",
        "entityConfig": "43f0157d8de58e65",
        "version": 0,
        "state": "payload.name",
        "stateType": "msg",
        "attributes": [
            {
                "property": "name",
                "value": "payload.name",
                "valueType": "msg"
            },
            {
                "property": "image",
                "value": "payload.images[1].url",
                "valueType": "msg"
            },
            {
                "property": "type",
                "value": "payload.type",
                "valueType": "msg"
            },
            {
                "property": "id",
                "value": "payload.id",
                "valueType": "msg"
            },
            {
                "property": "uri",
                "value": "payload.uri",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 270,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "5c51b3e9d158410f",
        "type": "switch",
        "z": "53a5f07742283c4c",
        "name": "statuscode",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1730,
        "y": 340,
        "wires": [
            [
                "bf0844c6b66ef3d3"
            ],
            [
                "1d4f8e3d81b60ffc"
            ]
        ]
    },
    {
        "id": "ddc2e044d88310c8",
        "type": "switch",
        "z": "53a5f07742283c4c",
        "name": "access_token is null",
        "property": "global.spotify_access_token",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "6d1f4e7cd3a2ee36"
            ],
            [
                "706151681f0ece6f"
            ]
        ]
    },
    {
        "id": "bd375d61ba0a188f",
        "type": "inject",
        "z": "53a5f07742283c4c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "50dd1df3d057525e"
            ]
        ]
    },
    {
        "id": "50dd1df3d057525e",
        "type": "change",
        "z": "53a5f07742283c4c",
        "name": "userid",
        "rules": [
            {
                "t": "set",
                "p": "userid",
                "pt": "flow",
                "to": "coen.s-nl",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1120,
        "wires": [
            [
                "5b5550b55913708a"
            ]
        ]
    },
    {
        "id": "5b5550b55913708a",
        "type": "template",
        "z": "53a5f07742283c4c",
        "name": "url",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.spotify.com/v1/users/{{flow.userid}}/playlists",
        "output": "str",
        "x": 370,
        "y": 1120,
        "wires": [
            [
                "9bee98e3c1ca5078"
            ]
        ]
    },
    {
        "id": "9bee98e3c1ca5078",
        "type": "template",
        "z": "53a5f07742283c4c",
        "name": "authorization value",
        "field": "authorization",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Bearer {{{global.spotify_access_token}}}",
        "output": "str",
        "x": 530,
        "y": 1120,
        "wires": [
            [
                "746a4d6c560b9b29"
            ]
        ]
    },
    {
        "id": "746a4d6c560b9b29",
        "type": "http request",
        "z": "53a5f07742283c4c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "authorization"
            }
        ],
        "x": 710,
        "y": 1120,
        "wires": [
            [
                "361939a150ad5ac1"
            ]
        ]
    },
    {
        "id": "611b1ce15c3ce743",
        "type": "comment",
        "z": "53a5f07742283c4c",
        "name": "Get users playlists",
        "info": "",
        "x": 150,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6d1f4e7cd3a2ee36",
        "type": "subflow:0a4e0762f5261024",
        "z": "53a5f07742283c4c",
        "name": "spotify_access_token",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "3d31c6d443ad7576",
                "60b97d6c27fca342"
            ]
        ]
    },
    {
        "id": "bf0844c6b66ef3d3",
        "type": "rbe",
        "z": "53a5f07742283c4c",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "statusCode",
        "topi": "topic",
        "x": 1910,
        "y": 340,
        "wires": [
            [
                "6d1f4e7cd3a2ee36",
                "d590fe49e0b7580c"
            ]
        ]
    },
    {
        "id": "361939a150ad5ac1",
        "type": "debug",
        "z": "53a5f07742283c4c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d590fe49e0b7580c",
        "type": "debug",
        "z": "53a5f07742283c4c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 180,
        "wires": []
    },
    {
        "id": "43f0157d8de58e65",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "de1b475263d9e68f",
        "name": "playlist_01",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "playlist_01"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "de1b475263d9e68f",
        "type": "ha-device-config",
        "name": "spotify_api",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    }
]