src/data/flows/turn_on_guest_mode.json
[
  {
    "id": "a7a34028d045deee",
    "type": "tab",
    "label": "turn_on_guest_mode",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d2c560378b1b926b",
    "type": "server-state-changed",
    "z": "a7a34028d045deee",
    "name": "babysitter calendar event ",
    "server": "4ba92433.2478cc",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "calendar.lise_babysitter",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 130,
    "y": 100,
    "wires": [["0f8b5cf3541d59c4"], []]
  },
  {
    "id": "4fd065fd91ad5c32",
    "type": "comment",
    "z": "a7a34028d045deee",
    "name": "turn on guest mode if calendar event with words \"past\" is found in Lise calendar guest mode will be turn on",
    "info": "",
    "x": 380,
    "y": 40,
    "wires": []
  },
  {
    "id": "0f8b5cf3541d59c4",
    "type": "api-call-service",
    "z": "a7a34028d045deee",
    "name": "turn on guest mode",
    "server": "4ba92433.2478cc",
    "version": 5,
    "debugenabled": false,
    "domain": "input_boolean",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["input_boolean.guest"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 350,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "4ba92433.2478cc",
    "type": "server",
    "name": "Home Assistant",
    "version": 5,
    "addon": false,
    "rejectUnauthorizedCerts": false,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": true,
    "heartbeatInterval": "30",
    "areaSelector": "friendlyName",
    "deviceSelector": "friendlyName",
    "entitySelector": "friendlyName",
    "statusSeparator": "at: ",
    "statusYear": "hidden",
    "statusMonth": "short",
    "statusDay": "numeric",
    "statusHourCycle": "h23",
    "statusTimeFormat": "h:m",
    "enableGlobalContextStore": true
  }
]
