src/data/flows/tvscreen_auto_turn_on-off.json
[
    {
        "id": "39f5e6336137f4b2",
        "type": "tab",
        "label": "tvscreen_auto_turn_on-off",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a50b36c508ee1125",
        "type": "server-state-changed",
        "z": "39f5e6336137f4b2",
        "name": "mediaplayer shield is not playing",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "media_player.shield",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 60,
        "wires": [
            [
                "b17acb7df0bb2bd2"
            ]
        ]
    },
    {
        "id": "2a804e94931f7201",
        "type": "comment",
        "z": "39f5e6336137f4b2",
        "name": "turn off tvscreen when nothing is playing and turn back on when mediaplayer start playing",
        "info": "",
        "x": 330,
        "y": 20,
        "wires": []
    },
    {
        "id": "4627b4f17833a9c1",
        "type": "api-current-state",
        "z": "39f5e6336137f4b2",
        "name": "tvscreen is off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.tvscreen_device",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "bbc211bb39309e9a"
            ],
            []
        ]
    },
    {
        "id": "b17acb7df0bb2bd2",
        "type": "switch",
        "z": "39f5e6336137f4b2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "paused",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "e7db7dd82d8ece7e"
            ],
            [
                "4627b4f17833a9c1",
                "d9540c933a60aec7"
            ]
        ]
    },
    {
        "id": "e7db7dd82d8ece7e",
        "type": "stoptimer",
        "z": "39f5e6336137f4b2",
        "duration": "1",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 720,
        "y": 60,
        "wires": [
            [
                "e1bd6c5c2a6f6233"
            ],
            []
        ]
    },
    {
        "id": "e1bd6c5c2a6f6233",
        "type": "api-current-state",
        "z": "39f5e6336137f4b2",
        "name": "tvscreen is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.tvscreen_device",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 900,
        "y": 60,
        "wires": [
            [
                "e909b6acc3cb8b7e"
            ],
            []
        ]
    },
    {
        "id": "e909b6acc3cb8b7e",
        "type": "api-call-service",
        "z": "39f5e6336137f4b2",
        "name": "turn off tvscreen",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "button",
        "service": "press",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.beeldscherm"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1080,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d9540c933a60aec7",
        "type": "change",
        "z": "39f5e6336137f4b2",
        "name": "set payload stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 120,
        "wires": [
            [
                "e7db7dd82d8ece7e"
            ]
        ]
    },
    {
        "id": "bbc211bb39309e9a",
        "type": "api-call-service",
        "z": "39f5e6336137f4b2",
        "name": "turn on tvscreen",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "button",
        "service": "press",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.beeldscherm"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 700,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]