src/data/flows/vacation_mode.json
[
    {
        "id": "e98ae3c9db1bd6c3",
        "type": "tab",
        "label": "vacation_mode",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "26a044fad0bd8da2",
        "type": "server-state-changed",
        "z": "e98ae3c9db1bd6c3",
        "name": "state persons not home for 1 day",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "group.persons",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "not_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "1",
        "forType": "num",
        "forUnits": "days",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 140,
        "wires": [
            [
                "8299791033488b99"
            ],
            []
        ]
    },
    {
        "id": "505fd0b6095e5990",
        "type": "inject",
        "z": "e98ae3c9db1bd6c3",
        "name": "time trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "*/6 16-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "4aec915beb25bfb5"
            ]
        ]
    },
    {
        "id": "4aec915beb25bfb5",
        "type": "api-current-state",
        "z": "e98ae3c9db1bd6c3",
        "name": "vacation mode is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.vacation_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "bb6f9be9a8d52d38"
            ],
            []
        ]
    },
    {
        "id": "bb6f9be9a8d52d38",
        "type": "ha-get-entities",
        "z": "e98ae3c9db1bd6c3",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "in_group",
                "value": "group.vacation_lights",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "off",
                "valueType": "str"
            }
        ],
        "output_type": "random",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 690,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4fdeb47515a56739",
        "type": "delay",
        "z": "e98ae3c9db1bd6c3",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "5",
        "randomLast": "36",
        "randomUnits": "minutes",
        "drop": false,
        "outputs": 1,
        "x": 920,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2da11a2951cd690b",
        "type": "api-current-state",
        "z": "e98ae3c9db1bd6c3",
        "name": "vacation mode is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.vacation_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "fb8451f100d9bf63"
            ],
            []
        ]
    },
    {
        "id": "289eb5762afd854e",
        "type": "switch",
        "z": "e98ae3c9db1bd6c3",
        "name": "state is home",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "2da11a2951cd690b"
            ]
        ]
    },
    {
        "id": "03b925349d92a20d",
        "type": "server-state-changed",
        "z": "e98ae3c9db1bd6c3",
        "name": "state persons",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "group.persons",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 260,
        "wires": [
            [
                "289eb5762afd854e"
            ]
        ]
    },
    {
        "id": "fb8451f100d9bf63",
        "type": "api-call-service",
        "z": "e98ae3c9db1bd6c3",
        "name": "turn off vacation mode",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.vacation_mode"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 660,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "cd178e3895118ed9",
        "type": "comment",
        "z": "e98ae3c9db1bd6c3",
        "name": "turn off vacation mode when someone comes home",
        "info": "",
        "x": 230,
        "y": 220,
        "wires": []
    },
    {
        "id": "d3f51e45d96152b6",
        "type": "comment",
        "z": "e98ae3c9db1bd6c3",
        "name": "if person is not home for 1 day ask if the vacation mode has to be turn on",
        "info": "",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "066d59d0dda9cb84",
        "type": "comment",
        "z": "e98ae3c9db1bd6c3",
        "name": "flow for vacation mode",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "52372f03201c1339",
        "type": "api-current-state",
        "z": "e98ae3c9db1bd6c3",
        "name": "outdoor is dark",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "dark",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.outdoor_light_dark",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 520,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8299791033488b99",
        "type": "api-current-state",
        "z": "e98ae3c9db1bd6c3",
        "name": "vacation mode is off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.vacation_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 400,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8319e5e91e71a1ed",
        "type": "comment",
        "z": "e98ae3c9db1bd6c3",
        "name": "turn on and off random lights in vacation lights group if vacation mode is on and outdoor is dark",
        "info": "",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]