src/data/flows/vacation_mode.json
[
    {
        "id": "e98ae3c9db1bd6c3",
        "type": "tab",
        "label": "vacation_mode",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "505fd0b6095e5990",
        "type": "inject",
        "z": "e98ae3c9db1bd6c3",
        "name": "time trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "*/6 16-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "4aec915beb25bfb5"
            ]
        ]
    },
    {
        "id": "4aec915beb25bfb5",
        "type": "api-current-state",
        "z": "e98ae3c9db1bd6c3",
        "name": "vacation mode is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.vacation_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "52372f03201c1339"
            ],
            []
        ]
    },
    {
        "id": "bb6f9be9a8d52d38",
        "type": "ha-get-entities",
        "z": "e98ae3c9db1bd6c3",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "in_group",
                "value": "group.vacation_lights",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "off",
                "valueType": "str"
            }
        ],
        "output_type": "random",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 670,
        "y": 440,
        "wires": [
            [
                "bdeb3f3c3092a9db"
            ]
        ]
    },
    {
        "id": "4fdeb47515a56739",
        "type": "delay",
        "z": "e98ae3c9db1bd6c3",
        "name": "random delay",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "5",
        "randomLast": "40",
        "randomUnits": "minutes",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1380,
        "y": 440,
        "wires": [
            [
                "e2878c3736a9cd88"
            ]
        ]
    },
    {
        "id": "2da11a2951cd690b",
        "type": "api-current-state",
        "z": "e98ae3c9db1bd6c3",
        "name": "vacation mode is on",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.vacation_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 440,
        "y": 340,
        "wires": [
            [
                "fb8451f100d9bf63"
            ],
            []
        ]
    },
    {
        "id": "289eb5762afd854e",
        "type": "switch",
        "z": "e98ae3c9db1bd6c3",
        "name": "state is home",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "2da11a2951cd690b"
            ]
        ]
    },
    {
        "id": "03b925349d92a20d",
        "type": "server-state-changed",
        "z": "e98ae3c9db1bd6c3",
        "name": "state persons",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "group.persons",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 340,
        "wires": [
            [
                "289eb5762afd854e"
            ]
        ]
    },
    {
        "id": "fb8451f100d9bf63",
        "type": "api-call-service",
        "z": "e98ae3c9db1bd6c3",
        "name": "turn off vacation mode",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.vacation_mode"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 660,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "cd178e3895118ed9",
        "type": "comment",
        "z": "e98ae3c9db1bd6c3",
        "name": "turn off vacation mode when someone comes home",
        "info": "",
        "x": 230,
        "y": 300,
        "wires": []
    },
    {
        "id": "d3f51e45d96152b6",
        "type": "comment",
        "z": "e98ae3c9db1bd6c3",
        "name": "if person is not home for 1 day ask if the vacation mode has to be turn on",
        "info": "",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "066d59d0dda9cb84",
        "type": "comment",
        "z": "e98ae3c9db1bd6c3",
        "name": "flow for vacation mode",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "52372f03201c1339",
        "type": "api-current-state",
        "z": "e98ae3c9db1bd6c3",
        "name": "outdoor is dark",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "dark",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.outdoor_light_dark",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 500,
        "y": 440,
        "wires": [
            [
                "bb6f9be9a8d52d38"
            ],
            []
        ]
    },
    {
        "id": "8319e5e91e71a1ed",
        "type": "comment",
        "z": "e98ae3c9db1bd6c3",
        "name": "turn on and off random lights in vacation lights group if vacation mode is on and outdoor is dark",
        "info": "",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "b0ab3842efd58c4a",
        "type": "api-call-service",
        "z": "e98ae3c9db1bd6c3",
        "name": "turn on light",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "{\"brightness_pct\":\"{{dimlevel}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1210,
        "y": 440,
        "wires": [
            [
                "4fdeb47515a56739"
            ]
        ]
    },
    {
        "id": "e2878c3736a9cd88",
        "type": "api-call-service",
        "z": "e98ae3c9db1bd6c3",
        "name": "turn off light",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "{{payload.entity_id}}"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1550,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "68fb6d09797ade29",
        "type": "random",
        "z": "e98ae3c9db1bd6c3",
        "name": "random dim level",
        "low": "20",
        "high": "60",
        "inte": "true",
        "property": "dimlevel",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "b0ab3842efd58c4a"
            ]
        ]
    },
    {
        "id": "bdeb3f3c3092a9db",
        "type": "delay",
        "z": "e98ae3c9db1bd6c3",
        "name": "random delay",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "2",
        "randomLast": "20",
        "randomUnits": "minutes",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 440,
        "wires": [
            [
                "68fb6d09797ade29"
            ]
        ]
    },
    {
        "id": "5e8342333f16177a",
        "type": "api-call-service",
        "z": "e98ae3c9db1bd6c3",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_phone_coen_pixel7",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{{custom_message}}}\",\"data\":{\"actions\":[{\"action\":\"VACATION_MODE_ON\",\"title\":\"{{custom_action_1_title}}\",\"icon\":\"account-lock\"},{\"action\":\"IGNORE\",\"title\":\"{{custom_action_2_title}}\",\"icon\":\"account-lock\"}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "79ce4db3aa0b5c53",
        "type": "server-events",
        "z": "e98ae3c9db1bd6c3",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "mobile_app_notification_action",
        "eventData": "{\"action\":\"VACATION_MODE_ON\"}",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "event_type": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "f047140113012c45"
            ]
        ]
    },
    {
        "id": "629cb438e0ae0dfa",
        "type": "server-state-changed",
        "z": "e98ae3c9db1bd6c3",
        "name": "state persons not home for 1 day",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "group.persons",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "not_home",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "1",
        "forType": "num",
        "forUnits": "days",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 140,
        "wires": [
            [
                "7f8a5bbec56c9729"
            ],
            []
        ]
    },
    {
        "id": "7f8a5bbec56c9729",
        "type": "api-current-state",
        "z": "e98ae3c9db1bd6c3",
        "name": "vacation mode is off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.vacation_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "17ba99eecd06d428"
            ],
            []
        ]
    },
    {
        "id": "17ba99eecd06d428",
        "type": "change",
        "z": "e98ae3c9db1bd6c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "custom_message",
                "pt": "msg",
                "to": "Er is niemand thuis, wil je de vakantie stand thuis aanzetten?",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "custom_action_1_title",
                "pt": "msg",
                "to": "JA",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "custom_action_2_title",
                "pt": "msg",
                "to": "NEE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "5e8342333f16177a",
                "8f3b898136f18dc9"
            ]
        ]
    },
    {
        "id": "319e2f002dcdb37f",
        "type": "comment",
        "z": "e98ae3c9db1bd6c3",
        "name": "listen to vacation mode on notification answer event ",
        "info": "",
        "x": 230,
        "y": 200,
        "wires": []
    },
    {
        "id": "f047140113012c45",
        "type": "api-call-service",
        "z": "e98ae3c9db1bd6c3",
        "name": "turn on vacation mode",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.vacation_mode"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 440,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8f3b898136f18dc9",
        "type": "api-call-service",
        "z": "e98ae3c9db1bd6c3",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_phone_anne",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{{custom_message}}}\",\"data\":{\"actions\":[{\"action\":\"VACATION_MODE_ON\",\"title\":\"{{custom_action_1_title}}\",\"icon\":\"account-lock\"},{\"action\":\"IGNORE\",\"title\":\"{{custom_action_2_title}}\",\"icon\":\"account-lock\"}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]