src/data/flows/vacuum_cleaner.json
[
    {
        "id": "55da1471.fda0fc",
        "type": "tab",
        "label": "vacuum_cleaner",
        "disabled": false,
        "info": ""
    },
    {
        "id": "252893d959f094a0",
        "type": "junction",
        "z": "55da1471.fda0fc",
        "x": 720,
        "y": 220,
        "wires": [
            [
                "1351cb3a.cc7995"
            ]
        ]
    },
    {
        "id": "b7cf63f8.77958",
        "type": "server-state-changed",
        "z": "55da1471.fda0fc",
        "name": "state group persons",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "group.persons",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 140,
        "wires": [
            [
                "37466c93.d14b84"
            ]
        ]
    },
    {
        "id": "b6290ea8.c1e6f",
        "type": "server-state-changed",
        "z": "55da1471.fda0fc",
        "name": "state guest ",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.guest",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 80,
        "y": 240,
        "wires": [
            [
                "c8eb1592.520518"
            ]
        ]
    },
    {
        "id": "c8eb1592.520518",
        "type": "switch",
        "z": "55da1471.fda0fc",
        "name": "on / off ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "252893d959f094a0"
            ],
            [
                "87dec77c.9877c8"
            ]
        ]
    },
    {
        "id": "37466c93.d14b84",
        "type": "switch",
        "z": "55da1471.fda0fc",
        "name": "home / ! home",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "1351cb3a.cc7995"
            ],
            [
                "6242c868ff3985eb"
            ]
        ]
    },
    {
        "id": "60f6cd3f.56a0f4",
        "type": "api-current-state",
        "z": "55da1471.fda0fc",
        "name": "cleaned today is off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_cleaning",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 950,
        "y": 260,
        "wires": [
            [
                "eccced83.41688"
            ],
            []
        ]
    },
    {
        "id": "85128ba5.bef108",
        "type": "inject",
        "z": "55da1471.fda0fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 02 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "02:00 Payload 'off'",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "787efd3b.bd13e4"
            ]
        ]
    },
    {
        "id": "787efd3b.bd13e4",
        "type": "api-call-service",
        "z": "55da1471.fda0fc",
        "name": "turn off vacuum cleaned ",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.auto_cleaning"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 350,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a52152b0.f593b",
        "type": "api-call-service",
        "z": "55da1471.fda0fc",
        "name": "start vacuum",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "vacuum",
        "service": "start",
        "areaId": [],
        "deviceId": [
            "59644701f2397363b328494ea9691d33"
        ],
        "entityId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1350,
        "y": 260,
        "wires": [
            [
                "c643d4d4.2baf98"
            ]
        ]
    },
    {
        "id": "2a9f3bf0.575684",
        "type": "api-call-service",
        "z": "55da1471.fda0fc",
        "name": "return to base",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "vacuum",
        "service": "return_to_base",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "vacuum.roborock_s6_pure"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1351cb3a.cc7995",
        "type": "api-current-state",
        "z": "55da1471.fda0fc",
        "name": "state is not docked",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "docked",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "vacuum.roborock_s6_pure",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 950,
        "y": 120,
        "wires": [
            [
                "32d50dd7.16e062"
            ],
            []
        ]
    },
    {
        "id": "87dec77c.9877c8",
        "type": "api-current-state",
        "z": "55da1471.fda0fc",
        "name": "state group persons is home",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "group.persons",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 540,
        "y": 260,
        "wires": [
            [],
            [
                "353d562e.3dd04a"
            ]
        ]
    },
    {
        "id": "353d562e.3dd04a",
        "type": "api-current-state",
        "z": "55da1471.fda0fc",
        "name": "guest is off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.guest",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 930,
        "y": 180,
        "wires": [
            [
                "60f6cd3f.56a0f4"
            ],
            []
        ]
    },
    {
        "id": "eccced83.41688",
        "type": "api-current-state",
        "z": "55da1471.fda0fc",
        "name": "vacuum is not cleaning",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "cleaning",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "vacuum.roborock_s6_pure",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1160,
        "y": 260,
        "wires": [
            [
                "a52152b0.f593b"
            ],
            []
        ]
    },
    {
        "id": "32d50dd7.16e062",
        "type": "api-current-state",
        "z": "55da1471.fda0fc",
        "name": "state is not returning",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "returning",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "vacuum.roborock_s6_pure",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 1160,
        "y": 120,
        "wires": [
            [
                "2a9f3bf0.575684"
            ],
            []
        ]
    },
    {
        "id": "8e7bbae.f382348",
        "type": "comment",
        "z": "55da1471.fda0fc",
        "name": "robot vacuum cleaner",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "a236a61.195e958",
        "type": "server-state-changed",
        "z": "55da1471.fda0fc",
        "name": "Vacuum State is error",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "vacuum.roborock_s6_pure",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "error",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 320,
        "wires": [
            [
                "b555794d.5740c8"
            ],
            []
        ]
    },
    {
        "id": "e4d25a8e.b5b258",
        "type": "api-call-service",
        "z": "55da1471.fda0fc",
        "name": "in app notification",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "persistent_notification",
        "service": "create",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"{{message}}\",\"title\":\"Stofzuiger\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1750,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "173b8941.c73507",
        "type": "server-state-changed",
        "z": "55da1471.fda0fc",
        "name": "sleep mode is on",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.sleep_mode",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 400,
        "wires": [
            [
                "1c372f1.535d7d1"
            ],
            []
        ]
    },
    {
        "id": "1c372f1.535d7d1",
        "type": "api-current-state",
        "z": "55da1471.fda0fc",
        "name": "cleaned today is off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_cleaning",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "c5ad7ab8.30fda8"
            ],
            []
        ]
    },
    {
        "id": "c643d4d4.2baf98",
        "type": "template",
        "z": "55da1471.fda0fc",
        "name": "message",
        "field": "message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De stofzuiger is gestart.",
        "output": "str",
        "x": 1520,
        "y": 260,
        "wires": [
            [
                "3c488237.d82a4e"
            ]
        ]
    },
    {
        "id": "b555794d.5740c8",
        "type": "template",
        "z": "55da1471.fda0fc",
        "name": "message",
        "field": "message",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "De stofzuiger zit vast en heeft hulp nodig.",
        "output": "str",
        "x": 1520,
        "y": 300,
        "wires": [
            [
                "e4d25a8e.b5b258",
                "3c488237.d82a4e"
            ]
        ]
    },
    {
        "id": "934221e4.b2d0d",
        "type": "stoptimer",
        "z": "55da1471.fda0fc",
        "duration": "10",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 720,
        "y": 380,
        "wires": [
            [
                "60f6cd3f.56a0f4"
            ],
            []
        ]
    },
    {
        "id": "3cf95b5d.b388f4",
        "type": "stoptimer",
        "z": "55da1471.fda0fc",
        "duration": "5",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 720,
        "y": 420,
        "wires": [
            [
                "8addd786c01dce16"
            ],
            []
        ]
    },
    {
        "id": "c5ad7ab8.30fda8",
        "type": "api-current-state",
        "z": "55da1471.fda0fc",
        "name": "vacuum is not cleaning",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "cleaning",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "vacuum.roborock_s6_pure",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 500,
        "y": 400,
        "wires": [
            [
                "934221e4.b2d0d",
                "3cf95b5d.b388f4"
            ],
            []
        ]
    },
    {
        "id": "6bd54ad5.5aea04",
        "type": "api-call-service",
        "z": "55da1471.fda0fc",
        "name": "google say",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "tts",
        "service": "google_say",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.home_speaker"
        ],
        "data": "{\"message\":\"over tien minuten start de stofzuiger\",\"language\":\"nl\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1250,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1494387d.fca0a8",
        "type": "server-state-changed",
        "z": "55da1471.fda0fc",
        "name": "vacuum state is cleaning",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "vacuum.roborock_s6_pure",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "cleaning",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 460,
        "wires": [
            [
                "272212f1.26bb6e"
            ],
            []
        ]
    },
    {
        "id": "272212f1.26bb6e",
        "type": "ha-wait-until",
        "z": "55da1471.fda0fc",
        "name": "",
        "server": "4ba92433.2478cc",
        "version": 2,
        "outputs": 2,
        "entityId": "vacuum.roborock_s6_pure",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "returning",
        "valueType": "str",
        "timeout": "90",
        "timeoutType": "num",
        "timeoutUnits": "minutes",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "x": 320,
        "y": 460,
        "wires": [
            [
                "155ef739.0e1de9"
            ],
            []
        ]
    },
    {
        "id": "155ef739.0e1de9",
        "type": "api-current-state",
        "z": "55da1471.fda0fc",
        "name": "cleaned today is off",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_cleaning",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "a098e71.e0db718"
            ],
            []
        ]
    },
    {
        "id": "a098e71.e0db718",
        "type": "api-call-service",
        "z": "55da1471.fda0fc",
        "name": "turn off vacuum cleaned ",
        "server": "4ba92433.2478cc",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.auto_cleaning"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3c488237.d82a4e",
        "type": "link out",
        "z": "55da1471.fda0fc",
        "name": "",
        "links": [
            "ebf4860d.603538"
        ],
        "x": 1675,
        "y": 240,
        "wires": []
    },
    {
        "id": "8addd786c01dce16",
        "type": "ha-wait-until",
        "z": "55da1471.fda0fc",
        "name": "wait until google home speaker is not playing",
        "server": "4ba92433.2478cc",
        "version": 2,
        "outputs": 1,
        "entityId": "media_player.home_speaker",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is_not",
        "value": "playing",
        "valueType": "str",
        "timeout": "",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 990,
        "y": 420,
        "wires": [
            [
                "6bd54ad5.5aea04"
            ]
        ]
    },
    {
        "id": "734801f342d9257e",
        "type": "switch",
        "z": "55da1471.fda0fc",
        "name": "uptime is above 1 min",
        "property": "data.timeSinceChangedMs",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60000",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "353d562e.3dd04a"
            ]
        ]
    },
    {
        "id": "6242c868ff3985eb",
        "type": "api-current-state",
        "z": "55da1471.fda0fc",
        "name": "uptime",
        "server": "4ba92433.2478cc",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "sensor.uptime",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "734801f342d9257e"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]