src/data/flows/wall_tablet_notifications.json
[
    {
        "id": "42b354a7f0284779",
        "type": "tab",
        "label": "wall_tablet_notifications",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9361605716a10d3",
        "type": "server-state-changed",
        "z": "42b354a7f0284779",
        "name": "garbage tomorrow",
        "server": "4ba92433.2478cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.afval_morgen",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 40,
        "wires": [
            [
                "fc015c3acdd57ee4"
            ]
        ]
    },
    {
        "id": "29018d58938f73c4",
        "type": "debug",
        "z": "42b354a7f0284779",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 40,
        "wires": []
    },
    {
        "id": "e20625fa90e6011f",
        "type": "ha-binary-sensor",
        "z": "42b354a7f0284779",
        "name": "wall_dashboard_notification",
        "entityConfig": "c9d4a71c9ef10ab5",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "text",
                "value": "text",
                "valueType": "msg"
            },
            {
                "property": "icon",
                "value": "icon",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 460,
        "y": 40,
        "wires": [
            [
                "5641c28ac758c454"
            ]
        ]
    },
    {
        "id": "fc015c3acdd57ee4",
        "type": "template",
        "z": "42b354a7f0284779",
        "name": "text",
        "field": "text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Morgen wordt de {{payload}} container opgehaald.",
        "output": "str",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "e20625fa90e6011f"
            ]
        ]
    },
    {
        "id": "5641c28ac758c454",
        "type": "switch",
        "z": "42b354a7f0284779",
        "name": "icon",
        "property": "icon",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "data.new_state.attributes.icon",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 40,
        "wires": [
            [
                "29018d58938f73c4"
            ]
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "c9d4a71c9ef10ab5",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "wall_dashboard_notification",
        "version": "6",
        "entityType": "binary_sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "wall_dashboard_notification"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    }
]