src/data/flows/weather_station.json
[
    {
        "id": "4dd07a1d.6e53e4",
        "type": "tab",
        "label": "weather_station",
        "disabled": false,
        "info": ""
    },
    {
        "id": "49bcf8fe.de1de8",
        "type": "server-state-changed",
        "z": "4dd07a1d.6e53e4",
        "name": "illuminance weather station",
        "server": "4ba92433.2478cc",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.weather_station_illuminance",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "num",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 60,
        "wires": [
            [
                "98d4039.5ff7f"
            ]
        ]
    },
    {
        "id": "98d4039.5ff7f",
        "type": "switch",
        "z": "4dd07a1d.6e53e4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "4.5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "5c56266b.e63438"
            ],
            [
                "818ba5a9.204658"
            ]
        ]
    },
    {
        "id": "5c56266b.e63438",
        "type": "change",
        "z": "4dd07a1d.6e53e4",
        "name": "dark",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dark",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 60,
        "wires": [
            [
                "714f8f70.75ec6"
            ]
        ]
    },
    {
        "id": "818ba5a9.204658",
        "type": "change",
        "z": "4dd07a1d.6e53e4",
        "name": "light",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "light",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "714f8f70.75ec6"
            ]
        ]
    },
    {
        "id": "714f8f70.75ec6",
        "type": "rbe",
        "z": "4dd07a1d.6e53e4",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "607a179b.d377f8"
            ]
        ]
    },
    {
        "id": "607a179b.d377f8",
        "type": "stoptimer",
        "z": "4dd07a1d.6e53e4",
        "duration": "2",
        "units": "Minute",
        "payloadtype": "str",
        "payloadval": "reset",
        "name": "",
        "x": 740,
        "y": 60,
        "wires": [
            [
                "7d19b3aa717186ea"
            ],
            []
        ]
    },
    {
        "id": "e1f379a0.db9e58",
        "type": "comment",
        "z": "4dd07a1d.6e53e4",
        "name": "weather station esp sensors",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "7d19b3aa717186ea",
        "type": "ha-sensor",
        "z": "4dd07a1d.6e53e4",
        "name": "state outdoor light dark",
        "entityConfig": "5051592a.7844e8",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 960,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4ba92433.2478cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "id",
        "deviceSelector": "id",
        "entitySelector": "id",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "5051592a.7844e8",
        "type": "ha-entity-config",
        "server": "4ba92433.2478cc",
        "deviceConfig": "",
        "name": "outdoor_light_dark",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "outdoor_light_dark"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    }
]