src/data/flows/weather_station.json
[
  {
    "id": "4dd07a1d.6e53e4",
    "type": "tab",
    "label": "weather_station",
    "disabled": false,
    "info": ""
  },
  {
    "id": "49bcf8fe.de1de8",
    "type": "server-state-changed",
    "z": "4dd07a1d.6e53e4",
    "name": "illuminance weather station",
    "server": "4ba92433.2478cc",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.weather_station_illuminance",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "num",
    "haltifstate": "",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 130,
    "y": 100,
    "wires": [
      [
        "98d4039.5ff7f"
      ]
    ]
  },
  {
    "id": "98d4039.5ff7f",
    "type": "switch",
    "z": "4dd07a1d.6e53e4",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lte",
        "v": "3",
        "vt": "str"
      },
      {
        "t": "gt",
        "v": "3",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 360,
    "y": 100,
    "wires": [
      [
        "5c56266b.e63438"
      ],
      [
        "818ba5a9.204658"
      ]
    ]
  },
  {
    "id": "5c56266b.e63438",
    "type": "change",
    "z": "4dd07a1d.6e53e4",
    "name": "dark",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "dark",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 80,
    "wires": [
      [
        "714f8f70.75ec6"
      ]
    ]
  },
  {
    "id": "818ba5a9.204658",
    "type": "change",
    "z": "4dd07a1d.6e53e4",
    "name": "light",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 120,
    "wires": [
      [
        "714f8f70.75ec6"
      ]
    ]
  },
  {
    "id": "714f8f70.75ec6",
    "type": "rbe",
    "z": "4dd07a1d.6e53e4",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "x": 630,
    "y": 100,
    "wires": [
      [
        "607a179b.d377f8"
      ]
    ]
  },
  {
    "id": "607a179b.d377f8",
    "type": "stoptimer",
    "z": "4dd07a1d.6e53e4",
    "duration": "40",
    "units": "Second",
    "payloadtype": "str",
    "payloadval": "reset",
    "name": "",
    "x": 790,
    "y": 100,
    "wires": [
      [
        "7d19b3aa717186ea"
      ],
      []
    ]
  },
  {
    "id": "e1f379a0.db9e58",
    "type": "comment",
    "z": "4dd07a1d.6e53e4",
    "name": "weather station esp sensors",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "7d19b3aa717186ea",
    "type": "ha-sensor",
    "z": "4dd07a1d.6e53e4",
    "name": "state outdoor light dark",
    "entityConfig": "5051592a.7844e8",
    "version": 0,
    "state": "payload",
    "stateType": "msg",
    "attributes": [],
    "inputOverride": "allow",
    "outputProperties": [],
    "x": 1000,
    "y": 100,
    "wires": [
      []
    ]
  }
]