data/flows/BEVEILIGING - ALARM.json
[
  {
    "id": "b13ca13c.9328e",
    "type": "tab",
    "label": "BEVEILIGING - ALARM",
    "disabled": false,
    "info": ""
  },
  {
    "id": "21056638.dc15aa",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Turn on",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "",
    "service": "turn_on",
    "entityId": "{{payload.entity_id}}",
    "data": "{\"brightness\":\"{{payload.attributes.brightness}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1080,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "3f239b5e.f504e4",
    "type": "ha-get-entities",
    "z": "b13ca13c.9328e",
    "name": "All Lights",
    "server": "4ba92433.2478cc",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "starts_with",
        "value": "light.shelly",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 325,
    "y": 485,
    "wires": [
      [
        "60c37558.b5cdbc",
        "a87f1334.bb33d"
      ]
    ]
  },
  {
    "id": "db08c58a.816728",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "On / Off",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 930,
    "y": 510,
    "wires": [
      [
        "21056638.dc15aa"
      ],
      [
        "d1bccaaf.c679f8"
      ]
    ]
  },
  {
    "id": "d1bccaaf.c679f8",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Turn off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "{{payload.domain}}",
    "service": "turn_off",
    "entityId": "{{payload.entity_id}}",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1080,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "cd3d9e6f.8c2b4",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 625,
    "y": 605,
    "wires": [
      [
        "1f5c5d0.c9750a3"
      ]
    ]
  },
  {
    "id": "1f5c5d0.c9750a3",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "Reset hold",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "red",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 800,
    "y": 605,
    "wires": [
      [
        "2b2d9df1.bc8a22"
      ]
    ]
  },
  {
    "id": "60c37558.b5cdbc",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "Light",
    "rules": [
      {
        "t": "set",
        "p": "payload.domain",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 500,
    "wires": [
      [
        "2b2d9df1.bc8a22"
      ]
    ]
  },
  {
    "id": "50b61663.b076c8",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "Let payload through",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "green",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 355,
    "y": 545,
    "wires": [
      [
        "2b2d9df1.bc8a22"
      ]
    ]
  },
  {
    "id": "19d56254.265d1e",
    "type": "server-state-changed",
    "z": "b13ca13c.9328e",
    "name": "Alarm",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.alarm",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 75,
    "y": 515,
    "wires": [
      [
        "44ac121c.59d91c"
      ]
    ]
  },
  {
    "id": "44ac121c.59d91c",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 195,
    "y": 515,
    "wires": [
      [
        "3f239b5e.f504e4"
      ],
      [
        "50b61663.b076c8"
      ]
    ]
  },
  {
    "id": "48577e2b.13ea1",
    "type": "comment",
    "z": "b13ca13c.9328e",
    "name": "RESTORE LIGHT AFTER ALARM",
    "info": "",
    "x": 160,
    "y": 440,
    "wires": []
  },
  {
    "id": "24ab3051.7c08e",
    "type": "server-state-changed",
    "z": "b13ca13c.9328e",
    "name": "state backdoor",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.recessed_backdoor_sensor",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 100,
    "y": 160,
    "wires": [
      [
        "b6ea3d9c.85349"
      ]
    ]
  },
  {
    "id": "b2a6a7bd.0318b8",
    "type": "server-state-changed",
    "z": "b13ca13c.9328e",
    "name": "state frondoor",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.recessed_frontdoor_sensor",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 90,
    "y": 100,
    "wires": [
      [
        "23cc120.b830eee"
      ]
    ]
  },
  {
    "id": "9b797c1b.4dc83",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "on/off",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 550,
    "y": 100,
    "wires": [
      [
        "5930459.94035bc"
      ],
      []
    ]
  },
  {
    "id": "5930459.94035bc",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "Home security On?",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.home_security",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_boolean.home_security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 730,
    "y": 100,
    "wires": [
      [
        "29fb388f.6b0768",
        "743671d6.44575",
        "79015885.b5c7d8",
        "94ca9503.8a7da8",
        "4a56a5d0.e5ef1c"
      ],
      []
    ]
  },
  {
    "id": "743671d6.44575",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "delay",
    "timeout": "40",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1040,
    "y": 220,
    "wires": [
      [
        "76dade0f.884bb"
      ]
    ]
  },
  {
    "id": "76dade0f.884bb",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "Home security still on?",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.home_security",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_boolean.home_security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1220,
    "y": 220,
    "wires": [
      [
        "1e0c9024.40fd9",
        "5bee85e2.5958fc",
        "3018e076.64a95"
      ],
      [
        "391ee7b2.4962a8"
      ]
    ]
  },
  {
    "id": "1e0c9024.40fd9",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Turn On Alarm",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.alarm",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2680,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "50a28070.5f3b8",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "Timer Security Active?",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "active",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "timer.security",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "timer.security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 440,
    "y": 220,
    "wires": [
      [
        "3e130ee2.3c60c2"
      ],
      []
    ]
  },
  {
    "id": "3e130ee2.3c60c2",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "cancel security timer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "timer",
    "service": "cancel",
    "entityId": "timer.security",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 660,
    "y": 220,
    "wires": [
      [
        "74c8186f.59ee08"
      ]
    ]
  },
  {
    "id": "29fb388f.6b0768",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "het is dark",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "dark",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.outdoor_light_dark",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1050,
    "y": 80,
    "wires": [
      [
        "3af8865a.e67f0a"
      ],
      []
    ]
  },
  {
    "id": "3af8865a.e67f0a",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Voordeur & Achtertuin Light On",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "shellydimmer-backyard-string-lights, shelly1-front-door",
    "data": "{\"brightness\":50}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1390,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "ef2d0bf8.6e4c38",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "In APP Notify",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "create",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"{{topic}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1830,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "f7d9db6.4177e28",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Notify",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "notify",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"{{topic}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1810,
    "y": 440,
    "wires": [
      [
        "ebd071a5.c6567"
      ]
    ]
  },
  {
    "id": "eea24a1d.f6b6a8",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Stop Media",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.google_home",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2670,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "391ee7b2.4962a8",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 2420,
    "y": 280,
    "wires": [
      [
        "eea24a1d.f6b6a8",
        "41eae92d.6a73b8"
      ]
    ]
  },
  {
    "id": "41eae92d.6a73b8",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Volume 50%",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "volume_set",
    "entityId": "media_player.google_home",
    "data": "{\"volume_level\":0.5}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2670,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "b6ea3d9c.85349",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "Variables for Google Home",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://192.168.1.20:8123/local/audio/achterdeur_open.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "volume",
        "pt": "msg",
        "to": "70",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "contentType",
        "pt": "msg",
        "to": "audio/mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "door",
        "pt": "msg",
        "to": "achterdeur",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Alarm",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 160,
    "wires": [
      [
        "9b797c1b.4dc83"
      ]
    ]
  },
  {
    "id": "121acfcb.22a6d",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "Google Home Alarm Geluid",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://192.168.1.20:8123/local/audio/alarm.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.volume",
        "pt": "msg",
        "to": "100",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "contentType",
        "pt": "msg",
        "to": "audio/mp3",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2640,
    "y": 100,
    "wires": [
      [
        "c8ef9cd8.758a4"
      ]
    ]
  },
  {
    "id": "7d3b4750.1fb6d8",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "Home security On?",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.home_security",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_boolean.home_security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 2390,
    "y": 160,
    "wires": [
      [
        "121acfcb.22a6d"
      ],
      [
        "391ee7b2.4962a8",
        "39aae0c1.b766c"
      ]
    ]
  },
  {
    "id": "d60f34c7.e15c08",
    "type": "comment",
    "z": "b13ca13c.9328e",
    "name": "BEVEILIGING",
    "info": "",
    "x": 90,
    "y": 40,
    "wires": []
  },
  {
    "id": "5bee85e2.5958fc",
    "type": "template",
    "z": "b13ca13c.9328e",
    "name": "Alarm Message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "De {{door}} is geopend en beveiliging is niet uitgeschakeld. Het alarm gaat af! Schakel alarm uit via Home Assistant of Google Home.",
    "output": "str",
    "x": 1500,
    "y": 260,
    "wires": [
      [
        "ef2d0bf8.6e4c38",
        "f7d9db6.4177e28"
      ]
    ]
  },
  {
    "id": "23cc120.b830eee",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "Variables for Google Home",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://192.168.1.20:8123/local/audio/voordeur_open.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "volume",
        "pt": "msg",
        "to": "70",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "contentType",
        "pt": "msg",
        "to": "audio/mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "door",
        "pt": "msg",
        "to": "voordeur",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Alarm",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 100,
    "wires": [
      [
        "9b797c1b.4dc83"
      ]
    ]
  },
  {
    "id": "39aae0c1.b766c",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Turn off Alarm",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.alarm",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2680,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "79015885.b5c7d8",
    "type": "template",
    "z": "b13ca13c.9328e",
    "name": "Warning Message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "De {{door}} is geopend met beveiliging aan. Schakel beveiliging uit via Home Assistant of Google Home.",
    "output": "str",
    "x": 1070,
    "y": 280,
    "wires": [
      [
        "ef2d0bf8.6e4c38",
        "f7d9db6.4177e28"
      ]
    ]
  },
  {
    "id": "218b9cc3.1e7df4",
    "type": "server-state-changed",
    "z": "b13ca13c.9328e",
    "name": "state home securty",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.home_security",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 110,
    "y": 220,
    "wires": [
      [
        "f717f95f.430aa8"
      ]
    ]
  },
  {
    "id": "f717f95f.430aa8",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 220,
    "wires": [
      [
        "50a28070.5f3b8"
      ],
      [
        "50a28070.5f3b8",
        "2f8f5ff2.f712d"
      ]
    ]
  },
  {
    "id": "2f8f5ff2.f712d",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Turn off Alarm",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.alarm",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 400,
    "y": 280,
    "wires": [
      [
        "7a028f41.56997"
      ]
    ]
  },
  {
    "id": "255ddbfc.64c444",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "All Light 100%",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "{{payload.entity_id}}",
    "data": "{\"brightness\":255}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 740,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "3018e076.64a95",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "Google Home Alarm Tekst",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://192.168.1.20:8123/local/audio/alarm_gaat_af.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "contentType",
        "pt": "msg",
        "to": "audio/mp3",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 200,
    "wires": [
      [
        "7979ccf7.b14ab4"
      ]
    ]
  },
  {
    "id": "a338be10.31f9a",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "delay",
    "timeout": "8",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1300,
    "y": 140,
    "wires": [
      [
        "91766d4d.7744b"
      ]
    ]
  },
  {
    "id": "91766d4d.7744b",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Stop Media",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.google_home",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1450,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "a87f1334.bb33d",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "het is dark",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "dark",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.outdoor_light_dark",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 530,
    "y": 440,
    "wires": [
      [
        "255ddbfc.64c444"
      ],
      []
    ]
  },
  {
    "id": "ebd071a5.c6567",
    "type": "link out",
    "z": "b13ca13c.9328e",
    "name": "",
    "links": [
      "7b0f1685.0279d8"
    ],
    "x": 2115,
    "y": 700,
    "wires": []
  },
  {
    "id": "74c8186f.59ee08",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "reset",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 220,
    "wires": [
      [
        "743671d6.44575"
      ]
    ]
  },
  {
    "id": "4f73fba1.8847f4",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1920,
    "y": 200,
    "wires": [
      [
        "f295c792.69dd58"
      ]
    ]
  },
  {
    "id": "f295c792.69dd58",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Stop Media",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.google_home",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2070,
    "y": 200,
    "wires": [
      [
        "3982efce.718ac"
      ]
    ]
  },
  {
    "id": "2dc2c121.1b84ee",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "rate",
    "timeout": "20",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "15",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 3100,
    "y": 100,
    "wires": [
      [
        "7d3b4750.1fb6d8"
      ]
    ]
  },
  {
    "id": "3982efce.718ac",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 2220,
    "y": 200,
    "wires": [
      [
        "7d3b4750.1fb6d8"
      ]
    ]
  },
  {
    "id": "7a56acdc.b2b984",
    "type": "server-state-changed",
    "z": "b13ca13c.9328e",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.bewegingssensor",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 200,
    "y": 820,
    "wires": [
      [
        "38bc80f7.9907a"
      ]
    ]
  },
  {
    "id": "38bc80f7.9907a",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 470,
    "y": 820,
    "wires": [
      [
        "205538ca.0a7728",
        "36eb854f.65166a"
      ],
      [
        "903c09b0.f11708"
      ]
    ]
  },
  {
    "id": "d9e16336.3cfb6",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "achtertuin verlichting",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "shellydimmer-backyard-string-lights",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1080,
    "y": 860,
    "wires": [
      [
        "44c1e3b0.8096ac",
        "e0e4dddd.edd38"
      ]
    ]
  },
  {
    "id": "4ac26557.f529ac",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "schuurdeurlamp",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "shelly1-barn-door",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1060,
    "y": 920,
    "wires": [
      [
        "44c1e3b0.8096ac",
        "793b51ba.c3407"
      ]
    ]
  },
  {
    "id": "e0e4dddd.edd38",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "shellydimmer-backyard-string-lights",
    "data": "{\"brightness\":70}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1630,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "793b51ba.c3407",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "schuurdeur lamp aan",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "shelly1-barn-door",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "e967aee1.87753",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "On / Off",
    "property": "data.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1440,
    "y": 1000,
    "wires": [
      [
        "7ecd2879.709be8"
      ],
      [
        "acdfe2d4.fa4d6"
      ]
    ]
  },
  {
    "id": "fafb82d5.536fb",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 900,
    "y": 1040,
    "wires": [
      [
        "b8413f58.01f3e"
      ]
    ]
  },
  {
    "id": "b8413f58.01f3e",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "start hold",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "red",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 1040,
    "wires": [
      [
        "44c1e3b0.8096ac"
      ]
    ]
  },
  {
    "id": "7ecd2879.709be8",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Turn on",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "{{data.entity_id}}",
    "data": "{\"brightness\":\"{{data.attributes.brightness}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1600,
    "y": 980,
    "wires": [
      []
    ]
  },
  {
    "id": "acdfe2d4.fa4d6",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "Turn off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_off",
    "entityId": "{{data.entity_id}}",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1600,
    "y": 1040,
    "wires": [
      []
    ]
  },
  {
    "id": "e81f9e74.325c5",
    "type": "comment",
    "z": "b13ca13c.9328e",
    "name": "BEWEGING SENSOR",
    "info": "",
    "x": 120,
    "y": 720,
    "wires": []
  },
  {
    "id": "205538ca.0a7728",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "het is dark",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "dark",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.outdoor_light_dark",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 650,
    "y": 820,
    "wires": [
      [
        "7a0e5b8d.abe7f4"
      ],
      []
    ]
  },
  {
    "id": "7f0827c9.631e28",
    "type": "template",
    "z": "b13ca13c.9328e",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Beweging in achtertuin gedetecteerd. Beveiliging staat aan. ",
    "output": "str",
    "x": 1210,
    "y": 760,
    "wires": [
      [
        "ebd071a5.c6567"
      ]
    ]
  },
  {
    "id": "36eb854f.65166a",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "iemand is thuis",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "group.persons",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 660,
    "y": 740,
    "wires": [
      [
        "3272df84.e49c7"
      ],
      [
        "697fa6b2.eda878"
      ]
    ]
  },
  {
    "id": "8a777b87.9f8478",
    "type": "template",
    "z": "b13ca13c.9328e",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Beweging in achtertuin gedetecteerd. Niemand is aanwezig en gast staat uit.",
    "output": "str",
    "x": 1210,
    "y": 800,
    "wires": [
      [
        "ebd071a5.c6567"
      ]
    ]
  },
  {
    "id": "7a0e5b8d.abe7f4",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "beveiliging aan",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.home_security",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "input_boolean.home_security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 820,
    "y": 840,
    "wires": [
      [
        "d9e16336.3cfb6",
        "4ac26557.f529ac"
      ],
      []
    ]
  },
  {
    "id": "3272df84.e49c7",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "beveiliging aan",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.home_security",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_boolean.home_security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 900,
    "y": 720,
    "wires": [
      [
        "7f0827c9.631e28"
      ],
      []
    ]
  },
  {
    "id": "903c09b0.f11708",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "stuur bewaarde payload door",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "green",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 940,
    "wires": [
      [
        "44c1e3b0.8096ac",
        "fafb82d5.536fb"
      ]
    ]
  },
  {
    "id": "4a56a5d0.e5ef1c",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "start alarm_countdown timer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "timer",
    "service": "start",
    "entityId": "timer.alarm_countdown",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1100,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "7a028f41.56997",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "cancel alarm countdown timer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "timer",
    "service": "cancel",
    "entityId": "timer.alarm_countdown",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 670,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "697fa6b2.eda878",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "gast is aan",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.guest",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 890,
    "y": 780,
    "wires": [
      [],
      [
        "8a777b87.9f8478"
      ]
    ]
  },
  {
    "id": "7979ccf7.b14ab4",
    "type": "cast-to-client",
    "z": "b13ca13c.9328e",
    "name": "",
    "url": "",
    "contentType": "",
    "message": "",
    "language": "nl",
    "ip": "192.168.1.22",
    "port": "",
    "volume": "",
    "x": 1750,
    "y": 200,
    "wires": [
      [
        "4f73fba1.8847f4"
      ]
    ],
    "icon": "node-red-contrib-cast/google-home1.svg"
  },
  {
    "id": "c8ef9cd8.758a4",
    "type": "cast-to-client",
    "z": "b13ca13c.9328e",
    "name": "",
    "url": "",
    "contentType": "",
    "message": "",
    "language": "nl",
    "ip": "192.168.1.22",
    "port": "8009",
    "volume": "",
    "x": 2890,
    "y": 100,
    "wires": [
      [
        "2dc2c121.1b84ee"
      ]
    ],
    "icon": "node-red-contrib-cast/google-home1.svg"
  },
  {
    "id": "94ca9503.8a7da8",
    "type": "cast-to-client",
    "z": "b13ca13c.9328e",
    "name": "",
    "url": "",
    "contentType": "",
    "message": "",
    "language": "nl",
    "ip": "192.168.1.22",
    "port": "8009",
    "volume": "",
    "x": 1090,
    "y": 140,
    "wires": [
      [
        "a338be10.31f9a"
      ]
    ],
    "icon": "node-red-contrib-cast/google-home1.svg"
  },
  {
    "id": "2b2d9df1.bc8a22",
    "type": "traffic",
    "z": "b13ca13c.9328e",
    "name": "Hold messages",
    "property_allow": "payload",
    "filter_allow": "green",
    "ignore_case_allow": false,
    "negate_allow": false,
    "send_allow": false,
    "property_stop": "payload",
    "filter_stop": "red",
    "ignore_case_stop": false,
    "negate_stop": false,
    "send_stop": false,
    "default_start": false,
    "differ": true,
    "x": 720,
    "y": 515,
    "wires": [
      [
        "cd3d9e6f.8c2b4",
        "db08c58a.816728"
      ]
    ]
  },
  {
    "id": "44c1e3b0.8096ac",
    "type": "traffic",
    "z": "b13ca13c.9328e",
    "name": "",
    "property_allow": "payload",
    "filter_allow": "green",
    "ignore_case_allow": false,
    "negate_allow": false,
    "send_allow": false,
    "property_stop": "payload",
    "filter_stop": "red",
    "ignore_case_stop": false,
    "negate_stop": false,
    "send_stop": false,
    "default_start": false,
    "differ": true,
    "x": 1250,
    "y": 1000,
    "wires": [
      [
        "e967aee1.87753"
      ]
    ]
  }
]