data/flows/calendar.json
[
  {
    "id": "9605dd85.f395a",
    "type": "tab",
    "label": "calendar",
    "disabled": false,
    "info": ""
  },
  {
    "id": "785845af.a1799c",
    "type": "server-state-changed",
    "z": "9605dd85.f395a",
    "name": "calendar prompt7",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "calendar.prompt7",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": false,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 240,
    "wires": [
      [
        "f1dc4ca0.0a48e",
        "377073a9.cc38cc"
      ]
    ]
  },
  {
    "id": "f56dedbc.57787",
    "type": "api-call-service",
    "z": "9605dd85.f395a",
    "name": "turn on climate auto mode",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "climate",
    "service": "set_hvac_mode",
    "entityId": "climate.basement",
    "data": "{\"hvac_mode\":\"auto\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 810,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "f1dc4ca0.0a48e",
    "type": "debug",
    "z": "9605dd85.f395a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 240,
    "wires": []
  },
  {
    "id": "6ad4cba8.7d5a14",
    "type": "schedex",
    "z": "9605dd85.f395a",
    "name": "",
    "passthroughunhandled": false,
    "suspended": false,
    "lat": "",
    "lon": "",
    "ontime": "",
    "ontopic": "",
    "onpayload": "",
    "onoffset": "30",
    "onrandomoffset": 0,
    "offtime": "",
    "offtopic": "",
    "offpayload": "",
    "offoffset": 0,
    "offrandomoffset": 0,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "sun": true,
    "x": 470,
    "y": 300,
    "wires": [
      [
        "f56dedbc.57787"
      ]
    ]
  },
  {
    "id": "377073a9.cc38cc",
    "type": "function",
    "z": "9605dd85.f395a",
    "name": "",
    "func": "msg.payload = {};\nmsg.payload.ontime = msg.data.new_state.attributes.start_time.substr(11, 5);\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 300,
    "wires": [
      [
        "6ad4cba8.7d5a14"
      ]
    ]
  },
  {
    "id": "148c0a04.734526",
    "type": "api-call-service",
    "z": "9605dd85.f395a",
    "name": "turn on climate auto mode",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "climate",
    "service": "set_temperature",
    "entityId": "climate.basement",
    "data": "{\"hvac_mode\":\"heat\",\"temperature\":24}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 810,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "54b4bd.432a5b44",
    "type": "inject",
    "z": "9605dd85.f395a",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 550,
    "y": 500,
    "wires": [
      [
        "148c0a04.734526"
      ]
    ]
  }
]