data/flows/dishwasher.json
[
  {
    "id": "2437e768.8e34d8",
    "type": "tab",
    "label": "dishwasher",
    "disabled": false,
    "info": ""
  },
  {
    "id": "7ebeacd9.171704",
    "type": "ha-entity",
    "z": "2437e768.8e34d8",
    "name": "sensor dishwasher",
    "server": "4ba92433.2478cc",
    "version": 2,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "binary_sensor",
    "config": [
      {
        "property": "name",
        "value": "dishwasher"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:dishwasher"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      },
      {
        "property": "state_class",
        "value": ""
      },
      {
        "property": "last_reset",
        "value": ""
      }
    ],
    "state": "payload",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "allow",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 1030,
    "y": 100,
    "wires": [
      [
        "ef6b748.eeaf388"
      ]
    ]
  },
  {
    "id": "a204cf33.7f292",
    "type": "switch",
    "z": "2437e768.8e34d8",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "lte",
        "v": "1.5",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 100,
    "wires": [
      [
        "5914d077.55a55"
      ],
      [
        "ce869786.78dec8"
      ]
    ]
  },
  {
    "id": "36f24fd5.59924",
    "type": "change",
    "z": "2437e768.8e34d8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 80,
    "wires": [
      [
        "7ebeacd9.171704"
      ]
    ]
  },
  {
    "id": "54b1f381.39c02c",
    "type": "change",
    "z": "2437e768.8e34d8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "off",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 120,
    "wires": [
      [
        "7ebeacd9.171704"
      ]
    ]
  },
  {
    "id": "5914d077.55a55",
    "type": "api-current-state",
    "z": "2437e768.8e34d8",
    "name": "state is not on",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "binary_sensor.dishwasher",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 660,
    "y": 80,
    "wires": [
      [
        "36f24fd5.59924"
      ],
      []
    ]
  },
  {
    "id": "ce869786.78dec8",
    "type": "api-current-state",
    "z": "2437e768.8e34d8",
    "name": "state is not off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "binary_sensor.dishwasher",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 660,
    "y": 120,
    "wires": [
      [
        "54b1f381.39c02c"
      ],
      []
    ]
  },
  {
    "id": "726bf3cc.81938c",
    "type": "trigger-state",
    "z": "2437e768.8e34d8",
    "name": "state dishwasher watt",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "sensor.dishwasher_electric_consumed_w",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [],
    "inputs": 1,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "num",
    "enableInput": true,
    "x": 120,
    "y": 100,
    "wires": [
      [
        "376373ce.b5758c"
      ],
      []
    ]
  },
  {
    "id": "df63c0c7.3e92",
    "type": "template",
    "z": "2437e768.8e34d8",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "De vaatwasser is klaar.",
    "output": "str",
    "x": 1320,
    "y": 100,
    "wires": [
      [
        "88db940a.326798"
      ]
    ]
  },
  {
    "id": "ef6b748.eeaf388",
    "type": "switch",
    "z": "2437e768.8e34d8",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1190,
    "y": 100,
    "wires": [
      [
        "df63c0c7.3e92"
      ]
    ]
  },
  {
    "id": "376373ce.b5758c",
    "type": "stoptimer",
    "z": "2437e768.8e34d8",
    "duration": "10",
    "units": "Second",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 350,
    "y": 100,
    "wires": [
      [
        "a204cf33.7f292"
      ],
      []
    ]
  },
  {
    "id": "b90a9b01.857bf8",
    "type": "comment",
    "z": "2437e768.8e34d8",
    "name": "dishwasher",
    "info": "",
    "x": 90,
    "y": 40,
    "wires": []
  },
  {
    "id": "88db940a.326798",
    "type": "subflow:3a85158d.efd05a",
    "z": "2437e768.8e34d8",
    "name": "",
    "x": 1470,
    "y": 100,
    "wires": []
  }
]