data/flows/ENTERTAINMENT.json
[
  {
    "id": "2910f43f.ab852c",
    "type": "tab",
    "label": "ENTERTAINMENT",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e0222031.c804e",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "input_select harmony hub",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_select.harmonyhub",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 150,
    "y": 160,
    "wires": [
      [
        "12b0c7b7.f23d68"
      ]
    ]
  },
  {
    "id": "12b0c7b7.f23d68",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "Welke input?",
    "property": "data.new_state.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "TV",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Netflix",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Scherm Uit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Smart TV",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "PC",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Alles Uit",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "Alles Uit",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 7,
    "x": 630,
    "y": 160,
    "wires": [
      [
        "b9246d99.9890a"
      ],
      [
        "a0de1f36.a9842"
      ],
      [
        "d55292d3.70a65"
      ],
      [
        "8377b5de.7f8148"
      ],
      [
        "a300661.bd56498"
      ],
      [
        "149337f0.569cd8"
      ],
      []
    ]
  },
  {
    "id": "caf85071.0aa52",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select Smart TV",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Smart TV\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1600,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "c4c47c39.544b5",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select PC",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"PC\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1580,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "a16b409.4b281c",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "App Name ",
    "property": "data.new_state.attributes.app_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "NLZIET",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Ziggo GO",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "YouTube",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Plex",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Spotify",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "TuneIn Free",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Netflix",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 7,
    "x": 630,
    "y": 1120,
    "wires": [
      [
        "67fdfc2a.1d4364",
        "33fc2a94.4cdaa6"
      ],
      [
        "67fdfc2a.1d4364",
        "33fc2a94.4cdaa6"
      ],
      [
        "67fdfc2a.1d4364",
        "33fc2a94.4cdaa6"
      ],
      [
        "67fdfc2a.1d4364",
        "33fc2a94.4cdaa6"
      ],
      [
        "d4b91f6a.e773d"
      ],
      [
        "d4b91f6a.e773d"
      ],
      [
        "e730c015.cbf7b"
      ]
    ]
  },
  {
    "id": "3385b7fb.7aab88",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Chromecast State On",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.chromecast_woonkamer",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 340,
    "y": 1160,
    "wires": [
      [
        "a16b409.4b281c"
      ],
      []
    ]
  },
  {
    "id": "c80aa3e3.6b6f",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "WELKE INPUT GESELECTEERD",
    "info": "",
    "x": 180,
    "y": 120,
    "wires": []
  },
  {
    "id": "8c8062ee.9195a",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 440,
    "wires": [
      [
        "67fdfc2a.1d4364"
      ],
      [
        "d6c716ea.d1e208"
      ]
    ]
  },
  {
    "id": "5b04c23f.c13ddc",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 560,
    "wires": [
      [
        "b83ae1b2.65965"
      ],
      [
        "d6c716ea.d1e208"
      ]
    ]
  },
  {
    "id": "e950787d.c01678",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "speel spotify mijn muziek",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist",
    "data": "{\"option\":\"Mijn Muziek\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1630,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "d8e3ead5.952f18",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "chromecast state",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.chromecast_woonkamer",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": false,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 120,
    "y": 1120,
    "wires": [
      [
        "3385b7fb.7aab88",
        "a16b409.4b281c",
        "7ab2f10f.a5dad"
      ]
    ]
  },
  {
    "id": "27d51c2d.a557b4",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "Muziek boolean",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.music",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 120,
    "y": 560,
    "wires": [
      [
        "5b04c23f.c13ddc"
      ]
    ]
  },
  {
    "id": "1c2e2fc7.151f2",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "TV boolean",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.tv",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 110,
    "y": 440,
    "wires": [
      [
        "8c8062ee.9195a"
      ]
    ]
  },
  {
    "id": "41048f91.45ec8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select TV",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"TV\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1580,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "151518bd.2e5467",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select Netflix",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Netflix\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1590,
    "y": 700,
    "wires": [
      []
    ]
  },
  {
    "id": "4023da29.24aa34",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select Scherm Uit",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Scherm Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1610,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "f4e10743.bafda8",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "Welke input?",
    "property": "payload.activityId",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "TV",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Netflix",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Scherm Uit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Smart TV",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "PC",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Alles Uit",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 6,
    "x": 630,
    "y": 760,
    "wires": [
      [
        "67fdfc2a.1d4364"
      ],
      [
        "61ac5cd.6c3c4a4"
      ],
      [
        "d4b91f6a.e773d"
      ],
      [
        "7968dd58.1d7444"
      ],
      [
        "1e52c567.e8508b"
      ],
      [
        "d6c716ea.d1e208"
      ]
    ]
  },
  {
    "id": "87de6266.b1ec4",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select Alles Uit",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Alles Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1600,
    "y": 940,
    "wires": [
      [
        "40342b7b.ed14d4",
        "d5b2fd9a.1a6da",
        "28100cba.7d86f4"
      ]
    ]
  },
  {
    "id": "67fdfc2a.1d4364",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "tv not selected",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "TV",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1140,
    "y": 640,
    "wires": [
      [
        "41048f91.45ec8"
      ],
      []
    ]
  },
  {
    "id": "61ac5cd.6c3c4a4",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "netflix not selected",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Netflix",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1150,
    "y": 700,
    "wires": [
      [
        "151518bd.2e5467"
      ],
      []
    ]
  },
  {
    "id": "d4b91f6a.e773d",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "scherm uit not selected",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Scherm Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1170,
    "y": 760,
    "wires": [
      [
        "4023da29.24aa34"
      ],
      []
    ]
  },
  {
    "id": "7968dd58.1d7444",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "smart tv not selected",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Smart TV",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1160,
    "y": 820,
    "wires": [
      [
        "caf85071.0aa52"
      ],
      []
    ]
  },
  {
    "id": "1e52c567.e8508b",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "pc not selected",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "PC",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1140,
    "y": 880,
    "wires": [
      [
        "c4c47c39.544b5"
      ],
      []
    ]
  },
  {
    "id": "d6c716ea.d1e208",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "alles uit not selected",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Alles Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1160,
    "y": 940,
    "wires": [
      [
        "87de6266.b1ec4"
      ],
      []
    ]
  },
  {
    "id": "f92929d3.a2a858",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "WAT SPEELT ER OP CHROMECAST",
    "info": "",
    "x": 190,
    "y": 1060,
    "wires": []
  },
  {
    "id": "ed5f4d85.756b9",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "TV SWITCH",
    "info": "",
    "x": 110,
    "y": 400,
    "wires": []
  },
  {
    "id": "ed755ff2.18ede",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "MUZIEK SWITCH",
    "info": "",
    "x": 130,
    "y": 520,
    "wires": []
  },
  {
    "id": "9d407b3b.379248",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "HARMONY HUB ACTIVITEIT",
    "info": "",
    "x": 160,
    "y": 640,
    "wires": []
  },
  {
    "id": "7b397616.9d9c48",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "radio station input select",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_select.radio_station",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 150,
    "y": 1340,
    "wires": [
      [
        "9795d0e4.41c8"
      ]
    ]
  },
  {
    "id": "9795d0e4.41c8",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Radio Uit",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "Radio Uit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "NPO Radio 1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "NPO Radio 2",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "NPO 3FM",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "NPO Radio 4",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Radio 538",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Radio 10",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Q-Music",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Q-Music Christmas",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "BNR Nieuwsradio",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SLAM! FM",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "100% NL",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Veronica",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SkyRadio",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SubLime FM",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 16,
    "x": 650,
    "y": 1400,
    "wires": [
      [
        "8cdcae0.3b2d45"
      ],
      [
        "eae92915.2ce648"
      ],
      [
        "310eae0a.cd2e92"
      ],
      [
        "ada5be67.005ba"
      ],
      [
        "77054ceb.4252b4"
      ],
      [
        "9cc5aa8d.2da4e8"
      ],
      [
        "158d97fd.847b18"
      ],
      [
        "b79ace7d.edd48"
      ],
      [
        "54ecb4f.ae3904c"
      ],
      [
        "5c6676f.1eaff88"
      ],
      [
        "9d69013c.25f1b"
      ],
      [
        "896d521.6b672b"
      ],
      [
        "520daf90.92552"
      ],
      [
        "b8a9d1c4.ac629"
      ],
      [
        "35570bc0.b0aa04"
      ],
      [
        "aae6883f.8a2478"
      ]
    ]
  },
  {
    "id": "6f18cf07.f9263",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "RADIO",
    "info": "",
    "x": 90,
    "y": 1280,
    "wires": []
  },
  {
    "id": "5ae96545.6d248c",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "select speakers",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_select.mediaplayer_source",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 120,
    "y": 1400,
    "wires": [
      [
        "d0daf4ea.1a4388"
      ]
    ]
  },
  {
    "id": "310eae0a.cd2e92",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast.omroep.nl/radio1-bb-aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://www.nporadio1.nl/templates/perfecttemplate/images/logo-npo-radio1.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1340,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "ada5be67.005ba",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast.omroep.nl/radio2-bb-mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/NPO_Radio_2_logo.svg/1200px-NPO_Radio_2_logo.svg.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1370,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "77054ceb.4252b4",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast.omroep.nl/3fm-bb-aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/4/46/NPO_3FM_logo_2020.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1400,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "9cc5aa8d.2da4e8",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast.omroep.nl/radio4-bb-aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/NPO_Radio_4_logo_2014.svg/1200px-NPO_Radio_4_logo_2014.svg.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1430,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "158d97fd.847b18",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://playerservices.streamtheworld.com/api/livestream-redirect/RADIO538AAC.aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Logo_Radio_538_2014.svg/1200px-Logo_Radio_538_2014.svg.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1460,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "b79ace7d.edd48",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://playerservices.streamtheworld.com/api/livestream-redirect/RADIO10AAC.aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/3/39/Radio_10_logo_2017.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1490,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "54ecb4f.ae3904c",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast-qmusic.cdp.triple-it.nl/Qmusic_nl_live_96.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Qmusic_logo.svg/1200px-Qmusic_logo.svg.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1520,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "5c6676f.1eaff88",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://icecast-qmusicnl-cdp.triple-it.nl/Qmusic_nl_classics_96.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://static1.qmusic.medialaancdn.be/9/22/e1/43/1380936/Qmusic_ActionHeader_Kerst.jpg",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1550,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "9d69013c.25f1b",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast-bnr.cdp.triple-it.nl/bnr_mp3_128_03",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://theurbanfuture.com/wp-content/uploads/2018/03/logo-bnr-radio.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1580,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "896d521.6b672b",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://stream.slam.nl/web14_mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/2/28/Slam%21FM-logo.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1610,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "520daf90.92552",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://stream.100p.nl/100pctnl.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://static.marcomprocloud.eu/account/54e6f933ca6e54e2083918a8/files/d190ef616c588100ad8767d0ab373eaa.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1640,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "b8a9d1c4.ac629",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://playerservices.streamtheworld.com/api/livestream-redirect/VERONICAAAC.aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/a/a9/Radio-Veronica-logo.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1670,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "35570bc0.b0aa04",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://playerservices.streamtheworld.com/api/livestream-redirect/SKYRADIO.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/d/d9/Sky_Radio.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1700,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "1c949923.b776b7",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Woonkamer Chromecast",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Woonkamer Chromecast",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 1170,
    "y": 1840,
    "wires": [
      [
        "affc5f88.87461"
      ],
      []
    ]
  },
  {
    "id": "6d04ce8a.218d1",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Woonkamer Google Home",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Woonkamer Google Home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 1180,
    "y": 1780,
    "wires": [
      [
        "8c1725fb.827dd8"
      ],
      []
    ]
  },
  {
    "id": "633f4b04.f66264",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Lise's Google Home",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Lise's Google Home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 1160,
    "y": 1900,
    "wires": [
      [
        "bbb5f6a9.8029b8"
      ],
      []
    ]
  },
  {
    "id": "ec9a1ad.78172e8",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "Radio Uit",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 650,
    "y": 1760,
    "wires": [
      [
        "6d04ce8a.218d1",
        "1c949923.b776b7",
        "633f4b04.f66264"
      ]
    ]
  },
  {
    "id": "aae6883f.8a2478",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://stream.sublimefm.nl/SublimeFM_mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://static.radio.net/images/broadcasts/d5/6d/10833/c300.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 1730,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "d0daf4ea.1a4388",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "radio station input select",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.radio_station",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 350,
    "y": 1400,
    "wires": [
      [
        "9795d0e4.41c8"
      ]
    ]
  },
  {
    "id": "33fc2a94.4cdaa6",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "chromecast woonkamer geselecteerd",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Woonkamer Chromecast",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1210,
    "y": 1100,
    "wires": [
      [
        "67fdfc2a.1d4364"
      ],
      []
    ]
  },
  {
    "id": "454468c5.1187a8",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "input_select.mediaplayer_source",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Woonkamer Chromecast",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Woonkamer Google Home",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Lise's Google Home",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 650,
    "y": 1240,
    "wires": [
      [
        "60f106c9.a6f5a8"
      ],
      [
        "fc330bd.18cb9f8"
      ],
      [
        "68af3444.e7e3bc"
      ]
    ]
  },
  {
    "id": "fc330bd.18cb9f8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "zet uit google home",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.google_home",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1610,
    "y": 1160,
    "wires": [
      []
    ]
  },
  {
    "id": "68af3444.e7e3bc",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "zet uit google home lise",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.google_home",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1630,
    "y": 1200,
    "wires": [
      []
    ]
  },
  {
    "id": "8cdcae0.3b2d45",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "welke speaker geselecteerd",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1180,
    "y": 1280,
    "wires": [
      [
        "454468c5.1187a8"
      ]
    ]
  },
  {
    "id": "eae92915.2ce648",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "chromecast woonkamer geselecteerd",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Woonkamer Chromecast",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1210,
    "y": 1160,
    "wires": [
      [
        "d4b91f6a.e773d",
        "28100cba.7d86f4"
      ],
      []
    ]
  },
  {
    "id": "4dea1560.4f255c",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Google Home Woonkamer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "spotcast",
    "service": "start",
    "entityId": "media_player.google_home",
    "data": "{\"uri\":\"{{playlist}}\",\"entity_id\":\"media_player.google_home\",\"random_song\":\"true\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1180,
    "y": 2960,
    "wires": [
      []
    ]
  },
  {
    "id": "16193b63.1e9035",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Dance Playlist",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:0avSSq7Hv1KtLC8dQB4xVE",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 2420,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "bb62c7c1.682538",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Spotify Uit",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "Spotify Uit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Mijn Muziek",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Dance",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Audiophile",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Nederlandstalig",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Release Radar",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Discover Weekly",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Baby Music",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Baby Sleep",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Nature Noise",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 11,
    "x": 650,
    "y": 2260,
    "wires": [
      [
        "e047cfa7.44efc"
      ],
      [],
      [
        "1646f313.0c96fd"
      ],
      [
        "16193b63.1e9035"
      ],
      [
        "974aae74.cabdd"
      ],
      [
        "7d68d3f8.ccee9c"
      ],
      [
        "4e9e7ffd.faba3"
      ],
      [
        "77924689.525478"
      ],
      [
        "f487899b.22d158"
      ],
      [
        "47920989.c77c48"
      ],
      [
        "50f6f2b.59c7a0c"
      ]
    ]
  },
  {
    "id": "974aae74.cabdd",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Audiophile Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:3nyfO2R6MxbP67wxYVo1nR",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 2450,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "bedf8b26.3109b8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Speaker Select",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1140,
    "y": 2480,
    "wires": [
      [
        "a75c5d1d.eb7cf"
      ]
    ]
  },
  {
    "id": "a75c5d1d.eb7cf",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "Speaker/Device",
    "property": "input_select.mediaplayer_source",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Woonkamer Chromecast",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Woonkamer Google Home",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Lise's Google Home",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 680,
    "y": 2980,
    "wires": [
      [
        "aca93d6a.a9263"
      ],
      [
        "4dea1560.4f255c"
      ],
      [
        "4c1fe090.88ea7"
      ]
    ]
  },
  {
    "id": "aca93d6a.a9263",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Chromecast Woonkamer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "spotcast",
    "service": "start",
    "entityId": "media_player.chromecast_woonkamer",
    "data": "{\"uri\":\"{{playlist}}\",\"random_song\":\"true\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1170,
    "y": 2900,
    "wires": [
      [
        "5c0c59f.8b2f5a8",
        "5b7c8c9.88ca374"
      ]
    ]
  },
  {
    "id": "4c1fe090.88ea7",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Google Home Babykamer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "spotcast",
    "service": "start",
    "entityId": "media_player.lise_s_kamer",
    "data": "{\"uri\":\"{{playlist}}\",\"entity_id\":\"media_player.lise_s_kamer\",\"random_song\":\"true\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1170,
    "y": 3020,
    "wires": [
      [
        "5dfe6f7e.c9197"
      ]
    ]
  },
  {
    "id": "cd52585b.fc9988",
    "type": "trigger-state",
    "z": "2910f43f.ab852c",
    "name": "playlist",
    "server": "4ba92433.2478cc",
    "version": 0,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "input_select.spotify_playlist",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [],
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "x": 90,
    "y": 2240,
    "wires": [
      [
        "bb62c7c1.682538"
      ],
      []
    ]
  },
  {
    "id": "7d68d3f8.ccee9c",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Nederlandstalig Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:6pfSVtSuceWnHRMRRv2CSP",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 2480,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "4e9e7ffd.faba3",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Release Radar Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:37i9dQZEVXbqqpGQ1yV2nx",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 2510,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "77924689.525478",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Discover Weekly Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:37i9dQZEVXcDO6enaQNKLz",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 2540,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "f487899b.22d158",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Baby Music Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:56v9ybHClsUxKrdxjdBxm2",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 2570,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "47920989.c77c48",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Baby Sleep Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:37i9dQZF1DX0DxcHtn4Hwo",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 2600,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "612451a5.01ec",
    "type": "trigger-state",
    "z": "2910f43f.ab852c",
    "name": "playlist lise",
    "server": "4ba92433.2478cc",
    "version": 0,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "input_select.spotify_playlist_babykamer",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [],
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "x": 110,
    "y": 3080,
    "wires": [
      [
        "cbc595db.1bf7c8",
        "7847b9a8.231788"
      ],
      []
    ]
  },
  {
    "id": "cbc595db.1bf7c8",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Spotify Uit",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "Spotify Uit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Baby Music",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Baby Sleep",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Nature Noise",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 650,
    "y": 3140,
    "wires": [
      [
        "cd6f8bd1.29c9f8"
      ],
      [],
      [
        "b271ba31.6de458"
      ],
      [
        "22f356b7.6b97fa"
      ],
      [
        "f40e2aee.db69b8"
      ]
    ]
  },
  {
    "id": "b271ba31.6de458",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Baby Music Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:56v9ybHClsUxKrdxjdBxm2",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 3240,
    "wires": [
      [
        "7e7532f.c4086cc"
      ]
    ]
  },
  {
    "id": "22f356b7.6b97fa",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Baby Sleep Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:37i9dQZF1DX0DxcHtn4Hwo",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 3270,
    "wires": [
      [
        "7e7532f.c4086cc"
      ]
    ]
  },
  {
    "id": "7e7532f.c4086cc",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "start lise's google home",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "spotcast",
    "service": "start",
    "entityId": "media_player.lise_s_kamer",
    "data": "{\"uri\":\"{{playlist}}\",\"entity_id\":\"media_player.lise_s_kamer\",\"random_song\":\"true\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1170,
    "y": 3240,
    "wires": [
      [
        "cea4251e.228a88"
      ]
    ]
  },
  {
    "id": "cd6f8bd1.29c9f8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "stop lise's google home",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.speaker_lise",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1170,
    "y": 3140,
    "wires": [
      []
    ]
  },
  {
    "id": "5c0c59f.8b2f5a8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "niet scherm uit",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Scherm Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1600,
    "y": 2900,
    "wires": [
      [
        "e72d505f.1dc73"
      ],
      []
    ]
  },
  {
    "id": "e72d505f.1dc73",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select scherm uit",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Scherm Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1850,
    "y": 2900,
    "wires": [
      []
    ]
  },
  {
    "id": "5dfe6f7e.c9197",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.spotify_playlist",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1680,
    "y": 2500,
    "wires": [
      [
        "44eb49fd.2b6bf8"
      ]
    ]
  },
  {
    "id": "44eb49fd.2b6bf8",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Spotify Uit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Baby Music",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Baby Sleep",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 650,
    "y": 2740,
    "wires": [
      [
        "f749dcda.14dce"
      ],
      [
        "9cb6250b.a967f8"
      ],
      [
        "7c429f48.c2fcc"
      ]
    ]
  },
  {
    "id": "9cb6250b.a967f8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Baby Music",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist_babykamer",
    "data": "{\"option\":\"Baby Music\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1130,
    "y": 2740,
    "wires": [
      []
    ]
  },
  {
    "id": "7c429f48.c2fcc",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Baby Sleep",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist_babykamer",
    "data": "{\"option\":\"Baby Sleep\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1130,
    "y": 2800,
    "wires": [
      []
    ]
  },
  {
    "id": "f749dcda.14dce",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Spotify UIt",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist_babykamer",
    "data": "{\"option\":\"Spotify Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1130,
    "y": 2680,
    "wires": [
      []
    ]
  },
  {
    "id": "cea4251e.228a88",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.spotify_playlist_babykamer",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1720,
    "y": 3240,
    "wires": [
      [
        "a1c1e530.b63e78"
      ]
    ]
  },
  {
    "id": "a1c1e530.b63e78",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Spotify Uit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Baby Music",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Baby Sleep",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 650,
    "y": 3400,
    "wires": [
      [
        "4b92f439.55207c"
      ],
      [
        "b7da31b1.c7b1d"
      ],
      [
        "e018b7ec.26b7d8"
      ]
    ]
  },
  {
    "id": "b7da31b1.c7b1d",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Baby Music",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist",
    "data": "{\"option\":\"Baby Music\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1130,
    "y": 3420,
    "wires": [
      []
    ]
  },
  {
    "id": "e018b7ec.26b7d8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Baby Sleep",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist",
    "data": "{\"option\":\"Baby Sleep\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1130,
    "y": 3465,
    "wires": [
      []
    ]
  },
  {
    "id": "4b92f439.55207c",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Spotify UIt",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist",
    "data": "{\"option\":\"Spotify Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1130,
    "y": 3375,
    "wires": [
      []
    ]
  },
  {
    "id": "7847b9a8.231788",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "input is lise's speaker ",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.mediaplayer_source",
    "data": "{\"option\":\"Lise's Google Home\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1160,
    "y": 3080,
    "wires": [
      []
    ]
  },
  {
    "id": "e047cfa7.44efc",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Speaker Select",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1140,
    "y": 2200,
    "wires": [
      [
        "5c403989.23c728"
      ]
    ]
  },
  {
    "id": "5c403989.23c728",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "Speaker/Device",
    "property": "input_select.mediaplayer_source",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Woonkamer Chromecast",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Woonkamer Google Home",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Lise's Google Home",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 680,
    "y": 2100,
    "wires": [
      [
        "53c295cc.abd69c"
      ],
      [
        "f3a57389.782b"
      ],
      [
        "6b50b9af.42d268"
      ]
    ]
  },
  {
    "id": "6b50b9af.42d268",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Google Home Babykamer Stop",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.speaker_lise",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1650,
    "y": 2140,
    "wires": [
      [
        "5dfe6f7e.c9197"
      ]
    ]
  },
  {
    "id": "f3a57389.782b",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Google Home Woonkamer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.google_home",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1640,
    "y": 2080,
    "wires": [
      []
    ]
  },
  {
    "id": "796e89c3.bcb0b8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Google Home Chromecast Stop",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.chromecast_woonkamer",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1650,
    "y": 2020,
    "wires": [
      []
    ]
  },
  {
    "id": "7aa845e1.4d4d5c",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "mediaplayer lise's kamer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.lise_s_kamer",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 150,
    "y": 3620,
    "wires": [
      [
        "cc95479e.da7f38"
      ],
      []
    ]
  },
  {
    "id": "cc95479e.da7f38",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Spotify UIt",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist_babykamer",
    "data": "{\"option\":\"Spotify Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1130,
    "y": 3620,
    "wires": [
      []
    ]
  },
  {
    "id": "53c295cc.abd69c",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Radio is uit?",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Radio Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.radio_station",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1130,
    "y": 2040,
    "wires": [
      [
        "796e89c3.bcb0b8"
      ],
      []
    ]
  },
  {
    "id": "1646f313.0c96fd",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Mijn Muziek playlist",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:6yr0GWsinC6nV1sIbquyk0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 2390,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "8666bf88.3f907",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "SPOTIFY",
    "info": "",
    "x": 100,
    "y": 2020,
    "wires": []
  },
  {
    "id": "50f6f2b.59c7a0c",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Nature Noise",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:37i9dQZF1DWUKPeBypcpcP",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 2630,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "f40e2aee.db69b8",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Nature Noise",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:37i9dQZF1DWUKPeBypcpcP",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 3300,
    "wires": [
      [
        "7e7532f.c4086cc"
      ]
    ]
  },
  {
    "id": "fe87f61f.0f0ec8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Chromecast Mediaplayer Off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.chromecast_woonkamer",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1180,
    "y": 3680,
    "wires": [
      []
    ]
  },
  {
    "id": "b7aaf57a.8eaee8",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "harmony is uit",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_select.harmonyhub",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "Alles Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 110,
    "y": 3680,
    "wires": [
      [
        "fe87f61f.0f0ec8"
      ],
      []
    ]
  },
  {
    "id": "fca7e96b.18f578",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Input boolean tv is off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.tv",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1620,
    "y": 120,
    "wires": [
      [
        "37e50cfa.988594"
      ],
      []
    ]
  },
  {
    "id": "37e50cfa.988594",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "TV Input Boolean ON",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.tv",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2060,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "267c55db.572f6a",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "TV Input Boolean  off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.tv",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2060,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "36ac824f.34face",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Input boolean tv is on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.tv",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1620,
    "y": 460,
    "wires": [
      [
        "267c55db.572f6a"
      ],
      []
    ]
  },
  {
    "id": "d0fdf580.8956e8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "muziek Input boolean on",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.music",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2070,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "6a32b719.5d34d8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Input boolean muziek is off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.tv",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1640,
    "y": 340,
    "wires": [
      [
        "d0fdf580.8956e8"
      ],
      []
    ]
  },
  {
    "id": "57a069db.874c08",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "muziek Input boolean off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.music",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2070,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "87c18f75.1edd4",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "Input boolean muziek is on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.tv",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1640,
    "y": 520,
    "wires": [
      [
        "57a069db.874c08"
      ],
      []
    ]
  },
  {
    "id": "2f41b527.8cd94a",
    "type": "rbe",
    "z": "2910f43f.ab852c",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 370,
    "y": 700,
    "wires": [
      [
        "d52b2783.94b738"
      ]
    ]
  },
  {
    "id": "d52b2783.94b738",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload.activityId",
        "pt": "msg",
        "from": "-1",
        "fromt": "str",
        "to": "Alles Uit",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload.activityId",
        "pt": "msg",
        "from": "32498292",
        "fromt": "str",
        "to": "TV",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload.activityId",
        "pt": "msg",
        "from": "32498293",
        "fromt": "str",
        "to": "Netflix",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload.activityId",
        "pt": "msg",
        "from": "32498294",
        "fromt": "str",
        "to": "Scherm Uit",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload.activityId",
        "pt": "msg",
        "from": "32499120",
        "fromt": "str",
        "to": "Smart TV",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload.activityId",
        "pt": "msg",
        "from": "40474515",
        "fromt": "str",
        "to": "PC",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 280,
    "y": 760,
    "wires": [
      [
        "addd098c.445788"
      ]
    ]
  },
  {
    "id": "b4db9e9d.ae06d",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload.activityStatus",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 250,
    "y": 700,
    "wires": [
      [
        "2f41b527.8cd94a"
      ],
      [
        "2f41b527.8cd94a"
      ]
    ]
  },
  {
    "id": "5b7c8c9.88ca374",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "radio station select",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Radio Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_select.radio_station",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1610,
    "y": 2960,
    "wires": [
      [
        "1c53f62.509dc0a"
      ],
      []
    ]
  },
  {
    "id": "1c53f62.509dc0a",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select radio uit",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.radio_station",
    "data": "{\"option\":\"Radio Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1840,
    "y": 2960,
    "wires": [
      []
    ]
  },
  {
    "id": "60f106c9.a6f5a8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "spotify is uit",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Spotify Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.spotify_playlist",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1130,
    "y": 1000,
    "wires": [
      [
        "d6c716ea.d1e208"
      ],
      []
    ]
  },
  {
    "id": "b83ae1b2.65965",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "spotify is uit",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Spotify Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.spotify_playlist",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1130,
    "y": 580,
    "wires": [
      [
        "a17000f3.d5a78"
      ],
      []
    ]
  },
  {
    "id": "a17000f3.d5a78",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "radio is uit",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Radio Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.radio_station",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1300,
    "y": 580,
    "wires": [
      [
        "e950787d.c01678"
      ],
      []
    ]
  },
  {
    "id": "d5b2fd9a.1a6da",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select radio uit",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.radio_station",
    "data": "{\"option\":\"Radio Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1920,
    "y": 940,
    "wires": [
      []
    ]
  },
  {
    "id": "28100cba.7d86f4",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select spotify uit",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist",
    "data": "{\"option\":\"Spotify Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1920,
    "y": 1000,
    "wires": [
      []
    ]
  },
  {
    "id": "40342b7b.ed14d4",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "zet uit chromecast woonkamer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.chromecast_woonkamer",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1970,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "addd098c.445788",
    "type": "delay",
    "z": "2910f43f.ab852c",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "2",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 460,
    "y": 760,
    "wires": [
      [
        "f4e10743.bafda8"
      ]
    ]
  },
  {
    "id": "e730c015.cbf7b",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "het is dark",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "dark",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.outdoor_light_dark",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1130,
    "y": 1060,
    "wires": [
      [
        "34844efd.9ec002"
      ],
      []
    ]
  },
  {
    "id": "34844efd.9ec002",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "Woonkamer Light On",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "shellydimmer-living-room",
    "data": "{\"brightness_pct\":\"20\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1620,
    "y": 1060,
    "wires": [
      []
    ]
  },
  {
    "id": "6eb0177a.9b3068",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "stroom versterker > 10",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "10",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "entity_id": "sensor.shelly_shellyplug_receiver_current_consumption",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1820,
    "y": 400,
    "wires": [
      [
        "c2ed0e3e.b1779"
      ],
      []
    ]
  },
  {
    "id": "b36745d2.f2fb58",
    "type": "delay",
    "z": "2910f43f.ab852c",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1580,
    "y": 400,
    "wires": [
      [
        "6eb0177a.9b3068"
      ]
    ]
  },
  {
    "id": "c2ed0e3e.b1779",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "remote",
    "service": "send_command",
    "entityId": "",
    "data": "{\"entity_id\":\"remote.harmony_hub_01\",\"command\":\"PowerOff\",\"device\":\"53126254\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2080,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "a0de1f36.a9842",
    "type": "H activity",
    "z": "2910f43f.ab852c",
    "name": "Netflix",
    "server": "6efb7a7f.4e9a64",
    "activity": "32498293",
    "label": "Netflix",
    "x": 1130,
    "y": 160,
    "wires": [
      [
        "fca7e96b.18f578"
      ]
    ]
  },
  {
    "id": "d55292d3.70a65",
    "type": "H activity",
    "z": "2910f43f.ab852c",
    "name": "Scherm Uit",
    "server": "6efb7a7f.4e9a64",
    "activity": "32498294",
    "label": "Scherm Uit",
    "x": 1150,
    "y": 200,
    "wires": [
      [
        "6a32b719.5d34d8"
      ]
    ]
  },
  {
    "id": "b9246d99.9890a",
    "type": "H activity",
    "z": "2910f43f.ab852c",
    "name": "TV",
    "server": "6efb7a7f.4e9a64",
    "activity": "32498292",
    "label": "TV",
    "x": 1130,
    "y": 120,
    "wires": [
      [
        "fca7e96b.18f578"
      ]
    ]
  },
  {
    "id": "8377b5de.7f8148",
    "type": "H activity",
    "z": "2910f43f.ab852c",
    "name": "Smart TV",
    "server": "6efb7a7f.4e9a64",
    "activity": "32499120",
    "label": "Smart TV",
    "x": 1140,
    "y": 240,
    "wires": [
      [
        "fca7e96b.18f578"
      ]
    ]
  },
  {
    "id": "a300661.bd56498",
    "type": "H activity",
    "z": "2910f43f.ab852c",
    "name": "PC",
    "server": "6efb7a7f.4e9a64",
    "activity": "40474515",
    "label": "PC",
    "x": 1130,
    "y": 280,
    "wires": [
      [
        "fca7e96b.18f578"
      ]
    ]
  },
  {
    "id": "149337f0.569cd8",
    "type": "H activity",
    "z": "2910f43f.ab852c",
    "name": "Uit",
    "server": "6efb7a7f.4e9a64",
    "activity": "-1",
    "label": "PowerOff",
    "x": 1130,
    "y": 320,
    "wires": [
      [
        "36ac824f.34face",
        "87c18f75.1edd4",
        "40342b7b.ed14d4",
        "d5b2fd9a.1a6da",
        "28100cba.7d86f4",
        "b36745d2.f2fb58"
      ]
    ]
  },
  {
    "id": "3bde69d8.43f066",
    "type": "H observe",
    "z": "2910f43f.ab852c",
    "name": "",
    "server": "6efb7a7f.4e9a64",
    "x": 100,
    "y": 700,
    "wires": [
      [
        "b4db9e9d.ae06d"
      ]
    ]
  },
  {
    "id": "affc5f88.87461",
    "type": "cast-to-client",
    "z": "2910f43f.ab852c",
    "name": "",
    "url": "",
    "contentType": "audio/mp3",
    "message": "",
    "language": "en",
    "ip": "192.168.1.11",
    "port": "",
    "volume": "",
    "x": 1610,
    "y": 1840,
    "wires": [
      []
    ],
    "icon": "node-red-contrib-cast/cast-cli3.svg"
  },
  {
    "id": "8c1725fb.827dd8",
    "type": "cast-to-client",
    "z": "2910f43f.ab852c",
    "name": "",
    "url": "",
    "contentType": "audio/mp3",
    "message": "",
    "language": "en",
    "ip": "192.168.1.22",
    "port": "",
    "volume": "50",
    "x": 1610,
    "y": 1780,
    "wires": [
      []
    ],
    "icon": "node-red-contrib-cast/google-home1.svg"
  },
  {
    "id": "bbb5f6a9.8029b8",
    "type": "cast-to-client",
    "z": "2910f43f.ab852c",
    "name": "",
    "url": "",
    "contentType": "audio/mp3",
    "message": "",
    "language": "en",
    "ip": "192.168.1.17",
    "port": "",
    "volume": "50",
    "x": 1610,
    "y": 1900,
    "wires": [
      []
    ],
    "icon": "node-red-contrib-cast/google-home-mini2.svg"
  },
  {
    "id": "d33c6739.661138",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "TV SCHERM CORRECTIE",
    "info": "",
    "x": 150,
    "y": 20,
    "wires": []
  },
  {
    "id": "c9c68e89.e0ce5",
    "type": "trigger-state",
    "z": "2910f43f.ab852c",
    "name": "state tv power watt",
    "server": "4ba92433.2478cc",
    "version": 0,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "sensor.shelly_shellyplug_tv_current_consumption",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [],
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": true,
    "state_type": "num",
    "x": 130,
    "y": 60,
    "wires": [
      [
        "986709c4.4f3978"
      ],
      []
    ]
  },
  {
    "id": "2f85ef3f.9f543",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select is scherm uit",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Scherm Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 910,
    "y": 60,
    "wires": [
      [
        "e438727.3f69b9"
      ],
      []
    ]
  },
  {
    "id": "e438727.3f69b9",
    "type": "subflow:ae0491bb.4f1eb",
    "z": "2910f43f.ab852c",
    "name": "",
    "x": 1130,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "a5bee45a.e7f7f8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "> 59",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "59",
    "halt_if_type": "num",
    "halt_if_compare": "gte",
    "entity_id": "sensor.shelly_shellyplug_tv_current_consumption",
    "state_type": "num",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 730,
    "y": 60,
    "wires": [
      [
        "2f85ef3f.9f543"
      ],
      []
    ]
  },
  {
    "id": "aa9b9669.3111a8",
    "type": "delay",
    "z": "2910f43f.ab852c",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 600,
    "y": 60,
    "wires": [
      [
        "a5bee45a.e7f7f8"
      ]
    ]
  },
  {
    "id": "361d11e2.0d731e",
    "type": "delay",
    "z": "2910f43f.ab852c",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "70",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 440,
    "y": 60,
    "wires": [
      [
        "aa9b9669.3111a8"
      ]
    ]
  },
  {
    "id": "986709c4.4f3978",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "> 59",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gte",
        "v": "55",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 290,
    "y": 60,
    "wires": [
      [
        "361d11e2.0d731e"
      ]
    ]
  },
  {
    "id": "7ab2f10f.a5dad",
    "type": "debug",
    "z": "2910f43f.ab852c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 460,
    "y": 1000,
    "wires": []
  },
  {
    "id": "e518d9a0.983218",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "what/action where category state",
    "info": "",
    "x": 430,
    "y": 240,
    "wires": []
  }
]