data/flows/ENTERTAINMENT.json
[
  {
    "id": "2910f43f.ab852c",
    "type": "tab",
    "label": "ENTERTAINMENT",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e0222031.c804e",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "state input select harmony hub",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_select.harmonyhub",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": false,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 170,
    "y": 300,
    "wires": [
      [
        "12b0c7b7.f23d68"
      ]
    ]
  },
  {
    "id": "12b0c7b7.f23d68",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "Welke input?",
    "property": "data.new_state.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "TV",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Netflix",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Smart TV",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Scherm Uit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Alles Uit",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 630,
    "y": 300,
    "wires": [
      [
        "9781b7f5.1f10a8"
      ],
      [
        "106323c6.82befc"
      ],
      [
        "174d4ece.332d31"
      ],
      [
        "82bc95cc.bfebe8"
      ],
      [
        "6da8cb20.30d0f4"
      ]
    ]
  },
  {
    "id": "a16b409.4b281c",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "App Name ",
    "property": "data.new_state.attributes.app_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "NLZIET",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Ziggo GO",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "YouTube",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Plex",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Netflix",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "Spotify",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "TuneIn Free",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 7,
    "x": 630,
    "y": 960,
    "wires": [
      [
        "33fc2a94.4cdaa6"
      ],
      [
        "33fc2a94.4cdaa6"
      ],
      [
        "33fc2a94.4cdaa6"
      ],
      [
        "33fc2a94.4cdaa6"
      ],
      [
        "e730c015.cbf7b"
      ],
      [
        "1fe48769.70fa89"
      ],
      [
        "1fe48769.70fa89"
      ]
    ]
  },
  {
    "id": "c80aa3e3.6b6f",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "HARMONY INPUT SELECT",
    "info": "",
    "x": 160,
    "y": 260,
    "wires": []
  },
  {
    "id": "8c8062ee.9195a",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 680,
    "wires": [
      [
        "740d851f.8d8e4c"
      ],
      [
        "5ca3464f.c607d8"
      ]
    ]
  },
  {
    "id": "5b04c23f.c13ddc",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 780,
    "wires": [
      [
        "5ca3464f.c607d8"
      ],
      [
        "b83ae1b2.65965"
      ]
    ]
  },
  {
    "id": "e950787d.c01678",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "input select my music",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist",
    "data": "{\"option\":\"Mijn Muziek\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1380,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "d8e3ead5.952f18",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "state media player shield",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "media_player.shield",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": false,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 150,
    "y": 920,
    "wires": [
      [
        "a16b409.4b281c"
      ]
    ]
  },
  {
    "id": "27d51c2d.a557b4",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "state input boolean music",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.music",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 150,
    "y": 780,
    "wires": [
      [
        "5b04c23f.c13ddc"
      ]
    ]
  },
  {
    "id": "1c2e2fc7.151f2",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "state input boolean tv",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.tv",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 680,
    "wires": [
      [
        "8c8062ee.9195a"
      ]
    ]
  },
  {
    "id": "41048f91.45ec8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "input select tv",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"TV\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1200,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "4023da29.24aa34",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "input select screen off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Scherm Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1220,
    "y": 1040,
    "wires": [
      []
    ]
  },
  {
    "id": "87de6266.b1ec4",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select all off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Alles Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1590,
    "y": 1140,
    "wires": [
      []
    ]
  },
  {
    "id": "f92929d3.a2a858",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "APP ON MEDIA PLAYER SHIELD",
    "info": "",
    "x": 180,
    "y": 860,
    "wires": []
  },
  {
    "id": "ed5f4d85.756b9",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "TV SWITCH",
    "info": "",
    "x": 110,
    "y": 640,
    "wires": []
  },
  {
    "id": "ed755ff2.18ede",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "MUSIC SWITCH",
    "info": "",
    "x": 120,
    "y": 740,
    "wires": []
  },
  {
    "id": "7b397616.9d9c48",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "state input select radio station",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_select.radio_station",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 160,
    "y": 1240,
    "wires": [
      [
        "9795d0e4.41c8"
      ]
    ]
  },
  {
    "id": "9795d0e4.41c8",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Radio Uit",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "Radio Uit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "NPO Radio 1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "NPO Radio 2",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "NPO 3FM",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "NPO Radio 4",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Radio 538",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Radio 10",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Q-Music",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Q-Music Christmas",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "BNR Nieuwsradio",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SLAM! FM",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "100% NL",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Veronica",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SkyRadio",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SubLime FM",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "KINK",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 17,
    "x": 650,
    "y": 1280,
    "wires": [
      [
        "8cdcae0.3b2d45"
      ],
      [
        "eae92915.2ce648"
      ],
      [
        "310eae0a.cd2e92"
      ],
      [
        "ada5be67.005ba"
      ],
      [
        "77054ceb.4252b4"
      ],
      [
        "9cc5aa8d.2da4e8"
      ],
      [
        "158d97fd.847b18"
      ],
      [
        "b79ace7d.edd48"
      ],
      [
        "54ecb4f.ae3904c"
      ],
      [
        "5c6676f.1eaff88"
      ],
      [
        "9d69013c.25f1b"
      ],
      [
        "896d521.6b672b"
      ],
      [
        "520daf90.92552"
      ],
      [
        "b8a9d1c4.ac629"
      ],
      [
        "35570bc0.b0aa04"
      ],
      [
        "aae6883f.8a2478"
      ],
      [
        "e0d9da73.ea88d8"
      ]
    ]
  },
  {
    "id": "6f18cf07.f9263",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "RADIO",
    "info": "",
    "x": 90,
    "y": 1140,
    "wires": []
  },
  {
    "id": "5ae96545.6d248c",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "state media player source",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_select.mediaplayer_source",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 150,
    "y": 1180,
    "wires": [
      [
        "d0daf4ea.1a4388"
      ]
    ]
  },
  {
    "id": "310eae0a.cd2e92",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast.omroep.nl/radio1-bb-aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://www.nporadio1.nl/templates/perfecttemplate/images/logo-npo-radio1.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1320,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "ada5be67.005ba",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast.omroep.nl/radio2-bb-mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/NPO_Radio_2_logo.svg/1200px-NPO_Radio_2_logo.svg.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1350,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "77054ceb.4252b4",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast.omroep.nl/3fm-bb-aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/4/46/NPO_3FM_logo_2020.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1380,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "9cc5aa8d.2da4e8",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast.omroep.nl/radio4-bb-aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/NPO_Radio_4_logo_2014.svg/1200px-NPO_Radio_4_logo_2014.svg.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1410,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "158d97fd.847b18",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://playerservices.streamtheworld.com/api/livestream-redirect/RADIO538AAC.aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Logo_Radio_538_2014.svg/1200px-Logo_Radio_538_2014.svg.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1440,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "b79ace7d.edd48",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://playerservices.streamtheworld.com/api/livestream-redirect/RADIO10AAC.aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/3/39/Radio_10_logo_2017.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1470,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "54ecb4f.ae3904c",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast-qmusic.cdp.triple-it.nl/Qmusic_nl_live_96.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Qmusic_logo.svg/1200px-Qmusic_logo.svg.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1500,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "5c6676f.1eaff88",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://icecast-qmusicnl-cdp.triple-it.nl/Qmusic_nl_classics_96.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://static1.qmusic.medialaancdn.be/9/22/e1/43/1380936/Qmusic_ActionHeader_Kerst.jpg",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1530,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "9d69013c.25f1b",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://icecast-bnr.cdp.triple-it.nl/bnr_mp3_128_03",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://theurbanfuture.com/wp-content/uploads/2018/03/logo-bnr-radio.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1560,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "896d521.6b672b",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://stream.slam.nl/web14_mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/2/28/Slam%21FM-logo.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1590,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "520daf90.92552",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://stream.100p.nl/100pctnl.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://static.marcomprocloud.eu/account/54e6f933ca6e54e2083918a8/files/d190ef616c588100ad8767d0ab373eaa.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1620,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "b8a9d1c4.ac629",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://playerservices.streamtheworld.com/api/livestream-redirect/VERONICAAAC.aac",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/a/a9/Radio-Veronica-logo.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1650,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "35570bc0.b0aa04",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://playerservices.streamtheworld.com/api/livestream-redirect/SKYRADIO.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/d/d9/Sky_Radio.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1680,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "1c949923.b776b7",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select media player source living room tv",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Woonkamer TV",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 1400,
    "y": 1540,
    "wires": [
      [
        "affc5f88.87461"
      ],
      []
    ]
  },
  {
    "id": "6d04ce8a.218d1",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select media player source living room google home",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Woonkamer Google Home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 1430,
    "y": 1480,
    "wires": [
      [
        "8c1725fb.827dd8"
      ],
      []
    ]
  },
  {
    "id": "633f4b04.f66264",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select media player source lise's google home",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Lise's Google Home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "x": 1410,
    "y": 1600,
    "wires": [
      [
        "bbb5f6a9.8029b8"
      ],
      []
    ]
  },
  {
    "id": "ec9a1ad.78172e8",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "Radio Uit",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1110,
    "y": 1540,
    "wires": [
      [
        "6d04ce8a.218d1",
        "1c949923.b776b7",
        "633f4b04.f66264"
      ]
    ]
  },
  {
    "id": "aae6883f.8a2478",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://stream.sublimefm.nl/SublimeFM_mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://static.radio.net/images/broadcasts/d5/6d/10833/c300.png",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1710,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "d0daf4ea.1a4388",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state input select radio station",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.radio_station",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 410,
    "y": 1180,
    "wires": [
      [
        "9795d0e4.41c8"
      ]
    ]
  },
  {
    "id": "33fc2a94.4cdaa6",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select media source livingroom tv",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Woonkamer TV",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 950,
    "y": 920,
    "wires": [
      [
        "41048f91.45ec8"
      ],
      []
    ]
  },
  {
    "id": "454468c5.1187a8",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "input_select.mediaplayer_source",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Woonkamer TV",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Woonkamer Google Home",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Lise's Google Home",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 1170,
    "y": 1180,
    "wires": [
      [
        "60f106c9.a6f5a8"
      ],
      [
        "fc330bd.18cb9f8"
      ],
      [
        "68af3444.e7e3bc"
      ]
    ]
  },
  {
    "id": "fc330bd.18cb9f8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn off media player google home",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.living_room_google_speaker",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1400,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "68af3444.e7e3bc",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn off lise's google home",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.lise_s_kamer",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1370,
    "y": 1220,
    "wires": [
      []
    ]
  },
  {
    "id": "8cdcae0.3b2d45",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state media player source",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 910,
    "y": 1180,
    "wires": [
      [
        "454468c5.1187a8"
      ]
    ]
  },
  {
    "id": "eae92915.2ce648",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select media player source living room tv",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Woonkamer TV",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 980,
    "y": 1260,
    "wires": [
      [
        "89521d42.98429"
      ],
      []
    ]
  },
  {
    "id": "4dea1560.4f255c",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "start spotcast google home",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "spotcast",
    "service": "start",
    "entityId": "media_player.living_room_google_speaker",
    "data": "{\"uri\":\"{{playlist}}\",\"random_song\":\"true\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1860,
    "y": 2000,
    "wires": [
      [
        "f5b84940.289f38"
      ]
    ]
  },
  {
    "id": "16193b63.1e9035",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Dance Playlist",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:0avSSq7Hv1KtLC8dQB4xVE",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 900,
    "y": 1900,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "bb62c7c1.682538",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Spotify Uit",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "Spotify Uit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Mijn Muziek",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Dance",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Audiophile",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Nederlandstalig",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Release Radar",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Discover Weekly",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Baby Music",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Baby Sleep",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Nature Noise",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 11,
    "x": 670,
    "y": 1880,
    "wires": [
      [
        "e047cfa7.44efc"
      ],
      [],
      [
        "1646f313.0c96fd"
      ],
      [
        "16193b63.1e9035"
      ],
      [
        "974aae74.cabdd"
      ],
      [
        "7d68d3f8.ccee9c"
      ],
      [
        "4e9e7ffd.faba3"
      ],
      [
        "77924689.525478"
      ],
      [
        "f487899b.22d158"
      ],
      [
        "47920989.c77c48"
      ],
      [
        "50f6f2b.59c7a0c"
      ]
    ]
  },
  {
    "id": "974aae74.cabdd",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Audiophile Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:3nyfO2R6MxbP67wxYVo1nR",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 910,
    "y": 1930,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "bedf8b26.3109b8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state input select mediaplayer source",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1270,
    "y": 2000,
    "wires": [
      [
        "a75c5d1d.eb7cf"
      ]
    ]
  },
  {
    "id": "a75c5d1d.eb7cf",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "input select mediaplayer source",
    "property": "input_select.mediaplayer_source",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Woonkamer TV",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Woonkamer Google Home",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Lise's Google Home",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 1570,
    "y": 2000,
    "wires": [
      [
        "aca93d6a.a9263"
      ],
      [
        "4dea1560.4f255c"
      ],
      [
        "4c1fe090.88ea7"
      ]
    ]
  },
  {
    "id": "aca93d6a.a9263",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "start spotcast shield",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "spotcast",
    "service": "start",
    "entityId": "media_player.shield",
    "data": "{\"uri\":\"{{playlist}}\",\"random_song\":\"true\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1830,
    "y": 1960,
    "wires": [
      [
        "d64c25df.f16088"
      ]
    ]
  },
  {
    "id": "4c1fe090.88ea7",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "start spotcast lise's google home",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "spotcast",
    "service": "start",
    "entityId": "media_player.lise_s_kamer",
    "data": "{\"uri\":\"{{playlist}}\",\"random_song\":\"true\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1870,
    "y": 2040,
    "wires": [
      []
    ]
  },
  {
    "id": "cd52585b.fc9988",
    "type": "trigger-state",
    "z": "2910f43f.ab852c",
    "name": "state input select spotify playlist",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "input_select.spotify_playlist",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [],
    "inputs": 1,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "str",
    "enableInput": true,
    "x": 190,
    "y": 1800,
    "wires": [
      [
        "bb62c7c1.682538"
      ],
      []
    ]
  },
  {
    "id": "7d68d3f8.ccee9c",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Nederlandstalig Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:6pfSVtSuceWnHRMRRv2CSP",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 930,
    "y": 1960,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "4e9e7ffd.faba3",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Release Radar Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:37i9dQZEVXbqqpGQ1yV2nx",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 1990,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "77924689.525478",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Discover Weekly Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:37i9dQZEVXcDO6enaQNKLz",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 930,
    "y": 2020,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "f487899b.22d158",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Baby Music Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:56v9ybHClsUxKrdxjdBxm2",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 910,
    "y": 2050,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "47920989.c77c48",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Baby Sleep Playlist ",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:37i9dQZF1DX0DxcHtn4Hwo",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 910,
    "y": 2080,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "e047cfa7.44efc",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state media player source",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 930,
    "y": 1820,
    "wires": [
      [
        "5c403989.23c728"
      ]
    ]
  },
  {
    "id": "5c403989.23c728",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "input select mediaplayer source",
    "property": "input_select.mediaplayer_source",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Woonkamer TV",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Woonkamer Google Home",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Lise's Google Home",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 1190,
    "y": 1820,
    "wires": [
      [
        "53c295cc.abd69c"
      ],
      [
        "f3a57389.782b"
      ],
      [
        "6b50b9af.42d268"
      ]
    ]
  },
  {
    "id": "6b50b9af.42d268",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn off media lise's google home",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.lise_s_kamer",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1800,
    "y": 1860,
    "wires": [
      []
    ]
  },
  {
    "id": "f3a57389.782b",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn off media player google home",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.living_room_google_speaker",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1800,
    "y": 1820,
    "wires": [
      []
    ]
  },
  {
    "id": "796e89c3.bcb0b8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn off media player shield",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.shield",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1780,
    "y": 1780,
    "wires": [
      []
    ]
  },
  {
    "id": "53c295cc.abd69c",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select radio station radio off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Radio Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.radio_station",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1500,
    "y": 1780,
    "wires": [
      [
        "796e89c3.bcb0b8"
      ],
      []
    ]
  },
  {
    "id": "1646f313.0c96fd",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Mijn Muziek playlist",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:6yr0GWsinC6nV1sIbquyk0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 910,
    "y": 1870,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "8666bf88.3f907",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "SPOTIFY",
    "info": "",
    "x": 120,
    "y": 1760,
    "wires": []
  },
  {
    "id": "50f6f2b.59c7a0c",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "Nature Noise",
    "rules": [
      {
        "t": "set",
        "p": "playlist",
        "pt": "msg",
        "to": "spotify:playlist:37i9dQZF1DWUKPeBypcpcP",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 890,
    "y": 2110,
    "wires": [
      [
        "bedf8b26.3109b8"
      ]
    ]
  },
  {
    "id": "fca7e96b.18f578",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state input boolean tv off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.tv",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1230,
    "y": 240,
    "wires": [
      [
        "37e50cfa.988594"
      ],
      []
    ]
  },
  {
    "id": "37e50cfa.988594",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn on input boolean tv",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.tv",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1510,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "267c55db.572f6a",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn off input boolean tv",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.tv",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1510,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "36ac824f.34face",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state input boolean tv on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.tv",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1230,
    "y": 420,
    "wires": [
      [
        "267c55db.572f6a"
      ],
      []
    ]
  },
  {
    "id": "d0fdf580.8956e8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn on input boolean music",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.music",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1520,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "6a32b719.5d34d8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state input boolean tv off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.music",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1230,
    "y": 360,
    "wires": [
      [
        "d0fdf580.8956e8"
      ],
      []
    ]
  },
  {
    "id": "57a069db.874c08",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn off input boolean music",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.music",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1520,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "87c18f75.1edd4",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state input boolean music on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.music",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1240,
    "y": 480,
    "wires": [
      [
        "57a069db.874c08"
      ],
      []
    ]
  },
  {
    "id": "60f106c9.a6f5a8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select spotify spotify off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Spotify Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.spotify_playlist",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1380,
    "y": 1140,
    "wires": [
      [
        "87de6266.b1ec4"
      ],
      []
    ]
  },
  {
    "id": "b83ae1b2.65965",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select spotify off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Spotify Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.spotify_playlist",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 900,
    "y": 800,
    "wires": [
      [
        "a17000f3.d5a78"
      ],
      []
    ]
  },
  {
    "id": "a17000f3.d5a78",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select radio off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Radio Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.radio_station",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1140,
    "y": 800,
    "wires": [
      [
        "e950787d.c01678"
      ],
      []
    ]
  },
  {
    "id": "d5b2fd9a.1a6da",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select radio uit",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.radio_station",
    "data": "{\"option\":\"Radio Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1200,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "28100cba.7d86f4",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select spotify uit",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist",
    "data": "{\"option\":\"Spotify Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1200,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "e730c015.cbf7b",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state outdoor dark",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "dark",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.outdoor_light_dark",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 890,
    "y": 980,
    "wires": [
      [
        "34844efd.9ec002"
      ],
      []
    ]
  },
  {
    "id": "34844efd.9ec002",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn on light livingroom",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "shellydimmer_living_room",
    "data": "{\"brightness_pct\":\"20\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1220,
    "y": 980,
    "wires": [
      []
    ]
  },
  {
    "id": "affc5f88.87461",
    "type": "cast-to-client",
    "z": "2910f43f.ab852c",
    "name": "",
    "url": "",
    "contentType": "audio/mp3",
    "message": "",
    "language": "en",
    "ip": "shield.lan",
    "port": "",
    "volume": "",
    "x": 1740,
    "y": 1540,
    "wires": [
      []
    ],
    "icon": "node-red-contrib-cast/cast-cli3.svg"
  },
  {
    "id": "8c1725fb.827dd8",
    "type": "cast-to-client",
    "z": "2910f43f.ab852c",
    "name": "",
    "url": "",
    "contentType": "audio/mp3",
    "message": "",
    "language": "en",
    "ip": "Google-Home.lan",
    "port": "",
    "volume": "50",
    "x": 1760,
    "y": 1480,
    "wires": [
      []
    ],
    "icon": "node-red-contrib-cast/google-home1.svg"
  },
  {
    "id": "bbb5f6a9.8029b8",
    "type": "cast-to-client",
    "z": "2910f43f.ab852c",
    "name": "",
    "url": "",
    "contentType": "audio/mp3",
    "message": "",
    "language": "en",
    "ip": "Google-Home-Mini.lan",
    "port": "",
    "volume": "50",
    "x": 1780,
    "y": 1600,
    "wires": [
      []
    ],
    "icon": "node-red-contrib-cast/google-home-mini2.svg"
  },
  {
    "id": "d33c6739.661138",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "tv input select correction",
    "info": "",
    "x": 150,
    "y": 20,
    "wires": []
  },
  {
    "id": "c9c68e89.e0ce5",
    "type": "trigger-state",
    "z": "2910f43f.ab852c",
    "name": "state tv power watt",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "sensor.shellyplug_tv_power",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [],
    "inputs": 1,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": true,
    "state_type": "num",
    "enableInput": true,
    "x": 130,
    "y": 100,
    "wires": [
      [
        "986709c4.4f3978"
      ],
      [
        "986709c4.4f3978"
      ]
    ]
  },
  {
    "id": "2f85ef3f.9f543",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select is scherm uit",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Scherm Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 930,
    "y": 80,
    "wires": [
      [
        "e438727.3f69b9"
      ],
      []
    ]
  },
  {
    "id": "e438727.3f69b9",
    "type": "subflow:ae0491bb.4f1eb",
    "z": "2910f43f.ab852c",
    "name": "",
    "x": 1140,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "a5bee45a.e7f7f8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "> 59",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "59",
    "halt_if_type": "num",
    "halt_if_compare": "gte",
    "entity_id": "sensor.shellyplug_tv_power",
    "state_type": "num",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 750,
    "y": 80,
    "wires": [
      [
        "2f85ef3f.9f543"
      ],
      []
    ]
  },
  {
    "id": "aa9b9669.3111a8",
    "type": "delay",
    "z": "2910f43f.ab852c",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 620,
    "y": 80,
    "wires": [
      [
        "a5bee45a.e7f7f8"
      ]
    ]
  },
  {
    "id": "361d11e2.0d731e",
    "type": "delay",
    "z": "2910f43f.ab852c",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "70",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 460,
    "y": 80,
    "wires": [
      [
        "aa9b9669.3111a8"
      ]
    ]
  },
  {
    "id": "986709c4.4f3978",
    "type": "switch",
    "z": "2910f43f.ab852c",
    "name": "> 59 / < 1",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gte",
        "v": "55",
        "vt": "num"
      },
      {
        "t": "lt",
        "v": "1",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 300,
    "y": 100,
    "wires": [
      [
        "361d11e2.0d731e"
      ],
      [
        "60f1b418.5f2bec"
      ]
    ]
  },
  {
    "id": "106323c6.82befc",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn on harmony netflix",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_on",
    "entityId": "switch.harmony_hub_01_netflix",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 900,
    "y": 300,
    "wires": [
      [
        "fca7e96b.18f578"
      ]
    ]
  },
  {
    "id": "9781b7f5.1f10a8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn on harmony tv",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_on",
    "entityId": "switch.harmony_hub_01_tv",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 890,
    "y": 260,
    "wires": [
      [
        "fca7e96b.18f578",
        "b10f379e.583878"
      ]
    ]
  },
  {
    "id": "82bc95cc.bfebe8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn on harmony screen off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_on",
    "entityId": "switch.harmony_hub_01_scherm_uit",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 920,
    "y": 380,
    "wires": [
      [
        "6a32b719.5d34d8"
      ]
    ]
  },
  {
    "id": "174d4ece.332d31",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn on harmony smart tv",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_on",
    "entityId": "switch.harmony_hub_01_smart_tv",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 910,
    "y": 340,
    "wires": [
      [
        "fca7e96b.18f578"
      ]
    ]
  },
  {
    "id": "6da8cb20.30d0f4",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn off remote harmony",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "remote",
    "service": "turn_off",
    "entityId": "remote.harmony_hub_01",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 910,
    "y": 420,
    "wires": [
      [
        "36ac824f.34face",
        "87c18f75.1edd4",
        "d5b2fd9a.1a6da",
        "28100cba.7d86f4",
        "e9614696.4a8738"
      ]
    ]
  },
  {
    "id": "740d851f.8d8e4c",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "input select tv",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"TV\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 880,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "5ca3464f.c607d8",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "input select all off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Alles Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 890,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "1fe48769.70fa89",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select media source livingroom tv",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Woonkamer TV",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.mediaplayer_source",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_select.mediaplayer_source",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 950,
    "y": 1040,
    "wires": [
      [
        "4023da29.24aa34"
      ],
      []
    ]
  },
  {
    "id": "e9614696.4a8738",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn off media player shield",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.shield",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1240,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "89521d42.98429",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "input select screen off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Scherm Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1360,
    "y": 1260,
    "wires": [
      []
    ]
  },
  {
    "id": "d64c25df.f16088",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "input select screen off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Scherm Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2100,
    "y": 1960,
    "wires": [
      []
    ]
  },
  {
    "id": "f5b84940.289f38",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn off media player shield",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.shield",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2120,
    "y": 2000,
    "wires": [
      []
    ]
  },
  {
    "id": "60f1b418.5f2bec",
    "type": "delay",
    "z": "2910f43f.ab852c",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "70",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 460,
    "y": 120,
    "wires": [
      [
        "237b46fd.73d02a"
      ]
    ]
  },
  {
    "id": "237b46fd.73d02a",
    "type": "delay",
    "z": "2910f43f.ab852c",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 620,
    "y": 120,
    "wires": [
      [
        "6cbb3370.94847c"
      ]
    ]
  },
  {
    "id": "6cbb3370.94847c",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "< 1",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "1",
    "halt_if_type": "num",
    "halt_if_compare": "lte",
    "entity_id": "sensor.shellyplug_tv_power",
    "state_type": "num",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 750,
    "y": 120,
    "wires": [
      [
        "5055b721.f70cd8"
      ],
      []
    ]
  },
  {
    "id": "5055b721.f70cd8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select is not alles uit",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Alles Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 930,
    "y": 120,
    "wires": [
      [
        "a7bf73cc.61a0a"
      ],
      []
    ]
  },
  {
    "id": "b10f379e.583878",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "turn on media player shield",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_on",
    "entityId": "media_player.shield",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1240,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "a7bf73cc.61a0a",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "select alles uit",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.harmonyhub",
    "data": "{\"option\":\"Alles Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1140,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "e0d9da73.ea88d8",
    "type": "change",
    "z": "2910f43f.ab852c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://playerservices.streamtheworld.com/api/livestream-redirect/KINK.mp3",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "imageUrl",
        "pt": "msg",
        "to": "https://upload.wikimedia.org/wikipedia/commons/d/df/Kink_FM_logo.svg",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "msg.contentTitle",
        "pt": "msg",
        "to": "msg.payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1740,
    "wires": [
      [
        "ec9a1ad.78172e8"
      ]
    ]
  },
  {
    "id": "d78107e6.77b8e8",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state person coen home",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "person.coen",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 370,
    "y": 2260,
    "wires": [
      [
        "8b724c44.383e9"
      ],
      []
    ]
  },
  {
    "id": "8b724c44.383e9",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state media player shield playing",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "media_player.shield",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 650,
    "y": 2280,
    "wires": [
      [
        "79531b0f.773f14",
        "80f03a3d.3f4108"
      ],
      []
    ]
  },
  {
    "id": "a7ce2d4e.b4576",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "state person anne home",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "person.anne",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 370,
    "y": 2300,
    "wires": [
      [
        "8b724c44.383e9"
      ],
      []
    ]
  },
  {
    "id": "6d70ecba.7472f4",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "notify tv",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "tv_woonkamer",
    "entityId": "",
    "data": "{\"message\":\"{{{message}}}\",\"title\":\"Pauze\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1000,
    "y": 2280,
    "wires": [
      []
    ]
  },
  {
    "id": "80f03a3d.3f4108",
    "type": "template",
    "z": "2910f43f.ab852c",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "TV gepauseerd i.v.m. telefoon gesprek.",
    "output": "str",
    "x": 860,
    "y": 2280,
    "wires": [
      [
        "6d70ecba.7472f4"
      ]
    ]
  },
  {
    "id": "79531b0f.773f14",
    "type": "api-call-service",
    "z": "2910f43f.ab852c",
    "name": "pause shield",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "media_pause",
    "entityId": "media_player.shield",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 870,
    "y": 2240,
    "wires": [
      []
    ]
  },
  {
    "id": "aa88814a.ea101",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "state phone coen offhook",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.phone_coen_phone_state",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "offhook",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 130,
    "y": 2260,
    "wires": [
      [
        "d78107e6.77b8e8"
      ],
      []
    ]
  },
  {
    "id": "7f00c3c9.12bd0c",
    "type": "server-state-changed",
    "z": "2910f43f.ab852c",
    "name": "state phone anne offhook",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.phone_anne_phone_state",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "offhook",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 130,
    "y": 2300,
    "wires": [
      [
        "a7ce2d4e.b4576"
      ],
      []
    ]
  },
  {
    "id": "91fb6fe8.3da4d",
    "type": "comment",
    "z": "2910f43f.ab852c",
    "name": "PAUSE WHEN PHONE IS OFFHOOK",
    "info": "",
    "x": 170,
    "y": 2220,
    "wires": []
  },
  {
    "id": "57e2a3e0.30d67c",
    "type": "trigger-state",
    "z": "2910f43f.ab852c",
    "name": "state tv power watt",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "sensor.shellyplug_reciever_power",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "this_entity",
        "targetValue": "",
        "propertyType": "current_state",
        "comparatorType": "<",
        "comparatorValueDatatype": "num",
        "comparatorValue": "1",
        "propertyValue": "new_state.state"
      }
    ],
    "inputs": 1,
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": true,
    "state_type": "num",
    "enableInput": true,
    "x": 130,
    "y": 160,
    "wires": [
      [
        "7de81d96.7c2974"
      ],
      []
    ]
  },
  {
    "id": "7de81d96.7c2974",
    "type": "delay",
    "z": "2910f43f.ab852c",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "70",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 460,
    "y": 160,
    "wires": [
      [
        "ada11bd.83caae8"
      ]
    ]
  },
  {
    "id": "ada11bd.83caae8",
    "type": "delay",
    "z": "2910f43f.ab852c",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 620,
    "y": 160,
    "wires": [
      [
        "42953716.454f98"
      ]
    ]
  },
  {
    "id": "ba5f839b.2108d",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "input select is not alles uit",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "Alles Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "input_select.harmonyhub",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 410,
    "y": 240,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "42953716.454f98",
    "type": "api-current-state",
    "z": "2910f43f.ab852c",
    "name": "< 1",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "1",
    "halt_if_type": "num",
    "halt_if_compare": "lte",
    "entity_id": "sensor.shellyplug_reciever_power",
    "state_type": "num",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 750,
    "y": 160,
    "wires": [
      [
        "5055b721.f70cd8"
      ],
      []
    ]
  }
]