data/flows/home security.json
[
  {
    "id": "b13ca13c.9328e",
    "type": "tab",
    "label": "home security",
    "disabled": false,
    "info": ""
  },
  {
    "id": "21056638.dc15aa",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "restore light on state",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "",
    "service": "turn_on",
    "entityId": "{{payload.entity_id}}",
    "data": "{\"brightness\":\"{{payload.attributes.brightness}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1060,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "3f239b5e.f504e4",
    "type": "ha-get-entities",
    "z": "b13ca13c.9328e",
    "name": "get all lights",
    "server": "4ba92433.2478cc",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "starts_with",
        "value": "light.shelly",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 350,
    "y": 400,
    "wires": [
      [
        "10bce703.62c329",
        "60c37558.b5cdbc"
      ]
    ]
  },
  {
    "id": "db08c58a.816728",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "on / off",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 870,
    "y": 420,
    "wires": [
      [
        "21056638.dc15aa"
      ],
      [
        "d1bccaaf.c679f8"
      ]
    ]
  },
  {
    "id": "d1bccaaf.c679f8",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "restore light off state",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "{{payload.domain}}",
    "service": "turn_off",
    "entityId": "{{payload.entity_id}}",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1060,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "cd3d9e6f.8c2b4",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 600,
    "y": 500,
    "wires": [
      [
        "1f5c5d0.c9750a3"
      ]
    ]
  },
  {
    "id": "1f5c5d0.c9750a3",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "send red to traffic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "red",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 830,
    "y": 500,
    "wires": [
      [
        "2b2d9df1.bc8a22"
      ]
    ]
  },
  {
    "id": "60c37558.b5cdbc",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "set domain to light",
    "rules": [
      {
        "t": "set",
        "p": "payload.domain",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 400,
    "wires": [
      [
        "2b2d9df1.bc8a22"
      ]
    ]
  },
  {
    "id": "50b61663.b076c8",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "send green to traffic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "green",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 460,
    "wires": [
      [
        "2b2d9df1.bc8a22"
      ]
    ]
  },
  {
    "id": "19d56254.265d1e",
    "type": "server-state-changed",
    "z": "b13ca13c.9328e",
    "name": "state alarm",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.alarm",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": false,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "alarm",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 80,
    "y": 400,
    "wires": [
      [
        "44ac121c.59d91c"
      ]
    ]
  },
  {
    "id": "44ac121c.59d91c",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "",
    "property": "alarm",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 210,
    "y": 400,
    "wires": [
      [
        "3f239b5e.f504e4"
      ],
      [
        "50b61663.b076c8"
      ]
    ]
  },
  {
    "id": "48577e2b.13ea1",
    "type": "comment",
    "z": "b13ca13c.9328e",
    "name": "RESTORE LIGHT AFTER ALARM",
    "info": "",
    "x": 160,
    "y": 360,
    "wires": []
  },
  {
    "id": "24ab3051.7c08e",
    "type": "server-state-changed",
    "z": "b13ca13c.9328e",
    "name": "state backdoor",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.backdoor_access_control_window_door_is_open",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 100,
    "y": 160,
    "wires": [
      [
        "2231c04d.678c4"
      ]
    ]
  },
  {
    "id": "b2a6a7bd.0318b8",
    "type": "server-state-changed",
    "z": "b13ca13c.9328e",
    "name": "state front door",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.frontdoor_access_control_window_door_is_open",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 100,
    "y": 100,
    "wires": [
      [
        "4dbc6d3c.6b1e94"
      ]
    ]
  },
  {
    "id": "9b797c1b.4dc83",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "on/off",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 410,
    "y": 120,
    "wires": [
      [
        "e3f16390.e04ac"
      ],
      []
    ]
  },
  {
    "id": "5930459.94035bc",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "home security is on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.home_security",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_boolean.home_security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 730,
    "y": 120,
    "wires": [
      [
        "29fb388f.6b0768",
        "743671d6.44575",
        "4a56a5d0.e5ef1c",
        "40140a3.8383df4"
      ],
      []
    ]
  },
  {
    "id": "743671d6.44575",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1180,
    "y": 160,
    "wires": [
      [
        "76dade0f.884bb"
      ]
    ]
  },
  {
    "id": "76dade0f.884bb",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "home security is on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.home_security",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_boolean.home_security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1350,
    "y": 160,
    "wires": [
      [
        "1e0c9024.40fd9",
        "5bee85e2.5958fc"
      ],
      []
    ]
  },
  {
    "id": "1e0c9024.40fd9",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "turn on alarm",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.alarm",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1550,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "50a28070.5f3b8",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "state cancel home security timer active",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "active",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "timer.home_security",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "timer.security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 510,
    "y": 220,
    "wires": [
      [
        "3e130ee2.3c60c2"
      ],
      []
    ]
  },
  {
    "id": "3e130ee2.3c60c2",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "cancel home security timer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "timer",
    "service": "cancel",
    "entityId": "timer.home_security",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 800,
    "y": 220,
    "wires": [
      [
        "74c8186f.59ee08"
      ]
    ]
  },
  {
    "id": "29fb388f.6b0768",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "outdoor is dark",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "dark",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.outdoor_light_dark",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 780,
    "y": 40,
    "wires": [
      [
        "3af8865a.e67f0a"
      ],
      []
    ]
  },
  {
    "id": "3af8865a.e67f0a",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "turn on light backyard front door",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.shellydimmer_backyard_string_l, light.shelly1_front_door",
    "data": "{\"brightness\":60}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1010,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "ef2d0bf8.6e4c38",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "persistent notification",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "create",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"{{topic}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1820,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "f7d9db6.4177e28",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "notify",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "notify",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"{{topic}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1770,
    "y": 100,
    "wires": [
      [
        "ebd071a5.c6567"
      ]
    ]
  },
  {
    "id": "d60f34c7.e15c08",
    "type": "comment",
    "z": "b13ca13c.9328e",
    "name": "HOME SECURITY",
    "info": "",
    "x": 110,
    "y": 40,
    "wires": []
  },
  {
    "id": "5bee85e2.5958fc",
    "type": "template",
    "z": "b13ca13c.9328e",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Het alarm gaat af! Schakel beveiliging uit via Home Assistant of Google Home.",
    "output": "str",
    "x": 1540,
    "y": 120,
    "wires": [
      [
        "ef2d0bf8.6e4c38",
        "f7d9db6.4177e28",
        "3ac976e6.9a9d7a"
      ]
    ]
  },
  {
    "id": "218b9cc3.1e7df4",
    "type": "server-state-changed",
    "z": "b13ca13c.9328e",
    "name": "state home securty",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.home_security",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 110,
    "y": 220,
    "wires": [
      [
        "f717f95f.430aa8"
      ]
    ]
  },
  {
    "id": "f717f95f.430aa8",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 220,
    "wires": [
      [
        "50a28070.5f3b8"
      ],
      [
        "50a28070.5f3b8",
        "2f8f5ff2.f712d"
      ]
    ]
  },
  {
    "id": "2f8f5ff2.f712d",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "turn off alarm",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.alarm",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 430,
    "y": 280,
    "wires": [
      [
        "7a028f41.56997"
      ]
    ]
  },
  {
    "id": "255ddbfc.64c444",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "turn on all lights",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "",
    "data": "{\"entity_id\":\"{{payload.entity_id}}\",\"brightness\":255}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 900,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "a87f1334.bb33d",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "state light dark",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "dark",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.outdoor_light_dark",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "x": 720,
    "y": 360,
    "wires": [
      [
        "255ddbfc.64c444"
      ],
      []
    ]
  },
  {
    "id": "ebd071a5.c6567",
    "type": "link out",
    "z": "b13ca13c.9328e",
    "name": "",
    "links": [
      "7b0f1685.0279d8"
    ],
    "x": 1915,
    "y": 400,
    "wires": []
  },
  {
    "id": "74c8186f.59ee08",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "reset",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 220,
    "wires": [
      [
        "743671d6.44575"
      ]
    ]
  },
  {
    "id": "7a56acdc.b2b984",
    "type": "server-state-changed",
    "z": "b13ca13c.9328e",
    "name": "state motion sensor backyard",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.motion_backyard",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 140,
    "y": 660,
    "wires": [
      [
        "38bc80f7.9907a"
      ]
    ]
  },
  {
    "id": "38bc80f7.9907a",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 330,
    "y": 660,
    "wires": [
      [
        "205538ca.0a7728",
        "36eb854f.65166a"
      ],
      [
        "903c09b0.f11708"
      ]
    ]
  },
  {
    "id": "d9e16336.3cfb6",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "state backyard string light",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.shellydimmer_backyard_string_l",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 970,
    "y": 660,
    "wires": [
      [
        "44c1e3b0.8096ac",
        "e0e4dddd.edd38"
      ]
    ]
  },
  {
    "id": "4ac26557.f529ac",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "state barn door light",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.shelly1_barn_door",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 950,
    "y": 700,
    "wires": [
      [
        "44c1e3b0.8096ac",
        "793b51ba.c3407"
      ]
    ]
  },
  {
    "id": "e0e4dddd.edd38",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "turn on light backyard string",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.shellydimmer_backyard_string_l",
    "data": "{\"brightness\":\"255\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1280,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "793b51ba.c3407",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "turn on light barn door",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.shelly1_barn_door",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1260,
    "y": 700,
    "wires": [
      []
    ]
  },
  {
    "id": "e967aee1.87753",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "on / off",
    "property": "data.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1290,
    "y": 780,
    "wires": [
      [
        "7ecd2879.709be8"
      ],
      [
        "acdfe2d4.fa4d6"
      ]
    ]
  },
  {
    "id": "fafb82d5.536fb",
    "type": "delay",
    "z": "b13ca13c.9328e",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 680,
    "y": 780,
    "wires": [
      [
        "b8413f58.01f3e"
      ]
    ]
  },
  {
    "id": "b8413f58.01f3e",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "start hold",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "red",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 780,
    "wires": [
      [
        "44c1e3b0.8096ac"
      ]
    ]
  },
  {
    "id": "7ecd2879.709be8",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "restore light on state",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "{{data.entity_id}}",
    "data": "{\"brightness\":\"{{data.attributes.brightness}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1480,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "acdfe2d4.fa4d6",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "restore light off state",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_off",
    "entityId": "{{data.entity_id}}",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1480,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "e81f9e74.325c5",
    "type": "comment",
    "z": "b13ca13c.9328e",
    "name": "MOTION SENSOR",
    "info": "",
    "x": 110,
    "y": 620,
    "wires": []
  },
  {
    "id": "205538ca.0a7728",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "outdoor is dark",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "dark",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.outdoor_light_dark",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 480,
    "y": 660,
    "wires": [
      [
        "7a0e5b8d.abe7f4"
      ],
      []
    ]
  },
  {
    "id": "7f0827c9.631e28",
    "type": "template",
    "z": "b13ca13c.9328e",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Beweging in achtertuin gedetecteerd. Beveiliging staat aan. ",
    "output": "str",
    "x": 920,
    "y": 580,
    "wires": [
      [
        "ebd071a5.c6567"
      ]
    ]
  },
  {
    "id": "36eb854f.65166a",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "persons is home",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "group.persons",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 480,
    "y": 620,
    "wires": [
      [
        "3272df84.e49c7"
      ],
      [
        "697fa6b2.eda878"
      ]
    ]
  },
  {
    "id": "8a777b87.9f8478",
    "type": "template",
    "z": "b13ca13c.9328e",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Beweging in achtertuin gedetecteerd. Niemand is aanwezig en gast staat uit.",
    "output": "str",
    "x": 920,
    "y": 620,
    "wires": [
      [
        "ebd071a5.c6567"
      ]
    ]
  },
  {
    "id": "7a0e5b8d.abe7f4",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "state home security is on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.home_security",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "input_boolean.home_security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 710,
    "y": 660,
    "wires": [
      [
        "d9e16336.3cfb6",
        "4ac26557.f529ac"
      ],
      []
    ]
  },
  {
    "id": "3272df84.e49c7",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "state home security is on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.home_security",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "input_boolean.home_security",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 710,
    "y": 580,
    "wires": [
      [
        "7f0827c9.631e28"
      ],
      []
    ]
  },
  {
    "id": "903c09b0.f11708",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "send green to traffic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "green",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 700,
    "wires": [
      [
        "44c1e3b0.8096ac",
        "fafb82d5.536fb"
      ]
    ]
  },
  {
    "id": "4a56a5d0.e5ef1c",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "start alarm_countdown timer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "timer",
    "service": "start",
    "entityId": "timer.alarm_countdown",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1000,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "7a028f41.56997",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "cancel alarm countdown timer",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "timer",
    "service": "cancel",
    "entityId": "timer.alarm_countdown",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "data"
      }
    ],
    "queue": "none",
    "x": 650,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "697fa6b2.eda878",
    "type": "api-current-state",
    "z": "b13ca13c.9328e",
    "name": "state guest is on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.guest",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 680,
    "y": 620,
    "wires": [
      [],
      [
        "8a777b87.9f8478"
      ]
    ]
  },
  {
    "id": "2b2d9df1.bc8a22",
    "type": "traffic",
    "z": "b13ca13c.9328e",
    "name": "traffic",
    "property_allow": "payload",
    "filter_allow": "green",
    "ignore_case_allow": false,
    "negate_allow": false,
    "send_allow": false,
    "property_stop": "payload",
    "filter_stop": "red",
    "ignore_case_stop": false,
    "negate_stop": false,
    "send_stop": false,
    "default_start": false,
    "differ": true,
    "x": 710,
    "y": 440,
    "wires": [
      [
        "cd3d9e6f.8c2b4",
        "db08c58a.816728"
      ]
    ]
  },
  {
    "id": "44c1e3b0.8096ac",
    "type": "traffic",
    "z": "b13ca13c.9328e",
    "name": "traffic",
    "property_allow": "payload",
    "filter_allow": "green",
    "ignore_case_allow": false,
    "negate_allow": false,
    "send_allow": false,
    "property_stop": "payload",
    "filter_stop": "red",
    "ignore_case_stop": false,
    "negate_stop": false,
    "send_stop": false,
    "default_start": false,
    "differ": true,
    "x": 1170,
    "y": 780,
    "wires": [
      [
        "e967aee1.87753"
      ]
    ]
  },
  {
    "id": "10bce703.62c329",
    "type": "switch",
    "z": "b13ca13c.9328e",
    "name": "exclude light",
    "property": "payload.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "light.shellydimmer_lises_room",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 530,
    "y": 360,
    "wires": [
      [
        "a87f1334.bb33d"
      ]
    ]
  },
  {
    "id": "3ac976e6.9a9d7a",
    "type": "api-call-service",
    "z": "b13ca13c.9328e",
    "name": "google say",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "tts",
    "service": "google_say",
    "entityId": "media_player.google_home",
    "data": "{\"message\":\"{{message}}\",\"language\":\"nl\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1790,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "40140a3.8383df4",
    "type": "template",
    "z": "b13ca13c.9328e",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "De {{door}} is geopend met beveiliging aan. Schakel beveiliging uit via Home Assistant of Google Home.",
    "output": "str",
    "x": 1540,
    "y": 80,
    "wires": [
      [
        "3ac976e6.9a9d7a",
        "f7d9db6.4177e28",
        "ef2d0bf8.6e4c38"
      ]
    ]
  },
  {
    "id": "4dbc6d3c.6b1e94",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "door",
        "pt": "msg",
        "to": "voordeur",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 100,
    "wires": [
      [
        "9b797c1b.4dc83"
      ]
    ]
  },
  {
    "id": "2231c04d.678c4",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "door",
        "pt": "msg",
        "to": "achterdeur",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 160,
    "wires": [
      [
        "9b797c1b.4dc83"
      ]
    ]
  },
  {
    "id": "e3f16390.e04ac",
    "type": "change",
    "z": "b13ca13c.9328e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Huis beveiliging",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 120,
    "wires": [
      [
        "5930459.94035bc"
      ]
    ]
  }
]