data/flows/LISE.json
[
  {
    "id": "cc5e35c.fdf3fc8",
    "type": "tab",
    "label": "LISE",
    "disabled": false,
    "info": ""
  },
  {
    "id": "673f7215.b83dec",
    "type": "api-call-service",
    "z": "cc5e35c.fdf3fc8",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "ffmpeg",
    "service": "start",
    "entityId": "",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 600,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "8f0203ca.624cc",
    "type": "switch",
    "z": "cc5e35c.fdf3fc8",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 430,
    "y": 120,
    "wires": [
      [
        "673f7215.b83dec"
      ],
      [
        "f979a422.8fc9d8"
      ]
    ]
  },
  {
    "id": "f979a422.8fc9d8",
    "type": "api-call-service",
    "z": "cc5e35c.fdf3fc8",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "ffmpeg",
    "service": "stop",
    "entityId": "",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 600,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "e8b14f2.d2851b",
    "type": "server-state-changed",
    "z": "cc5e35c.fdf3fc8",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.babymonitor",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 200,
    "y": 120,
    "wires": [
      [
        "8f0203ca.624cc"
      ]
    ]
  },
  {
    "id": "c755c2ab.9360d",
    "type": "comment",
    "z": "cc5e35c.fdf3fc8",
    "name": "GELUID DETECTIE",
    "info": "",
    "x": 130,
    "y": 40,
    "wires": []
  }
]