data/flows/messages.json
[
  {
    "id": "7564ec02.f4fd84",
    "type": "tab",
    "label": "messages",
    "disabled": false,
    "info": ""
  },
  {
    "id": "97370a88.696b28",
    "type": "change",
    "z": "7564ec02.f4fd84",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "message",
        "pt": "msg",
        "from": "\\n",
        "fromt": "str",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 60,
    "wires": [
      [
        "c8ffad8f.d4d2e"
      ]
    ]
  },
  {
    "id": "7b0f1685.0279d8",
    "type": "link in",
    "z": "7564ec02.f4fd84",
    "name": "message IN",
    "links": [
      "2bddc73.a825b38",
      "6653256d.3f151c",
      "860c44c0.de0ad8",
      "9b677f11.37ef3",
      "a6234ce8.642e7",
      "bca31def.995c3",
      "f35abd1b.dd817",
      "da331474.4083c8",
      "29fa7959.8a8476",
      "9b7cb921.caafe8",
      "a5372f4b.7cae2",
      "4b61ab07.f4b074",
      "2b2add1f.c0cc72",
      "7c5a4975.3a2b78",
      "39631971.689156"
    ],
    "x": 195,
    "y": 60,
    "wires": [
      [
        "97370a88.696b28"
      ]
    ]
  },
  {
    "id": "71177dfd.1f8e74",
    "type": "template",
    "z": "7564ec02.f4fd84",
    "name": "time-and-message",
    "field": "tijd-en-message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{mytime}}, {{message}}",
    "output": "str",
    "x": 930,
    "y": 60,
    "wires": [
      [
        "133fb6cb.864ba9"
      ]
    ]
  },
  {
    "id": "c8ffad8f.d4d2e",
    "type": "switch",
    "z": "7564ec02.f4fd84",
    "name": "",
    "property": "message",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "unknown",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 490,
    "y": 60,
    "wires": [
      [
        "b696e0b7.ea1aa"
      ]
    ]
  },
  {
    "id": "b696e0b7.ea1aa",
    "type": "switch",
    "z": "7564ec02.f4fd84",
    "name": "",
    "property": "message",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "unavailable",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 610,
    "y": 60,
    "wires": [
      [
        "7836a457.915fdc"
      ]
    ]
  },
  {
    "id": "f7a2e051.4235",
    "type": "ha-entity",
    "z": "7564ec02.f4fd84",
    "name": "time-and-message -> sensor message_home_page_1",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_1"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      }
    ],
    "state": "tijd-en-message",
    "stateType": "msg",
    "attributes": [],
    "resend": false,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 1240,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "133fb6cb.864ba9",
    "type": "api-current-state",
    "z": "7564ec02.f4fd84",
    "name": "get message_home_page_1",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "sensor.message_home_page_1",
    "state_type": "str",
    "state_location": "message_home_page_1",
    "override_payload": "msg",
    "entity_location": "",
    "override_data": "none",
    "blockInputOverrides": true,
    "x": 1160,
    "y": 60,
    "wires": [
      [
        "43e5dace.e04654"
      ]
    ]
  },
  {
    "id": "a393de42.16e7c",
    "type": "ha-entity",
    "z": "7564ec02.f4fd84",
    "name": "put sensor message_home_page_1 -> 2",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_2"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      }
    ],
    "state": "message_home_page_1",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "x": 1200,
    "y": 240,
    "wires": [
      [
        "a6f210fe.26244"
      ]
    ]
  },
  {
    "id": "a6f210fe.26244",
    "type": "ha-entity",
    "z": "7564ec02.f4fd84",
    "name": "put sensor message_home_page_2 -> 3",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_3"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      }
    ],
    "state": "message_home_page_2",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "x": 1200,
    "y": 300,
    "wires": [
      [
        "b0fb37b5.a99a68"
      ]
    ]
  },
  {
    "id": "43e5dace.e04654",
    "type": "api-current-state",
    "z": "7564ec02.f4fd84",
    "name": "get message_home_page_2",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "sensor.message_home_page_2",
    "state_type": "str",
    "state_location": "message_home_page_2",
    "override_payload": "msg",
    "entity_location": "",
    "override_data": "none",
    "blockInputOverrides": true,
    "x": 1160,
    "y": 120,
    "wires": [
      [
        "11d10b51.12cf65"
      ]
    ]
  },
  {
    "id": "b0fb37b5.a99a68",
    "type": "ha-entity",
    "z": "7564ec02.f4fd84",
    "name": "put sensor message_home_page_3 -> 4",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_4"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      }
    ],
    "state": "message_home_page_3",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "x": 1200,
    "y": 360,
    "wires": [
      [
        "f7a2e051.4235"
      ]
    ]
  },
  {
    "id": "11d10b51.12cf65",
    "type": "api-current-state",
    "z": "7564ec02.f4fd84",
    "name": "get message_home_page_3",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "sensor.message_home_page_3",
    "state_type": "str",
    "state_location": "message_home_page_3",
    "override_payload": "msg",
    "entity_location": "",
    "override_data": "none",
    "blockInputOverrides": true,
    "x": 1160,
    "y": 180,
    "wires": [
      [
        "a393de42.16e7c"
      ]
    ]
  },
  {
    "id": "7836a457.915fdc",
    "type": "simpletime",
    "z": "7564ec02.f4fd84",
    "name": "",
    "x": 750,
    "y": 60,
    "wires": [
      [
        "71177dfd.1f8e74"
      ]
    ]
  }
]