data/flows/notification_gas_consumption.json
[
  {
    "id": "98a989e.d6bca78",
    "type": "tab",
    "label": "notification_gas_consumption",
    "disabled": false,
    "info": ""
  },
  {
    "id": "6429429b.d1375c",
    "type": "server-state-changed",
    "z": "98a989e.d6bca78",
    "name": "gas sensor state",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.dsmr_consumption_gas_currently_delivered",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "num",
    "haltifstate": "",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 100,
    "y": 100,
    "wires": [
      [
        "3238627b.1b1f0e"
      ]
    ]
  },
  {
    "id": "3238627b.1b1f0e",
    "type": "switch",
    "z": "98a989e.d6bca78",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 250,
    "y": 100,
    "wires": [
      [
        "d99c251f.40c1c8"
      ]
    ]
  },
  {
    "id": "d99c251f.40c1c8",
    "type": "api-current-state",
    "z": "98a989e.d6bca78",
    "name": "group persons is not home",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "group.persons",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "group.persons",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 440,
    "y": 100,
    "wires": [
      [
        "7da2532c.8f20fc"
      ],
      []
    ]
  },
  {
    "id": "7da2532c.8f20fc",
    "type": "api-current-state",
    "z": "98a989e.d6bca78",
    "name": "guest state is off",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.guest",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "gast",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 660,
    "y": 100,
    "wires": [
      [
        "496caddb.5ba724"
      ],
      []
    ]
  },
  {
    "id": "496caddb.5ba724",
    "type": "template",
    "z": "98a989e.d6bca78",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Er is {{payload}}m³ gas gemeten en niemand is aanwezig, controleer of het gas is uitgezet.",
    "output": "str",
    "x": 820,
    "y": 100,
    "wires": [
      [
        "121441a.65b76be"
      ]
    ]
  },
  {
    "id": "fac5f99c.1b7438",
    "type": "comment",
    "z": "98a989e.d6bca78",
    "name": "gas notification when nobody is in the house",
    "info": "",
    "x": 190,
    "y": 40,
    "wires": []
  },
  {
    "id": "121441a.65b76be",
    "type": "link out",
    "z": "98a989e.d6bca78",
    "name": "",
    "links": [
      "ebf4860d.603538"
    ],
    "x": 935,
    "y": 100,
    "wires": []
  }
]