data/flows/notification_dashboard_messages.json
[
  {
    "id": "fa4b9474.ba9d68",
    "type": "tab",
    "label": "notification_dashboard_messages",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ea9a621c.8439e",
    "type": "change",
    "z": "fa4b9474.ba9d68",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "message",
        "pt": "msg",
        "from": "\\n",
        "fromt": "str",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 180,
    "y": 100,
    "wires": [
      [
        "f220041d.e87868"
      ]
    ]
  },
  {
    "id": "2cebe279.474c9e",
    "type": "template",
    "z": "fa4b9474.ba9d68",
    "name": "time-and-message",
    "field": "tijd-en-message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{mytime}}, {{{message}}}",
    "output": "str",
    "x": 560,
    "y": 100,
    "wires": [
      [
        "4fae69c4.0b11b8"
      ]
    ]
  },
  {
    "id": "82e8bc89.afd6f",
    "type": "ha-entity",
    "z": "fa4b9474.ba9d68",
    "name": "time-and-message -> sensor message_home_page_1",
    "server": "4ba92433.2478cc",
    "version": 2,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_1"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      },
      {
        "property": "state_class",
        "value": ""
      },
      {
        "property": "last_reset",
        "value": ""
      }
    ],
    "state": "tijd-en-message",
    "stateType": "msg",
    "attributes": [],
    "resend": false,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 900,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "4fae69c4.0b11b8",
    "type": "api-current-state",
    "z": "fa4b9474.ba9d68",
    "name": "get message_home_page_1",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.message_home_page_1",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "message_home_page_1",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 820,
    "y": 100,
    "wires": [
      [
        "3126f1eb.a88fae"
      ]
    ]
  },
  {
    "id": "11bdffba.e4da8",
    "type": "ha-entity",
    "z": "fa4b9474.ba9d68",
    "name": "put sensor message_home_page_1 -> 2",
    "server": "4ba92433.2478cc",
    "version": 2,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_2"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      },
      {
        "property": "state_class",
        "value": ""
      },
      {
        "property": "last_reset",
        "value": ""
      }
    ],
    "state": "message_home_page_1",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 860,
    "y": 280,
    "wires": [
      [
        "d5f7b717.f22508"
      ]
    ]
  },
  {
    "id": "d5f7b717.f22508",
    "type": "ha-entity",
    "z": "fa4b9474.ba9d68",
    "name": "put sensor message_home_page_2 -> 3",
    "server": "4ba92433.2478cc",
    "version": 2,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_3"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      },
      {
        "property": "state_class",
        "value": ""
      },
      {
        "property": "last_reset",
        "value": ""
      }
    ],
    "state": "message_home_page_2",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 860,
    "y": 340,
    "wires": [
      [
        "14fad9e1.42e016"
      ]
    ]
  },
  {
    "id": "3126f1eb.a88fae",
    "type": "api-current-state",
    "z": "fa4b9474.ba9d68",
    "name": "get message_home_page_2",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.message_home_page_2",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "message_home_page_2",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 820,
    "y": 160,
    "wires": [
      [
        "e837ef9b.ef73"
      ]
    ]
  },
  {
    "id": "14fad9e1.42e016",
    "type": "ha-entity",
    "z": "fa4b9474.ba9d68",
    "name": "put sensor message_home_page_3 -> 4",
    "server": "4ba92433.2478cc",
    "version": 2,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_4"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      },
      {
        "property": "state_class",
        "value": ""
      },
      {
        "property": "last_reset",
        "value": ""
      }
    ],
    "state": "message_home_page_3",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 860,
    "y": 400,
    "wires": [
      [
        "82e8bc89.afd6f"
      ]
    ]
  },
  {
    "id": "e837ef9b.ef73",
    "type": "api-current-state",
    "z": "fa4b9474.ba9d68",
    "name": "get message_home_page_3",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.message_home_page_3",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "message_home_page_3",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 820,
    "y": 220,
    "wires": [
      [
        "11bdffba.e4da8"
      ]
    ]
  },
  {
    "id": "f220041d.e87868",
    "type": "simpletime",
    "z": "fa4b9474.ba9d68",
    "name": "",
    "mydate": true,
    "myymd": true,
    "myyear": true,
    "mymonth": true,
    "mymonthn": true,
    "mydom": true,
    "mydoy": true,
    "myday": true,
    "myhourpm": true,
    "myhour": true,
    "mytime": true,
    "mytimes": true,
    "myminute": true,
    "myminutes": true,
    "mysecond": true,
    "mymillis": true,
    "myepoch": true,
    "myrawdate": true,
    "mypm": true,
    "x": 380,
    "y": 100,
    "wires": [
      [
        "2cebe279.474c9e"
      ]
    ]
  },
  {
    "id": "55d39b39.8dcda4",
    "type": "comment",
    "z": "fa4b9474.ba9d68",
    "name": "messages to home assistant lovelace home dashboard",
    "info": "messages to home assistant lovelace home dashboard",
    "x": 220,
    "y": 40,
    "wires": []
  },
  {
    "id": "ebf4860d.603538",
    "type": "link in",
    "z": "fa4b9474.ba9d68",
    "name": "",
    "links": [
      "15aedd3a.a2e193",
      "cf34922.125b87",
      "6ebf508f.20c57",
      "318a335e.4fd36c",
      "823092bd.a7ed7",
      "756eefe7.33a9e",
      "a9687ab6.f40698",
      "121441a.65b76be",
      "4c169b88.d80854",
      "6646c95c.546ca8",
      "2f76ff07.93816",
      "9f9c99bd.1dfe08",
      "3c488237.d82a4e",
      "9bfeecdc.f723d",
      "60473297.21616c",
      "5841bec4.a2bed",
      "289089f4.e41b76",
      "61bb3627.3c73a8",
      "d72ab58.1d91948",
      "651b6e34.8b57d"
    ],
    "x": 35,
    "y": 100,
    "wires": [
      [
        "ea9a621c.8439e"
      ]
    ]
  }
]