data/flows/notification_drone_cicd.json
[
  {
    "id": "104cf599.7f235a",
    "type": "tab",
    "label": "notification_drone_cicd",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8e5f1f6.1491be",
    "type": "http in",
    "z": "104cf599.7f235a",
    "name": "",
    "url": "/drone/notify",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 110,
    "y": 100,
    "wires": [
      [
        "84537b3a.709288",
        "dfdd1ed0.0ec7"
      ]
    ]
  },
  {
    "id": "84537b3a.709288",
    "type": "template",
    "z": "104cf599.7f235a",
    "name": "html page",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<html>\n    <head></head>\n    <body>\n        <h1>ontvangen{{ payload.name }}!</h1>\n    </body>\n</html>",
    "x": 320,
    "y": 100,
    "wires": [
      [
        "d9bf46aa.3954e8"
      ]
    ]
  },
  {
    "id": "d9bf46aa.3954e8",
    "type": "http response",
    "z": "104cf599.7f235a",
    "name": "http response",
    "statusCode": "",
    "headers": {},
    "x": 480,
    "y": 100,
    "wires": []
  },
  {
    "id": "61955679.90f4f8",
    "type": "api-call-service",
    "z": "104cf599.7f235a",
    "name": "app notification",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "create",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"CI/CD\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 820,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "dfdd1ed0.0ec7",
    "type": "template",
    "z": "104cf599.7f235a",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "drone.io build [{{payload.repo}}]({{{payload.buildlink}}}/) status: *{{payload.status}}*",
    "output": "str",
    "x": 320,
    "y": 140,
    "wires": [
      [
        "a3c4d652.5f0db8",
        "cf34922.125b87"
      ]
    ]
  },
  {
    "id": "814e4a7e.8b6d68",
    "type": "api-call-service",
    "z": "104cf599.7f235a",
    "name": "notify phone coen",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "mobile_app_phone_coen",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"CI/CD\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 830,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "f1a98b5e.843778",
    "type": "switch",
    "z": "104cf599.7f235a",
    "name": "",
    "property": "payload.status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "failure",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 570,
    "y": 280,
    "wires": [
      [
        "814e4a7e.8b6d68"
      ]
    ]
  },
  {
    "id": "214c7ea4.35c312",
    "type": "comment",
    "z": "104cf599.7f235a",
    "name": "drone ci/cd notification",
    "info": "",
    "x": 120,
    "y": 40,
    "wires": []
  },
  {
    "id": "ab8984f7.2ca958",
    "type": "delay",
    "z": "104cf599.7f235a",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 520,
    "y": 160,
    "wires": [
      [
        "f1a98b5e.843778",
        "61955679.90f4f8"
      ]
    ]
  },
  {
    "id": "a3c4d652.5f0db8",
    "type": "switch",
    "z": "104cf599.7f235a",
    "name": "",
    "property": "payload.repo",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "home-assistant",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 330,
    "y": 200,
    "wires": [
      [
        "ab8984f7.2ca958"
      ],
      [
        "f1a98b5e.843778",
        "61955679.90f4f8"
      ]
    ]
  },
  {
    "id": "cf34922.125b87",
    "type": "link out",
    "z": "104cf599.7f235a",
    "name": "",
    "links": [
      "ebf4860d.603538"
    ],
    "x": 755,
    "y": 140,
    "wires": []
  }
]