data/flows/others.json
[
  {
    "id": "155ca471.b81eac",
    "type": "tab",
    "label": "others",
    "disabled": false,
    "info": ""
  },
  {
    "id": "78cda8a8.866148",
    "type": "switch",
    "z": "155ca471.b81eac",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "10",
        "vt": "num"
      },
      {
        "t": "lte",
        "v": "3.9",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 590,
    "y": 80,
    "wires": [
      [
        "bd95f2f.2d6fd1"
      ],
      [
        "455f6646.e839a8"
      ]
    ]
  },
  {
    "id": "adeed897.0e8108",
    "type": "trigger-state",
    "z": "155ca471.b81eac",
    "name": "state washing machine watt",
    "server": "4ba92433.2478cc",
    "version": 0,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "sensor.metered_wall_plug_switch_power_washing_machine",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [],
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "num",
    "x": 160,
    "y": 80,
    "wires": [
      [
        "da0fc94b.13e958"
      ],
      []
    ]
  },
  {
    "id": "2aec8400.74465c",
    "type": "comment",
    "z": "155ca471.b81eac",
    "name": "STATUS MACHINES",
    "info": "",
    "x": 135,
    "y": 35,
    "wires": []
  },
  {
    "id": "db1b9eb8.57f11",
    "type": "change",
    "z": "155ca471.b81eac",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://192.168.1.20:8123/local/audio/wasmachine_klaar.mp3",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1450,
    "y": 80,
    "wires": [
      [
        "7520cdcb.2a7f04",
        "cdffe03b.850da"
      ]
    ]
  },
  {
    "id": "135d2bc6.413f64",
    "type": "api-call-service",
    "z": "155ca471.b81eac",
    "name": "In APP Notify",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "create",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"Wasmachine\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1970,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "88e4aa81.bc1308",
    "type": "api-call-service",
    "z": "155ca471.b81eac",
    "name": "media_stop",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.google_home",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1810,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "fd2182cd.337b6",
    "type": "ha-entity",
    "z": "155ca471.b81eac",
    "name": "sensor washing machine",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "binary_sensor",
    "config": [
      {
        "property": "name",
        "value": "washing_machine"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:washing-machine"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      }
    ],
    "state": "payload",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "allow",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 1130,
    "y": 80,
    "wires": [
      [
        "761b9471.c4f8fc"
      ]
    ]
  },
  {
    "id": "f1557309.2f6dc",
    "type": "change",
    "z": "155ca471.b81eac",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 60,
    "wires": [
      [
        "fd2182cd.337b6"
      ]
    ]
  },
  {
    "id": "6d90c6c4.5ad138",
    "type": "change",
    "z": "155ca471.b81eac",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "off",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 100,
    "wires": [
      [
        "fd2182cd.337b6"
      ]
    ]
  },
  {
    "id": "bd95f2f.2d6fd1",
    "type": "api-current-state",
    "z": "155ca471.b81eac",
    "name": "state is not on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "binary_sensor.washing_machine",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 740,
    "y": 60,
    "wires": [
      [
        "f1557309.2f6dc"
      ],
      []
    ]
  },
  {
    "id": "455f6646.e839a8",
    "type": "api-current-state",
    "z": "155ca471.b81eac",
    "name": "state is not off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "binary_sensor.washing_machine",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 740,
    "y": 100,
    "wires": [
      [
        "6d90c6c4.5ad138"
      ],
      []
    ]
  },
  {
    "id": "761b9471.c4f8fc",
    "type": "switch",
    "z": "155ca471.b81eac",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1310,
    "y": 80,
    "wires": [
      [
        "db1b9eb8.57f11",
        "cfd47df9.51586"
      ]
    ]
  },
  {
    "id": "cfd47df9.51586",
    "type": "template",
    "z": "155ca471.b81eac",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "De wasmachine is klaar.",
    "output": "str",
    "x": 1430,
    "y": 120,
    "wires": [
      [
        "135d2bc6.413f64",
        "39631971.689156"
      ]
    ]
  },
  {
    "id": "53afb1d5.6c596",
    "type": "ha-entity",
    "z": "155ca471.b81eac",
    "name": "sensor dishwasher",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "binary_sensor",
    "config": [
      {
        "property": "name",
        "value": "dishwasher"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:dishwasher"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      }
    ],
    "state": "payload",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "allow",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 1110,
    "y": 340,
    "wires": [
      [
        "ab285a00.3b1b28"
      ]
    ]
  },
  {
    "id": "66b3a7f6.299838",
    "type": "switch",
    "z": "155ca471.b81eac",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "lte",
        "v": "1.5",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 590,
    "y": 340,
    "wires": [
      [
        "7b0f33f.823f1cc"
      ],
      [
        "af83f485.3d0178"
      ]
    ]
  },
  {
    "id": "72b1748f.e83efc",
    "type": "change",
    "z": "155ca471.b81eac",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 320,
    "wires": [
      [
        "53afb1d5.6c596"
      ]
    ]
  },
  {
    "id": "ea4533fc.a59",
    "type": "change",
    "z": "155ca471.b81eac",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "off",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 360,
    "wires": [
      [
        "53afb1d5.6c596"
      ]
    ]
  },
  {
    "id": "7b0f33f.823f1cc",
    "type": "api-current-state",
    "z": "155ca471.b81eac",
    "name": "state is not on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "binary_sensor.dishwasher",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 740,
    "y": 320,
    "wires": [
      [
        "72b1748f.e83efc"
      ],
      []
    ]
  },
  {
    "id": "af83f485.3d0178",
    "type": "api-current-state",
    "z": "155ca471.b81eac",
    "name": "state is not off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "binary_sensor.dishwasher",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 740,
    "y": 360,
    "wires": [
      [
        "ea4533fc.a59"
      ],
      []
    ]
  },
  {
    "id": "79e8f5a4.3d635c",
    "type": "trigger-state",
    "z": "155ca471.b81eac",
    "name": "state dishwasher watt",
    "server": "4ba92433.2478cc",
    "version": 0,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "sensor.wall_plug_switch_electric_consumed_w_dishwasher",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [],
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": false,
    "state_type": "num",
    "x": 140,
    "y": 340,
    "wires": [
      [
        "3a1f4a5c.a4b276"
      ],
      []
    ]
  },
  {
    "id": "53a7530c.44caac",
    "type": "switch",
    "z": "155ca471.b81eac",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "310",
        "vt": "num"
      },
      {
        "t": "lte",
        "v": "2",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 590,
    "y": 220,
    "wires": [
      [
        "8e17de20.88453"
      ],
      [
        "379de40b.48dc0c"
      ]
    ]
  },
  {
    "id": "22d6a012.0f507",
    "type": "change",
    "z": "155ca471.b81eac",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 200,
    "wires": [
      [
        "cb0b3d85.e221a"
      ]
    ]
  },
  {
    "id": "bcca1f9b.bade4",
    "type": "change",
    "z": "155ca471.b81eac",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "off",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 240,
    "wires": [
      [
        "cb0b3d85.e221a"
      ]
    ]
  },
  {
    "id": "8e17de20.88453",
    "type": "api-current-state",
    "z": "155ca471.b81eac",
    "name": "state is not on",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "binary_sensor.tumble_dryer",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 740,
    "y": 200,
    "wires": [
      [
        "22d6a012.0f507"
      ],
      []
    ]
  },
  {
    "id": "379de40b.48dc0c",
    "type": "api-current-state",
    "z": "155ca471.b81eac",
    "name": "state is not off",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "entity_id": "binary_sensor.tumble_dryer",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 740,
    "y": 240,
    "wires": [
      [
        "bcca1f9b.bade4"
      ],
      []
    ]
  },
  {
    "id": "fb8e7084.0c9e5",
    "type": "trigger-state",
    "z": "155ca471.b81eac",
    "name": "state tumble dryer watt",
    "server": "4ba92433.2478cc",
    "version": 0,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityid": "sensor.wall_plug_switch_electric_consumed_w_tumble_dryer",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [],
    "outputs": 2,
    "customoutputs": [],
    "outputinitially": true,
    "state_type": "num",
    "x": 140,
    "y": 220,
    "wires": [
      [
        "43e53168.c7dcb"
      ],
      []
    ]
  },
  {
    "id": "e7a9b857.8cec18",
    "type": "change",
    "z": "155ca471.b81eac",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://192.168.1.20:8123/local/audio/droger_klaar.mp3",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1450,
    "y": 220,
    "wires": [
      [
        "a59c7a9.981f388",
        "4a389e68.3b7ad"
      ]
    ]
  },
  {
    "id": "8f091326.cea2a",
    "type": "api-call-service",
    "z": "155ca471.b81eac",
    "name": "In APP Notify",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "create",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"Droger\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1970,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "17ef62ff.880c8d",
    "type": "api-call-service",
    "z": "155ca471.b81eac",
    "name": "media_stop",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "media_player",
    "service": "turn_off",
    "entityId": "media_player.google_home",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1810,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "b57e125b.7ae1d",
    "type": "switch",
    "z": "155ca471.b81eac",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1310,
    "y": 220,
    "wires": [
      [
        "e7a9b857.8cec18",
        "6f9c419a.ab247"
      ]
    ]
  },
  {
    "id": "6f9c419a.ab247",
    "type": "template",
    "z": "155ca471.b81eac",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "De droger is klaar.",
    "output": "str",
    "x": 1430,
    "y": 260,
    "wires": [
      [
        "8f091326.cea2a",
        "39631971.689156"
      ]
    ]
  },
  {
    "id": "3b4713c4.0f13bc",
    "type": "template",
    "z": "155ca471.b81eac",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "De vaatwasser is klaar.",
    "output": "str",
    "x": 1990,
    "y": 340,
    "wires": [
      [
        "39631971.689156"
      ]
    ]
  },
  {
    "id": "ab285a00.3b1b28",
    "type": "switch",
    "z": "155ca471.b81eac",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1310,
    "y": 340,
    "wires": [
      [
        "3b4713c4.0f13bc"
      ]
    ]
  },
  {
    "id": "7520cdcb.2a7f04",
    "type": "cast-to-client",
    "z": "155ca471.b81eac",
    "name": "",
    "url": "",
    "contentType": "",
    "message": "",
    "language": "en-us",
    "ip": "192.168.1.22",
    "port": "",
    "volume": "50",
    "x": 1630,
    "y": 40,
    "wires": [
      []
    ],
    "icon": "node-red-contrib-cast/google-home1.svg"
  },
  {
    "id": "a59c7a9.981f388",
    "type": "cast-to-client",
    "z": "155ca471.b81eac",
    "name": "",
    "url": "",
    "contentType": "",
    "message": "",
    "language": "en-us",
    "ip": "192.168.1.22",
    "port": "",
    "volume": "50",
    "x": 1630,
    "y": 180,
    "wires": [
      []
    ],
    "icon": "node-red-contrib-cast/google-home1.svg"
  },
  {
    "id": "da0fc94b.13e958",
    "type": "stoptimer",
    "z": "155ca471.b81eac",
    "duration": "10",
    "units": "Second",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 430,
    "y": 80,
    "wires": [
      [
        "78cda8a8.866148"
      ],
      []
    ]
  },
  {
    "id": "cdffe03b.850da",
    "type": "stoptimer",
    "z": "155ca471.b81eac",
    "duration": "10",
    "units": "Second",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 1630,
    "y": 80,
    "wires": [
      [
        "88e4aa81.bc1308"
      ],
      []
    ]
  },
  {
    "id": "3a1f4a5c.a4b276",
    "type": "stoptimer",
    "z": "155ca471.b81eac",
    "duration": "10",
    "units": "Second",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 430,
    "y": 340,
    "wires": [
      [
        "66b3a7f6.299838"
      ],
      []
    ]
  },
  {
    "id": "43e53168.c7dcb",
    "type": "stoptimer",
    "z": "155ca471.b81eac",
    "duration": "15",
    "units": "Second",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 430,
    "y": 220,
    "wires": [
      [
        "53a7530c.44caac"
      ],
      []
    ]
  },
  {
    "id": "4a389e68.3b7ad",
    "type": "stoptimer",
    "z": "155ca471.b81eac",
    "duration": "10",
    "units": "Second",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 1630,
    "y": 220,
    "wires": [
      [
        "17ef62ff.880c8d"
      ],
      []
    ]
  },
  {
    "id": "cb0b3d85.e221a",
    "type": "ha-entity",
    "z": "155ca471.b81eac",
    "name": "sensor tumble dryer",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "binary_sensor",
    "config": [
      {
        "property": "name",
        "value": "tumble_dryer"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:tumble-dryer"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      }
    ],
    "state": "payload",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "allow",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 1120,
    "y": 220,
    "wires": [
      [
        "b57e125b.7ae1d"
      ]
    ]
  },
  {
    "id": "39631971.689156",
    "type": "link out",
    "z": "155ca471.b81eac",
    "name": "",
    "links": [
      "78b06027.265d5",
      "7b0f1685.0279d8"
    ],
    "x": 2355,
    "y": 520,
    "wires": []
  },
  {
    "id": "a7e6e23b.4987a",
    "type": "ha-get-entities",
    "z": "155ca471.b81eac",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "starts_with",
        "value": "climate.",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 410,
    "y": 500,
    "wires": [
      [
        "292a586.54d02a8"
      ]
    ]
  },
  {
    "id": "292a586.54d02a8",
    "type": "split",
    "z": "155ca471.b81eac",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 550,
    "y": 500,
    "wires": [
      [
        "c88586dc.1aa228"
      ]
    ]
  },
  {
    "id": "c88586dc.1aa228",
    "type": "switch",
    "z": "155ca471.b81eac",
    "name": "",
    "property": "payload.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "basement",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 670,
    "y": 500,
    "wires": [
      [],
      [
        "2be30dc4.bcb432"
      ]
    ]
  },
  {
    "id": "2be30dc4.bcb432",
    "type": "change",
    "z": "155ca471.b81eac",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.attributes.current_temperature",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 500,
    "wires": [
      [
        "6341eb00.eae154"
      ]
    ]
  },
  {
    "id": "6341eb00.eae154",
    "type": "join",
    "z": "155ca471.b81eac",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "4",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 970,
    "y": 500,
    "wires": [
      [
        "92cb704.f7d679"
      ]
    ]
  },
  {
    "id": "fdd3c76a.e437f8",
    "type": "api-current-state",
    "z": "155ca471.b81eac",
    "name": "temperatuur buiten",
    "server": "4ba92433.2478cc",
    "version": 2,
    "outputs": 2,
    "halt_if": "payload",
    "halt_if_type": "msg",
    "halt_if_compare": "lt",
    "entity_id": "sensor.buienradar_temperature",
    "state_type": "num",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "buiten_temp",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "x": 1390,
    "y": 500,
    "wires": [
      [
        "9ca0db75.7aee88"
      ],
      []
    ]
  },
  {
    "id": "dbf8c88a.f95e58",
    "type": "inject",
    "z": "155ca471.b81eac",
    "name": "",
    "props": [],
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 90,
    "y": 500,
    "wires": [
      [
        "73e946c1.8e5688"
      ]
    ]
  },
  {
    "id": "9ca0db75.7aee88",
    "type": "template",
    "z": "155ca471.b81eac",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Open ramen en deuren om het in huis af te laten koelen, binnen is de gemiddelde temperatuur {{payload}} Buiten is de temperatuur {{buiten_temp}}.",
    "output": "str",
    "x": 1820,
    "y": 500,
    "wires": [
      [
        "441cda07.45b804",
        "39631971.689156"
      ]
    ]
  },
  {
    "id": "441cda07.45b804",
    "type": "api-call-service",
    "z": "155ca471.b81eac",
    "name": "app notification",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "create",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"Ventilatie\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 2000,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "91689494.188ab8",
    "type": "switch",
    "z": "155ca471.b81eac",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "23",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1230,
    "y": 500,
    "wires": [
      [
        "fdd3c76a.e437f8"
      ]
    ]
  },
  {
    "id": "1a44e79f.474238",
    "type": "comment",
    "z": "155ca471.b81eac",
    "name": "VENTILATION OUTSIDE LESS WARM THAN INSIDE",
    "info": "",
    "x": 240,
    "y": 460,
    "wires": []
  },
  {
    "id": "92cb704.f7d679",
    "type": "calculator",
    "z": "155ca471.b81eac",
    "name": "",
    "inputMsgField": "payload",
    "outputMsgField": "payload",
    "operation": "avg",
    "constant": "",
    "round": true,
    "decimals": "1",
    "x": 1100,
    "y": 500,
    "wires": [
      [
        "91689494.188ab8"
      ]
    ]
  },
  {
    "id": "73e946c1.8e5688",
    "type": "time-range-switch",
    "z": "155ca471.b81eac",
    "name": "",
    "lat": "52.0245",
    "lon": "5.66701",
    "startTime": "06:00",
    "endTime": "00:00",
    "startOffset": 0,
    "endOffset": "0",
    "x": 250,
    "y": 500,
    "wires": [
      [
        "a7e6e23b.4987a"
      ],
      []
    ]
  }
]