data/flows/security_restore_light_state.json
[
  {
    "id": "d2165c67.2a702",
    "type": "tab",
    "label": "security_restore_light_state",
    "disabled": false,
    "info": ""
  },
  {
    "id": "af7b80fc.c3023",
    "type": "api-call-service",
    "z": "d2165c67.2a702",
    "name": "restore light on state",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "",
    "service": "turn_on",
    "entityId": "{{payload.entity_id}}",
    "data": "{\"brightness\":\"{{payload.attributes.brightness}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1100,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "bcb3a700.ce17f8",
    "type": "ha-get-entities",
    "z": "d2165c67.2a702",
    "name": "get all lights",
    "server": "4ba92433.2478cc",
    "version": 0,
    "rules": [
      {
        "property": "entity_id",
        "logic": "starts_with",
        "value": "light.shelly",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 390,
    "y": 100,
    "wires": [
      [
        "cf32e234.47719",
        "fc63001e.69dc4"
      ]
    ]
  },
  {
    "id": "5230c2e.d12123c",
    "type": "switch",
    "z": "d2165c67.2a702",
    "name": "on / off",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 930,
    "y": 180,
    "wires": [
      [
        "af7b80fc.c3023"
      ],
      [
        "e15ce8b1.b6e1b8"
      ]
    ]
  },
  {
    "id": "e15ce8b1.b6e1b8",
    "type": "api-call-service",
    "z": "d2165c67.2a702",
    "name": "restore light off state",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "{{payload.domain}}",
    "service": "turn_off",
    "entityId": "{{payload.entity_id}}",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1100,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "ff3fd036.814d8",
    "type": "delay",
    "z": "d2165c67.2a702",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 680,
    "y": 280,
    "wires": [
      [
        "c6fb625.0c939a"
      ]
    ]
  },
  {
    "id": "c6fb625.0c939a",
    "type": "change",
    "z": "d2165c67.2a702",
    "name": "send red to traffic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "red",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 850,
    "y": 280,
    "wires": [
      [
        "b3c56923.a20108"
      ]
    ]
  },
  {
    "id": "fc63001e.69dc4",
    "type": "change",
    "z": "d2165c67.2a702",
    "name": "set domain to light",
    "rules": [
      {
        "t": "set",
        "p": "payload.domain",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 140,
    "wires": [
      [
        "b3c56923.a20108"
      ]
    ]
  },
  {
    "id": "952a70ca.b8532",
    "type": "change",
    "z": "d2165c67.2a702",
    "name": "send green to traffic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "green",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 180,
    "wires": [
      [
        "b3c56923.a20108"
      ]
    ]
  },
  {
    "id": "4021fe53.9152",
    "type": "server-state-changed",
    "z": "d2165c67.2a702",
    "name": "state alarm",
    "server": "4ba92433.2478cc",
    "version": 3,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.alarm",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": false,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "alarm",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 80,
    "y": 100,
    "wires": [
      [
        "fd745c51.01fc5"
      ]
    ]
  },
  {
    "id": "fd745c51.01fc5",
    "type": "switch",
    "z": "d2165c67.2a702",
    "name": "",
    "property": "alarm",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 210,
    "y": 100,
    "wires": [
      [
        "bcb3a700.ce17f8"
      ],
      [
        "952a70ca.b8532"
      ]
    ]
  },
  {
    "id": "ef7250a4.5fe61",
    "type": "comment",
    "z": "d2165c67.2a702",
    "name": "restore lights state after alarm",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "449328ad.e5c798",
    "type": "api-call-service",
    "z": "d2165c67.2a702",
    "name": "turn on all lights",
    "server": "4ba92433.2478cc",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "",
    "data": "{\"entity_id\":\"{{payload.entity_id}}\",\"brightness\":255}",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1080,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "66fcb39a.d4402c",
    "type": "api-current-state",
    "z": "d2165c67.2a702",
    "name": "state light dark",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 2,
    "halt_if": "dark",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.outdoor_light_dark",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 860,
    "y": 100,
    "wires": [
      [
        "449328ad.e5c798"
      ],
      []
    ]
  },
  {
    "id": "b3c56923.a20108",
    "type": "traffic",
    "z": "d2165c67.2a702",
    "name": "traffic",
    "property_allow": "payload",
    "filter_allow": "green",
    "ignore_case_allow": false,
    "negate_allow": false,
    "send_allow": false,
    "property_stop": "payload",
    "filter_stop": "red",
    "ignore_case_stop": false,
    "negate_stop": false,
    "send_stop": false,
    "default_start": false,
    "differ": true,
    "x": 770,
    "y": 180,
    "wires": [
      [
        "ff3fd036.814d8",
        "5230c2e.d12123c"
      ]
    ]
  },
  {
    "id": "cf32e234.47719",
    "type": "switch",
    "z": "d2165c67.2a702",
    "name": "exclude light",
    "property": "payload.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "light.shellydimmer_lises_room",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 570,
    "y": 100,
    "wires": [
      [
        "66fcb39a.d4402c"
      ]
    ]
  }
]