data/flows/SHELLY I3.json
[
  {
    "id": "f180ab88.925788",
    "type": "tab",
    "label": "SHELLY I3",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1744a4b7.bf476b",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw2/shortpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 520,
    "wires": [
      [
        "bd9414b6.e33db8"
      ]
    ]
  },
  {
    "id": "bd9414b6.e33db8",
    "type": "template",
    "z": "f180ab88.925788",
    "name": "html page",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<html>\n    <head></head>\n    <body>\n        <h1>ontvangen{{ payload.name }}!</h1>\n    </body>\n</html>",
    "x": 580,
    "y": 60,
    "wires": [
      [
        "de8e98e8.de6cb8"
      ]
    ]
  },
  {
    "id": "de8e98e8.de6cb8",
    "type": "http response",
    "z": "f180ab88.925788",
    "name": "http response",
    "statusCode": "",
    "headers": {},
    "x": 760,
    "y": 60,
    "wires": []
  },
  {
    "id": "23adc282.4b50fe",
    "type": "api-call-service",
    "z": "f180ab88.925788",
    "name": "keuken_kinderbeveiliging toggle",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "toggle",
    "entityId": "switch.childlock_kitchen_switch",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 650,
    "y": 640,
    "wires": [
      [
        "17bf99f9.487976"
      ]
    ]
  },
  {
    "id": "dd28a240.39e4c",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw1/shortpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 120,
    "wires": [
      [
        "7dc39f07.0f3dc",
        "bd9414b6.e33db8"
      ]
    ]
  },
  {
    "id": "7dc39f07.0f3dc",
    "type": "api-call-service",
    "z": "f180ab88.925788",
    "name": "toggle light backyard",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "light",
    "service": "toggle",
    "entityId": "light.shellydimmer_achtertuin",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 620,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "4c6493d9.d3994c",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw1/2xshortpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 240,
    "wires": [
      [
        "bd9414b6.e33db8"
      ]
    ]
  },
  {
    "id": "c035bfe3.65223",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw1/3xshortpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 300,
    "wires": [
      [
        "c4aeda1d.85afa8",
        "bd9414b6.e33db8"
      ]
    ]
  },
  {
    "id": "b7cb4077.7c896",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw1/longpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 180,
    "wires": [
      [
        "bd9414b6.e33db8"
      ]
    ]
  },
  {
    "id": "573a7c42.323584",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw1/shortlongpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 360,
    "wires": [
      [
        "bd9414b6.e33db8",
        "a8a674f.b7a5f88"
      ]
    ]
  },
  {
    "id": "5aeec774.e42788",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw1/longshortpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 420,
    "wires": [
      [
        "a682fb38.5bddb8",
        "bd9414b6.e33db8"
      ]
    ]
  },
  {
    "id": "2029a45c.da097c",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw2/2xshortpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 640,
    "wires": [
      [
        "bd9414b6.e33db8",
        "23adc282.4b50fe"
      ]
    ]
  },
  {
    "id": "cfe4e96a.778968",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw2/3xshortpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 700,
    "wires": [
      [
        "bd9414b6.e33db8"
      ]
    ]
  },
  {
    "id": "ce607043.8c34d",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw2/longpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 580,
    "wires": [
      [
        "bd9414b6.e33db8",
        "e340f3cf.9a876"
      ]
    ]
  },
  {
    "id": "34269c6c.0fe4c4",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw2/shortlongpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 760,
    "wires": [
      [
        "bd9414b6.e33db8"
      ]
    ]
  },
  {
    "id": "fe2d0c08.d90d",
    "type": "http in",
    "z": "f180ab88.925788",
    "name": "",
    "url": "/shellyi3/sw2/longshortpressed",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 820,
    "wires": [
      [
        "bd9414b6.e33db8"
      ]
    ]
  },
  {
    "id": "c4aeda1d.85afa8",
    "type": "api-call-service",
    "z": "f180ab88.925788",
    "name": "toggle switch sleepmode",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "toggle",
    "entityId": "input_boolean.sleep_mode",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 630,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "a682fb38.5bddb8",
    "type": "api-current-state",
    "z": "f180ab88.925788",
    "name": "state radio station ",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "Radio Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_select.radio_station",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 610,
    "y": 420,
    "wires": [
      [
        "c3116dd.2ddc69"
      ],
      [
        "8cf0345.f0a8ec8"
      ]
    ]
  },
  {
    "id": "c3116dd.2ddc69",
    "type": "api-call-service",
    "z": "f180ab88.925788",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.radio_station",
    "data": "{\"option\":\"NPO Radio 2\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 990,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "8cf0345.f0a8ec8",
    "type": "api-call-service",
    "z": "f180ab88.925788",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.radio_station",
    "data": "{\"option\":\"Radio Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 990,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "e340f3cf.9a876",
    "type": "api-call-service",
    "z": "f180ab88.925788",
    "name": "kinderbeveiliging_verwarming toggle",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "toggle",
    "entityId": "input_boolean.kinderbeveiliging_verwarming",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 670,
    "y": 580,
    "wires": [
      [
        "ab04dcaa.5482b"
      ]
    ]
  },
  {
    "id": "17bf99f9.487976",
    "type": "api-current-state",
    "z": "f180ab88.925788",
    "name": "keuken_kinderbeveiliging aan",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "switch.relay_keuken_kinderbeveiliging",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 970,
    "y": 640,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "adaa5817.b20a38",
    "type": "change",
    "z": "f180ab88.925788",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://192.168.1.20:8123/local/audio/kinderbeveiliging_verwarming_aan.mp3",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 560,
    "wires": [
      [
        "b1ba488a.d8f738"
      ]
    ]
  },
  {
    "id": "5251389d.2ffb08",
    "type": "change",
    "z": "f180ab88.925788",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://192.168.1.20:8123/local/audio/kinderbeveiliging_verwarming_uit.mp3",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 600,
    "wires": [
      [
        "b1ba488a.d8f738"
      ]
    ]
  },
  {
    "id": "ab04dcaa.5482b",
    "type": "api-current-state",
    "z": "f180ab88.925788",
    "name": "kinderbeveiliging_verwarming aan",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_boolean.kinderbeveiliging_verwarming",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 980,
    "y": 580,
    "wires": [
      [
        "adaa5817.b20a38"
      ],
      [
        "5251389d.2ffb08"
      ]
    ]
  },
  {
    "id": "b1ba488a.d8f738",
    "type": "cast-to-client",
    "z": "f180ab88.925788",
    "name": "",
    "url": "",
    "contentType": "",
    "message": "",
    "language": "en-us",
    "ip": "192.168.1.22",
    "port": "",
    "volume": "50",
    "x": 1590,
    "y": 400,
    "wires": [
      []
    ],
    "icon": "node-red-contrib-cast/google-home1.svg"
  },
  {
    "id": "a8a674f.b7a5f88",
    "type": "api-current-state",
    "z": "f180ab88.925788",
    "name": "state spotify playlist",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "Spotify Uit",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_select.spotify_playlist",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 610,
    "y": 360,
    "wires": [
      [
        "5d60f805.0a0708"
      ],
      [
        "8e12adb4.621f8"
      ]
    ]
  },
  {
    "id": "5d60f805.0a0708",
    "type": "api-call-service",
    "z": "f180ab88.925788",
    "name": "select spotify playlist",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.spotify_playlist",
    "data": "{\"option\":\"Mijn Muziek\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 960,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "8e12adb4.621f8",
    "type": "api-call-service",
    "z": "f180ab88.925788",
    "name": "select spotify playlist",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_select",
    "service": "select_option",
    "entityId": "input_select.radio_station",
    "data": "{\"option\":\"Spotify Uit\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 960,
    "y": 360,
    "wires": [
      []
    ]
  }
]