data/flows/thumble_dryer.json
[
	{
		"id": "72ef82b8.9d086c",
		"type": "tab",
		"label": "thumble_dryer",
		"disabled": false,
		"info": ""
	},
	{
		"id": "6bda6302.ca5bcc",
		"type": "switch",
		"z": "72ef82b8.9d086c",
		"name": "",
		"property": "payload",
		"propertyType": "msg",
		"rules": [
			{
				"t": "gt",
				"v": "310",
				"vt": "num"
			},
			{
				"t": "lte",
				"v": "2",
				"vt": "num"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 2,
		"x": 490,
		"y": 100,
		"wires": [["78d208e5.9e2828"], ["61c558b2.b38c78"]]
	},
	{
		"id": "4a449402.69359c",
		"type": "change",
		"z": "72ef82b8.9d086c",
		"name": "",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "on",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 820,
		"y": 80,
		"wires": [["891dab0e.0a8b18"]]
	},
	{
		"id": "401de4c3.c5e84c",
		"type": "change",
		"z": "72ef82b8.9d086c",
		"name": "",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "off",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 820,
		"y": 120,
		"wires": [["891dab0e.0a8b18"]]
	},
	{
		"id": "78d208e5.9e2828",
		"type": "api-current-state",
		"z": "72ef82b8.9d086c",
		"name": "state is not on",
		"server": "4ba92433.2478cc",
		"version": 3,
		"outputs": 2,
		"halt_if": "on",
		"halt_if_type": "str",
		"halt_if_compare": "is_not",
		"entity_id": "binary_sensor.tumble_dryer",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"for": 0,
		"forType": "num",
		"forUnits": "minutes",
		"x": 640,
		"y": 80,
		"wires": [["4a449402.69359c"], []]
	},
	{
		"id": "61c558b2.b38c78",
		"type": "api-current-state",
		"z": "72ef82b8.9d086c",
		"name": "state is not off",
		"server": "4ba92433.2478cc",
		"version": 3,
		"outputs": 2,
		"halt_if": "off",
		"halt_if_type": "str",
		"halt_if_compare": "is_not",
		"entity_id": "binary_sensor.tumble_dryer",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"for": 0,
		"forType": "num",
		"forUnits": "minutes",
		"x": 640,
		"y": 120,
		"wires": [["401de4c3.c5e84c"], []]
	},
	{
		"id": "90a01313.ddff9",
		"type": "trigger-state",
		"z": "72ef82b8.9d086c",
		"name": "state tumble dryer watt",
		"server": "4ba92433.2478cc",
		"version": 1,
		"exposeToHomeAssistant": false,
		"haConfig": [
			{
				"property": "name",
				"value": ""
			},
			{
				"property": "icon",
				"value": ""
			}
		],
		"entityid": "sensor.shellyplug_tumble_dryer_power",
		"entityidfiltertype": "exact",
		"debugenabled": false,
		"constraints": [],
		"inputs": 1,
		"outputs": 2,
		"customoutputs": [],
		"outputinitially": false,
		"state_type": "num",
		"enableInput": true,
		"x": 120,
		"y": 100,
		"wires": [["bcdcd79d.345708"], []]
	},
	{
		"id": "3fc15b9e.090ff4",
		"type": "change",
		"z": "72ef82b8.9d086c",
		"name": "",
		"rules": [
			{
				"t": "set",
				"p": "url",
				"pt": "msg",
				"to": "http://192.168.1.20:8123/local/audio/droger_klaar.mp3",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 1350,
		"y": 100,
		"wires": [["b308af36.44fe6"]]
	},
	{
		"id": "1bb11f6a.844f91",
		"type": "api-call-service",
		"z": "72ef82b8.9d086c",
		"name": "in app notification",
		"server": "4ba92433.2478cc",
		"version": 3,
		"debugenabled": false,
		"service_domain": "persistent_notification",
		"service": "create",
		"entityId": "",
		"data": "{\"message\":\"{{message}}\",\"title\":\"Droger\"}",
		"dataType": "json",
		"mergecontext": "",
		"mustacheAltTags": false,
		"outputProperties": [],
		"queue": "none",
		"x": 1730,
		"y": 140,
		"wires": [[]]
	},
	{
		"id": "8b3e6f5f.1134b",
		"type": "api-call-service",
		"z": "72ef82b8.9d086c",
		"name": "media_stop",
		"server": "4ba92433.2478cc",
		"version": 3,
		"debugenabled": false,
		"service_domain": "media_player",
		"service": "turn_off",
		"entityId": "media_player.home_speaker",
		"data": "",
		"dataType": "json",
		"mergecontext": "",
		"mustacheAltTags": false,
		"outputProperties": [],
		"queue": "none",
		"x": 1710,
		"y": 100,
		"wires": [[]]
	},
	{
		"id": "e78c18ee.1eb558",
		"type": "switch",
		"z": "72ef82b8.9d086c",
		"name": "",
		"property": "payload",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "off",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 1,
		"x": 1210,
		"y": 100,
		"wires": [["3fc15b9e.090ff4", "95286ff3.9f33d"]]
	},
	{
		"id": "95286ff3.9f33d",
		"type": "template",
		"z": "72ef82b8.9d086c",
		"name": "message",
		"field": "message",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "De droger is klaar.",
		"output": "str",
		"x": 1340,
		"y": 140,
		"wires": [["1bb11f6a.844f91", "5bc9b42e.a8dc5c", "9f9c99bd.1dfe08"]]
	},
	{
		"id": "bcdcd79d.345708",
		"type": "stoptimer",
		"z": "72ef82b8.9d086c",
		"duration": "15",
		"units": "Second",
		"payloadtype": "num",
		"payloadval": "0",
		"name": "",
		"x": 330,
		"y": 100,
		"wires": [["6bda6302.ca5bcc"], []]
	},
	{
		"id": "b308af36.44fe6",
		"type": "stoptimer",
		"z": "72ef82b8.9d086c",
		"duration": "10",
		"units": "Second",
		"payloadtype": "num",
		"payloadval": "0",
		"name": "",
		"x": 1530,
		"y": 100,
		"wires": [["8b3e6f5f.1134b"], []]
	},
	{
		"id": "891dab0e.0a8b18",
		"type": "ha-entity",
		"z": "72ef82b8.9d086c",
		"name": "sensor tumble dryer",
		"server": "4ba92433.2478cc",
		"version": 2,
		"debugenabled": false,
		"outputs": 1,
		"entityType": "binary_sensor",
		"config": [
			{
				"property": "name",
				"value": "tumble_dryer"
			},
			{
				"property": "device_class",
				"value": ""
			},
			{
				"property": "icon",
				"value": "mdi:tumble-dryer"
			},
			{
				"property": "unit_of_measurement",
				"value": ""
			},
			{
				"property": "state_class",
				"value": ""
			},
			{
				"property": "last_reset",
				"value": ""
			}
		],
		"state": "payload",
		"stateType": "msg",
		"attributes": [],
		"resend": true,
		"outputLocation": "",
		"outputLocationType": "none",
		"inputOverride": "allow",
		"outputOnStateChange": false,
		"outputPayload": "",
		"outputPayloadType": "str",
		"x": 1020,
		"y": 100,
		"wires": [["e78c18ee.1eb558"]]
	},
	{
		"id": "e0083fb4.5a45",
		"type": "comment",
		"z": "72ef82b8.9d086c",
		"name": "Set thumble dryer binary sensor on or off based on power measurements",
		"info": "Set thumble dryer binary sensor on or off based on power measurements`",
		"x": 280,
		"y": 40,
		"wires": []
	},
	{
		"id": "5bc9b42e.a8dc5c",
		"type": "api-call-service",
		"z": "72ef82b8.9d086c",
		"name": "google say",
		"server": "4ba92433.2478cc",
		"version": 3,
		"debugenabled": false,
		"service_domain": "tts",
		"service": "google_say",
		"entityId": "media_player.home_speaker",
		"data": "{\"message\":\"{{message}}\",\"language\":\"nl\"}",
		"dataType": "json",
		"mergecontext": "",
		"mustacheAltTags": false,
		"outputProperties": [],
		"queue": "none",
		"x": 1710,
		"y": 180,
		"wires": [[]]
	},
	{
		"id": "9f9c99bd.1dfe08",
		"type": "link out",
		"z": "72ef82b8.9d086c",
		"name": "",
		"links": ["ebf4860d.603538"],
		"x": 1655,
		"y": 220,
		"wires": []
	}
]
