data/flows/UPDATES - STATUS.json
[
  {
    "id": "5ffb014.822e1",
    "type": "tab",
    "label": "UPDATES - STATUS",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c33605ef.82fc08",
    "type": "comment",
    "z": "5ffb014.822e1",
    "name": "UPDATES?",
    "info": "",
    "x": 90,
    "y": 60,
    "wires": []
  },
  {
    "id": "24ca33c4.e3009c",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "state updater on",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "binary_sensor.updater",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 100,
    "y": 120,
    "wires": [
      [
        "b2d984d3.116d88"
      ],
      [
        "c0c2d8d7.e9a9f8"
      ]
    ]
  },
  {
    "id": "8fdd88d0.b3bc88",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "HACS update",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.hacs",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "unknown",
    "halt_if_type": "str",
    "halt_if_compare": "is_not",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 90,
    "y": 220,
    "wires": [
      [
        "a1f939de.2aa388"
      ],
      []
    ]
  },
  {
    "id": "c0c2d8d7.e9a9f8",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "In APP Notify Dismiss",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "dismiss",
    "entityId": "",
    "data": "{\"notification_id\":\"updateHA\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1240,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "a1f939de.2aa388",
    "type": "switch",
    "z": "5ffb014.822e1",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 230,
    "y": 220,
    "wires": [
      [
        "8ecc61ea.7dbcc"
      ],
      [
        "da332176.37ae7"
      ]
    ]
  },
  {
    "id": "da332176.37ae7",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "In APP Notify Dismiss",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "dismiss",
    "entityId": "",
    "data": "{\"notification_id\":\"updateHACS\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1240,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "4e722a1.2ba99d4",
    "type": "ha-get-entities",
    "z": "5ffb014.822e1",
    "server": "4ba92433.2478cc",
    "name": "",
    "rules": [
      {
        "property": "entity_id",
        "logic": "starts_with",
        "value": "switch.",
        "valueType": "str"
      }
    ],
    "output_type": "split",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 590,
    "y": 380,
    "wires": [
      [
        "3e5a4ae7.c49ad6"
      ]
    ]
  },
  {
    "id": "2686b95a.34f746",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Er is een {{payload.attributes.shelly_type}} firmware update beschikbaar voor {{payload.attributes.shelly_id}} met IP-adres {{payload.attributes.ip_address}}. \\n \\nHuidige Firmware versie: {{payload.attributes.firmware_version}}\\n Beschikbare Firmware versie: {{payload.attributes.latest_fw_version}}",
    "output": "str",
    "x": 860,
    "y": 380,
    "wires": [
      [
        "65ec9a8f.b433f4"
      ]
    ]
  },
  {
    "id": "65ec9a8f.b433f4",
    "type": "change",
    "z": "5ffb014.822e1",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Update",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1010,
    "y": 380,
    "wires": [
      [
        "358ae0ee.8c3a4"
      ]
    ]
  },
  {
    "id": "358ae0ee.8c3a4",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "In APP Notify",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "create",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"{{topic}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1850,
    "y": 380,
    "wires": [
      [
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "8e8bebbe.4ce7d8",
    "type": "inject",
    "z": "5ffb014.822e1",
    "name": "Every day @ 09:00",
    "repeat": "",
    "crontab": "00 09 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 340,
    "wires": [
      [
        "a06b0c37.344a7"
      ]
    ]
  },
  {
    "id": "7bd0c6aa.e49c28",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "firmware_update",
    "entityidfiltertype": "regex",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 150,
    "y": 380,
    "wires": [
      [
        "a06b0c37.344a7"
      ],
      []
    ]
  },
  {
    "id": "b2d984d3.116d88",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Versie {{data.new_state.attributes.newest_version}} van Home Assistant is beschikbaar \\n \\n[Release Notes]({{data.attributes.release_notes}})",
    "output": "str",
    "x": 860,
    "y": 80,
    "wires": [
      [
        "66cb79f.c4b5d88"
      ]
    ]
  },
  {
    "id": "66cb79f.c4b5d88",
    "type": "change",
    "z": "5ffb014.822e1",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Update",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1005,
    "y": 80,
    "wires": [
      [
        "c35f48f0.10e4a8"
      ]
    ]
  },
  {
    "id": "c35f48f0.10e4a8",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "In APP Notify",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "notify",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"{{topic}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1850,
    "y": 80,
    "wires": [
      [
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "fc597272.d985e",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{payload}} update(s) beschikbaar in de Home Assistant Community Store (hacs) \\n[Link](https://homeassistant.theautomation.nl/hacs)",
    "output": "str",
    "x": 850,
    "y": 220,
    "wires": [
      [
        "81104d7c.abc06"
      ]
    ]
  },
  {
    "id": "81104d7c.abc06",
    "type": "change",
    "z": "5ffb014.822e1",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Update",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1010,
    "y": 220,
    "wires": [
      [
        "d3d32d5d.60867"
      ]
    ]
  },
  {
    "id": "d3d32d5d.60867",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "In APP Notify",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "notify",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"{{topic}}\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1850,
    "y": 220,
    "wires": [
      [
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "f13b7547.ff3ce8",
    "type": "link out",
    "z": "5ffb014.822e1",
    "name": "",
    "links": [
      "78b06027.265d5",
      "7b0f1685.0279d8"
    ],
    "x": 2415,
    "y": 1220,
    "wires": []
  },
  {
    "id": "f85263b5.7c036",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "battery_level",
    "entityidfiltertype": "substring",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 140,
    "y": 500,
    "wires": [
      [
        "ae07f1af.83bf4"
      ]
    ]
  },
  {
    "id": "6732d6dd.505668",
    "type": "switch",
    "z": "5ffb014.822e1",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "100",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "10",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 450,
    "y": 500,
    "wires": [
      [],
      [
        "bd69be44.551f4"
      ]
    ]
  },
  {
    "id": "bd69be44.551f4",
    "type": "join",
    "z": "5ffb014.822e1",
    "name": "",
    "mode": "custom",
    "build": "string",
    "property": "data.new_state.attributes.friendly_name",
    "propertyType": "msg",
    "key": "topic",
    "joiner": ", ",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "5",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 590,
    "y": 520,
    "wires": [
      [
        "acf7d4ed.acab08"
      ]
    ]
  },
  {
    "id": "acf7d4ed.acab08",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Let op, batterij niveau van {{data.new_state.attributes.friendly_name}} is {{data.new_state.state}}%.",
    "output": "str",
    "x": 1870,
    "y": 520,
    "wires": [
      [
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "28b55e73.2dc312",
    "type": "comment",
    "z": "5ffb014.822e1",
    "name": "BATTERIJ NIVEAUS",
    "info": "",
    "x": 110,
    "y": 460,
    "wires": []
  },
  {
    "id": "1584e324.76d23d",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "open_window",
    "entityidfiltertype": "substring",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "True",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 140,
    "y": 620,
    "wires": [
      [
        "b00f9b1a.cc6208"
      ],
      []
    ]
  },
  {
    "id": "b00f9b1a.cc6208",
    "type": "join",
    "z": "5ffb014.822e1",
    "name": "",
    "mode": "custom",
    "build": "string",
    "property": "data.new_state.attributes.friendly_name",
    "propertyType": "msg",
    "key": "topic",
    "joiner": ", ",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "5",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 350,
    "y": 620,
    "wires": [
      [
        "d024beeb.8f03b"
      ]
    ]
  },
  {
    "id": "d024beeb.8f03b",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Open raam gedecteerd in {{data.new_state.attributes.friendly_name}}.",
    "output": "str",
    "x": 1870,
    "y": 640,
    "wires": [
      [
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "44adac9.bf53554",
    "type": "comment",
    "z": "5ffb014.822e1",
    "name": "OPEN RAAM DETECTIE",
    "info": "",
    "x": 130,
    "y": 580,
    "wires": []
  },
  {
    "id": "92810bc9.c745f8",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.edgeos_unknown_devices",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "1",
    "halt_if_type": "num",
    "halt_if_compare": "gte",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 200,
    "y": 1140,
    "wires": [
      [
        "e987d484.bb0478"
      ],
      []
    ]
  },
  {
    "id": "7c84d4fe.6d9a2c",
    "type": "comment",
    "z": "5ffb014.822e1",
    "name": "ROUTER UNKNOWN DEVICE",
    "info": "",
    "x": 150,
    "y": 1100,
    "wires": []
  },
  {
    "id": "9e2854e0.bdd138",
    "type": "ha-entity",
    "z": "5ffb014.822e1",
    "name": "update state extra sensor new number",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "edge router extra sensor"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      }
    ],
    "state": "sensor.edgeos_unknown_devices",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "allow",
    "x": 1310,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "35fd93af.6cc7ec",
    "type": "api-current-state",
    "z": "5ffb014.822e1",
    "name": "unknown_devices >= extra sensor",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "sensor.edge_router_extra_sensor",
    "halt_if_type": "msg",
    "halt_if_compare": "gte",
    "override_topic": false,
    "entity_id": "sensor.edgeos_unknown_devices",
    "state_type": "num",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 980,
    "y": 1140,
    "wires": [
      [
        "9e2854e0.bdd138",
        "fcc6e79c.5465b8"
      ],
      []
    ]
  },
  {
    "id": "e987d484.bb0478",
    "type": "api-current-state",
    "z": "5ffb014.822e1",
    "name": "state unknown_devices",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "sensor.edgeos_unknown_devices",
    "state_type": "str",
    "state_location": "sensor.edgeos_unknown_devices",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 510,
    "y": 1140,
    "wires": [
      [
        "db69bc0e.4bc08"
      ]
    ]
  },
  {
    "id": "db69bc0e.4bc08",
    "type": "api-current-state",
    "z": "5ffb014.822e1",
    "name": "state extra sensor",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "sensor.edge_router_extra_sensor",
    "state_type": "str",
    "state_location": "sensor.edge_router_extra_sensor",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 730,
    "y": 1140,
    "wires": [
      [
        "35fd93af.6cc7ec"
      ]
    ]
  },
  {
    "id": "fcc6e79c.5465b8",
    "type": "change",
    "z": "5ffb014.822e1",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "data.attributes[\"Unknown Devices\"]",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 1160,
    "wires": [
      [
        "8559c946.67a8a8"
      ]
    ]
  },
  {
    "id": "8559c946.67a8a8",
    "type": "split",
    "z": "5ffb014.822e1",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1390,
    "y": 1160,
    "wires": [
      [
        "23c4665a.37095a"
      ]
    ]
  },
  {
    "id": "ae07f1af.83bf4",
    "type": "switch",
    "z": "5ffb014.822e1",
    "name": "",
    "property": "entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "aeon_labs_zw089_recessed_door_sensor",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 330,
    "y": 500,
    "wires": [
      [],
      [
        "6732d6dd.505668"
      ]
    ]
  },
  {
    "id": "1c572a6e.f5b6d6",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{payload.client-hostname}} heeft zich aangemeld in het netwerk. \\n\\n IP-ADRES: {{payload.ip}}\\n MAC:{{payload.mac}}",
    "output": "str",
    "x": 1700,
    "y": 1180,
    "wires": [
      [
        "e16138a6.821358"
      ]
    ]
  },
  {
    "id": "e16138a6.821358",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "In APP Notify",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "mobile_app_telefoon_coen",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"Netwerk waarschuwing! \"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1850,
    "y": 1180,
    "wires": [
      [
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "85192cf0.d968",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{payload.client-hostname}} heeft zich aangemeld in het netwerk via VPN \\n\\n IP-ADRES: {{payload.ip}}\\n MAC:{{payload.mac}}",
    "output": "str",
    "x": 1700,
    "y": 1140,
    "wires": [
      [
        "8a702bdc.85aaf8"
      ]
    ]
  },
  {
    "id": "8a702bdc.85aaf8",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "In APP Notify",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "notify",
    "service": "mobile_app_telefoon_coen",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"Netwerk waarschuwing! \"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 1850,
    "y": 1140,
    "wires": [
      [
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "23c4665a.37095a",
    "type": "switch",
    "z": "5ffb014.822e1",
    "name": "VPN IP",
    "property": "payload.ip",
    "propertyType": "msg",
    "rules": [
      {
        "t": "btwn",
        "v": "192.168.1.250",
        "vt": "str",
        "v2": "192.168.1.255",
        "v2t": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1520,
    "y": 1160,
    "wires": [
      [
        "85192cf0.d968"
      ],
      [
        "1c572a6e.f5b6d6"
      ]
    ]
  },
  {
    "id": "d8cc80b.bef588",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.transmission_active_torrents",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 210,
    "y": 1460,
    "wires": [
      [
        "fbad4ce6.f0ee7"
      ]
    ]
  },
  {
    "id": "85578d48.6622a",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_text",
    "service": "set_value",
    "entityId": "input_text.addtorrent",
    "data": "{\"value\":\"url\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 690,
    "y": 1460,
    "wires": [
      []
    ]
  },
  {
    "id": "fbad4ce6.f0ee7",
    "type": "delay",
    "z": "5ffb014.822e1",
    "name": "",
    "pauseType": "delay",
    "timeout": "25",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 490,
    "y": 1460,
    "wires": [
      [
        "85578d48.6622a"
      ]
    ]
  },
  {
    "id": "ed1e1f27.dca56",
    "type": "comment",
    "z": "5ffb014.822e1",
    "name": "TORRENT",
    "info": "",
    "x": 80,
    "y": 1420,
    "wires": []
  },
  {
    "id": "dddb5f96.f233",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.hp_deskjet_2540_series",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "printing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 200,
    "y": 1540,
    "wires": [
      [
        "5b86acd7.2c61b4"
      ],
      []
    ]
  },
  {
    "id": "5b86acd7.2c61b4",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "De printer is aan het afdrukken.",
    "output": "str",
    "x": 1850,
    "y": 1540,
    "wires": [
      [
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "8c79cd3c.4aec8",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "gas verbruik",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.dsmr_consumption_gas_currently_delivered",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "num",
    "haltifstate": "",
    "halt_if_type": "num",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 90,
    "y": 2320,
    "wires": [
      [
        "1127d7b1.0f1bf8"
      ]
    ]
  },
  {
    "id": "1127d7b1.0f1bf8",
    "type": "switch",
    "z": "5ffb014.822e1",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 230,
    "y": 2320,
    "wires": [
      [
        "8570f430.d7cf28"
      ]
    ]
  },
  {
    "id": "8570f430.d7cf28",
    "type": "api-current-state",
    "z": "5ffb014.822e1",
    "name": "niemand thuis",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "group.persons",
    "state_type": "str",
    "state_location": "group.persons",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 380,
    "y": 2320,
    "wires": [
      [
        "bf7a5456.9b0158"
      ],
      []
    ]
  },
  {
    "id": "bf7a5456.9b0158",
    "type": "api-current-state",
    "z": "5ffb014.822e1",
    "name": "gast uit",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_boolean.guest",
    "state_type": "str",
    "state_location": "gast",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 540,
    "y": 2320,
    "wires": [
      [
        "afceb92b.d83a08"
      ],
      []
    ]
  },
  {
    "id": "afceb92b.d83a08",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Er is {{payload}}m³ gas gemeten en niemand is aanwezig, controleer of het gas is uitgezet.",
    "output": "str",
    "x": 1870,
    "y": 2320,
    "wires": [
      [
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "53aec886.e0ac48",
    "type": "comment",
    "z": "5ffb014.822e1",
    "name": "GAS AAN",
    "info": "",
    "x": 80,
    "y": 2280,
    "wires": []
  },
  {
    "id": "6c1bdd21.8b8974",
    "type": "comment",
    "z": "5ffb014.822e1",
    "name": "ADBLOCKER AAN NAAR X TIJD",
    "info": "",
    "x": 150,
    "y": 2380,
    "wires": []
  },
  {
    "id": "a7fd5730.e8bd48",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "adguard uit",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "switch.adguard_protection",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 80,
    "y": 2420,
    "wires": [
      [
        "ff567869.61d8c8"
      ],
      []
    ]
  },
  {
    "id": "49728a24.699f94",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "zet adguard aan",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "switch",
    "service": "turn_on",
    "entityId": "switch.adguard_protection",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 430,
    "y": 2420,
    "wires": [
      []
    ]
  },
  {
    "id": "b3f9f40c.06c088",
    "type": "comment",
    "z": "5ffb014.822e1",
    "name": "WATER",
    "info": "",
    "x": 70,
    "y": 2480,
    "wires": []
  },
  {
    "id": "1cfe39cd.cd76d6",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "watermeter",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "sensor.watermeter",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "1",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 80,
    "y": 2540,
    "wires": [
      [
        "802a6a5e.dbb5c8"
      ],
      []
    ]
  },
  {
    "id": "802a6a5e.dbb5c8",
    "type": "api-current-state",
    "z": "5ffb014.822e1",
    "name": "vaatwasser uit",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "binary_sensor.vaatwasser",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 240,
    "y": 2540,
    "wires": [
      [
        "8be5ec2e.d7fdf"
      ],
      []
    ]
  },
  {
    "id": "8be5ec2e.d7fdf",
    "type": "api-current-state",
    "z": "5ffb014.822e1",
    "name": "wasmachine is uit",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "binary_sensor.wasmachine",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 430,
    "y": 2540,
    "wires": [
      [
        "d044223b.47b0d"
      ],
      []
    ]
  },
  {
    "id": "462a529c.8577fc",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Let op! Er loopt water en niemand is aanwezig. ",
    "output": "str",
    "x": 1870,
    "y": 2520,
    "wires": [
      [
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "d044223b.47b0d",
    "type": "api-current-state",
    "z": "5ffb014.822e1",
    "name": "gast uit",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_boolean.guest",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 600,
    "y": 2540,
    "wires": [
      [
        "b52ffc46.ce5fc"
      ],
      []
    ]
  },
  {
    "id": "b52ffc46.ce5fc",
    "type": "api-current-state",
    "z": "5ffb014.822e1",
    "name": "niemand thuis",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "not_home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "group.persons",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 760,
    "y": 2540,
    "wires": [
      [
        "462a529c.8577fc"
      ],
      []
    ]
  },
  {
    "id": "b86cd7ba.5609d8",
    "type": "ha-get-entities",
    "z": "5ffb014.822e1",
    "server": "4ba92433.2478cc",
    "name": "",
    "rules": [
      {
        "property": "entity_id",
        "logic": "starts_with",
        "value": "climate.",
        "valueType": "str"
      }
    ],
    "output_type": "array",
    "output_empty_results": false,
    "output_location_type": "msg",
    "output_location": "payload",
    "output_results_count": 1,
    "x": 390,
    "y": 2660,
    "wires": [
      [
        "f25717fe.361df8"
      ]
    ]
  },
  {
    "id": "f25717fe.361df8",
    "type": "split",
    "z": "5ffb014.822e1",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 530,
    "y": 2660,
    "wires": [
      [
        "c6509f19.10a45"
      ]
    ]
  },
  {
    "id": "c6509f19.10a45",
    "type": "switch",
    "z": "5ffb014.822e1",
    "name": "",
    "property": "payload.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "kelder",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 2660,
    "wires": [
      [],
      [
        "9174d56e.b34158"
      ]
    ]
  },
  {
    "id": "9174d56e.b34158",
    "type": "change",
    "z": "5ffb014.822e1",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.attributes.current_temperature",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 800,
    "y": 2660,
    "wires": [
      [
        "9a07273b.07aa28"
      ]
    ]
  },
  {
    "id": "9a07273b.07aa28",
    "type": "join",
    "z": "5ffb014.822e1",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "4",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 950,
    "y": 2660,
    "wires": [
      [
        "43fd74f0.b1cefc"
      ]
    ]
  },
  {
    "id": "3600227b.b1ab3e",
    "type": "api-current-state",
    "z": "5ffb014.822e1",
    "name": "temperatuur buiten",
    "server": "4ba92433.2478cc",
    "version": 1,
    "outputs": 2,
    "halt_if": "payload",
    "halt_if_type": "msg",
    "halt_if_compare": "lt",
    "override_topic": false,
    "entity_id": "sensor.bme280_temperature_weerstation",
    "state_type": "num",
    "state_location": "buiten_temp",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": true,
    "x": 1370,
    "y": 2660,
    "wires": [
      [
        "e1ada572.a21818"
      ],
      []
    ]
  },
  {
    "id": "6eec4986.674948",
    "type": "inject",
    "z": "5ffb014.822e1",
    "name": "",
    "props": [],
    "repeat": "7200",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 90,
    "y": 2660,
    "wires": [
      [
        "80c1ad85.6305c"
      ]
    ]
  },
  {
    "id": "e1ada572.a21818",
    "type": "template",
    "z": "5ffb014.822e1",
    "name": "message",
    "field": "message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "Open ramen en deuren om het in huis af te laten koelen, binnen is de gemiddelde temperatuur {{payload}} Buiten is de temperatuur {{buiten_temp}}.",
    "output": "str",
    "x": 1870,
    "y": 2660,
    "wires": [
      [
        "87307c11.5c7e7",
        "f13b7547.ff3ce8"
      ]
    ]
  },
  {
    "id": "87307c11.5c7e7",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "In APP Notify",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "persistent_notification",
    "service": "create",
    "entityId": "",
    "data": "{\"message\":\"{{message}}\",\"title\":\"Ventilatie\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 2010,
    "y": 2660,
    "wires": [
      []
    ]
  },
  {
    "id": "c5801346.76728",
    "type": "switch",
    "z": "5ffb014.822e1",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "23",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1210,
    "y": 2660,
    "wires": [
      [
        "3600227b.b1ab3e"
      ]
    ]
  },
  {
    "id": "80dc638b.bb233",
    "type": "comment",
    "z": "5ffb014.822e1",
    "name": "VENTILEREN BUITEN MINDER WARM DAN BINNEN",
    "info": "",
    "x": 220,
    "y": 2600,
    "wires": []
  },
  {
    "id": "301cd660.d213aa",
    "type": "comment",
    "z": "5ffb014.822e1",
    "name": "WARM WATER AAN",
    "info": "",
    "x": 110,
    "y": 2720,
    "wires": []
  },
  {
    "id": "38683112.1950ee",
    "type": "server-state-changed",
    "z": "5ffb014.822e1",
    "name": "warmwater",
    "server": "4ba92433.2478cc",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_boolean.warmwater",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "x": 80,
    "y": 2780,
    "wires": [
      [
        "7770f0fe.90b68"
      ]
    ]
  },
  {
    "id": "7770f0fe.90b68",
    "type": "switch",
    "z": "5ffb014.822e1",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 210,
    "y": 2780,
    "wires": [
      [
        "37c468f2.8158a8"
      ],
      [
        "7a1f7e75.dd6cd"
      ]
    ]
  },
  {
    "id": "37c468f2.8158a8",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "water_heater",
    "service": "set_temperature",
    "entityId": "water_heater.warm_water",
    "data": "{\"temperature\":\"61\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 420,
    "y": 2780,
    "wires": [
      []
    ]
  },
  {
    "id": "7a1f7e75.dd6cd",
    "type": "api-call-service",
    "z": "5ffb014.822e1",
    "name": "",
    "server": "4ba92433.2478cc",
    "version": 1,
    "debugenabled": false,
    "service_domain": "water_heater",
    "service": "set_operation_mode",
    "entityId": "water_heater.warm_water",
    "data": "{\"operation_mode\":\"auto\"}",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 430,
    "y": 2840,
    "wires": [
      []
    ]
  },
  {
    "id": "3e5a4ae7.c49ad6",
    "type": "switch",
    "z": "5ffb014.822e1",
    "name": "true?",
    "property": "payload.attributes.friendly_name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "Upgrade firmware",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 735,
    "y": 380,
    "wires": [
      [
        "2686b95a.34f746"
      ]
    ]
  },
  {
    "id": "43fd74f0.b1cefc",
    "type": "calculator",
    "z": "5ffb014.822e1",
    "name": "",
    "inputMsgField": "payload",
    "outputMsgField": "payload",
    "operation": "avg",
    "constant": "",
    "round": true,
    "decimals": "1",
    "x": 1080,
    "y": 2660,
    "wires": [
      [
        "c5801346.76728"
      ]
    ]
  },
  {
    "id": "80c1ad85.6305c",
    "type": "time-range-switch",
    "z": "5ffb014.822e1",
    "name": "",
    "lat": "52.0245",
    "lon": "5.66701",
    "startTime": "06:00",
    "endTime": "00:00",
    "startOffset": 0,
    "endOffset": "0",
    "x": 230,
    "y": 2660,
    "wires": [
      [
        "b86cd7ba.5609d8"
      ],
      []
    ]
  },
  {
    "id": "8ecc61ea.7dbcc",
    "type": "stoptimer",
    "z": "5ffb014.822e1",
    "duration": "10",
    "units": "Minute",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 460,
    "y": 200,
    "wires": [
      [
        "fc597272.d985e"
      ],
      []
    ]
  },
  {
    "id": "a06b0c37.344a7",
    "type": "stoptimer",
    "z": "5ffb014.822e1",
    "duration": "10",
    "units": "Second",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 400,
    "y": 350,
    "wires": [
      [
        "4e722a1.2ba99d4"
      ],
      []
    ]
  },
  {
    "id": "ff567869.61d8c8",
    "type": "stoptimer",
    "z": "5ffb014.822e1",
    "duration": "30",
    "units": "Minute",
    "payloadtype": "num",
    "payloadval": "0",
    "name": "",
    "x": 250,
    "y": 2420,
    "wires": [
      [
        "49728a24.699f94"
      ],
      []
    ]
  }
]