data/flows/vacuum cleaner.json
[
	{
		"id": "55da1471.fda0fc",
		"type": "tab",
		"label": "vacuum cleaner",
		"disabled": false,
		"info": ""
	},
	{
		"id": "b7cf63f8.77958",
		"type": "server-state-changed",
		"z": "55da1471.fda0fc",
		"name": "state group persons",
		"server": "4ba92433.2478cc",
		"version": 3,
		"exposeToHomeAssistant": false,
		"haConfig": [
			{
				"property": "name",
				"value": ""
			},
			{
				"property": "icon",
				"value": ""
			}
		],
		"entityidfilter": "group.persons",
		"entityidfiltertype": "exact",
		"outputinitially": false,
		"state_type": "str",
		"haltifstate": "",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"outputs": 1,
		"output_only_on_state_change": true,
		"for": "",
		"forType": "num",
		"forUnits": "minutes",
		"ignorePrevStateNull": false,
		"ignorePrevStateUnknown": false,
		"ignorePrevStateUnavailable": false,
		"ignoreCurrentStateUnknown": false,
		"ignoreCurrentStateUnavailable": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "eventData"
			},
			{
				"property": "topic",
				"propertyType": "msg",
				"value": "",
				"valueType": "triggerId"
			}
		],
		"x": 150,
		"y": 120,
		"wires": [["37466c93.d14b84"]]
	},
	{
		"id": "b6290ea8.c1e6f",
		"type": "server-state-changed",
		"z": "55da1471.fda0fc",
		"name": "state guest ",
		"server": "4ba92433.2478cc",
		"version": 3,
		"exposeToHomeAssistant": false,
		"haConfig": [
			{
				"property": "name",
				"value": ""
			},
			{
				"property": "icon",
				"value": ""
			}
		],
		"entityidfilter": "input_boolean.guest",
		"entityidfiltertype": "exact",
		"outputinitially": false,
		"state_type": "str",
		"haltifstate": "",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"outputs": 1,
		"output_only_on_state_change": true,
		"for": "",
		"forType": "num",
		"forUnits": "minutes",
		"ignorePrevStateNull": false,
		"ignorePrevStateUnknown": false,
		"ignorePrevStateUnavailable": false,
		"ignoreCurrentStateUnknown": false,
		"ignoreCurrentStateUnavailable": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "eventData"
			},
			{
				"property": "topic",
				"propertyType": "msg",
				"value": "",
				"valueType": "triggerId"
			}
		],
		"x": 120,
		"y": 180,
		"wires": [["c8eb1592.520518"]]
	},
	{
		"id": "c8eb1592.520518",
		"type": "switch",
		"z": "55da1471.fda0fc",
		"name": "on / off ",
		"property": "payload",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "on",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "off",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 2,
		"x": 370,
		"y": 180,
		"wires": [["1351cb3a.cc7995"], ["87dec77c.9877c8"]]
	},
	{
		"id": "37466c93.d14b84",
		"type": "switch",
		"z": "55da1471.fda0fc",
		"name": "home / ! home",
		"property": "payload",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "home",
				"vt": "str"
			},
			{
				"t": "neq",
				"v": "home",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 2,
		"x": 340,
		"y": 120,
		"wires": [["1351cb3a.cc7995"], ["353d562e.3dd04a"]]
	},
	{
		"id": "60f6cd3f.56a0f4",
		"type": "api-current-state",
		"z": "55da1471.fda0fc",
		"name": "cleaned today is off",
		"server": "4ba92433.2478cc",
		"version": 2,
		"outputs": 2,
		"halt_if": "off",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"entity_id": "input_boolean.vacuum_cleaned",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"x": 990,
		"y": 200,
		"wires": [["eccced83.41688"], []]
	},
	{
		"id": "85128ba5.bef108",
		"type": "inject",
		"z": "55da1471.fda0fc",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "00 02 * * *",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "02:00 Payload 'off'",
		"payloadType": "str",
		"x": 150,
		"y": 60,
		"wires": [["787efd3b.bd13e4"]]
	},
	{
		"id": "787efd3b.bd13e4",
		"type": "api-call-service",
		"z": "55da1471.fda0fc",
		"name": "turn off vacuum cleaned ",
		"server": "4ba92433.2478cc",
		"version": 3,
		"debugenabled": false,
		"service_domain": "input_boolean",
		"service": "turn_off",
		"entityId": "input_boolean.vacuum_cleaned",
		"data": "",
		"dataType": "json",
		"mergecontext": "",
		"mustacheAltTags": false,
		"outputProperties": [],
		"queue": "none",
		"x": 370,
		"y": 60,
		"wires": [[]]
	},
	{
		"id": "a52152b0.f593b",
		"type": "api-call-service",
		"z": "55da1471.fda0fc",
		"name": "start vacuum",
		"server": "4ba92433.2478cc",
		"version": 3,
		"debugenabled": false,
		"service_domain": "vacuum",
		"service": "start",
		"entityId": "vacuum.robot_vacuum",
		"data": "",
		"dataType": "json",
		"mergecontext": "",
		"mustacheAltTags": false,
		"outputProperties": [],
		"queue": "none",
		"x": 1390,
		"y": 200,
		"wires": [["c643d4d4.2baf98"]]
	},
	{
		"id": "2a9f3bf0.575684",
		"type": "api-call-service",
		"z": "55da1471.fda0fc",
		"name": "return to base",
		"server": "4ba92433.2478cc",
		"version": 3,
		"debugenabled": false,
		"service_domain": "vacuum",
		"service": "return_to_base",
		"entityId": "vacuum.robot_vacuum",
		"data": "",
		"dataType": "json",
		"mergecontext": "",
		"mustacheAltTags": false,
		"outputProperties": [],
		"queue": "none",
		"x": 1000,
		"y": 100,
		"wires": [[]]
	},
	{
		"id": "1351cb3a.cc7995",
		"type": "api-current-state",
		"z": "55da1471.fda0fc",
		"name": "state is not docked",
		"server": "4ba92433.2478cc",
		"version": 2,
		"outputs": 2,
		"halt_if": "docked",
		"halt_if_type": "str",
		"halt_if_compare": "is_not",
		"entity_id": "vacuum.robot_vacuum",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"x": 550,
		"y": 100,
		"wires": [["32d50dd7.16e062"], []]
	},
	{
		"id": "87dec77c.9877c8",
		"type": "api-current-state",
		"z": "55da1471.fda0fc",
		"name": "state group persons is home",
		"server": "4ba92433.2478cc",
		"version": 2,
		"outputs": 2,
		"halt_if": "home",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"entity_id": "group.persons",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"x": 580,
		"y": 180,
		"wires": [[], ["353d562e.3dd04a"]]
	},
	{
		"id": "353d562e.3dd04a",
		"type": "api-current-state",
		"z": "55da1471.fda0fc",
		"name": "guest is off",
		"server": "4ba92433.2478cc",
		"version": 2,
		"outputs": 2,
		"halt_if": "off",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"entity_id": "input_boolean.guest",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"x": 790,
		"y": 140,
		"wires": [["60f6cd3f.56a0f4"], []]
	},
	{
		"id": "eccced83.41688",
		"type": "api-current-state",
		"z": "55da1471.fda0fc",
		"name": "vacuum is not cleaning",
		"server": "4ba92433.2478cc",
		"version": 2,
		"outputs": 2,
		"halt_if": "cleaning",
		"halt_if_type": "str",
		"halt_if_compare": "is_not",
		"entity_id": "vacuum.robot_vacuum",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"x": 1200,
		"y": 200,
		"wires": [["a52152b0.f593b"], []]
	},
	{
		"id": "32d50dd7.16e062",
		"type": "api-current-state",
		"z": "55da1471.fda0fc",
		"name": "state is not returning",
		"server": "4ba92433.2478cc",
		"version": 2,
		"outputs": 2,
		"halt_if": "returning",
		"halt_if_type": "str",
		"halt_if_compare": "is_not",
		"entity_id": "vacuum.robot_vacuum",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"x": 760,
		"y": 100,
		"wires": [["2a9f3bf0.575684"], []]
	},
	{
		"id": "8e7bbae.f382348",
		"type": "comment",
		"z": "55da1471.fda0fc",
		"name": "VACUUM CLEANER",
		"info": "",
		"x": 150,
		"y": 20,
		"wires": []
	},
	{
		"id": "a236a61.195e958",
		"type": "server-state-changed",
		"z": "55da1471.fda0fc",
		"name": "Vacuum State is error",
		"server": "4ba92433.2478cc",
		"version": 3,
		"exposeToHomeAssistant": false,
		"haConfig": [
			{
				"property": "name",
				"value": ""
			},
			{
				"property": "icon",
				"value": ""
			}
		],
		"entityidfilter": "vacuum.robot_vacuum",
		"entityidfiltertype": "exact",
		"outputinitially": true,
		"state_type": "str",
		"haltifstate": "error",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"outputs": 2,
		"output_only_on_state_change": true,
		"for": "",
		"forType": "num",
		"forUnits": "minutes",
		"ignorePrevStateNull": false,
		"ignorePrevStateUnknown": false,
		"ignorePrevStateUnavailable": false,
		"ignoreCurrentStateUnknown": false,
		"ignoreCurrentStateUnavailable": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "eventData"
			},
			{
				"property": "topic",
				"propertyType": "msg",
				"value": "",
				"valueType": "triggerId"
			}
		],
		"x": 160,
		"y": 240,
		"wires": [["b555794d.5740c8"], []]
	},
	{
		"id": "e4d25a8e.b5b258",
		"type": "api-call-service",
		"z": "55da1471.fda0fc",
		"name": "In APP Notify",
		"server": "4ba92433.2478cc",
		"version": 3,
		"debugenabled": false,
		"service_domain": "persistent_notification",
		"service": "create",
		"entityId": "",
		"data": "{\"message\":\"{{message}}\",\"title\":\"Stofzuiger\"}",
		"dataType": "json",
		"mergecontext": "",
		"mustacheAltTags": false,
		"outputProperties": [],
		"queue": "none",
		"x": 1690,
		"y": 260,
		"wires": [["db9e2b19.e376b8"]]
	},
	{
		"id": "173b8941.c73507",
		"type": "server-state-changed",
		"z": "55da1471.fda0fc",
		"name": "sleep mode is on",
		"server": "4ba92433.2478cc",
		"version": 3,
		"exposeToHomeAssistant": false,
		"haConfig": [
			{
				"property": "name",
				"value": ""
			},
			{
				"property": "icon",
				"value": ""
			}
		],
		"entityidfilter": "input_boolean.sleep_mode",
		"entityidfiltertype": "exact",
		"outputinitially": false,
		"state_type": "str",
		"haltifstate": "on",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"outputs": 2,
		"output_only_on_state_change": true,
		"for": "",
		"forType": "num",
		"forUnits": "minutes",
		"ignorePrevStateNull": false,
		"ignorePrevStateUnknown": false,
		"ignorePrevStateUnavailable": false,
		"ignoreCurrentStateUnknown": false,
		"ignoreCurrentStateUnavailable": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "eventData"
			},
			{
				"property": "topic",
				"propertyType": "msg",
				"value": "",
				"valueType": "triggerId"
			}
		],
		"x": 140,
		"y": 300,
		"wires": [["1c372f1.535d7d1"], []]
	},
	{
		"id": "1c372f1.535d7d1",
		"type": "api-current-state",
		"z": "55da1471.fda0fc",
		"name": "cleaned today is off",
		"server": "4ba92433.2478cc",
		"version": 2,
		"outputs": 2,
		"halt_if": "off",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"entity_id": "input_boolean.vacuum_cleaned",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"x": 330,
		"y": 300,
		"wires": [["c5ad7ab8.30fda8"], []]
	},
	{
		"id": "c643d4d4.2baf98",
		"type": "template",
		"z": "55da1471.fda0fc",
		"name": "message",
		"field": "message",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "De stofzuiger is gestart.",
		"output": "str",
		"x": 1540,
		"y": 200,
		"wires": [["db9e2b19.e376b8"]]
	},
	{
		"id": "b555794d.5740c8",
		"type": "template",
		"z": "55da1471.fda0fc",
		"name": "message",
		"field": "message",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "De stofzuiger zit vast en heeft hulp nodig.",
		"output": "str",
		"x": 1540,
		"y": 260,
		"wires": [["e4d25a8e.b5b258"]]
	},
	{
		"id": "db9e2b19.e376b8",
		"type": "link out",
		"z": "55da1471.fda0fc",
		"name": "",
		"links": ["7b0f1685.0279d8"],
		"x": 1795,
		"y": 220,
		"wires": []
	},
	{
		"id": "934221e4.b2d0d",
		"type": "stoptimer",
		"z": "55da1471.fda0fc",
		"duration": "10",
		"units": "Minute",
		"payloadtype": "num",
		"payloadval": "0",
		"name": "",
		"x": 760,
		"y": 300,
		"wires": [["60f6cd3f.56a0f4"], []]
	},
	{
		"id": "3cf95b5d.b388f4",
		"type": "stoptimer",
		"z": "55da1471.fda0fc",
		"duration": "5",
		"units": "Second",
		"payloadtype": "num",
		"payloadval": "0",
		"name": "",
		"x": 760,
		"y": 340,
		"wires": [["6bd54ad5.5aea04"], []]
	},
	{
		"id": "c5ad7ab8.30fda8",
		"type": "api-current-state",
		"z": "55da1471.fda0fc",
		"name": "vacuum is not cleaning",
		"server": "4ba92433.2478cc",
		"version": 2,
		"outputs": 2,
		"halt_if": "cleaning",
		"halt_if_type": "str",
		"halt_if_compare": "is_not",
		"entity_id": "vacuum.robot_vacuum",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"x": 540,
		"y": 300,
		"wires": [["934221e4.b2d0d", "3cf95b5d.b388f4"], []]
	},
	{
		"id": "6bd54ad5.5aea04",
		"type": "api-call-service",
		"z": "55da1471.fda0fc",
		"name": "google say",
		"server": "4ba92433.2478cc",
		"version": 3,
		"debugenabled": false,
		"service_domain": "tts",
		"service": "google_say",
		"entityId": "media_player.living_room_google_speaker",
		"data": "{\"message\":\"over tien minuten start de stofzuiger\",\"language\":\"nl\"}",
		"dataType": "json",
		"mergecontext": "",
		"mustacheAltTags": false,
		"outputProperties": [],
		"queue": "none",
		"x": 950,
		"y": 340,
		"wires": [[]]
	},
	{
		"id": "d91a63a.662e0a",
		"type": "debug",
		"z": "55da1471.fda0fc",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 430,
		"y": 400,
		"wires": []
	},
	{
		"id": "34998384.5e516c",
		"type": "inject",
		"z": "55da1471.fda0fc",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"x": 90,
		"y": 400,
		"wires": [["b2ab2f17.93811"]]
	},
	{
		"id": "b2ab2f17.93811",
		"type": "api-current-state",
		"z": "55da1471.fda0fc",
		"name": "cleaned today is off",
		"server": "4ba92433.2478cc",
		"version": 2,
		"outputs": 2,
		"halt_if": "off",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"entity_id": "input_boolean.vacuum_cleaned",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "payload",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			},
			{
				"property": "data",
				"propertyType": "msg",
				"value": "",
				"valueType": "entity"
			}
		],
		"x": 250,
		"y": 400,
		"wires": [["d91a63a.662e0a"], ["d91a63a.662e0a"]]
	}
]
