data/subflows/messages.json
[
  {
    "id": "3a85158d.efd05a",
    "type": "subflow",
    "name": "messages",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 40,
        "y": 40,
        "wires": [
          {
            "id": "97370a88.696b28"
          }
        ]
      }
    ],
    "out": [],
    "env": [],
    "color": "#DDAA99"
  },
  {
    "id": "97370a88.696b28",
    "type": "change",
    "z": "3a85158d.efd05a",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "message",
        "pt": "msg",
        "from": "\\n",
        "fromt": "str",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 180,
    "y": 40,
    "wires": [
      [
        "7836a457.915fdc"
      ]
    ]
  },
  {
    "id": "71177dfd.1f8e74",
    "type": "template",
    "z": "3a85158d.efd05a",
    "name": "time-and-message",
    "field": "tijd-en-message",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{mytime}}, {{{message}}}",
    "output": "str",
    "x": 560,
    "y": 40,
    "wires": [
      [
        "75fc13e6.7a268c"
      ]
    ]
  },
  {
    "id": "f7a2e051.4235",
    "type": "ha-entity",
    "z": "3a85158d.efd05a",
    "name": "time-and-message -> sensor message_home_page_1",
    "server": "4ba92433.2478cc",
    "version": 2,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_1"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      },
      {
        "property": "state_class",
        "value": ""
      },
      {
        "property": "last_reset",
        "value": ""
      }
    ],
    "state": "tijd-en-message",
    "stateType": "msg",
    "attributes": [],
    "resend": false,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 1120,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "133fb6cb.864ba9",
    "type": "api-current-state",
    "z": "3a85158d.efd05a",
    "name": "get message_home_page_1",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.message_home_page_1",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "message_home_page_1",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1040,
    "y": 40,
    "wires": [
      [
        "43e5dace.e04654"
      ]
    ]
  },
  {
    "id": "a393de42.16e7c",
    "type": "ha-entity",
    "z": "3a85158d.efd05a",
    "name": "put sensor message_home_page_1 -> 2",
    "server": "4ba92433.2478cc",
    "version": 2,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_2"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      },
      {
        "property": "state_class",
        "value": ""
      },
      {
        "property": "last_reset",
        "value": ""
      }
    ],
    "state": "message_home_page_1",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 1080,
    "y": 220,
    "wires": [
      [
        "a6f210fe.26244"
      ]
    ]
  },
  {
    "id": "a6f210fe.26244",
    "type": "ha-entity",
    "z": "3a85158d.efd05a",
    "name": "put sensor message_home_page_2 -> 3",
    "server": "4ba92433.2478cc",
    "version": 2,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_3"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      },
      {
        "property": "state_class",
        "value": ""
      },
      {
        "property": "last_reset",
        "value": ""
      }
    ],
    "state": "message_home_page_2",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 1080,
    "y": 280,
    "wires": [
      [
        "b0fb37b5.a99a68"
      ]
    ]
  },
  {
    "id": "43e5dace.e04654",
    "type": "api-current-state",
    "z": "3a85158d.efd05a",
    "name": "get message_home_page_2",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.message_home_page_2",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "message_home_page_2",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1040,
    "y": 100,
    "wires": [
      [
        "11d10b51.12cf65"
      ]
    ]
  },
  {
    "id": "b0fb37b5.a99a68",
    "type": "ha-entity",
    "z": "3a85158d.efd05a",
    "name": "put sensor message_home_page_3 -> 4",
    "server": "4ba92433.2478cc",
    "version": 2,
    "debugenabled": false,
    "outputs": 1,
    "entityType": "sensor",
    "config": [
      {
        "property": "name",
        "value": "message_home_page_4"
      },
      {
        "property": "device_class",
        "value": ""
      },
      {
        "property": "icon",
        "value": "mdi:message-text-clock"
      },
      {
        "property": "unit_of_measurement",
        "value": ""
      },
      {
        "property": "state_class",
        "value": ""
      },
      {
        "property": "last_reset",
        "value": ""
      }
    ],
    "state": "message_home_page_3",
    "stateType": "msg",
    "attributes": [],
    "resend": true,
    "outputLocation": "",
    "outputLocationType": "none",
    "inputOverride": "block",
    "outputOnStateChange": false,
    "outputPayload": "",
    "outputPayloadType": "str",
    "x": 1080,
    "y": 340,
    "wires": [
      [
        "f7a2e051.4235"
      ]
    ]
  },
  {
    "id": "11d10b51.12cf65",
    "type": "api-current-state",
    "z": "3a85158d.efd05a",
    "name": "get message_home_page_3",
    "server": "4ba92433.2478cc",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "sensor.message_home_page_3",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [
      {
        "property": "message_home_page_3",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 1040,
    "y": 160,
    "wires": [
      [
        "a393de42.16e7c"
      ]
    ]
  },
  {
    "id": "7836a457.915fdc",
    "type": "simpletime",
    "z": "3a85158d.efd05a",
    "name": "",
    "x": 380,
    "y": 40,
    "wires": [
      [
        "71177dfd.1f8e74"
      ]
    ]
  },
  {
    "id": "75fc13e6.7a268c",
    "type": "switch",
    "z": "3a85158d.efd05a",
    "name": "",
    "property": "message",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "unknown",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 730,
    "y": 40,
    "wires": [
      [
        "b649fc2b.fab89"
      ]
    ]
  },
  {
    "id": "b649fc2b.fab89",
    "type": "switch",
    "z": "3a85158d.efd05a",
    "name": "",
    "property": "message",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "unavailable",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 850,
    "y": 40,
    "wires": [
      [
        "133fb6cb.864ba9"
      ]
    ]
  }
]